@import '../_mixins/all.less';

@infogrfx: wdn-infographic;
@grfx: wdn-info-icon;
@imgDir: '../../images/infographics/';

//create svg and set link to png
.create-svg(@svg) {
	.@{grfx} {
		background-image: data-uri('@{imgDir}@{svg}.svg');
	}

	&[class$='-triad'] {
		.@{grfx} {
			background-image: data-uri('@{imgDir}@{svg}-triad.svg');
		}
	}

	&[class$='-complement'] {
		.@{grfx} {
			background-image: data-uri('@{imgDir}@{svg}-complement.svg');
		}
	}

	&[class$='-energetic'] {
		.@{grfx} {
			background-image: data-uri('@{imgDir}@{svg}-energetic.svg');
		}
	}

	&[class$='-brand'] {
		.@{grfx} {
			background-image: data-uri('@{imgDir}@{svg}-brand.svg');
		}
	}
}

.@{infogrfx} {
	text-align: center;

	.stat, .stat-helper {
		display: block;
		line-height: 1;
	}

	.stat {
		.brand-font;
        font-size: 3.157rem; // 40.51px
		margin: .25em 0;
		font-weight: 600;
	}

	.stat-helper {
        font-size: 1rem; // 12.83px
		line-height: 1.2;
	}

	@media @bp768 {

    	.stat {
            font-size: 2.532rem; // 40.51px
    	}

    	.stat-helper {
            font-size: .802rem; // 12.83px
    	}
	}

	.@{grfx} {
		min-width: 180px;
		min-height: 142px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	&[class*='@{infogrfx}-rate'] {
		.create-svg(rate);
	}

	&[class*='@{infogrfx}-globe'] {
		.create-svg(globe);
	}

	&[class*='@{infogrfx}-world'] {
		.create-svg(world);
	}

	&[class*='@{infogrfx}-people'] {
		.create-svg(people);
	}

	&[class*='@{infogrfx}-star'] {
		.create-svg(star);
	}

	&[class*='@{infogrfx}-internships'] {
		.create-svg(internships);
	}

	&[class*='@{infogrfx}-ratio'] {
		.create-svg(ratio);
	}

	// This SVG exceeds IE8-Safe 32KB
	//&[class*='@{infogrfx}-countries'] {
	//	.create-svg(countries);
	//}

	&[class*='@{infogrfx}-international'] {
		.create-svg(international);
	}

	&[class*='@{infogrfx}-dollar'] {
		.create-svg(dollar);
	}
}
