table.primary,
table.cool,
table.soothing,
table.neutral,
table.energetic {

    th {
        color: #fff;

        a {
            color: #fff;
        }
    }
}

table.primary {
    /* Primary Table */
    border-color: lighten(@brand,50%);

    th {
        background-color: fadeout(@brand,20%);
    }

    tbody {

        td {
            border-color: lighten(@brand,50%);

            &:first-child {
                color: darken(@brand,10%);
            }
        }
    }
}

table.cool {
    /* Cool Table */
    border-color: lighten(@dark-triad,45%);

    th {
        background-color: @triad;
    }

    tbody {

        td {
            border-color: lighten(@dark-triad,45%);

            &:first-child {
                color: darken(@triad,10%);
            }
        }
    }
}

table.soothing {
    /* Soothing Table */
    border-color: lighten(@dark-complement,50%);

    th {
        background-color: @complement;
    }

    tbody {

        td {
            border-color: lighten(@dark-complement,50%);

            &:first-child {
                color: darken(@complement,10%);
            }
        }
    }
}

table.neutral {
    /* Neutral Table */
    border-color: lighten(@dark-neutral,60%);

    th {
        background-color: fadeout(@neutral,15%);
    }

    tbody {

        td {
            border-color: lighten(@dark-neutral,60%);

            &:first-child {
                color: @neutral;
            }
        }
    }
}

table.energetic {
    /* Energetic Table */
    border-color: lighten(@dark-energetic,44%);

    th {
        background-color: @energetic;
    }

    tbody {

        td {
            border-color: lighten(@dark-energetic,44%);

            &:first-child {
                color: darken(@energetic,10%);
            }
        }
    }
}

@media @bp-under768w {

    table.wdn_responsive_table.primary,
    table.wdn_responsive_table.cool,
    table.wdn_responsive_table.soothing,
    table.wdn_responsive_table.neutral,
    table.wdn_responsive_table.energetic {

        tbody {

            th {
                border-color: transparent;
            }
        }
    }

    table.wdn_responsive_table {

        &.primary {

            tbody {

                td:nth-of-type(even) {
                    background-color: lighten(@brand,58%);
                }
            }
        }

        &.cool {

            tbody {

                td:nth-of-type(even) {
                    background-color: lighten(@dark-triad,58%);
                }
            }
        }

        &.soothing {

            tbody {

                td:nth-of-type(even) {
                    background-color: lighten(@dark-complement,64%);
                }
            }
        }

        &.neutral {

            tbody {

                td:nth-of-type(even) {
                    background-color: lighten(@dark-neutral,75%);
                }
            }
        }

        &.energetic {

            tbody td {

                td:nth-of-type(even) {
                    background-color: lighten(@dark-energetic,55%);
                }
            }
        }
    }
}

@media @bp768 {

    table.wdn_responsive_table.primary,
    table.wdn_responsive_table.cool,
    table.wdn_responsive_table.soothing,
    table.wdn_responsive_table.neutral,
    table.wdn_responsive_table.energetic {

        tbody {

            tr {

                &:first-of-type {

                    th {
                        border-color: transparent;
                    }
                }
            }
        }
    }

    table.wdn_responsive_table {

        &.primary {

            tbody {

                tr {

                    &:nth-of-type(even) {
                        background-color: lighten(@brand,58%);
                    }

                    &:not(:first-of-type) {

                        th {
                            border-color: darken(@brand,5%);
                        }
                    }
                }
            }
        }

        &.cool {

            tbody {

                tr {

                    &:nth-of-type(even) {
                        background-color: lighten(@dark-triad,58%);
                    }

                    &:not(:first-of-type) {

                        th {
                            border-color: darken(@triad,7%);
                        }
                    }
                }
            }
        }

        &.soothing {

            tbody {

                tr {

                    &:nth-of-type(even) {
                        background-color: lighten(@dark-complement,64%);
                    }

                    &:not(:first-of-type) {

                        th {
                            border-color: darken(@complement,5%);
                        }
                    }
                }
            }
        }

        &.neutral {

            tbody {

                tr {

                    &:nth-of-type(even) {
                    	background-color: lighten(@dark-neutral,75%);
                    }

                    &:not(:first-of-type) {

                        th {
                            border-color: lighten(@neutral,2%);
                        }
                    }
                }
            }
        }

        &.energetic {

            tbody {

                tr {

                    &:nth-of-type(even) {
                    	background-color: lighten(@dark-energetic,55%);
                    }

                    &:not(:first-of-type) {

                        th {
                            border-color: darken(@energetic,6%);
                        }
                    }
                }
            }
        }
    }
}
