// implement the same content padding
#maincontent > * {
    padding-left: @mobile-pad;
    padding-right: @mobile-pad;
}

.wdn-band {
    max-width: 100% !important; //important is required to overpower the wildcard selector above
    clear: both;

    #maincontent > *& {
        padding: 0;
    }

    .wdn-inner-wrapper {
        .clear-fix();
        padding: 0 @mobile-pad;

        @media @bp-nav-max {
            padding: 0;
        }
        
        #maincontent & {
            padding-top: 2.369em;
            padding-bottom: 2.532em;

            @media @bp2 {
                padding-top: 3.157em;
                padding-bottom: 3.375em;
            }

            &.wdn-inner-padding-sm {
                padding-top: 1.333em;
                padding-bottom: 1.425em;

                @media @bp2 {
                    padding-top: 1.777em;
                    padding-bottom: 1.899em;
                }
            }

            &.wdn-inner-padding-lg {
                padding-top: 4.209em;
                padding-bottom: 4.449em;

                @media @bp2 {
                    padding-top: 5.61em;
                    padding-bottom: 5.997em;
                }
            }

            &.wdn-inner-padding-no-top {
                padding-top: 0;
            }

            &.wdn-inner-padding-no-bottom {
                padding-bottom: 0;
            }

            &.wdn-inner-padding-none {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    
    .wdn-stretch { // Use this class for presentational elements that stretch the full-width of the band
        max-width: 100%;
        width: 100%;
    }

    .wdn-center {
        text-align: center;
    }
}

@media @bp3 {
    #maincontent {

        > * {
            max-width: 60rem;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .wdn-band {

        .wdn-inner-wrapper {
            width: 60rem;
            margin: 0 auto;
        }
    }

    .wdn-text-band {

        .wdn-inner-wrapper {
            max-width: 50rem;
        }
    }
}
