// implement the same content padding
#maincontent > * {
    padding-left: 5px;
    padding-right: 5px;
}

.wdn-band {
    max-width: 100% !important; //important is required to overpower the wildcard selector above
    clear: both;

    #maincontent > *& {
        padding: 1.777em 0 1.899em;
    }

    .wdn-inner-wrapper {
        .clear-fix();

        #maincontent & {
            padding: 0 5%;
       }

        @media @bp3 {
            #maincontent & {
                padding: 0;
            }
        }
    }

    .wdn-stretch { // Use this class for presentational elements that stretch the full-width of the band
        max-width: 100%;
        width: 100%;
    }

    .wdn-center {
        text-align: center;
    }
}

@media @bp3 {
    #maincontent {

        > * {
            max-width: 60rem;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .wdn-band {

        .wdn-inner-wrapper {
            width: 60rem;
            margin: 0 auto;
        }
    }

    .wdn-text-band {

        .wdn-inner-wrapper {
            max-width: 50rem;
        }
    }
}
