.wdn-band {
    max-width: 100% !important; //important is required to overpower the wildcard selector above

    .wdn-inner-wrapper {
        .clear-fix();

        #maincontent & {
            padding: 1em 5px;
        }
        
        @media @bp3 {
            #maincontent & {
                padding: 1em 0;
            }
        }
    }

    .wdn-stretch { // Use this class for presentational elements that stretch the full-width of the band
        max-width: 100%;
        width: 100%;
    }

    .wdn-center {
        text-align: center;
    }
}

@media @bp3 {
    #maincontent {

        > *:not([class^="grid"]) {
            max-width: 60rem;
            margin: 0 auto;
        }

    }

    .wdn-band {

        .wdn-inner-wrapper {
            width: 60rem;
            margin: 0 auto;
        }
    }
    
    .wdn-text-band {

        .wdn-inner-wrapper {
            max-width: 50rem;
        }
    }
}
