#breadcrumbs {
    padding: 0 5px 5px;
    .sans-serif-font();
    .rem(10);
    background-color: fadeout(#fff, 90%);
    opacity: 0.8;

    @media (@bp3) {
        width: 60rem;
        margin-top: -1px;
    }

    li {
        display: inline;
        text-transform: none;
        margin: 2px 0;

        @media (@bp-nav-full) {
            color: @base-text;
        }

        &:first-child { // First element to be replaced with 'home' icon.
            a {
                text-indent: -99em;
                .rem(14);
                width: 1em;

                &:before {
                    font-family: "fontello";
                    font-style: normal;
                    font-weight: normal;
                    text-indent: 99em;
                    content: '🔨';
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    margin-right: 0.2em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                }
            }
        }

        &:after {
            font-family: "fontello";
            text-indent: 99em;
            font-style: normal;
            font-weight: normal;
            speak: none;
            content: '\F0C8';
            .rem(18);
            margin: 0 2px 0 6px;
            line-height: 0;
            color: fadeout(#fff, 25%);
            vertical-align: middle;

            @media (@bp-nav-full) {
                color: fadeout(@base-text, 45%);
            }
        }

        &:last-child {

            &:after {
                display: none;
            }
        }
    }

    // Styles specific to the full view
    @media (@bp-nav-full) {
        color: @base-text;
        text-shadow: -1px 0 0 #fff;
        padding: 0;
        height: 24px;
    }

    a {
        display: inline-block;

        // Styles specific to the full view
        @media (@bp-nav-full) {
            color: @base-text;
            padding: 0;
        }
    }
}