.wdn-extlatin {
    font-family: "Mercury SSm Ext Latin A", "Mercury SSm Ext Latin B", Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
}
