form {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: @base-text;

    ol, ul {
        .list-reset;
    }
    
    li {
    	margin: 1em 0;
    	
    	li {
    		margin: 0;
    	}
    }

    fieldset {
        border: 0;
        margin: 1.777em 0 1em;
        padding: 0;
        
        fieldset {
        	margin: 1em 0;
	
	        legend {
	            margin: 0;
	            border: 0;
	            .wdn-sans-serif;
	            text-transform: none;
	            .rem(12,13);
	        }
	    }
    }

    legend {
        position: relative;
        width: 100%;
        .wdn-sans-caps;
        .kern;
        white-space: normal;
        margin-bottom: 1em;
        padding-bottom: 0.339em;
        border-bottom: 1px solid @ui04;
    }

    label {
        position: relative;
        .wdn-sans-serif;
        .rem(12,13);
    }

    input, textarea, select {
        display: inline-block;
        width: 100%;
        padding: 0.75em;
        .wdn-sans-serif;
        outline: none;
        border: 1px solid @ui04;
        .border-radius(2px);
        background-color: #fff;

        &:focus {
            outline: none;
            border-color: @triad;
            color: @triad;
        }

        &.wdn-error {
            border: 1px solid @brand;
            -webkit-animation: wdn-error 1.2s infinite alternate; // Safari and Chrome
               -moz-animation: wdn-error 1.2s infinite alternate; // Firfox 
                    animation: wdn-error 1.2s infinite alternate;
        }
    }

    input[type="search"] {
        .box-sizing(border-box); // override normalize.less
    }

    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
        margin: 0 0.254em 0 0;

        &+ label {
            vertical-align: middle;
            .wdn-sans-serif;    
        }
    }

    .wdn-input-group {
        display: table;
        font-size: 0;
        -
        * {
            .border-radius(0);
            margin: 0;
        }
        
        > * {
            display: table-cell;
        }
        
        .wdn-input-group-btn {
            width: 1%;
            vertical-align: middle;
            
            * {
                font-size: 18px;
                line-height: normal;
                padding: 0.8em 1.333em;
                margin: 0;
            }
        }
        
        > :first-child {
            .border-radius(4px 0 0 4px);
            
            * {
                .border-radius(4px 0 0 4px);
            }
        }
        
        > :last-child {
            .border-bottom-right-radius(4px);
            .border-top-right-radius(4px);
            
            * {
                .border-bottom-right-radius(4px);
                .border-top-right-radius(4px);
            }
        }
    }

    span.required {
        .rem(16);
        color: @brand;
    }

    span.helper {
        .rem(10);
    }

// KEEP STYLING FOR LISTS
    &> fieldset > ol > li > label {
        display: block;
    }

    input[type="submit"], input[type="button"], button {
        border:0;
        .wdn-button;
        .wdn-button-triad;
        width: auto;
    }

    input[type="reset"] {
        border: none;
        background: none;
        border-left: 2px solid @dark-complement;
        padding-left: 14px;
        margin-left: 6px;
        width: auto;
        cursor: pointer;
        display: inline;
        border: 0;
    }
}

@-webkit-keyframes wdn-error {
    from {
        .box-shadow(0 0 6px fadeout(@brand, 20%));
        border:1px solid @brand;
    }
    to {
        .box-shadow(0 0 6px fadeout(@brand, 90%));
        border:1px solid fadeout(@brand, 80%);
    }
}

@-moz-keyframes wdn-error {
    from {
        .box-shadow(0 0 6px fadeout(@brand, 20%));
        border: 1px solid @brand;
    }
    to {
        .box-shadow(0 0 6px fadeout(@brand, 90%));
        border: 1px solid fadeout(@brand, 80%);
    }
}

@keyframes wdn-error {
    from {
        .box-shadow(0 0 6px fadeout(@brand, 20%));
        border: 1px solid @brand;
    }
    to {
        .box-shadow(0 0 6px fadeout(@brand, 90%));
        border: 1px solid fadeout(@brand, 80%);
    }
}
