@media @bp-nav-hidden {
    #wdn_identity_management {
        display: none;
    }
}
@media @bp-nav-full{
    #wdn_identity_management {
        position: absolute;
        top: 15px;
        right: 30%;
    }

    #wdn_idm_user_options, #wdn_idm_username {
        display: none;
    }
}