@media @bp-nav-hidden {
    #wdn_identity_management {
        display: none;
    }

    .wdn-resource-login-trigger {
        .rem(12);
        position: absolute;
        bottom: -33px; // position over the nav bar
        right: 0;
        z-index: 1; // overlay the nav bar

        a {
            color: #e7b5b5;
        }
    }
}
@media @bp-nav-full{
    #wdn_identity_management {
        position: absolute;
        top: 15px;
        right: 30%;
    }

    #wdn_idm_user_options, #wdn_idm_username {
        display: none;
    }
}
