@import "../_mixins/all.less";

.fontello() {
    font-family: "wdn-icon";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;
}

/* Calendar Widget */
.wp-calendar {
    border-collapse: collapse;
    border-width: 0 1px;
    border-style: solid;
    border-color: @ui04;

    a {
        border: none;

        &:hover {
            text-decoration: underline;
        }
    }

    th {
        padding: 1.069em 1px 1em;
        background-color: #eee;
    }

    td, th {
        .sans-serif-font();
        .rem(12,13);
        line-height: 1;
        text-align: center;
        border: 1px solid @ui04;
    }

    td {
        padding: 0;

        span,
        a {
            display: block;
            padding: 1.069em 1px 1em;
        }

        &.selected {
            background: #fff;
        }

        &.prev, &.next {
            background-color: #f7f7f7;

            a {
                .rem(9,10);
                padding: 14px 1px;
            }
        }

        a:hover {
            text-decoration: none;
            outline: 2px solid @brand;
        }

        &.today {
            background: @brand;
            color: #fff;

            a {
                color: inherit;
            }
            
            .eventContainer .eventBox a {
                color: @brand;
            }
        }

        > div {
            position: relative;
        }

        .eventContainer {
            position: absolute;
            top: 0;
            right: -227px;
            width: 227px;
            z-index: 1;
            word-break: normal;

            &:before {
                border-color: transparent @ui09;
                border-width: 6px 6px 6px 0;
                border-style: solid;
                content: " ";
                height: 0;
                display: block;
                position: absolute;
                left: -6px;
                top: 6px;
            }

            .eventBox {
                text-align: left;
                background: #fff;
                padding-bottom: 1em;
                box-shadow: 0 0 3px 0 @ui07;

                h1 {
                    .sans-serif-font;
                    .rem(9,10);
                    text-transform: uppercase;
                    padding: 0.75em 1em;
                    margin: 0;
                    color: #fff;
                    background: @ui09;
                }

                a {
                    display: block;
                    padding: 0.75em 1em 0 1em;
                    .rem(9,10);
                    line-height: 1.333;

                    &:hover {
                        outline: 0;
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }

            &.pos2 {
                right: auto;
                left: -225px;

                &:before {
                    border-color: transparent transparent transparent @ui09;
                    border-width: 6px 0 6px 6px;
                    left: auto;
                    right: -6px;
                }
            }
        }
    }

    /*caption nav*/
    caption {
        margin: 0;
        padding: 1.069em 1em 1em;
        .sans-serif-font();
        .rem(12,13);
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background-color: @ui09;

        > :first-child {
            float: left;
        }

        > :last-child {
            float: right;
        }

        a {
            color: #fff;

            &.prev, &.next {
                font-size: 0;
                display: inline-block;
                text-decoration: none;
            }

            &.prev:after, &.next:before {
                .rem(16);
                .fontello();
            }

            &.prev:after    { content: '\e80a'; }
            &.next:before   { content: '\e808'; }
        }
    }
}
