.skipnav {
    position: absolute;

    a {
        display: block;
    }
}

#wdn_menu_toggle {
    display: none;
}

.nav-bar() {
    background-color: @brand;
    .background-image(~"linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,0) 20%)");
    border-top: 1px solid lighten(@brand, 10%);
    .box-shadow(0px -2px 0px 0px #5f5f4e);
    .clear-fix();
}
.wdn-menu-trigger { // Holds the label for the toggle of the navigation

    // Styles specifc to only the mobile view
    @media @bp-nav-hidden {
        .nav-bar();
    }

    @media @bp-nav-full {
        .wdn-icon-menu {
            display: none;
        }
    }
}

.wdn-icon-menu { // Hide the label text off screen
    text-indent: -99em;
    float: left;
    line-height: 0;
    cursor: pointer;
    position: relative;
    color: #e7b5b5;
    font-size: 1.5rem;

    // Styles specifc to only the mobile view
    @media @bp-nav-hidden {
        line-height: 1;
    }

    &:before { // Show the navigation icon
        text-indent: 99em;
        padding: 0.25em 5px;
        position: relative;
    }

    @media @bp-nav-full {

        &:before {
            z-index: 2;
        }

        &:after {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAPCAMAAACyXj0lAAAA+VBMVEUAAAAAAAAAAAB8BgYAAAAAAACoCAcAAAAAAABiBQQAAAAAAAAAAACbCAeQBwYAAAAAAAAAAAAAAAAPAQGqCQgIAACqCAc2AwKqCAeoCAceAgFpBQUSAQEAAAAAAACVCAcAAAAAAABDAwOXCAcAAACmCAcAAABrBQWlCAcAAACpCAdFAwOtCAcAAAAAAACHBwY0AwKqCAcAAACrCQgAAAB+BgatCQihCAexCQhSBASTBwerCAcAAAAAAAAAAAAAAACrCQgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACnCAcAAAAAAAAAAACuCAeqCAewCAesCAeyCQg5ODdEAAAATnRSTlNQFzdnTB/cSjZdFj0+fHMbQEIdSJdCwE/J4EhcPDkUczQtUHEr+BBakRHLPrEPB0cf0xNkBSJKMpQNHcgmDg0emSEJJy4LGgMEBvECAQAwXKaHAAAAuElEQVR42n3NVQ7CUABE0Ye7u7u7OwVK/Q22/8UQSEMoFOb3nmTI5fZ3Mpme//XVkogz+XefLwRCpcngR76OOBEElOu39e97wzFAANph6zq92eK7eALQxrF0+uy7NCNBBaDVY62ivc9leBEvALotFxPv96l8VsEbAD2sk9FXj8cKG0ADAGkf2ak9HGIP+AIQgn7P5XHvDewl6AAovMsk36wOt0+ALoBiMJqJze5U8A1UsbGsma2m4w6dgYf9RMxJ9QAAAABJRU5ErkJggg==) no-repeat 5px 0;
            display: block;
            height: 19px;
            width: 40px;
            text-indent: 99em;
            content: '';
            position: absolute;
            top: 25px;
            left: 0;
            z-index: 1;
            speak: none;
            //.transition(all 0.2s linear); // this causes Firefox to stutter a bit
        }
    }
}

// Set a width for slide-in navigation
@nav-width: 200px;

#wdn_navigation_bar {
    .light-brand-font();
    color: #fff;
    text-shadow: 1px 1px 0px darken(@brand, 19%);
    //overflow-y: scroll;
    // We need to set height for mobile with JS?

    a {
        text-decoration: none;
        color: #fff;
    }

    ul {
        .list-reset();
    }

    // Styles specifc to only the mobile view
    @media @bp-nav-hidden {
        position: absolute;
        top: 0;
        left: (@nav-width * -1); // Hide off-screen
        width: @nav-width;
        overflow-x: hidden;
        overflow-y: scroll;
        .transition(left 0.3s ease);
        background-color: #3b3b3b;
        border-right: 3px solid #000;
        height: 100%;
    }

    .wdn_list_descriptor { //quickly thrown in to diagnose a height issue. Not the way to go down the road.
        display: none;
    }
}

#navigation {

    a {
        padding: 5px ;
        .transition(height 0.3s ease);
        display: block;

        @media @bp-nav-hidden {
            border-bottom: 1px solid fadeout(#fff, 90%);
        }
    }

    li {
        text-transform: uppercase;
        .rem(16);
        
        &.empty {
            display: none;
        }

        li {
            .rem(11);
            .sans-serif-font();
            text-transform: none;
            padding-left: 10px;
            float: none;
        }

        // Styles specific to the full view
        @media @bp-nav-full {
            .rem(14);
            float: left;
            width: 16.6666%;
            text-align: center;
            
            &.empty {
                display: list-item;
                visibility: hidden;
            }

            ul {
                height: 0;
                overflow: hidden;
                .transition(height linear 0.3s);
            }

            li {
                width: 100%;
                padding: 0;
                border-bottom: 1px solid fadeout(#fff, 90%);
                
                &:last-child {
                    border-bottom: none;
                }

                a {
                    text-align: left;
                }
            }
        }
    }

    // Styles specific to the full view
    @media @bp-nav-hidden {
        padding: 5px;

        .wdn-icon-menu {
            display: none;
        }
    }

    // Styles specific to the full view
    @media @bp-nav-full {
        .nav-bar();
        position: relative;
        z-index: 1;
        width: 100%;

        > ul {
            width: 100%;
            margin: 0;
            padding: 0 40px;

            > li {
                box-shadow: 1px 0 0 0 rgba(0,0,0, 0.15);
                border-right: 1px solid fadeout(#fff, 65%);
                line-height: 1;

                &:first-child {
                    box-shadow: inset 1px 0 0 0 rgba(0,0,0, 0.15), 1px 0 0 0 rgba(0,0,0,0.15);
                    border-left: 1px solid fadeout(#fff, 65%);
                }

                &:nth-of-type(7n) {
                    clear: left;
                    box-shadow: inset 1px 0 0 0 rgba(0,0,0, 0.15), 1px 0 0 0 rgba(0,0,0,0.15);
                    border-left: 1px solid fadeout(#fff, 65%);
                }
                
                > a {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
            }

            &:hover {
                li {

                    a {
                        @media @bp-nav-full {
                            .background-image(~"linear-gradient(bottom, rgba(0,0,0,.10) 0%, rgba(255,255,255,0) 40%)");
                        }
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    li {
                        display: block;

                        a {
                            background-image: none;
                        }
                    }
                }
            }

            @media @bp4 {
                padding: 0;
            }
        }

        .wdn-icon-menu {
            float: left;
            top: 0;
            
            .empty-secondary & {
                display: none;
            }

            &:before {
                margin: 10px 0 0 5px;
            }
        }
    }

    @media @bp-nav-max {
        padding-right: 0;

        > ul {
            width: 60rem;
            margin: 0 auto;
            display: block;
        }
    }
}

.wdn-content-slide {
    position: relative;
    left: 0;
    .transition(left 0.3s ease);
}