#wdn_noscript {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#wdn_noscript p {
    background-color: @warning;
    color: #000000;
    text-shadow: 0 -1px lighten(@warning, 20%);
    .sans-serif-font();
    text-align: center;
    .rem(12);
    line-height: 1;
    padding: 0.25em;
    font-weight: bold;
}

#wdn_noscript_padding {
    min-height: 0.8rem + 0.5rem;
}
