/*
* WDN Resources Wrapper
*/

.wdn-resource-app-trigger {
    display: none;
}

.wdn-resource-label {
    .brand-font();
    text-transform: uppercase;
    .rem(16);

    @media @bp-nav-full {
        cursor: pointer;
    }

    [class^=wdn-icon] {
        text-decoration: none;
        cursor: pointer;

        &:before {
            font-size: 1em;
        }
    }
}

@media @bp-nav-full {
    #wdn_resources {
        float: right;
    }

    .js .wdn-resource-app-trigger {
        display: block;
    }

    .wdn-resource-label {
        float: left;
        margin-top: 0.254em;
        padding: 0.1em 0.451em;

        [class^=wdn-icon] {
            color: @brand;

            &:before {
                font-size: 1em;
            }

            &:hover {
                color: darken(@brand, 10%);
            }
        }
    }
}
