@import "../_mixins/all.less";

#wdn_search {

    @media @bp-nav-hidden {
        position: fixed;        
        z-index: (@nav-z-index + 1);
        top: 0;
        left: (@nav-width * -1); // Hide off-screen
        height: 56px;
        width: @nav-width;
        padding: 0 @mobile-pad;
        background-color: @ui10; 
        border-bottom: 2px solid @ui11;
        .transition(left @nav-transition-duration ease);

        .wdn-input-group {
            width: 100%;
        } 
    }
    
    @media @bp-nav-full {
	    .wdn-input-group > * {
	    	float: left;
        } 
    	
	    &.active:after {
	    	content: '';
	    	border-style: solid;
	    	border-color: transparent transparent @ui09;
	    	border-width: 0 6px 6px;
	    	position: absolute;
	    	bottom: 0;
	    	right: 60px;
	    	z-index: (@nav-z-index + 2);
	    }
    }

    label {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1;
        width: 1em;

        @media @bp-nav-hidden {
            top: 8px;
            left: 8px;
        }

        @media @bp-nav-full {
            top: 7px;
            left: 7px;
        }
    }

    &.wdn-resource-label {

        [class^=wdn-icon] {

            @media @bp-nav-hidden {
                color: @ui10;
            }

            @media @bp-nav-full {
                color: #fff;
            }
        }
    }

    button {
        display: none;
    }    
}

#wdn_search_frame {
	display: none;
	
	@media @bp-nav-full {
		background-color: mix(#fff, @page-background, 95%);
		border: 0;
		.border-radius(4px);
		.box-shadow(0 0 1px @ui06);
		height: 570px;
		position: absolute;
		right: @mobile-pad;
		width: 630px;
		z-index: (@nav-z-index + 1);
		
		#wdn_search.active & {
			display: block;
		}
	}
	
	@media @bp3 {
		right: 0;
	}
}

#wdn_search_progress {
	display: none;
	
	@media @bp-nav-full {
		display: inline-block;
		position: absolute;
		bottom: -40px;
		right: 320px;
		width: 4em;
		z-index: (@nav-z-index + 2);
	}
	
	@media @bp3 {
		right: 270px;
	}
}

#wdn_search_form {
    z-index: 1; // Ensure we're above the site title
    top: 0.75em;

    @media @bp-nav-full {
        position: relative;
        top: auto;
		margin-bottom: 3px;
    }
}

#wdn_search_query {
	-webkit-appearance: none;
    border: 1px solid @ui05;
    border-left-width: 28px;
    padding: 6px 12px;
    .sans-serif-font();
    .rem(13);
    color: @ui05;
    background: transparent;
    line-height: normal;

    &:focus {
        border-color: @ui03;
        color: @ui03;
    }

    @media @bp-nav-hidden {
        width: 100%;
    }
    
    @media @bp-nav-full {
    	.rem(12);
        width: 128px;
        padding: 5px 8px;
	    border-color: @ui06;
	    color: darken(#d1ceb3, 45%);
	    background: #fff;

        &:focus, .active & {
        	border-color: @triad;
        	color: inherit;
        }
    }
}
