.wdn-share-this-page {
	position: absolute;
	margin-left: 2.308em;  // offset menu icon by width
	top: 59px;  // #header height + 2px nav bar border-top
    left: @mobile-pad;  // align left to menu icon
    z-index: (@nav-z-index + 1);

    @media @bp-nav-full {
    	margin: 0;
    	left: auto;
    	top: auto;
	    right: 8px;
	    bottom: -62px;
    }

    @media @bp2 {
    	bottom: -69px;
    }

    @media @bp4 {
	    right: @mobile-pad;
    }

    @media @bp-nav-max {
    	left: 50%;
    	right: auto;
    	margin-left: 480px;
    }
    .wdn-share-button {
    	display: block;

		.wdn-share-options {
			margin: 0;
			@media @bp-nav-hidden {
				margin: 1px 0 0 -2.083em; // center arrow under icon
			}

			li {
				line-height: 1.777;
			}

			&.wdn-hang-left {
				right: 0;
				left: auto;
				@media @bp-nav-hidden {
				    left: 0;
				    right: auto;
			    }
			    &:before {
			    	left: auto;
					right: 11px;
					@media @bp-nav-hidden {
			            right: auto;
						left: 29px;
			        }
			    }
			}
		}

	    .wdn-icon-share { 
	    	display: block;
	    	color: #fff;
		    padding: 8px 0 10px 10px;
			font-size: 17px;
		    font-size: 1.069rem;
			border-radius: 3px;

			@media @bp-nav-hidden {
	    		padding: 7px 1.333em 7px 0;
	    	}
		}
	}
}

.wdn-share-button {
	position: relative;
	display: inline-block;

	.wdn-icon-share {
		display: inline;

	    .wdn-nav-icon(); // located at layouts/navigation.less
	    color: inherit;
	    padding: 0.85em 0;
	    width: 1.777em;
	        &:before { // Show the navigation icon
		       padding: 0;
		    }
	}

}

.wdn-share-options {
	position: absolute;
	z-index: (@nav-z-index + 1);
	width: 212px;
	padding: 1.069em 2.369em;
	background-color: @ui10;
	background-color: fadeout(@ui10, 3%);
	border-radius: 3px;
	text-align: left;
	.wdn-sans-serif();
	.rem(12);

	&.wdn-hang-left {
		right: 0;
		left: auto;
		margin: .75em -1.25em 0 0;
		&:before {
            left: auto;
            right: 1.25em;		
			}
	}

	&.wdn-hang-right {
		margin: .75em 0 0 -1.25em;
		left: 0;
		right: auto;
		&:before {
            right: auto;
            left: 1.25em;		
		}
	}

	// Hide until toggled
	display: none;

	@media @bp-nav-full {
		margin: 0;
		right: 0;
	}

	&:before {
        content: '';
        position: absolute;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid @ui10;
        border-bottom: 6px solid fadeout(@ui10, 3%);

        @media @bp-nav-full {
            left: auto;
            right: 1.25em;
        }
    }

    input {
    	color: @ui08;
    }

}

.wdn-share-options li {
	list-style: none;
	padding: 0.602em 0;
	font-size: 1em;
	text-transform: none;
	line-height: 1.662;

	[class^="wdn-icon-"] {

		&:before {
			.rem(16);
			margin-right: 0.602em;
		}
	}

	a {
		padding: 0.602em 0;
		color: @ui05;
		border: none;

		&:hover {
			color: @cream;
		}
	}
}
