table {
    width: 100%;
    max-width: 100%;
    line-height: @base-line-height-sm;
    .base-font();

    @media @bp2 {
        line-height: @base-line-height-lg;
    }

    caption {
        .rem(30);
        .heading-font();
    }

    th {
        .brand-font();
        color: @dark-neutral;
        background: fadeout(darken(@page-background,14%),20%);

        @media @bp2 {
            font-size: 110%;
        }
    }

    th, td {
        padding: 4px;
        text-align: left;
    }

    td {
        font-weight: normal;
    }

    tbody {
        tr {
            &:first-child td {
                border-top-width: 3px;
            }

            &:nth-of-type(even) {
                background-color:transparent;
            }

            &:nth-of-type(odd) {
                background-color: fadeout(#ffffff, 60%);
            }
        }

        td {
            border-top-width: 1px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-color: darken(@page-background, 20%);
        }

        th {
            text-align: left;
        }
    }
}

table.wdn_responsive_table {
    thead tr {
        display: none;

        @media @bp2 {
            display: table-row;
        }
    }

    th, td {
        text-align: center;
        display:block;

        @media @bp2 {
            display: table-cell;
        }
    }

    tbody {
        tr {
            &:first-child td {
                border-top-width: 1px;

                @media @bp2 {
                    border-top-width: 3px;
                }
            }
        }

        th {
            text-align: left;
        }

        td {
            text-align: left;

            @media @bp2 {
                text-align: center;
            }

            &:before {
                display: block;
                font-weight: bold;
                content: attr(data-header);

                @media @bp2 {
                    display: none !important;
                }
            }

            &:empty {
                display: none;

                @media @bp2 {
                    display: table-cell;
                }
            }
        }
    }

    &.flush-left {
        th, td {
            text-align: left;
        }
    }
}
