@import '../../scss/pre.tmp.scss';


.unl-event-teaser {
  display: grid;
  @include col-gap-4;
  grid-template: 'd t' auto 'd l' 1fr / $length-em-8 1fr;
}

.unl-event-title { grid-area: t; }
.unl-event-datetime { grid-area: d; }
.unl-event-location { grid-area: l; }
