@import '../../scss/pre.tmp.scss';


.wdn_notice {
  background-color: $color-info;
  background-image: url('https://unlcms.unl.edu/wdn/templates_5.0/js/js-css/img/information.svg');
  background-position: 1em 50%;
  background-repeat: no-repeat;
  background-size: $length-em-6;
  border-radius: $roundrect;
  box-shadow: 0 1px 1px 0 fade-out($darkest-gray, .5);
  @include cream;
  @include mb-4;
  @include p-4;
}

.wdn_notice.affirm {
  background-color: $color-success;
  background-image: url('https://unlcms.unl.edu/wdn/templates_5.0/js/js-css/img/check-circle-2.svg');
}

.wdn_notice.negate {
  background-color: $color-danger;
  background-image: url('https://unlcms.unl.edu/wdn/templates_5.0/js/js-css/img/cross-bubble.svg');
}

.wdn_notice.alert {
  background-color: $color-warning;
  background-image: url('https://unlcms.unl.edu/wdn/templates_5.0/js/js-css/img/alert-2.svg');
}

.wdn_notice a,
.wdn_notice a:hover {
  @include cream;
}

.wdn_notice .message {
  @include pl-8;
  @include pr-5;
}

.wdn_notice .message * {
  color: inherit;
  margin: 0;
}

.wdn_notice .message h4,
.wdn_notice .message .title {
  @include font-sans;
  @include ls-1;
  @include lh-3;
  text-transform: uppercase;
}

.wdn_notice .close {
  float: right;
}

.wdn_notice .close a,
.wdn_notice .close a:hover {
  background: transparent url('https://unlcms.unl.edu/wdn/templates_5.0/js/js-css/img/delete-1.svg') 50% 50% / contain no-repeat;
  display: block;
  @include h-4;
  position: relative;
  text-decoration: none;
  text-indent: -9999em;
  @include w-4;
  z-index: 1;
}

.wdn_notice.overlay {
  left: $length-vw-2;
  margin-left: auto;
  margin-right: auto;
  max-width: #{ms(28)}em;
  position: absolute;
  right: $length-vw-2;
  text-align: left;
  top: #{ms(8)}em;
  z-index: 999; // Ensure that the notice is above all other elements
}
