.breadcrumb-pseudo() {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.breadcrumb-arrow() {
    top: 0;
    border-top: 1.333em solid transparent;
    border-bottom: 1.333em solid transparent;
    border-left: 1em solid #fff;
}

.selected-arrow() {
    left: ~'calc(50% - .563em)';
    bottom: 0;
    width: 0;
    height: 0;
    border-left: .563em solid transparent;
    border-right: .563em solid transparent;
    border-bottom: .563em solid #fff;
}

.breadcrumb-loop(@i) when (@i > 1) {
    .breadcrumb-loop((@i - 1)); // next iteration

    li:nth-child(@{i}) {
        margin-left: (1.333em * (@i - 2));
    }
}

#breadcrumbs {
    .sans-serif-font();
	font-size: 0;

	@media @bp-nav-hidden {
        .breadcrumb-loop(9); // add margin
	}

    ul {

    	@media @bp-nav-full {

        	.flexbox & {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                white-space: nowrap;
        	}
    	}
    }

	li {
		position: relative;
        font-size: .75019rem; // 9.625px
		vertical-align: middle;

		@media @bp-nav-hidden {
            display: block;
            margin-bottom: .75em;
		}

		@media @bp-nav-full {
            display: inline-block;
            margin-bottom: -1px;
            padding: 1px .422em 0 1.777em;
            line-height: 2.37;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b5b5a+0,474746+100 */
			background: linear-gradient(to right,  #5b5b5a 0%,#474746 100%);

            .flexbox & {
                flex: 0 1 auto;
                min-width: 1em;
            }
		}

		@media @bp768 {
			font-size: .60156rem; // 9.625px
		}

        &:before {

    		@media @bp-nav-hidden {
                .breadcrumb-pseudo();
                top: .1em;
                left: .254em;
                width: .6em;
                height: .6em;
                border-bottom: 1px solid @ui08;
                border-left: 1px solid @ui08;
    		}
        }

		&:after {

			@media @bp-nav-full {
			    .breadcrumb-pseudo();
			    .breadcrumb-arrow();
			    right: 0;
			    z-index: 1;
			    transform: translateX(100%);
			    border-left-color: @ui09;
			}
		}

		&:first-child {

			@media @bp-nav-full {
                margin-left: -1.777em;

                .flexbox & {
                    flex: none;
                }
			}

            &:before {

        		@media @bp-nav-hidden {
                    content: none;
        		}
            }
		}

		&:last-child {

            &:not(.last-link) {

    			@media @bp-nav-full {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background: transparent;
    			}

    			&:after {
    				display: none;
    			}
            }

            .flexbox & {
                flex: 0 0 auto;
            }
		}

		&:not(:first-child) {

    		@media @bp-nav-hidden {
        		padding-left: 1.333em;
            }
		}

		&.selected {

			@media @bp-nav-full {
                background: @cream;
                transition: max-width 0.5s ease-in-out 0.5s;
			}

			&:first-child {

				&:before {

					@media @bp-nav-full {
					    .breadcrumb-pseudo();
						.breadcrumb-arrow();
					    left: 0;
						border-left-color: @ui08;
					}
				}
			}

			&:after {

				@media @bp-nav-full {
					border-left-color: @cream;
				}
			}

			a {
				position: relative;

				@media @bp-nav-full {
					color: @scarlet;
				}

				&:before {

					@media @bp-nav-full {
					    .breadcrumb-pseudo();
						.selected-arrow();
						border-bottom: .563em solid @scarlet;
					}
				}
			}
		}
	}

    a {
        display: block;

		@media @bp-nav-full {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: @ui03;
		}
	}

    .storednav {
        display: none;
    }
}
