/* Column flow rules for basic text areas */

.wdn-two-flow-columns {
    column-count: 2; // lesshat
    column-gap: 2rem; // lesshat
    column-rule: 1px solid @faded-neutral; // lesshat
}

.wdn-three-flow-columns {
    column-count: 3; // lesshat
    column-gap: 2rem; // lesshat
    column-rule: 1px solid @faded-neutral; // lesshat
}
