// !General Footer Styles

#footer {
    .sans-serif-font();
    font-size: .86rem; // 11px

    @media @bp768 {
        font-size: .69rem; // 11px
    }

    abbr[title] {
        border: none;
    }

    p {
	    margin-top: 0;

	    &:last-of-type {
		    margin-bottom: 0;
	    }
    }

	ul {
        .list-reset();
	}

    li {

        a {
        	display: inline-block;
        }

        &:not(:last-child) {

            a {
                margin-bottom: .563rem;

                @media @bp768 {
                    margin-bottom: .422rem;
                }
            }
        }
    }

    [class*="wdn-icon-"] {
	    position: relative;
		padding-left: 1.777rem;

        &:before {
	        position: absolute;
            top: -.191em;
            left: 0;
            font-size: 1.425em;
            color: @ui07;
        }
    }

	span[class*="wdn-icon-"][aria-hidden="true"]:before {
		top: -.254em;
	}

	span[role="heading"] {
		display: block;
		margin: 0 0 .75em 0;
		.brand-font();
		font-size: 1.662rem; // 21.328px
		text-transform: uppercase;
		line-height: 1.069;

        @media @bp768 {
            font-size: 1.333rem; // 21.328px
        }
	}
}



// !Optional Footer

.wdn-footer-optional {
	background-color: @ui02;
}



// !Local Footer

.wdn-footer-local {
	padding: 2.369rem 0;
    color: @ui05;
	background-color: @ui09;
	background: lighten(@ui09,2%) data-uri('../images/line-squares-tile.svg') center center repeat;
	background-size: 1.777rem 1.777rem;

	a {
        color: @ui04;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    [class*="wdn-col-"] + [class*="wdn-col-"] .wdn-footer-module {
        padding-top: 1.777rem;
    }

    @media @bp640 {
        .bp640-wdn-col-two-thirds + .bp640-wdn-col-one-third .wdn-footer-module {
            padding-top: 0;
        }
    }

    @media @bp960 {
        [class*="wdn-col-"] + [class*="wdn-col-"] .wdn-footer-module {
            padding-top: 0;
        }
    }

	span[role="heading"] {
		color: @ui04;
	}

	dl.wdn-contact-info {
		margin: 0;

		dt,
		dd {
			padding: 0;
		}

		dt {
			float: left;
			width: 1.777rem;
			margin: 0;
		}

		dd {
			margin: 0 0 .563rem 1.777rem;

            @media @bp768 {
                margin-bottom: .422rem;
            }

            &:last-of-type {
			    margin-bottom: 0;
            }
		}
	}
}

.wdn-related-links {

	&-v1,
	&-v2,
	&-v3,
	&-v4 {

		@media @bp-under640w {
    		columns: 2;
		}
	}

	&-v2 {

    	@media (max-width: 59.99em) {

            [class*="wdn-col"] + [class*="wdn-col"] .wdn-footer-module {
                padding-top: 1.777rem;
            }
        }
	}

	&-v2,
	&-v4 {

		@media @bp640 {
			columns: 3;
		}

		@media @bp960 {
			columns: 2;
		}
	}

	&-v3 {

		@media @bp640-959 {
			columns: 3;
		}
	}

    li {
        break-inside: avoid;
    }
}



// !Global Footer

.wdn-footer-global {
	padding-top: 2.369rem;
	padding-bottom: 9.969rem;
    color: @ui06;
	background-color: @ui10;
	background: @ui10 data-uri('../images/seal.svg') center bottom -14.204em no-repeat;
	background-size: 25.24rem 25.24rem;

    @media @bp-under480w {

        [class*="wdn-col"] + [class*="wdn-col"] .wdn-footer-module {
            padding-top: 2.369rem;
        }
    }

	@media @bp480 {
        padding-bottom: 3.375rem;
        background-position: left -5.61rem bottom -9.969rem;
        background-size: 25.24rem 25.24rem;
	}

	@media @bp960 {
		padding-bottom: 2.532rem;
		background-position: right -7.478rem bottom -7.478rem;
		background-size: 31.474rem 31.474rem;
	}

	@media @bp1280 {
		background-position: right -5% bottom -7.994rem;
	}

	a {
        color: @ui04;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

	span[role="heading"] {
		color: @ui05;
	}

	.wdn-footer-list {

		@media @bp-under480w {
			columns: 2;

			li {
			    break-inside: avoid;
			}
		}
	}
}

.wdn-footer-end {
	margin-top: 1.333rem;
	padding-top: 1.333rem;
	border-top: 1px solid @ui09;

	a {
		border-bottom: 1px dotted @ui07;
	}
}

.wdn-footer-text {

    @media @bp480 {
        display: flex;
    }
}

.wdn-wdn-qa,
.wdn-copyright-phone {
	display: block;

	a {
        white-space: nowrap;
	}
}

.wdn-wdn-qa {
	margin-bottom: .254rem;
}



// Footer logos
// IE & Edge truncate values to two decimal places, logo values rounded to nearest pixels

.wdn-footer-logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

a.wdn-footer-logo {
    display: inline-block;
    border: none;
    opacity: .6;
	transition: opacity @hover-on;

	&:hover {
		opacity: 1;
		transition: opacity @hover-off;
	}
}

#tips_wordmark {
    width: 6.901em; // 67px
    height: 2.727em; // 30px
    margin-top: .75rem;
    background-image: data-uri('../images/tips.svg');
}

#nebraska-b1g-lockup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @media @bp640 {
        margin: .254rem 0 0;
    }
}

#footer_n_logo {
	width: 3.44rem; // 44px
	height: 3.44rem; // 44px
	margin-right: 1.333rem;
    background-image: data-uri('../images/n-white.svg');

    @media @bp768 {
        height: 2.75rem; // 44px
        width: 2.75rem; // 44px
    }
}

#b1g_wordmark {
    height: 2.37rem; // 30px
    width: 5.63rem; // 72px
    background-image: data-uri('../images/b1g.svg');

    @media @bp768 {
        height: 1.889rem; // 30px
        width: 4.5rem; // 72px
    }
}

#unl_wordmark {
    height: 2.37rem; // 30px
    width: 7.5rem; // 96px
    margin-top: 1.333rem;
    background-image: data-uri('../images/wordmark.svg');

    @media @bp480 {
        flex: 1 0 7.5rem;
        margin: 0 0 0 5%;
    }

    @media @bp768 {
        flex-basis: 6rem;
        height: 1.777rem; // 28px
        width: 6rem; // 96px
    }
}
