// !General Footer Styles

#footer {
    .sans-serif-font();
    font-size: .8574rem; // 11px

    @media @bp768 {
    	font-size: .6875rem; // 11px
    }

    abbr[title] {
        border: none;
    }

    p {
	    margin-top: 0;

	    &:last-of-type {
		    margin-bottom: 0;
	    }
    }

	ul {
        .list-reset();
	}

    li {

        a {
        	display: inline-block;
        	margin-bottom: 0.75em;
        }
    }

    [class*="wdn-icon-"] {
	    position: relative;
		padding-left: 2.369em;

        &:before {
	        position: absolute;
            top: -0.191em;
            left: 0;
			margin-right: 0.75em;
            font-size: 1.425em;
            color: @ui07;
        }
    }

	span[class*="wdn-icon-"][aria-hidden="true"]:before {
		top: -0.254em;
	}

	span[role="heading"] {
		display: block;
		margin: 0 0 0.75em 0;
		.brand-font();
		font-size: 1.662rem; // 21.328px
		text-transform: uppercase;
		line-height: 1.069;

        @media @bp768 {
            font-size: 1.425rem; // 22.798px
        }
	}
}

.wdn-footer-module {
	padding-bottom: 2.369em;

	[class*="wdn-col-"]:last-of-type & {
		padding-bottom: 0;
	}
}



// !Optional Footer

.wdn-footer-optional {
	background-color: @ui02;
}



// !Local Footer

.wdn-footer-local {
	padding: 3.157em 0;
    color: @ui05;
	background-color: @ui09;
	background: lighten(@ui09,2%) data-uri('../images/line-squares-tile.svg') center center repeat;
	background-size: 2.532em 2.532em;

	a {
        color: @ui04;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

	.wdn-footer-module {

		@media @bp640 {
			padding-bottom: 0;
		}
	}

	[class*="wdn-col"]:last-child .wdn-footer-module {

		@media @bp-under640w {
			padding-bottom: 0;
		}
	}

	span[role="heading"] {
		color: @ui04;
	}

	dl.wdn-contact-info {
		margin: 0;

		dt, dd {
			margin: 0;
			padding: 0;
		}

		dt {
			float: left;
			width: 2.369em;
		}

		dd {
			margin: 0 0 1em 2.369em;
		}
	}
}

.wdn-related-links {

	&-v1,
	&-v2,
	&-v3,
	&-v4 {
        break-inside: avoid;

		@media @bp-under640w {
    		columns: 2;
		}
	}

	&-v2,
	&-v4 {

		@media @bp640 {
			columns: 3;
		}

		@media @bp960 {
			columns: 2;
		}
	}

	&-v3 {

		@media @bp640-959 {
			columns: 3;
		}
	}
}



// !Global Footer

.wdn-footer-global {
	padding: 3.157em 0 9.969em;
    color: @ui06;
	background-color: @ui10;
	background: @ui10 data-uri('../images/seal.svg') center bottom -14.204em no-repeat;
	background-size: 25.24em 25.24em;

	@media @bp480 {
    	padding-bottom: 5.997em;
		background-size: 33.645em 33.645em;
		background-position: left -7.994em bottom -14.204em;
	}

	@media @bp-under640h {
		padding: 3.157em 0 13.288em;
	}

	@media @bp960 {
		padding: 3.157em 0 3.375em;
		background-position: right -7.994em bottom -7.994em;
		background-size: 41.955em 41.955em;
	}

	@media @bp1280 {
		background-position: right -5% bottom -7.994em;
	}

	a {
        color: @ui04;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

	.wdn-footer-module {

		@media @bp480 {
			padding-bottom: 1em;
		}
	}

	span[role="heading"] {
		color: @ui05;
	}

	.wdn-footer-list {

		@media @bp-under480w {
			columns: 2;
			break-inside: avoid;
		}
	}

	.wdn-col:last-of-type {

		.wdn-footer-list {
			padding-bottom: 0;
		}
	}
}

.wdn-footer-end {
	padding-top: 3vh;
	border-top: 1px solid @ui09;

	a {
		border-bottom: 1px dotted @ui07;
	}
}

.wdn-footer-text {

    @media @bp480 {
        display: flex;
    }
}

.wdn-wdn-qa {
	display: block;
	margin-bottom: 0.451em;
}

.wdn-copyright-phone {
	display: block;
}



// Footer logos

.wdn-footer-logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

a.wdn-footer-logo {
    display: inline-block;
    border: none;
    opacity: 0.6;
	transition: opacity @hover-on;

	&:hover {
		opacity: 1;
		transition: opacity @hover-off;
	}
}

#tips_wordmark {
    width: 6.901em; // 67px
    height: 2.727em; // 30px
    margin-top: .254rem;
    background-image: data-uri('../images/tips.svg');
}

#nebraska-b1g-lockup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @media @bp640 {
        margin: .254rem 0 0;
    }
}

#footer_n_logo {
    height: 4em; // 44px
    width: 4em; // 44px
    margin-right: 1.333rem;
    background-image: data-uri('../images/n-white.svg');
}

#b1g_wordmark {
    height: 2.727em; // 30px
    width: 6.545em; // 72px
    background-image: data-uri('../images/b1g.svg');
}

#unl_wordmark {
    height: 2.364em; // 26px
    width: 8.727em; // 96px
    margin-top: 1.333rem;
    background-image: data-uri('../images/wordmark.svg');

    @media @bp480 {
        flex: 1 0 8.727em;
        margin: .254rem 0 0 5%;
    }
}
