button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    color: inherit;
}

.list-std() {
	padding-left: 40px;
	margin: 1em 0;

    li {
        margin: 0;
    }
}

form {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: @base-text;

    ol {
        .list-reset;

        // restore browser defaults, assumes ltr
        &.wdn-std {
        	list-style-type: decimal;
        	.list-std();
    	}
    }

    ul {
    	.list-reset;

    	// restore browser defaults, assumes ltr
    	&.wdn-std {
    		list-style-type: disc;
    		.list-std();
    	}
    }

    li {
    	margin: 1em 0;

    	li {
    		margin: 0;
    	}
    }

    fieldset {
        border: 0;
        margin: 1.777em 0 1em;
        padding: 0;

        fieldset {
        	margin: 1em 0;

	        legend {
	            margin: 0;
	            border: 0;
	            .sans-serif-font();
	            text-transform: none;
                font-size: .9353rem; // 12px
	        }
	    }
    }

    legend {
        position: relative;
        width: 100%;
        .sans-serif-font();
        text-transform: uppercase;
        white-space: normal;
        margin-bottom: 1em;
        padding-bottom: .339em;
        border-bottom: 1px solid @ui04;
    }

    label {
        position: relative;
        .sans-serif-font();
        font-size: .9353rem; // 12px
    }

    input,
    textarea,
    select {
        display: inline-block;
        width: 100%;
        padding: .75em;
        .sans-serif-font();
        outline: none;
        border: 1px solid @ui04;
        border-radius: 2px;
        background-color: #fff;

        &:focus {
            outline: none;
            border-color: @triad;
            color: @triad;
        }

        &.wdn-error {
            border: 1px solid @brand;
            animation: wdn-error 1.2s infinite alternate;
        }
    }

    input[type='search'] {
        box-sizing: border-box; // override normalize.less
    }

    input[type='radio'],
    input[type='checkbox'] {
        width: auto;
        margin: 0 .254em 0 0;

        &+ label {
            vertical-align: middle;
            .sans-serif-font();
        }
    }

    .wdn-input-group {
        display: table;

        * {
            border-radius: 0;
            margin: 0;
        }

        > * {
            display: table-cell;
        }

        .wdn-input-group-btn {
            width: 1%;
            vertical-align: middle;

            > * {
                line-height: normal;
                padding: 1.3em 1.333em;
                margin: 0;
                border-radius: 0;
            }
        }

        > :first-child {
            border-radius: 4px 0 0 4px;
            overflow: hidden;
        }

        > :last-child {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;
        }
    }

    span.required {
        font-size: 1.247rem; // 16px
        color: @brand;
    }

    span.helper {
        font-size: .75rem; // 9.625px
    }

// KEEP STYLING FOR LISTS
    &> fieldset > ol > li > label {
        display: block;
    }

    input[type='submit'],
    input[type='button'],
    button {
        border:0;
        .wdn-button;
        .wdn-button-triad;
        width: auto;
    }

    input[type='reset'] {
        border: none;
        background: none;
        border-left: 2px solid @dark-complement;
        padding-left: 14px;
        margin-left: 6px;
        width: auto;
        cursor: pointer;
        display: inline;
        border: 0;
    }
}

@keyframes wdn-error {

    from {
        box-shadow: 0 0 6px fadeout(@brand, 20%);
        border: 1px solid @brand;
    }

    to {
        box-shadow: 0 0 6px fadeout(@brand, 90%);
        border: 1px solid fadeout(@brand, 80%);
    }
}

// Webform opt-out

.wdn-webform-opt-out {

    ol,
    ul {
        padding-left: 1em;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    li {
        margin: 0;

        li {
            margin: 0;
        }
    }
}

@media @bp768 {

    form {

        fieldset {

            fieldset {

    	        legend {
        	        font-size: .802rem; // 12.83px
                }
            }
        }

        label {
            font-size: .802rem; // 12.83px
        }

        span.required {
            font-size: 1rem; // 16px
        }

        span.helper {
            font-size: .602rem; // 9.625px
        }
    }
}
