.wdn-icon-menu { // Hide the label text off screen
    .wdn-nav-icon();
    font-size: 1.333rem; // 17.103px, 21.328px
}

.wdn-nav-toggle {
    .wdn-nav-button();
	.inner-wrapper-margin-left();
    z-index: @nav-z-index + 1;
}

#navigation {

    a {
        transition: height @nav-transition-duration ease;
    }

    > ul > li > a {
        letter-spacing: .01em;
    }

    li {

        &.empty {
            display: none;
        }

        li {
            float: none;
            .sans-serif-font();
            text-transform: none;
            font-size: .86rem; // 11px
        }
    }
}

.wdn-content-slide {
    transition: left @nav-transition-duration ease;
}

@media @bp-nav-hidden {

    .wdn-menu-trigger { // Holds the label for the toggle of the navigation
		display: flex;
		align-items: center;

        //Prevent jumping buttons on mobile page load (this will display the old label as it is being replaced by a button)
        label.wdn-icon-menu {
            width: 1.333em;
            font-size: 1.333rem;
            margin-left: 5%;

            &:before {
                padding-right: 1em;
            }
        }
    }

    .wdn-nav-toggle {
        height: 3.157rem;
        width: 1.333rem;
    }

    #wdn_navigation_bar {
        z-index: @nav-z-index;
        top: 0;
        padding-top: 1em;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: left @nav-transition-duration ease;
        color: @cream;
        box-shadow: inset -16px 0 16px -16px @ui14;
        background-color: @ui12;

        a {
            color: @ui05;

            &:hover {
                color: #fff;
            }
        }
    }

    #navigation {

        > ul {
            padding-bottom: 4.209em;

            > li {

                > a {
                    padding-top: 1em;
                }
            }
        }

        a {
            border-bottom: 1px solid rgba(0, 0, 0, .15);

            &:hover {
                border-bottom: 1px solid rgba(0, 0, 0, 0);
            }
        }
    }
}

@media @bp480 {

    #navigation {

        a {
            padding-left: @page-offset-480;
            padding-right: @page-offset-480;
        }
    }
}

@media @bp640 {

    #navigation {

        a {
            padding-left: @page-offset-640;
            padding-right: @page-offset-640;
        }
    }
}

@media @bp-nav-full {

    .wdn-nav-toggle {
        position: absolute;
        top: 1.777em;
    }

    #navigation {

        li {

            li {
                width: 100%;
                padding: 0;
                border-bottom: 1px solid fadeout(#000,94%);

                &:last-child {
                    border-bottom: none;
                }

                a {
                    text-align: left;
                }
            }
        }

        > ul {

            > li {
                border-right: 1px solid fadeout(#000,90%);

                &:first-child {
                    border-left: 1px solid fadeout(#000,90%);
                }
            }
        }

        .wdn-icon-menu {
            position: absolute;
            left: 0;

            .empty-secondary & {
                display: none;
            }
        }
    }
}

@media @bp768 {

    .wdn-nav-toggle {
        top: 1.425em;
    }

    #navigation {

        li {

            li {
            	font-size: .69rem; // 11px
            }
        }
    }
}
