.noscript-height() {
	height: @base-line-height-sm * 2em;
    
    @media @bp1 {
    	height: @base-line-height-sm * 1em;
    }
    
    @media @bp2 {
    	height: @base-line-height-lg * 1em;
    }
}

#wdn_noscript {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .noscript-height;
    overflow: hidden;
    z-index: 1;
}

#wdn_noscript p {
    background-color: @warning;
    color: #000000;
    .sans-serif-font();
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 @mobile-pad;
    
    @media @bp3 {
    	padding: 0;
    }
}

#wdn_noscript_padding {
    .noscript-height;
}
