@import '../_mixins/all.less';

#wdn_search {

    @media @bp-nav-hidden {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .inner-wrapper-margin-left();
        z-index: (@nav-z-index + 1);
        transition: left @nav-transition-duration ease;
    }

    @media @bp-nav-full {
        position: relative;
	    display: inline-block;
	    float: right;
	    margin: .339em 0 0 1em;

	    .flexbox & {
    	    clear: right;
    	    display: flex;
    	    flex-flow: row nowrap;
    	    align-items: center;
    	    flex: 1 0 9.969em;
    	    margin: 0 0 0 5%;
	    }

	    &.active:after {
	    	content: '';
	    	border-style: solid;
	    	border-color: transparent transparent @ui09;
	    	border-width: 0 6px 6px;
	    	position: absolute;
	    	bottom: 0;
	    	right: 60px;
	    	z-index: (@nav-z-index + 2);
	    }
    }

    @media @bp768 {
	    margin-left: 1em;
    }

    @media @bp960 {
	    margin-left: 1.777em;
    }

    @media @bp1280 {
	    margin-left: 3.375em;
    }

    &.wdn-resource-label {

        [class^=wdn-icon] {

            // Text is hidden, but these colors are required to pass accessibility tests
            @media @bp-nav-hidden {
                color: #fff;
            }

            @media @bp-nav-full {
                color: #000;
            }

            // Actual icon colors
            &:before {

                @media @bp-nav-hidden {
                    color: @ui10;
                }

                @media @bp-nav-full {
                    color: #fff;
                }
            }
        }
    }

    form button {
        display: block;
        position: absolute;
        z-index: 1;
        .wdn-nav-button();

        @media @bp-nav-hidden {
            bottom: 1.899rem;
            right: 2.369rem;
            height: 1.777em;
            width: 1.899em;
            font-size: 1.247rem; // 16px
            color: @ui10;
        }

        @media @bp-nav-full {
            top: 0;
            right: 0;
            height: 100%;
            width: 2.369em;
            color: @cream;
        }
    }

    .wdn-icon-search {

        &:before {
            margin-right: 0;
        }
    }
}

#wdn_search_toggle_label {

    @media @bp-nav-hidden {
        position: absolute;
	    left: 2.369em;
        width: 1.333rem;
        font-size: 1.247rem; // 16px

        .wdn-icon-search {
            .wdn-nav-icon();
            vertical-align: text-top;
        }
    }

    @media @bp-nav-full {
        display: none;
    }
}

#wdn_search_form {
    z-index: 1; // Ensure we're above the site title
    top: .75em;

    @media @bp-nav-hidden {
        display: block;
        .is-hidden();
    	position: absolute;
    	top: calc(~'3.157rem + 6px');
    	left: 0;
    	width: 90%; // 100% - 5% inner wrapper margin on each side
    	padding: 1.069em 2.369em 1.777em;
    	border-radius: 3px;
    	background-color: @ui12;
    	background-color: fadeout(@ui12, 3%);
    	z-index: (@nav-z-index + 1);
    	transform: scale(.9);
    	transform-origin: top;
    	transition: opacity .5s ease-in-out, transform .5s ease-in-out, visibility .1s linear .6s;
    }

    @media @bp480 {
        width: 88%; // 100% - 6% inner wrapper margin on each side
    }

    @media @bp640 {
        width: 84%; // 100% - 8% inner wrapper margin on each side
    }

    @media @bp-nav-full {
        position: static;
        top: auto;
        width: 100%;
    }

    .flexbox & {
        display: flex;
        flex-flow: column;

        @media @bp480 {
            flex-flow: row nowrap;
            align-items: center;
        }

        @media @bp-nav-hidden {
            padding: 1.899em 2.369em;
        }
    }

	&:before {

        @media @bp-nav-hidden {
            content: '';
            position: absolute;
            top: -6px;
            left: 3.157em;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid @ui10;
            border-bottom: 6px solid fadeout(@ui10, 3%);
        }

        @media @bp-nav-full {
            content: none;
        }
    }

    label {
	    font-size: .9353rem; // 12px
	    line-height: 1;

	    @media @bp-nav-hidden {
            color: @ui03;
	    }

	    @media @bp-nav-full {
	        margin-right: .602em;
    	    font-size: .75rem; // 9.625px, 12px
	    }

	    .flexbox & {
    	    margin-bottom: .254em;

    	    @media @bp480 {
        	    margin: .254em .602em 0 0;
    	    }
	    }
    }
}

#wdn_search_query {
	-webkit-appearance: none;
    width: 100%;
    padding: .422em .75em;
    border: 1px solid @ui05;
    .sans-serif-font();
    font-size: 1rem; // 12.83px
    color: @ui05;
    background: transparent;
    line-height: normal;

    &:focus {
        border-color: @ui03;
        color: @ui03;
    }

    @media @bp-nav-hidden {
        border-right-width: 2.369em;
        background-color: @ui12;
    }

    @media @bp-nav-full {
        min-width: 0;
	    font-size: .75rem; // 9.625px, 12px
	    border-color: @ui08;
        border-right-width: 1.777rem;
	    color: darken(#d1ceb3, 45%);
	    background-color: #fff;

        &:focus, .active & {
        	border-color: @triad;
        	color: inherit;
        }
    }
}

#wdn_search_progress {
	display: none;

	@media @bp-nav-full {
		display: inline-block;
		position: absolute;
		bottom: -40px;
		right: 320px;
		width: 4em;
		z-index: (@nav-z-index + 2);
	}

	@media @bp3 {
		right: 270px;
	}
}

#wdn_search_frame {
	display: none;

	@media @bp-nav-full {
		position: absolute;
        top: 23px;
		right: -1em;
		height: 570px;
		width: 630px;
		border: 0;
		border-radius: 4px;
		background-color: mix(#fff, @page-background, 95%);
		box-shadow: 0 0 10px 1px fadeout(@ui10, 50%);
		z-index: (@nav-z-index + 1);
	}

	@media @bp768 {
    	top: 26px;
	}

	&:before {

        @media @bp-nav-hidden {
            content: '';
            position: absolute;
            top: -6px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid @ui10;
            border-bottom: 6px solid fadeout(@ui10, 3%);
        }
    }

	#wdn_search.active & {

    	@media @bp-nav-full {
            display: block;
		}
	}
}
