table {
    width: 100%;
    max-width: 100%;
    line-height: @base-line-height-sm;
    .base-font();
    border: 1px solid @ui04;

    caption {
        .brand-font();
        font-size: 2.954rem; // 37.897px
        line-height: 1;
        margin-bottom: .75em;
    }

    th {
        .wdn-sans-caps();
        font-size: .9353rem; // 12px
        padding: 1.2307em 1.0833em 1.0833em;
        line-height: 1.333;
        background-color: darken(@ui01, 2%);
    }

    th,
    td {
        text-align: left;
    }

    td {
        font-weight: normal;
        padding: .92307em 1em .7692em;
    }

    tbody {

        tr {

            &:nth-of-type(even) {
                background-color: @ui01;
            }

            &:nth-of-type(odd) {
                background-color: transparent;
            }
        }

        td {
            border-top: 1px solid @ui04;
        }

        th {
            text-align: left;
        }
    }
}

table.wdn_responsive_table {
    border-collapse: separate;

    thead tr {
        display: none;
    }

    th,
    td {
        text-align: center;
        display: block;
    }

    tbody {

        th {
            text-align: left;
            border-top: 1px solid @ui04;
        }

        td {
            text-align: left;

            &:before {
                display: block;
                font-weight: bold;
                content: attr(data-header);
            }

            &:empty {
                display: none;
            }
        }
    }

    &.flush-left {

        th,
        td {
            text-align: left;
        }
    }
}


@media @bp-under768w {

    table.wdn_responsive_table {

        tbody {

            tr {

                &:first-child th {
                    border-top-width: 0;
                }

                &:nth-of-type(even) {
                    background-color: transparent;
                }
            }
        }
    }
}

@media @bp768 {

    table {
        line-height: @base-line-height-lg;

        caption {
            font-size: 2.532rem; // 40.51px
        }

        th {
            padding: 1.2307em 1.2307em 1em;
            font-size: .802rem; // 12.83px
        }

        td {
            padding: .75em 1em .602em;
        }
    }

    table.wdn_responsive_table {

        thead tr {
            display: table-row;
        }

        th,
        td {
            display: table-cell;
        }

        tbody {

            td {
                text-align: center;

                &:before {
                    display: none !important;
                }

                &:empty {
                    display: table-cell;
                }
            }
        }
    }
}
