.wdn-dropdown-widget-button {
	background: transparent;
	border: none;
	display: block;
}
.wdn-dropdown-widget-no-outline {
	//These don't need an outline as it is obvious that focus has already moved
	outline: none;
}
