// Shared styles for Menu, Search, and Share buttons
.wdn-nav-button() {
    display: block;
    padding: 0;
    overflow: hidden;
    line-height: 1;
    border: none;
    background: transparent;
}

// Shared styles for Menu, Search, and Share icons
.wdn-nav-icon() {
    white-space: nowrap;
    overflow: hidden;
    color: #fff;

    &:before { // Show the navigation icon
        margin: 0;
    }
}

.wdn-dropdown-widget-button {
    .wdn-nav-button();

    @media @bp-nav-hidden {
        height: 3.157rem;
    }
}

.wdn-dropdown-widget-no-outline {
	//These don't need an outline as it is obvious that focus has already moved
	outline: none;
}
