/////////////////////////////
// THEME / COMPONENTS / CARDS
/////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;


.unl-icon-card {
  grid-template-columns: 1fr;
  grid-template-rows: calc(1.78em / 2) calc(1.78em / 2) 1fr;
}


.unl-icon-card-icon {
  grid-area: 1 / 1 / 3 / -1;
}


.unl-icon-card-body {
  --icon-size: 1.78em;
  --padding: 1em;
  --clip-block: calc(var(--icon-size) / 2);
  --clip-inline: calc(calc(var(--icon-size) / 2) + var(--padding));
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, calc(50% + var(--clip-inline)) 0, calc(50% + var(--clip-inline)) var(--clip-block), calc(50% - var(--clip-inline)) var(--clip-block), calc(50% - var(--clip-inline)) 0, 0 0);
  grid-area: 2 / 1 / -1 / -1;
}
