//////////////////////////////
// THEME / COMPONENTS / FOOTER
//////////////////////////////


.unl .dcf-footer {
  color: $light-gray;
  background-color: $darker-gray;
}


.unl-footer-stripe::before {
  background-image: linear-gradient(to top, fade-out($darker-gray,1) 3px, $darker-gray 3px, $darker-gray 5px, fade-out($darker-gray,1) 5px);
  content: '';
  height: 5px;
  position: absolute;
  top: -5px;
  width: 100%;
}


.unl .dcf-footer h2 {
  @include cream;
  @include txt-md;
  @include ls-2;
  @include lh-3;
  text-transform: uppercase;
}


// Footer lists
.unl .dcf-footer dl,
.unl .dcf-footer ol,
.unl .dcf-footer ul {
  // Fix list-style: none in VoiceOver and Safari: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
  list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  margin-bottom: 0;
  padding-left: 0;
}


.unl .dcf-footer li {
  @include mb-0;
}


.unl .dcf-footer li a {
  display: inline-block;
  @include pb-1;
  @include pt-1;
}


// Footer links
// TODO: determine focus state styles
.unl .dcf-footer a,
.unl .dcf-footer a:link {
  color: $lighter-gray;
}


.unl .dcf-footer a:visited,
.unl .dcf-footer a:hover,
.unl .dcf-footer a:active {
  color: $cream;
}


.unl-footer-groups dd a:not(:hover),
.unl-footer-groups li a:not(:hover) {
  text-decoration: none;
}


@include mq(sm, max, width) {

  .unl-footer-unl {
    margin-bottom: #{ms(-8)}em;
  }

}


@include mq(sm, min, width) {

  .unl-footer-logos {
    justify-content: flex-end;
  }

}
