///////////////////////////////////////
// THEME / COMPONENTS / FORMS - SELECTS
///////////////////////////////////////


.unl .dcf-input-select, // TODO: deprecate?
.unl .dcf-form select {
  transition: border-color $transition-duration-hover-off $transition-timing-fn-hover-off, box-shadow $transition-duration-hover-off $transition-timing-fn-hover-off;
}


.unl .dcf-input-select:hover, // TODO: deprecate?
.unl .dcf-form select:hover {
  transition: border-color $transition-duration-hover-on $transition-timing-fn-hover-on;
}


.unl .dcf-input-select:focus, // TODO: deprecate?
.unl .dcf-form select:focus {
  box-shadow: 0 0 0 3px $bg-color-body, 0 0 0 5px $border-color-input-focus;
  transition: box-shadow $transition-duration-hover-on $transition-timing-fn-hover-on;
}
