//////////////////////////////////////
// THEME / COMPONENTS / HEROES: LEGACY
//////////////////////////////////////


// Legacy hero
.unl-hero-legacy .dcf-breadcrumbs-wrapper {
  display: none;
}


.unl-hero-legacy .dcf-hero-group-1 {
  padding: $length-em-6 $length-vw-2;
}


.unl-hero-legacy .dcf-page-title {
  @include mb-3;
}


@include mq(sm, max, width) {

  .unl-hero-legacy {
    flex-direction: column-reverse;
  }

}


@include mq(sm, min, width) {

  .unl-hero-legacy {
    align-items: center;
    height: #{ms(28)}vh;
    max-height: #{ms(24)}em;
    position: relative;
  }


  .unl-hero-legacy .dcf-hero-group-1 {
    position: relative;
    z-index: 1;
  }


  .unl-hero-legacy .dcf-hero-group-2 {
    display: flex;
    height: #{ms(28)}vh;
    left: 0;
    max-height: #{ms(24)}em;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }


  .unl-hero-legacy .dcf-hero-group-2 img,
  .unl-hero-legacy .dcf-hero-group-2 video {
    opacity: .5;
  }

}


@include mq(md, min, width) {

  .unl .unl-hero-legacy .dcf-page-title h1 {
    font-size: #{ms(7)}em;
  }

}
