//////////////////////////////////
// THEME / COMPONENTS / NAV: LOCAL
//////////////////////////////////


@use "sass:color";
@use "../variables/" as var;
@use "../mixins/" as mixins;


// .unl .dcf-nav-local {
//   transform: translateZ(0);
//   z-index: 998;
// }


.unl .dcf-nav-local a:hover {
  text-decoration: underline;
}


.unl .dcf-nav-local > ul:first-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{var.$ms15}em, 1fr));
}


.unl .dcf-nav-local ul ul {
  margin-top: 0;
}


.unl .dcf-nav-local > ul > li > a {
  font-weight: 600;
}


.unl .dcf-nav-local ul ul > li > a {
  @include mixins.pb-2;
  @include mixins.pt-2;
}


@include mixins.mq(md, max, width) {

  .unl .dcf-nav-local > ul {
    grid-gap: var.$length-em-6 var.$length-vw-1;
  }

}


@include mixins.mq(sm, min, width) {

  .unl .dcf-nav-local > ul:first-child {
    grid-template-columns: repeat(3, 1fr);
  }

}


@include mixins.mq(md, min, width) {

  // .unl .dcf-nav-local {
  //   padding-inline: var.$length-vw-2;
  // }


  .unl .dcf-nav-local > ul:first-child {
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
    width: 100%;
  }


  .unl .dcf-nav-toggle-btn-menu[aria-expanded="true"] ~ .dcf-nav-local > ul {
    overflow: visible;
  }


  .unl .dcf-nav-local > ul > li {
    position: relative;
  }


  .unl .dcf-nav-local > ul > li > a {
    border-left: 1px solid #a00000;
    height: 100%;
  }


  .unl .dcf-nav-local ul ul {
    @include mixins.pb-7;
    width: 100%;
  }


  // Background for open mega menu
  .unl .dcf-nav-local ul ul::before {
    @include mixins.bg-scarlet;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 200vw;
    transform: translateX(-50%);
    z-index: -1;
  }


  .unl .dcf-nav-toggle-btn-menu ~ .dcf-nav-menu-content .dcf-nav-local ul ul  {
    pointer-events: none;
    position: absolute;
    top: 100%;
    visibility: hidden;
  }


  .unl .dcf-nav-toggle-btn-menu[aria-expanded="true"] ~ .dcf-nav-menu-content .dcf-nav-local ul ul  {
    pointer-events: auto;
    visibility: visible;
  }


  // navigation transition to be added later
  .unl .dcf-nav-toggle-btn-menu ~ .dcf-nav-menu-content .dcf-nav-local ul ul:after {
    background-image: linear-gradient(to bottom, #a00000, color.adjust(#a00000, $alpha: -1));
    content: '';
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    width: 1px;
    transition: transform 300ms ease-out;
  }


  .unl .dcf-nav-toggle-btn-menu[aria-expanded="true"] ~ .dcf-nav-menu-content .dcf-nav-local ul ul:after {
    transform: scaleY(1);
  }

}
