/////////////////////////////////
// THEME / COMPONENTS / NAV: MENU
/////////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;


.unl dialog#dcf-nav-dialog::backdrop {
  backdrop-filter: blur(3px) !important;
  background-color: var(--bg-overlay-light) !important;
}


.unl .dcf-nav a,
.unl .dcf-nav button {
  display: block;
  @include mixins.lh-3;
}


.unl .dcf-nav a:link,
.unl .dcf-nav a:visited,
.unl .dcf-nav a:hover,
.unl .dcf-nav a:active,
.unl .dcf-nav button {
  @include mixins.cream;
}


.unl .dcf-nav a:hover {
  text-decoration: underline;
}


.unl .dcf-nav ul,
.unl .dcf-nav li {
  margin-bottom: 0;
}


.unl .dcf-nav ul a,
.unl .dcf-nav ul button {
  padding-inline: #{var.$ms00}rem;
}


.unl .dcf-nav ul ul a,
.unl .dcf-nav ul ul button {
  padding-block: #{var.$ms-8}rem;
}


.unl .dcf-nav-menu {
  height: 100dvh;
}


@include mixins.mq(md, max, width) {

  .unl .dcf-nav-primary {
    display: none;
  }


  .unl .dcf-nav-menu {
    bottom: 0;
    position: fixed;
  }


  .unl .dcf-nav-menu-content {
    bottom: calc(#{var.$height-mobile-toolbar} - 1px);
    position: fixed;
  }


  .unl .dcf-nav-menu-content-child {
    --mask-height: 1.78em;
    height: 56vh;
    mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) var(--mask-height),
      rgba(0, 0, 0, 1) calc(100% - var(--mask-height)),
      rgba(0, 0, 0, 0));
    overflow-y: auto;
    padding-block: var(--mask-height);
    padding-inline: var.$length-vw-2;
  }


  .unl .dcf-nav a,
  .unl .dcf-nav button {
    margin-left: -#{var.$ms00}rem;
  }


  .unl .dcf-nav ul:first-child > li > a,
  .unl .dcf-nav ul:first-child > li > button {
    font-size: #{var.$ms01}rem !important;
  }

}


@include mixins.mq(md, min, width) {

  .unl .dcf-nav-container {
    position: relative;
  }


  .unl .dcf-nav-dialog {
    left: 0;
    position: absolute;
    top: 0;
  }


  .unl .dcf-nav-primary {
    display: grid;
    grid-template-columns: #{var.$ms10}rem 1fr;
    color: #fefdfa;
  }


  .unl .dcf-nav-primary ul ul {
    display: none;
  }


  .unl .dcf-nav-menu {
    position: relative;
    top: 0;
  }


  .unl .dcf-nav-menu-content {
    overflow-y: auto;
    position: fixed;
  }


  .unl .dcf-nav-menu-content-child {
    overflow-y: auto;
    padding: 0 var.$length-vw-2 var.$length-em-6;
  }


  // .unl .dcf-nav-menu-content-child:has(.dcf-nav-toggle-btn-menu:not[hidden]) {
  .unl .dcf-nav-menu-content-child {
    display: grid;
    grid-template-columns: var.$length-em-9 1fr;
    grid-template-rows: auto 1fr;
  }

  .unl .dcf-nav-toggle-btn-menu {
    align-self: start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .unl .dcf-nav-local {
    grid-area: 1 / 2 / 2 / 3;
  }

  .unl .dcf-nav-local ul ul {
    grid-row: 2 / 3;
    width: 100%;
  }

  .unl .dcf-cta {
    grid-area: 2 / 2 / 3 / 3;
  }

  .unl .dcf-nav li {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: subgrid;
  }


  .unl .dcf-nav-menu ul:first-child > li > a,
  .unl .dcf-nav-menu ul:first-child > li > button {
    grid-row: 1 / 2;
  }


  .unl .dcf-nav-menu ul > li > ul > li > a,
  .unl .dcf-nav-menu ul > li > ul > li > button {
    font-size: #{var.$ms-2}rem !important;
  }


  .unl .dcf-nav ul:first-child > li > a,
  .unl .dcf-nav ul:first-child > li > button {
    font-size: #{var.$ms-1}rem !important;
  }

}




// NEW

@include mixins.mq(md, max, width) {

  .unl .dcf-nav-menu {
    bottom: 0;
    position: fixed;
  }


  .unl .dcf-nav-menu-content {
    background-image: linear-gradient(180deg,#d00000 calc(100% - #{var.$height-mobile-toolbar} - var(--mobile-inset-bottom)),#9d0000 calc(100% - var(--mobile-inset-bottom)));
    bottom: 0;
    padding-bottom: calc(#{var.$height-mobile-toolbar} + calc(var(--mobile-inset-bottom) * 2));
    position: fixed;
  }

}

