/////////////////////////////////
// THEME / COMPONENTS / NAV: MENU
/////////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;


.unl .dcf-nav-menu li { // TODO: remove after updated in DCF core
  margin-bottom: 0;
}


.unl .dcf-nav-menu-content {
  transform: translateZ(0);
  z-index: 998;
}


.unl .dcf-nav-menu-content a,
.unl .dcf-nav-menu-content button {
  display: block;
  @include mixins.lh-3;
  padding: #{var.$ms-2}rem #{var.$ms00}rem;
}


// TODO: determine focus state styles
.unl .dcf-nav-menu-content a:link,
.unl .dcf-nav-menu-content a:visited,
.unl .dcf-nav-menu-content a:hover,
.unl .dcf-nav-menu-content a:active,
.unl .dcf-nav-menu-content button {
  @include mixins.cream;
}


// .unl .dcf-nav-menu-content > ul > li > a,
// .unl .dcf-nav-menu-content button {
//   font-weight: 600;
// }


@include mixins.mq(md, max, width) {

  .unl .dcf-nav-menu {
    // @include mixins.bg-overlay-light;
    // bottom: #{var.$height-mobile-toolbar};
    bottom: 0;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity var.$transition-duration-fade-in var.$transition-timing-fn-fade-in, visibility 0ms .4s;
    visibility: hidden;
    width: 100%;
    z-index: 998; // Ensure that the z-index is below the modal and nav-toggle-group z-indices
  }


  // Open when parent model is open
  .unl .dcf-nav-menu.dcf-modal-open {
  	opacity: 1;
  	pointer-events: auto;
    transition: opacity var.$transition-duration-fade-in var.$transition-timing-fn-fade-in;
  	visibility: visible;
  }


  .unl .dcf-nav-menu-content {
    @include mixins.bg-scarlet;
    bottom: var.$height-mobile-toolbar;
    height: 56vh;
    // @include mixins.overflow-y-auto;
    overflow-y: auto;
    // padding-left: var.$length-vw-2;
    // padding-right: var.$length-vw-2;
    position: fixed;
  }


  .unl .dcf-nav-menu-content-child {
    --mask-height: 1.78em;
    height: 56vh;
    mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) var(--mask-height),
      rgba(0, 0, 0, 1) calc(100% - var(--mask-height)),
      rgba(0, 0, 0, 0));
    overflow-y: auto;
    padding-block: var(--mask-height);
    padding-inline: var.$length-vw-2;
  }

//   .unl .dcf-nav-menu-child > *:first-child {
//     @include mixins.mt-6;
//   }
//
//
//   .unl .dcf-nav-menu-child > *:last-child {
//     @include mixins.mb-7;
//   }


  .unl .dcf-nav-menu a,
  .unl .dcf-nav-menu button {
    margin-left: -#{var.$ms00}rem;
  }


  .unl .dcf-nav-menu ul > li > ul > li > a,
  .unl .dcf-nav-menu ul > li > ul > li > button {
    font-size: #{var.$ms-1}rem !important;
  }

}


@include mixins.mq(md, min, width) {

  .unl .dcf-nav-menu {
    @include mixins.bg-scarlet;
    display: flex;
    flex-wrap: nowrap;
    // padding-left: var.$length-vw-2;
    // padding-right: var.$length-vw-2;
  }


  .unl .dcf-nav-menu ul:first-child > li > a,
  .unl .dcf-nav-menu ul:first-child > li > button {
    font-size: #{var.$ms-1}rem !important;
  }


  .unl .dcf-nav-menu ul > li > ul > li > a,
  .unl .dcf-nav-menu ul > li > ul > li > button {
    font-size: #{var.$ms-2}rem !important;
  }

}
