///////////////////////////////
// THEME / COMPONENTS / REGIONS
///////////////////////////////


@use "../mixins/" as mixins;


.dcf-hide-institution #dcf-institution-title,
.dcf-hide-idm #dcf-idm,
.dcf-hide-search #dcf-search,
.dcf-hide-nav #dcf-mobile-toggle-menu,
.dcf-hide-nav #dcf-navigation,
.dcf-hide-breadcrumbs #dcf-breadcrumbs,
.dcf-hide-footer-contact #dcf-footer-group-1,
.dcf-hide-footer-related #dcf-footer-group-2,
.dcf-hide-footer-logos .unl-footer-logo,
.dcf-hide-qa .unl-wdn-qa,
.dcf-hide-copyright .unl-footer-unl,
.terminal #dcf-mobile-toggle-menu,
.terminal #dcf-navigation,
.terminal #dcf-breadcrumbs,
.terminal #dcf-footer-group-1,
.terminal #dcf-footer-group-2 {
  display: none;
}


.dcf-hide-page-title #dcf-page-title {
  @include mixins.sr-only; // Keep the text readable by screen readers and search engines since it contains the h1
}
