//////////////////////////////
// THEME / COMPONENTS / SEARCH
//////////////////////////////


@use "../variables/" as var;
@use "../mixins/" as mixins;


.unl .dcf-search-input:focus {
  box-shadow: 0 0 0 3px var.$scarlet, 0 0 0 5px var.$border-color-input-focus !important;
}


@include mixins.mq(md, max, width) {

  .unl .dcf-search-toggle-wrapper {
    display: none;
  }

}

@include mixins.mq(md, min, width) {

  .unl .dcf-search {
    max-width: #{var.$ms18}em; // TODO: remove when global nav is added back to header
  }

  .unl .dcf-search-toggle-wrapper {
    display: flex;
  }

  .unl .dcf-search-toggle-label {
    padding: #{var.$ms-10}em #{var.$ms08}em #{var.$ms-10}em #{var.$ms-2}em;
  }

}
