//////////////////////////////
// !THEME / DEPRECATED / FORMS
//////////////////////////////


// Form
form ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul.wdn-std { // restore browser defaults, assumes LTR
  list-style-type: disc;
	margin: 1em 0;
	padding-left: 40px;
}

form ul.wdn-std li { // restore browser defaults, assumes LTR
  margin: 0;
}

// form label {
//   @include font-sans;
// }

// // !Input: Control
// .unl .dcf-input-control {
//   @include mr-1;
// }

// !Input: File
// .unl .dcf-input-file {
//   @include mb-2;
//   @include mt-2;
// }

form input[type="email"],
form input[type="password"],
form input[type="search"],
form input[type="text"],
form input[type="url"],
form textarea {
  border: 1px solid $color-border-input;
  border-radius: 0;
  @include font-sans;
  padding: $length-em-2 $length-em-3;
  width: 100%;

  &:hover,
  &:focus {
    box-shadow: 0 0 $length-em-3 fade-out($color-border-input-hover,.25);
  }

  &:focus {
    outline: none;
  }

}


@keyframes wdn-error {

  from {
    border: 1px solid $scarlet;
    box-shadow: 0 0 6px fadeout($scarlet, 20%);
  }

  to {
    border: 1px solid fadeout($scarlet, 80%);
    box-shadow: 0 0 6px fadeout($scarlet, 90%);
  }

}

form input.wdn-error,
form textarea.wdn-error,
form select.wdn-error {
  animation: wdn-error 1.2s infinite alternate;
  border: 1px solid $scarlet;
}

form span.required {
  color: $scarlet;
  @include txt-xs;
  font-style: italic;
}

form span.helper {
  color: $color-lightest-text;
  @include txt-xs;
}


// Input Group
.wdn-input-group {
  display: flex;
  width: 100%;
}

.wdn-input-group input[type='text'] {
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
  width: 1%;
}

.wdn-input-group-btn {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-left: -1px;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}


// Button
input[type='submit'],
.wdn-button,
.wdn-input-group-btn button,
.wdn-input-group-btn input {
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  @include font-sans;
  @include txt-xs;
  font-weight: bold;
  @include ls-2;
  padding-bottom: #{ms(-3)}em;
  @include pl-5;
  @include pr-5;
  @include pt-3;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
//   -webkit-appearance: none;
  white-space: nowrap;
}

input[type='submit'],
.wdn-button {
  display: inline-block;
  text-decoration: none;
}

.wdn-input-group-btn button,
.wdn-input-group-btn input {
  align-self: stretch;
  display: flex;
}


// Primary Button
input[type='submit'],
.wdn-button,
.wdn-button:link,
.wdn-button-brand,
.wdn-button-brand:link,
.wdn-input-group-btn button,
.wdn-input-group-btn input {
  background-color: $color-button;
  border-color: $color-button;
  color: $white;
  transition: border $hover-off, background-color $hover-off;
}

input[type='submit']:focus,
.wdn-button:focus,
.wdn-button-brand:focus,
.wdn-input-group-btn button:focus,
.wdn-input-group-btn input:focus {
  box-shadow: inset 0 0 0 3px currentColor;
}

.wdn-button:visited,
.wdn-button-brand:visited {
  background-color: $color-button-visited;
  border-color: $color-button-visited;
  color: $white;
}

input[type='submit']:hover,
.wdn-button:hover,
.wdn-button-brand:hover,
.wdn-input-group-btn button:hover,
.wdn-input-group-btn input:hover {
  background-color: $color-button-hover;
  border-color: $color-button-hover;
  color: $white;
  transition: border $hover-on, background-color $hover-on;
}

input[type='submit']:active,
.wdn-button:active,
.wdn-button-brand:active,
.wdn-input-group-btn button:active,
.wdn-input-group-btn input:active {
  background-color: $color-button-active;
  border-color: $color-button-active;
  color: $white;
}


// Secondary Button
.wdn-button-complement,
.wdn-button-complement:link,
.wdn-button-energetic,
.wdn-button-energetic:link,
.wdn-button-triad,
.wdn-button-triad:link {
  background-color: transparent;
  border-color: currentColor;
  color: $color-button;
  transition: background-color $hover-off, border-color $hover-off, color $hover-off;
}

.wdn-button-complement:focus,
.wdn-button-energetic:focus,
.wdn-button-triad:focus {
  box-shadow: inset 0 0 0 3px $white, inset 0 0 0 4px currentColor;
}

.wdn-button-complement:visited,
.wdn-button-energetic:visited,
.wdn-button-triad:visited {
  border-color: currentColor;
  color: $color-button-visited;
}

.wdn-button-complement:hover,
.wdn-button-energetic:hover,
.wdn-button-triad:hover {
  background-color: fade-out($color-button-hover,.9);
  border-color: currentColor;
  color: $color-button-hover;
  transition: background-color $hover-on, border-color $hover-on, color $hover-on;
}

.wdn-button-complement:active,
.wdn-button-energetic:active,
.wdn-button-triad:active {
  border-color: currentColor;
  color: $color-button-active;
}


// Outline Button
.wdn-button-outline,
.wdn-button-outline:link {
  background-color: rgba(0,0,0,.1);
  border-color: currentColor;
  color: $white;
  transition: background-color $hover-off;
}

.wdn-button-outline:hover {
  background-color: rgba(0,0,0,.2);
  transition: background-color $hover-on;
}


// Webform opt-out
.wdn-webform-opt-out ol,
.wdn-webform-opt-out ul {
  padding-left: 1em;
}

.wdn-webform-opt-out ol {
  list-style-type: decimal;
}

.wdn-webform-opt-out ul {
  list-style-type: disc;
}

.wdn-webform-opt-out li {
  margin: 0;
}

.wdn-webform-opt-out li li {
  margin: 0;
}
