///////////////////////////////
// !THEME / DEPRECATED / TABLES
///////////////////////////////


table {
  @include bg-transparent;
  border-bottom: 1px solid $color-border;
  @include font-sans;
  max-width: 100%;
  width: 100%;
}

thead,
tbody {
  @include txt-sm;
}

td,
th {
  border: 1px solid $color-border;
  @include pl-4;
  @include pr-4;
}

thead th,
thead td {
  @include pb-3;
  @include pt-5;
  vertical-align: bottom;
}

tbody th,
tbody td {
  @include pb-3;
  @include pt-3;
  vertical-align: top;
}

tbody tr:nth-of-type(even) {
  background-color: $color-table-stripe;
}

.wdn_responsive_table thead th abbr {
  border-bottom: none;
}


@media only screen and (max-width:47.99em) {

  .wdn_responsive_table th,
  .wdn_responsive_table td {
    display: block;
  }

  .wdn_responsive_table thead tr {
    display: none;
  }

  .wdn_responsive_table tbody tr:first-child th {
    border-top-width: 0;
  }

  .wdn_responsive_table tbody tr:nth-of-type(even) {
    background-color: transparent;
  }

  .wdn_responsive_table tbody td {
  	text-align: left;
  }

  .wdn_responsive_table tbody td::before {
    content: attr(data-header);
    display: block;
    font-weight: bold;
  }

  .wdn_responsive_table tbody:empty {
  	display: none;
  }

  .wdn_responsive_table tbody:nth-of-type(even) {
  	background-color: $color-table-stripe;
  }

}


@media only screen and (min-width:48em) {

  .wdn_responsive_table thead th:not(:first-child) {
  	text-align: center;
  }

  .wdn_responsive_table tbody td {
  	text-align: center;
  }

  .wdn_responsive_table.flush-left thead th,
  .wdn_responsive_table.flush-left td {
  	text-align: left;
  }

}
