/////////////////////////
// THEME / OBJECTS / GRID
/////////////////////////


@supports (display:grid) {


  .unl-grid-cols {
    grid-template-columns: #{ms(12)}vw #{ms(8)}rem 1rem 1fr 1fr #{ms(12)}vw;
    // 5.62vw 3.16rem 1rem 1fr 1fr 5.62vw
  }


  @include mq(sm) {

    .unl-grid-cols {
      grid-template-columns: #{ms(12)}vw #{ms(8)}rem 1rem 1fr 1fr #{ms(8)}vw #{ms(8)}rem 1rem 1fr 1fr #{ms(12)}vw;
      // 5.62vw 3.16rem 1rem 1fr 1fr 3.16vw 3.16rem 1rem 1fr 1fr 5.62vw
    }

  }

  @include mq(lg) {

    .unl-grid-cols {
      grid-template-columns: #{ms(12)}vw #{ms(8)}rem 1rem 2fr 1fr #{ms(8)}rem 1rem #{ms(8)}vw #{ms(8)}rem 1rem 1fr 2fr #{ms(8)}rem 1rem #{ms(12)}vw;
      // 5.62vw 3.16rem 1rem 2fr 1fr 3.16rem 1rem 3.16vw 3.16rem 1rem 1fr 2fr 3.16rem 1rem 5.62vw
    }

  }


  .unl-offset-grid {
    display: grid;
    grid-column-gap: $length-em-4;
    grid-template-columns: $length-em-8 1fr;
  }

}
