#affiliate_note{
float: right;
font-family:Helvetica,arial,sans-serif;
font-size: 70%;
margin-right: 610px;
margin-top: -5px;
}

#affiliate_note a, #affiliate_note a:visited{
color: #5F5F5F;
text-decoration: none;
}

#affiliate_note a:hover{
color: #5F5F5F;
text-decoration: underline;
}

#affiliate_note a:active{
color: #BA0000;
text-decoration: underline;
}

#tag_line{
color: #888;
float: left;
font-family:Helvetica,arial,sans-serif;
font-size: 70%;
margin: -20px 0 0 105px ;
}

#header h1 {
background:url(/sharedcode/affiliate_imgs/title.png) no-repeat!important;
}

/* Search box */
#wdn_search{
background: url(/sharedcode/affiliate_imgs/searchBG.png) no-repeat;
}

#wdn_search form #q{
border: 1px solid #654424;
}

/* Nav */
#breadcrumbs {
height:35px;background:url(/sharedcode/affiliate_imgs/breadcrumbBarSprite.png) 0 -36px;
}

#breadcrumbs ul{
background: url(/sharedcode/affiliate_imgs/breadcrumbBarSprite.png) no-repeat;
}

#breadcrumbs ul:after {
content:'';
background:url(/sharedcode/affiliate_imgs/breadcrumbBarSprite.png) 0 -72px no-repeat;
}

#breadcrumbs ul li.selected{
background:url(/sharedcode/affiliate_imgs/tabBGRight.png) top right no-repeat;
}

#breadcrumbs ul li.selected a, #breadcrumbs ul li.selected a:link, #breadcrumbs ul li.selected a:visited {
background: url(/sharedcode/affiliate_imgs/tabBGLeft.png) no-repeat;
}

#breadcrumbs ul li.selected a:after {
background:url(/sharedcode/affiliate_imgs/downIndicators.png) no-repeat;padding:0px;
}

#navigation a:hover{
color: #0081AF;
}


/* main content */

#titlegraphic h1, #titlegraphic h1 a, #titlegraphic h1 a#titlegraphic:link h1 a:visited {
color: #7F5B37;
text-decoration: none;
}

#maincontent a {
outline-color: -moz-use-text-color;
outline-style: none;
outline-width: medium;
color: #7F5B37;
text-decoration: underline;
}

#maincontent a:visited{
color: #666;
}

#maincontent a:hover {
color: #0081AF;
}

#maincontent a:focus, #maincontent a:active {
color: #00BCFF!important;
}

/* Primary Zen Box */
#maincontent div.zenbox.primary h3{
background: #654424 url(/wdn/templates_3.0/css/images/bottom_shadow_medium.png) repeat-x!important;
background-attachment: scroll;
background-position: center bottom;
color: #fff;
}

#maincontent div.zenbox div.zenbox.primary h3, #maincontent div.zenboxsolid.primary h3, #maincontent div.zenboxfixed.primary h3, #maincontent div.zenboxfeature.primary h3, #maincontent div.zenbox.primary h3 {
color: #ffffff;
}

#maincontent div.zenboxsolid h3:after,#maincontent div.zenboxfixed h3:after,#maincontent div.zenboxfeature h3:after,#maincontent div.zenbox h3:after {
background:url(/sharedcode/affiliate_imgs/downIndicators.png) no-repeat;
}

/* Primary Zen Table */
.zentable.primary tr th, .zentable .zentable.primary tr th {
background-color: #654424;
}

table.zentable.primary tbody tr:nth-child(2n+1) td, .zentable table.zentable.primary tbody tr:nth-child(2n+1) td {
background-color: #f5efe8!important;
}

table.zentable.primary tbody td, .zentable table.zentable.primary tbody td {
border-color: #CFB59B;
}

/* Cooler Zen Table */
.zentable.cooler tr th, .zentable .zentable.cooler  tr th {
background-color: #0F4F66;
color: #fff;
}

table.zentable.cooler tbody tr:nth-child(2n+1) td, .zentable table.zentable.cooler tbody tr:nth-child(2n+1) td {
background-color: #EFF7FF!important;
}

table.zentable.cooler tbody td, .zentable table.zentable.cooler tbody td {
border-color: #bdd7f7;
}

/* Cooler Zen Box */
div.zenbox.cooler h3{
background: #0F4F66 url(/wdn/templates_3.0/css/images/bottom_shadow_medium.png) repeat-x!important;
background-attachment: scroll;
background-position: center bottom;
color: #fff;
}

div.zenbox.cooler h3:after{
background:url(/sharedcode/affiliate_imgs/downIndicators.png) no-repeat!important;
background-position: -120px 0!important;
}

.cooler a{
color: #0081AF!important;
}

.cooler a:visited{
color: #666!important;
}

.cooler a:hover, .cooler a:active{
color: #0DA8DF!important;
}


#maincontent .sec_main.primary{
background: #EFE0D1;
border-left: 3px solid #8F7459;
color: #7F5F3F;
padding: 0.1em 8px 0em 5px;
margin-top: 3px 0pt 1.01em 0pt;
}

#maincontent .sec_main.cooler{
background: #D1E7EF;
border-left: 3px solid #81BBCF;
color: #1F667F;
padding: 0.1em 8px 0em 5px;
margin-top: 3px 0pt 1.01em 0pt;
}

/* Footer */

#footer .footer_col h3:after {
content:'';
width:20px;
height:10px;
display:block;
background:url(/sharedcode/affiliate_imgs/downIndicators.png) no-repeat;
margin-left:30px;
margin-top:5px;
}

#footer .footer_col h3{
background: url(/sharedcode/affiliate_imgs/headingBG.png) repeat-x;
background-position: center bottom;
}

#footer a, #footer a:link, #footer a:visited {
color: #7F5B37;
text-decoration: underline;
}

#footer a:hover {
color: #0081AF;
}

#footer a:focus, #footer a:active {
color: #00BCFF;
}



