#logo { width: 66px; }
#affiliate_note {
    background: url("/wdn/templates_3.1/css/header/images/bottomLeftCorner.png") no-repeat scroll left bottom transparent;
    color: #3E3E3E;
    float: left;
    font-family: 'URWGroteskCon-Lig',Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 0;
    margin: 13px 0 0;
    padding: 12px 10px;
    text-shadow: 0 0 3px #fff;
    text-transform: uppercase;
}

#affiliate_note a, #affiliate_note a:visited {
	color: #3E3E3E;
	text-decoration: none;
}

#affiliate_note a:hover {
	color: #3E3E3E;
	text-decoration: underline;
}

#affiliate_note a:active {
	color: #3E3E3E;
	text-decoration: underline;
}

/* IdM Adjustment */
#wdn_identity_management {
	left: 470px;
    max-width: 145px;
}

/* Search box */
#wdn_search {
	background: #906337; /* Old browsers */
	background: -moz-linear-gradient(top,  #906337 0%, #654424 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#906337), color-stop(100%,#654424)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #906337 0%,#654424 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #906337 0%,#654424 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #906337 0%,#654424 100%); /* IE10+ */
	background: linear-gradient(top,  #906337 0%,#654424 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#906337', endColorstr='#654424',GradientType=0 ); /* IE6-9 */
}
#wdn_search form #q {
	border-color: #654424;
}

/* Nav */
#breadcrumbs > ul > li > a {
    background-image: url("affiliate_imgs/2011_breadcrumb_li.png");
}

#breadcrumbs > ul > li.selected > a {
	color: #654424;
}

#navigation > ul > li > a {
	color: #fff;
	text-shadow: 1px 1px 1px #424242;
	border-right-color: #654424;
    border-left-color: #906337;
    background: #906337; /* Old browsers */
    background: -moz-linear-gradient(top,  #906337 0%, #654424 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#906337), color-stop(100%,#654424)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #906337 0%,#654424 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #906337 0%,#654424 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #906337 0%,#654424 100%); /* IE10+ */
    background: linear-gradient(top,  #906337 0%,#654424 100%); /* W3C */
}

#navigation > ul > li:nth-child(n+7) > a,
#navigation > ul > li.mid-bar > a {
	border-top-color: #906337;
	-webkit-box-shadow: 0 -1px 0 #654424;
	-moz-box-shadow: 0 -1px 0 #654424;
	box-shadow: 0 -1px 0 #654424;
}

#navigation > ul > li:hover > a {
	background: #A3774B; /* Old browsers */
    background: -moz-linear-gradient(top,  #A3774B 0%, #765330 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A3774B), color-stop(100%,#765330)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #A3774B 0%,#765330 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #A3774B 0%,#765330 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #A3774B 0%,#765330 100%); /* IE10+ */
    background: linear-gradient(top,  #A3774B 0%,#765330 100%); /* W3C */
}

#navigation > ul > li.empty:hover a {
    background: #906337; /* Old browsers */
    background: -moz-linear-gradient(top,  #906337 0%, #654424 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#906337), color-stop(100%,#654424)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #906337 0%,#654424 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #906337 0%,#654424 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #906337 0%,#654424 100%); /* IE10+ */
    background: linear-gradient(top,  #906337 0%,#654424 100%); /* W3C */
}


/* main content */
#maincontent a, #maincontent a:visited {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	color: #7F5B37;
	text-decoration: underline;
}

#maincontent a:hover {
    color: #0081AF;
}

#maincontent a:focus, #maincontent a:active {
    color: #00BCFF! important;
}

/* Footer */

#footer .footer_col ul li a:hover, #footer a:hover {
    color: #0081AF;
}

#footer a:focus, #footer a:active {
    color: #00BCFF;
}

#wdn_copyright {
	background: #513316;
	background: -moz-linear-gradient(top,  #654424 0%, #513316 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#654424), color-stop(100%,#513316)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #654424 0%,#513316 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #654424 0%,#513316 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #654424 0%,#513316 100%); /* IE10+ */
	background: linear-gradient(top,  #654424 0%,#513316 100%); /* W3C */
    text-shadow: 0 1px 0 #311B07;
}

#wdn_logos #unl_wordmark {
	-webkit-box-shadow: 1px 0 0 #513316;
	-moz-box-shadow: 1px 0 0 #513316;
	box-shadow: 1px 0 0 #513316;
}

/* ** OPTIONAL CO-BRANDING REMOVAL **
 remove the comment block below to hide the optional UNL cobranding in the footer */

/*
#wdn_tool_links { display: none; }
#footer_floater {
	background-image: url("affiliate_imgs/topSeal_affiliate.png");
}
#wdn_copyright {
	padding-right: 15px;
}
#wdn_logos {
	display: none;
}
/* */
