/* Base styles for the maincontent, overriding the css-reset */

#wdn_content_wrapper {	
	float:left;
	}

#maincontent {
	text-align: left;
	font: 77%/140% "Lucida Grande",Verdana,Arial;
	color: #494949;
	float: left;
	padding: 0 10px;
	}
	
#maincontent a {
	outline: none;
	color: #ba0000;
	text-decoration: none;
	}

#maincontent a:hover {
	color: #ee0000;
	}
	
#maincontent a:focus{
	color: #cc0000!important;
	}

#maincontent p {
	margin: 0 0 1.1em 0;
	}

#maincontent img {
	border: none;
	}
	
#maincontent ul{
    list-style: disc;
    padding: 0 0 1.1em 25px;
}
    
#maincontent ol{
	list-style: decimal;
    padding: 0 0 1.1em 25px;
}

#maincontent dd {
    padding: 0 0 0 30px;
}

#maincontent table th{
	text-align:center;
}

sub, sup {
    line-height:0;
}      
        
abbr, acronym { text-decoration:none; border-bottom:none;}

abbr:after, acronym:after {
    font-size: 60%;
    content: "?";
    vertical-align:super;
    display: inline;
    float: none;
    color: #c60202;
}  

.code {
    font-size: 90%;
    font-weight: bold;
    font-family:"Courier New", Courier, mono;
}

pre {
    font-family:"Courier New", Courier, mono;
    font-size: 95%;
}

a.imagelink, #footer a.imagelink {
	background:none !important;
	border-bottom:0 !important;
}



