#maincontent #wdn_Carousel div.textholder {
    text-align: left;
    font-size: small;
    padding: 6px;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    color: #000;
    background: url('images/carousel/bg.png');
    line-height:1em;
}
#maincontent.photoCredits {
    font-size: 0.8em;
    font-style: italics;
}

/* BEGIN PORTED STYLES FROM THE INFINATE CAROUSEL JS */
#maincontent .ic-wrapper {
    position: relative;
    overflow: hidden;
}
#maincontent .ic-wrapper img {
    position:relative;
    max-width:inherit;	
}
#maincontent div.ic-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 9999px;
}

body.mobile #maincontent div.ic-wrapper > ul {
	margin-left: -30px;
}

#maincontent div.ic-wrapper > ul > li {
    display: inline;
    float: left;
    position:relative;
    padding: 0;
    margin: 0;
    border-bottom: none;
}

#maincontent .ic-progress-bar {
    position: absolute;
    bottom: 0;
    background: #bbb;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 5px;
    opacity: 0.6;
    filter: alpha(60);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

#maincontent .ic-wrapper .textholder {
    position: absolute;
    bottom: 0;    
}

#maincontent .ic-wrapper .minmax {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    background: url(images/carousel/caption.gif) no-repeat 0 -8px;
}

#maincontent .ic-wrapper .minmax.min {
    background-position: 0 -16px;
}

#maincontent .ic-wrapper .close {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background: url(images/carousel/caption.gif) no-repeat 0 0;
}

#maincontent .ic-wrapper .playpause {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    width: 16px;
    height: 16px;
    background: url(images/carousel/playpause.gif) no-repeat 0 0;
    opacity: 0.5;
    filter: alpha(50);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

#maincontent .ic-wrapper .playpause.play {
    background-position: 0 -16px;
}

#maincontent .thumb-wrapper {
    position: relative;
    overflow: auto;
    clear: left;
    text-align: left;
    padding-top: 5px;
}

#maincontent .thumb-wrapper .thumb {
    cursor: pointer;
    background-size: auto 100%;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    display: inline;
    float: left;
    padding: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #ccc;
    margin-right: 4px;
    font-size: 0.7em;
    color: #000;
    text-shadow: 0 0 3px #fff;
    opacity: 0.65;
    filter: alpha(65);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

#maincontent .thumb-wrapper .thumb.active {
    border-color: #ff0000;
    opacity: 1;
    filter: alpha(100);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#maincontent .btn_rt, #maincontent .btn_lt {
    position: absolute;
    right: 2px;
    cursor: pointer;
    border: none;
    width: 13px;
    height: 30px;
    background: url(images/carousel/leftright.gif) no-repeat 0 0;
    opacity: 0.5;
    filter: alpha(50);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#maincontent .btn_lt {
    left: 2px;
    background-position: -13px 0;
}

/* END JS STYLES */
@media screen and (max-width: 480px) {
    * {max-width:inherit;}
    img {max-width:inherit !important;}
    
}
@media screen and (max-width: 320px) {
	* {max-width:inherit;}
	img {max-width:inherit !important;}
}