/* Contains column properties as well as float and clear */


#maincontent .col, #maincontent .one_col{
	width:220px;
	padding:0 10px;
	float:left;
	position:relative;
	}

#maincontent .two_col {
	float:left;
	width:460px;
	padding:0 10px;
	}

#maincontent .three_col {
	float:left;
	width:700px;
	padding:0 10px;
	}
	
#maincontent .four_col {
	float:left;
	width:940px;
	padding:0 10px;
	}

#maincontent .col_half{
	width:100px;
	padding:0 10px;
	float:left;
	position:relative;
	}
	
body.liquid #maincontent .col, body.liquid #maincontent .one_col {width:23.7%}
body.liquid #maincontent .two_col {width:48.6%}
body.liquid #maincontent .three_col {width:73%}
body.liquid #maincontent .four_col {width:100%}
body.liquid #maincontent .col_half {width:11%}

body.liquid #maincontent .two_col .col, body.liquid #maincontent .two_col .one_col {width:47%}
body.liquid #maincontent .three_col .two_col {width:63%}
body.liquid #maincontent .three_col .col, body.liquid #maincontent .three_col .one_col {width:31%}
body.liquid #maincontent .four_col .three_col {width:69%}
body.liquid #maincontent .four_col .two_col {width:46%}
body.liquid #maincontent .four_col .col, body.liquid #maincontent .four_col .one_col {width:23%}

#maincontent .left {padding-left:0;float:left;}
#maincontent .middle {padding-left:0;float:left;}
#maincontent .right {padding-right:0;float:right;}

#maincontent .clear, #maincontent .clr {
	clear:both;
	margin:0;
	padding:0;
	min-height:0;
	width:auto;
	height:auto;
	background:none;
	}
