#maincontent h1, #maincontent h2, #maincontent h3, #colorbox h1, #colorbox h2, #maincontent h4, #maincontent h5, #maincontent h6, #colorbox h4 {
    line-height: 1.2;
    padding-bottom: .3em;
    font-family: Helvetica, "Lucida Grande", Verdana, Arial;
    color: #535353;
    font-weight: bold;
    padding-top: 0.4em;
}

#maincontent h4, #maincontent h5, #maincontent h6, #colorbox h4 {
    padding-top: .1em;
    padding-bottom: .2em;
}

#maincontent h1, #colorbox h1 {
    font-size: 2em;
}

#maincontent h2, #colorbox h2 {
    font-size: 1.8em;
}

#maincontent h3 {
    font-size: 1.6em;
}

#maincontent h4, #colorbox h4 {
    font-size: 1.4em;
}

#maincontent h5 {
    font-size: 1.3em;
}

#maincontent h6 {
    font-size: 1.1em;
}
#maincontent .sec_header, #colorbox .sec_header {
    background: none;
    border-bottom: 1px solid #cecece;
    position: relative;
    padding: 0;
    margin: 3px 0 1.01em 0;
    position: relative;
}
#maincontent .sec_header:after {
    position: absolute;
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    bottom: -7px;
    width: 100%;
    height: 5px;
    left: 0;
    content: '';
}
