
.image_large, .image_large img {width:680px;height:210px;}
.image_large_16x9, .image_large_16x9 img {width:680px;height:383px;}
.image_medium, .image_medium img {width:450px;height:210px;}
.image_medium_16x9, .image_medium_16x9 img {width:450px;height:253px;}
.image_medium_4x3, .image_medium_4x3 img {width:450px;height:338px;}
.image_medium_3x2, .image_medium_3x2 img {width:450px;height:300px;}
.image_small_square, .image_small_square img {width:210px;height:210px;}
.image_small_16x9, .image_small_16x9 img {width:210px;height:118px;}
.image_small_tall, .image_small_tall img {width:210px;height:315px;}
.image_small_3x2, .image_small_3x2 img {width:210px;height:140px;}
.image_small_3x2_vertical, .image_small_3x2_vertical img {width:210px;height:315px;}
.image_small_short, .image_small_short img {width:210px;height:80px;}
.image_small_4x3_vertical, .image_small_4x3_vertical img {width:210px;height:280px;}
.image_small_4x3, .image_small_4x3 img {width:210px;height:158px;}


#maincontent .image_large_16x9,
#maincontent .image_large,
#maincontent .image_medium_16x9, 
#maincontent .image_medium_4x3, 
#maincontent .image_medium_3x2, 
#maincontent .image_medium, 
#maincontent .image_small_16x9, 
#maincontent .image_small_4x3, 
#maincontent .image_small_square, 
#maincontent .image_small_tall, 
#maincontent .image_small_short,
#maincontent .image_small_4x3_vertical,
#maincontent .image_small_3x2_vertical,
#maincontent .image_small_3x2,
#maincontent .unl_liquid_pictureframe,
#maincontent img.frame,
#footer .image_large_16x9,
#footer .image_large,
#footer .image_medium_16x9, 
#footer .image_medium_4x3, 
#footer .image_medium_3x2, 
#footer .image_medium, 
#footer .image_small_16x9, 
#footer .image_small_4x3, 
#footer .image_small_square, 
#footer .image_small_tall, 
#footer .image_small_short,
#footer .image_small_4x3_vertical,
#footer .image_small_3x2_vertical,
#footer .image_small_3x2,
#footer img.frame,
#cboxLoadedContent img.frame
{
    border:1px solid #ededed;
    border-radius:3px;
    background: #f7f7f7;
	padding:4px;
    margin: 0 0 10px 0;
	white-space:normal;
	line-height:0.8em;
}

#maincontent p.caption, #footer p.caption {
	margin: -32px 0 0 20px;
	line-height: normal;
	background:#f7f7f7;
	padding:2px 2px 2px 4px;
	text-align:left;
	color: #555;
	font-size: 75%;
	position:relative;
	z-index:1;
	float:right;
	display:block;
	border-top-left-radius:3px;
}

#maincontent .image_large a.imagetag {
	position: absolute;
	background: none;
	top:0;
	left:0;
	}

/*
/
/ Possibly deprecate/remove these?
/
/
/

.image_large a img, 
.image_medium a img {
	width:auto;
	height:auto;
	}
	
#imagetag, .imagetag {
	width:auto;
	height:auto;
	}

.image_large img{
	margin: 0 auto;
	}


img.right_image {
	float: right;
	margin: 3px 0 0 7px;
	padding: 3px;
	border: 1px solid #ccc;
	}

img.left_image {
	float: left;
	margin: 3px 7px 0 0;
	padding: 3px;
	border: 1px solid #ccc;
	}
	
img.center_image {
	float:none;
	margin: 3px 7px 0 0;
	padding: 3px;
	border: 1px solid #ccc;
	}

.unl_liquid_pictureframe{
	display:inline-block;
    background:url(/ucomm/templatedependents/templatecss/images/promo_680x210.gif) no-repeat left bottom;
    padding-bottom:15px;
    position:relative;
    margin:0 0 0 0;
    }

.unl_liquid_pictureframe_inset {
	display:inline-block;
    background:#fff;
    border:1px solid #d1cfcf;
    padding:4px;
    overflow:auto;
    }

.unl_liquid_pictureframe_footer{
	display:inline-block;
    background:url(/ucomm/templatedependents/templatecss/images/promo_680x210.gif) no-repeat right bottom;
    position:absolute;
    margin:0 -2px 0 0;
    width:50px;
    height:20px;
    right:0;
    bottom:0;
    }
*/
