a.external {
	padding-right: 13px;
	background: url(/ucomm/templatedependents/templatecss/images/external_link.png) center right no-repeat;
	}
a[href^="http://maps.google.com"], a.application-map {
	padding: 3px 18px 0px 0px;
	background: url(/sharedcode/images/iconMap13.png) bottom right no-repeat;
}

a[href^="mailto:"], 
a[href $='.pdf'], 
a[href $='.exe'], 
a[href *='.xls'], 
a[href *='.ppt'], 
a[href *='.doc'], 
a[href $='.zip'], 
a[href $='.mov'], 
a[href $='.wmv'], 
a[href $='.mp4'], 
a[href $='.m4v'],
a.mail-message-new,
a.text-vcard,
a.application-pdf,
a.application-certificate,
a.application-x-executable,
a.audio-x-generic,
a.font-x-generic,
a.image-x-generic,
a.package-x-generic,
a.text-html,
a.text-x-generic,
a.text-x-generic-template,
a.text-x-script,
a.video-x-generic,
a.x-office-address-book,
a.x-office-calendar,
a.x-office-document,
a.x-office-document-template,
a.x-office-drawing,
a.x-office-drawing-template,
a.x-office-presentation,
a.x-office-presentation-template,
a.x-office-spreadsheet,
a.x-office-spreadsheet-template,
a.application-msword,
a.application-vnd-ms-excel,
a.application-vnd-ms-powerpoint,
a.application-zip,
a.feed-icon
	{
	padding: 3px 18px 0px 0px;
	background-position: bottom right;
	background-repeat: no-repeat;
	}

a[href^="mailto:"], a.mail-message-new, a.email {background-image: url(images/mimetypes/mail-message-new.png);}
a.text-vcard{background-image: url(images/mimetypes/text-vcard.png);}					
a[href $='.pdf'], a.application-pdf, a.pdf{background-image: url(images/mimetypes/application-pdf.png);}
a.application-certificate{background-image: url(images/mimetypes/application-certificate.png);}
a[href $='.exe'], a.application-x-executable{background-image: url(images/mimetypes/application-x-executable.png);}
a.audio-x-generic{background-image: url(images/mimetypes/audio-x-generic.png);}
a.font-x-generic{background-image: url(images/mimetypes/font-x-generic.png);}
a.image-x-generic{background-image: url(images/mimetypes/image-x-generic.png);}
a.package-x-generic{background-image: url(images/mimetypes/package-x-generic.png);}
a.text-html{background-image: url(images/mimetypes/text-html.png);}
a.text-x-generic{background-image: url(images/mimetypes/text-x-generic.png);}
a.text-x-generic-template{background-image: url(images/mimetypes/text-x-generic-template.png);}
a.text-x-script{background-image: url(images/mimetypes/text-x-script.png);}
a[href $='.mov'], a[href $='.wmv'], a[href $='.mp4'], a[href $='.m4v'], a.video-x-generic{background-image: url(images/mimetypes/video-x-generic.png);}
a.x-office-address-book{background-image: url(images/mimetypes/x-office-address-book.png);}
a.x-office-calendar{background-image: url(images/mimetypes/x-office-calendar.png);}
a.x-office-document{background-image: url(images/mimetypes/x-office-document.png);}
a.x-office-document-template{background-image: url(images/mimetypes/x-office-document-template.png);}
a.x-office-drawing{background-image: url(images/mimetypes/x-office-drawing.png);}
a.x-office-drawing-template{background-image: url(images/mimetypes/x-office-drawing-template.png);}
a.x-office-presentation{background-image: url(images/mimetypes/x-office-presentation.png);}
a.x-office-presentation-template{background-image: url(images/mimetypes/x-office-presentation-template.png);}
a.x-office-spreadsheet{background-image: url(images/mimetypes/x-office-spreadsheet.png);}
a.x-office-spreadsheet-template{background-image: url(images/mimetypes/x-office-spreadsheet-template.png);}
a[href *='.doc'], a.application-msword, a.msword{background-image: url(images/mimetypes/application-msword.png);}
a[href *='.xls'], a.application-vnd-ms-excel{background-image: url(images/mimetypes/application-vnd-ms-excel.png);}
a[href *='.ppt'], a.application-vnd-ms-powerpoint{background-image: url(images/mimetypes/application-vnd-ms-powerpoint.png);}
a[href $='.zip'], a.application-zip{background-image: url(images/mimetypes/application-zip.png);}
a.feed-icon{background-image: url(images/mimetypes/feed-icon.png);}