/*
*
* Many Icons part of the Fugue Icon set: http://p.yusukekamiyamane.com/
*
*/

/* These are the additional, easier-to-use, selectors */
a.external, a.map, a.email, a.vcard, a.pdf, a.audio, a.image, a.document, a.html, a.video, a.calendar, a.clustan, a.presentation, a.spreadsheet, a.zip, a.feed, a.script,

/* CSS attribute rules */
a[href $='.mov'], a[href $='.wmv'], a[href $='.mp4'], a[href $='.m4v'], a[href $='.zip'], a[href *='.doc'], a[href *='.ppt'], a[href *='.pps'], a[href *='.xls'], a[href $='.pdf'], a[href^="mailto:"], a[href^="http://maps.google.com"],

/* These are the selectors based on mime-type */
a.mail-message-new, a.text-vcard, a.application-pdf, a.audio-x-generic, a.image-x-generic, a.text-html, a.text-x-script, a.video-x-generic, a.x-office-calendar, a.x-office-document,
a.x-office-document-template, a.x-office-presentation, a.x-office-presentation-template, a.x-office-spreadsheet, a.x-office-spreadsheet-template, a.application-msword,
a.application-vnd-ms-excel, a.application-vnd-ms-powerpoint, a.application-zip, a.application-map

{
    background:url('images/mimetypes/mimeTypeSprite.png') no-repeat;
    padding-right:19px;
    background-position: right -2px; /*This shows vCard */
}

a.audio, a.audio-x-generic {
    background-position: right -129px;
}
a.calendar, a.x-office-calendar {
    background-position: right -321px;
}
a.clustan {
    background-position: right -417px;
}
a.document, a.x-office-document, a.x-office-document-template, a.application-msword, a[href *='.doc'] {
    background-position: right -192px;
}
a.email, a.mail-message-new, a[href^="mailto:"]  {
    background-position: right -34px;
}
a.external {
    background-position: right -450px;
}
a.feed {
    background-position: right -385px;
}
a.html, a.text-html {
    background-position: right -481px;
}
a.image, a.image-x-generic {
    background-position: right -163px;
}
a.map, a[href^="http://maps.google.com"], a.application-map {
    background-position: right -64px;
}
a.pdf, a.application-pdf, a[href $='.pdf'] {
    background-position: right -96px;
}
a.presentation, a.x-office-presentation, a.x-office-presentation-template, a.application-vnd-ms-powerpoint, a[href *='.ppt'], a[href *='.pps'] {
    background-position: right -256px;
}
a.script, a.text-x-script {
	background-position: right -513px;
}
a.spreadsheet, a.x-office-spreadsheet, a.x-office-spreadsheet-template, a.application-vnd-ms-excel, a[href *='.xls'] {
    background-position: right -224px;
}
a.video, a.video-x-generic, a[href $='.mov'], a[href $='.wmv'], a[href $='.mp4'], a[href $='.m4v'] {
    background-position: right -352px;
}
a.zip, a.application-zip, a[href $='.zip'] {
    background-position: right -289px;
}
a.imagelink, #footer a.imagelink, a.noBG {
    background:none;
}

/*

To be deprecated in the 2012 Template

*/
a.application-certificate, 
a[href $='.exe'], 
a.application-x-executable, 
a.font-x-generic,
a.text-x-generic,
a.text-x-generic-template,
a.package-x-generic,
a.msword,
a.x-office-address-book,
a.x-office-drawing,
a.x-office-drawing-template,
a.feed-icon
{
    padding: 3px 19px 0px 0px;
    background-position: bottom right;
    background-repeat: no-repeat;
}
a.application-certificate{background-image: url(images/mimetypes/application-certificate.png);}
a[href $='.exe'], a.application-x-executable{background-image: url(images/mimetypes/application-x-executable.png);background-repeat:no-repeat;}
a.font-x-generic{background-image: url(images/mimetypes/font-x-generic.png);}
a.text-x-generic{background-image: url(images/mimetypes/text-x-generic.png);}
a.text-x-generic-template{background-image: url(images/mimetypes/text-x-generic-template.png);}
a.package-x-generic{background-image: url(images/mimetypes/package-x-generic.png);}
a.msword{background-image: url(images/mimetypes/application-msword.png);background-repeat:no-repeat;}
a.x-office-address-book{background-image: url(images/mimetypes/x-office-address-book.png);}
a.x-office-drawing{background-image: url(images/mimetypes/x-office-drawing.png);}
a.x-office-drawing-template{background-image: url(images/mimetypes/x-office-drawing-template.png);}
a.feed-icon{background-image: url(images/mimetypes/feed-icon.png);}