.eventBox{
    background:#eee;
    border:2px solid #d0d0d0;
    position:absolute;
    margin:-25px 0 0 5px;
    width:210px;    
    min-height:50px;
    left:0;
    text-align:left;
    font-size:11px;
}
.pos2 .eventBox {
	margin-right: 5px;
	margin-left: 0px;
}
#maincontent .eventBox h1{
    font-size:11px;
    font-weight:bold;
    width:205px;
    padding:4px;
    color:#fff;
    margin:-2px 0 2px -2px;
    background:#900;
    position:relative;
    border-right:1px solid #720a0a;
    border-bottom:1px solid #720a0a;
}
.eventContainer{
    background:transparent url(images/monthwidget_arrow.gif) no-repeat;
    display:block;
    width:218px;
    min-height:50px;
    position:absolute;
    margin:-16px 0 0 18px;
    z-index:9999;
}
.eventContainer.pos2{
	margin-left: -216px;
	background-position: right top;
}

.eventBox a{
    display:block;
    border-bottom:1px dashed #d3d3d3;
    padding:2px 4px;
}
.eventBox a:hover{
    background:#f9f9f9;
}

* html .eventContainer, *html .eventBox{height:50px;}
* html .eventContainer{margin:-8px 0 0 3px;}
* html .eventContainer.pos2{margin-left:-235px;}
*+html .eventContainer{margin:-8px 0 0 3px;}
*+html .eventContainer.pos2{margin-left:-235px;}

table.wp-calendar {clear:both;width:200px;border-collapse:collapse;}

/* Calendar Widget */
.wp-calendar a:hover{text-decoration:underline;}
.wp-calendar a{background:none;}

table.wp-calendar thead th{
    border-top:1px solid #ddd;border-bottom:3px #ddd;color:#333;
    text-align:left;font-size:8.5pt!important;
}

table.wp-calendar td, table.wp-calendar th{
    text-align:center;
    padding:4px;
}
table.wp-calendar td{
    border:1px solid #ddd;
}
table.wp-calendar td.selected{
    background-color:#ecf4f8;
}
table.wp-calendar td.prev, table.wp-calendar td.next {
    color:#ccc;
}
table.wp-calendar td:hover{
    background:#ffffcc;
}
table.wp-calendar .today_image{
    width:36px;
    height:18px;
    position:absolute;
    margin:-32px 0 0 -12px;
    background:url(http://events.unl.edu/templates/default/images/todayimage.png) no-repeat 0 0;
}
* html table.wp-calendar td .today_image{margin: -15px 0 0 -23px;}
*+html table.wp-calendar td .today_image{margin: -15px 0 0 -23px;}
table.wp-calendar caption {}

/*caption nav*/
table.wp-calendar caption{padding-left:30px;height: 3em;}
table.wp-calendar caption span{display:block;height:31px;background:url(http://events.unl.edu/templates/default/images/monthviewnav_mid.gif) repeat-x 0 0;float:left;}
table.wp-calendar caption span.monthvalue, table.wp-calendar caption span.yearvalue{
margin-top:0;padding:8px 3px 0;}
table.wp-calendar caption a{margin-bottom:5px;color:#fff !important;}
table.wp-calendar caption a:hover{color:#fff !important;}
table.wp-calendar caption a#prev_month, table.wp-calendar caption a#next_month{text-indent:-9999em;
    display:block;background:#fff url(http://events.unl.edu/templates/default/images/monthviewnav_prev.gif) no-repeat; width:22px; height:31px;}
table.wp-calendar caption a#next_month{background:url(http://events.unl.edu/templates/default/images/monthviewnav_next.gif) no-repeat;}
table.wp-calendar caption a#prev_month:hover, table.wp-calendar caption a#next_month:hover{
background-position:0 -45px;
}
