/*
structure:
<ul class="wdn_tabs">
	<li><a href="#"><span>Your Profile</span></a></li>
	<li><a href="#"><span>Dashboard</span></a></li>
	<li><a href="#"><span>Friends</span></a></li>
	<li class="selected"><a href="#"><span>Groups</span></a></li> <!--This is the selected tab, notice the class="selected"-->
	<li><a href="#"><span>The wire</span></a></li>
	<li><a href="#"><span>Settings</span></a></li>
	<li><a href="#"><span>Log out</span></a></li>
</ul>

*/
#maincontent .yesprint {
	display:none;
	}
#maincontent ul.wdn_tabs {
	margin:10px 0 40px 0;
	padding:0px 10px 0 10px;
	list-style:none;
	text-align:left;
	height:34px;
	border-bottom:1px solid #e6e6e6;
    }
#maincontent ul.wdn_tabs li {
    display:inline;
    float:left;
	background:url('images/tabs/ulBG.png') repeat-x left;
	margin-bottom:-1px;
    }
#maincontent ul.wdn_tabs li:first-child {
   padding-left:5px;
   background:url('images/tabs/inactiveLeftFirst.png') no-repeat bottom left;
   }
#maincontent ul.wdn_tabs a {
	display:block;
	height:34px;
    padding:0px 18px 0px 15px;
	text-decoration:none;
	color:#D9D9D9;
	font-size:1.05em;
	background:url('images/tabs/inactiveRight.png') no-repeat bottom right;
}
#maincontent ul.wdn_tabs li:last-child a {
	margin-right:-7px;
	background:url('images/tabs/inactiveRightLast.png') no-repeat top right;
}
#maincontent .wdn_tabs a span {
	color:#666666;
	margin-left:-2px;
	margin-top:9px;
	float:left;
	position:relative;
	cursor:pointer;
}
#maincontent ul.wdn_tabs li.selected a {
	background:url('images/tabs/activeRightMiddle.png') no-repeat top right;
	height:41px;
	margin-right:0px;
	padding:7px 22px 0px 15px;
}
#maincontent ul.wdn_tabs li:last-child.selected a {
	background:url('images/tabs/activeRight.png') no-repeat top right;
}
 #maincontent ul.wdn_tabs li.selected a span {
 	font-weight:bold;
}
#maincontent ul.wdn_tabs li:first-child.selected {
	margin-left:2px;
}
#maincontent ul.wdn_tabs li.selected {
	background:url('images/tabs/activeLeft.png') no-repeat bottom left;
	height:41px;
	margin-top:-6px;
	margin-bottom:-2px;
	margin-left:-9px;
	padding-left:7px;
}
ul.wdn_tabs a span:hover{text-decoration:underline;}
ul.wdn_tabs a span:active{color:#333333;}
ul.wdn_tabs a span:visited{color:#666666;}
ul.wdn_tabs-nojs span img{margin-right:3px;}

ul.wdn_tabs span sup {
	color:#fff;
	font-weight:bold;
	font-size:.7em;
	padding:0px 3px;
	background:#ac0203;
	border:1px solid #ac0203;
	border-radius:15px;
 	bottom:1.7ex;
}

/*SUB TABS*/

#maincontent ul.wdn_sub_tabs {
	margin-top:-20px;
	padding:20px;
	margin-bottom:20px;
	background:url('images/tabs/sub_tabs_bg.png') repeat;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-bottom:1px solid #EDEDED;
	border-radius:25px;
}
#maincontent ul.wdn_sub_tabs li {
	font-weight:normal;
	font-size:.9em;
	padding:5px 8px;
	margin:0px 3px;
	background:#F7F7F7;
	border:1px solid #CCC;
	border-radius:10px;
	bottom:1.7ex;
	display:inline;
}
#maincontent ul.wdn_sub_tabs li.selected {
	background:#FFFFFF;
}
#maincontent ul.wdn_sub_tabs li a {
	color:#737373 !important;
}
#maincontent ul.wdn_sub_tabs li a.selected {
	font-weight:bold;
}