/*
structure: 
<ul class="wdn_tabs">
    <li><a href="#"><span>Your Profile</span></a></li>
    <li><a href="#"><span>Dashboard</span></a></li>
    <li><a href="#"><span>Friends</span></a></li>
    <li class="selected"><a href="#"><span>Groups</span></a></li> <!--This is the selected tab, notice the class="selected"-->
    <li><a href="#"><span>The wire</span></a></li>
    <li><a href="#"><span>Settings</span></a></li>
    <li><a href="#"><span>Log out</span></a></li>
</ul>

*/
#maincontent .yesprint {
    display: none;
}
#maincontent ul.wdn_tabs {
    margin: 10px 0 40px 0;
    padding: 0px 10px 0 10px;
    list-style: none;
    text-align: left;
    min-height: 34px;
    height: auto;
    border-bottom: 1px solid #C9C9C9;
    position: relative;
}
#maincontent ul.wdn_tabs > li {
    display: inline-block !important; /*this was changed from block to inline-block to better support multiple rows of tabs*/
    float: none;
    background: #FFFFFF;
    background: -moz-linear-gradient(top,#ffffff 0%,#dfdfdf 85%,#cdcdcd 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(85%,#dfdfdf), color-stop(100%,#cdcdcd));
    background: -webkit-linear-gradient(top,#ffffff 0%,#dfdfdf 85%,#cdcdcd 100%);
    background: -o-linear-gradient(top,#ffffff 0%,#dfdfdf 85%,#cdcdcd 100%);
    background: -ms-linear-gradient(top,#ffffff 0%,#dfdfdf 85%,#cdcdcd 100%);
    background: linear-gradient(top,#ffffff 0%,#dfdfdf 85%,#cdcdcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dfdfdf');
    margin-bottom:-4px;
    margin-right:-2px;
    border-width:1px 1px 0px 1px!important;
    border-color:#C9C9C9;
    border-top-color:#B8B8B8;
    border-right-color:#919191;
    border-style:solid;
    border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
}
#maincontent ul.wdn_tabs > li:hover {
    background:#999;
    background: -moz-linear-gradient(top,#cccccc 0%,#999999 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#cccccc),color-stop(100%,##999999));
    background: -webkit-linear-gradient(top,#cccccc 0%,##999999 100%);
    background: -o-linear-gradient(top,#cccccc 0%,##999999 100%);
    background: -ms-linear-gradient(top,#cccccc 0%,##999999 100%);
    background: linear-gradient(top,#cccccc 0%,##999999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#999999');
    border-bottom-color:#888888;
}

#maincontent ul.wdn_tabs > li:hover > a span {
    color: #ffffff !important;
}

#maincontent ul.wdn_tabs > li.selected:hover > a span{
    color: #666666 !important;
}
#maincontent ul.wdn_tabs > li > a {
    display: block;
    height: 34px;
    padding: 0px 18px 0px 15px;
    text-decoration: none;
    color: #D9D9D9;
    font-size: 1.0em;
}
#maincontent .wdn_tabs a span {
    color: #666666;
    margin-left: -2px;
    margin-top: 9px;
    float: left;
    position: relative;
    cursor: pointer;
}
#maincontent ul.wdn_tabs > li.selected > a {
    height: 41px;
    margin-right: 0px;
    padding: 7px 18px 0px 15px;
}

#maincontent ul.wdn_tabs li.selected a span {
    font-weight:normal;
}

#maincontent ul.wdn_tabs > li.selected {
    height: 41px;
    margin-top: -6px;
    margin-right: -2px;
    margin-bottom: -5px;
    margin-left: 0px;
    padding-left: 7px;
    z-index:99;
    border-bottom-color:#FFF;
}
ul.wdn_tabs a span:hover{text-decoration: underline;}
ul.wdn_tabs a span:active{color: #333333;}
ul.wdn_tabs a span:visited{color: #666666;}
ul.wdn_tabs-nojs span img{margin-right: 3px;}

ul.wdn_tabs span sup {
    color: #fff;
    font-weight: bold;
    font-size: .7em;
    padding: 0px 3px;
    background: #ac0203;
    border: 1px solid #ac0203;
    border-radius: 15px;
    bottom: 1.7ex;
}

/*SUB TABS*/

#maincontent ul.wdn_tabs li ul {
    position: absolute;
    left: 0px;
    width: 100%;
    max-width: 920px;
    margin: -5px 0 0 0;
    padding: 20px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
}
#maincontent ul.wdn_tabs li ul li {
    font-weight: normal;
    font-size: .9em;
    padding: 5px 8px;
    margin: 7px -2px 0px 0px;
    background: #F7F7F7;
    border-width: 1px 1px 0px 1px;
    border-type:solid;
    border-color:#CCC;
    border-top-color:#919191;
    border-right-color:#919191;
    border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    bottom: 1ex;
    display: inline-block;
}
#maincontent ul.wdn_tabs li ul li.selected {
    background: #FFFFFF!important;
    font-weight: bold;
    padding:10px 8px 5px 8px;
    margin:2px -2px -1px 0px;
    border-bottom:1px solid #FFFFFF;
}
#maincontent ul.wdn_tabs ul li a, #maincontent ul.wdn_tabs li ul li.selected:hover a {
    color: #737373 !important;
}
#maincontent ul.wdn_tabs ul li.selected a {
    font-weight: normal!important;
}

#maincontent ul.wdn_tabs li ul li:hover{
    background:#cccccc;
}

#maincontent ul.wdn_tabs li ul li:hover a{
    color:#ffffff!important;
}

#maincontent ul.wdn_tabs ul a:hover{text-decoration:underline;}

/*For two rows of primary tabs*/
#maincontent ul.wdn_tabs li ul.two li {
    margin:37px -2px 0px 0px;
}

/*For three rows of primary tabs*/
#maincontent ul.wdn_tabs li ul.three li {
    margin:67px -2px 0px 0px;
}

/*-----Optional colors-----*/

/*Manilla*/
#maincontent ul.wdn_tabs.manilla {
    border-bottom:1px solid #D3CB99;
}

#maincontent ul.wdn_tabs.manilla > li {
    background:#E5DCA7;
    background: -moz-linear-gradient(top,#F2E8B1 0%,#E5DCA7 85%,#CCC495 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F2E8B1),color-stop(85%,#E5DCA7), color-stop(100%,#CCC495));
    background: -webkit-linear-gradient(top,#F2E8B1 0%,#E5DCA7 85%,#CCC495 100%);
    background: -o-linear-gradient(top,#F2E8B1 0%,#E5DCA7 85%,#CCC495 100%);
    background: -ms-linear-gradient(top,#F2E8B1 0%,#E5DCA7 85%,#CCC495 100%);
    background: linear-gradient(top,#F2E8B1 0%,#E5DCA7 85%,#CCC495 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2E8B1', EndColorStr='#E5DCA7');
    border-color:#D3CB99;
    border-top-color:#B2AC82;
    border-right-color:#B2AC82;
}

#maincontent ul.wdn_tabs.manilla > li.selected, #maincontent ul.wdn_tabs.manilla > li.selected:hover {
    background:#FFFFFF;
}

#maincontent ul.wdn_tabs.manilla > li:hover {
    background:#CCC495;
    background: -moz-linear-gradient(top,#D3CB99 0%,#CCC495 85%,#B2AC82 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D3CB99),color-stop(85%,#CCC495), color-stop(100%,#B2AC82));
    background: -webkit-linear-gradient(top,#D3CB99 0%,#CCC495 85%,#B2AC82 100%);
    background: -o-linear-gradient(top,#D3CB99 0%,#CCC495 85%,#B2AC82 100%);
    background: -ms-linear-gradient(top,#D3CB99 0%,#CCC495 85%,#B2AC82 100%);
    background: linear-gradient(top,#D3CB99 0%,#CCC495 85%,#B2AC82 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D3CB99', EndColorStr='#CCC495');
}

/*Triad Blue*/
#maincontent ul.wdn_tabs.triad {
    border-bottom:1px solid #A0C6DC;
}

#maincontent ul.wdn_tabs.triad > li {
    background:#A7CEE5;
    background: -moz-linear-gradient(top,#B1DAF2 0%,#A7CEE5 85%,#95B8CC 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#B1DAF2),color-stop(85%,#A7CEE5), color-stop(100%,#95B8CC));
    background: -webkit-linear-gradient(top,#B1DAF2 0%,#A7CEE5 85%,#95B8CC 100%);
    background: -o-linear-gradient(top,#B1DAF2 0%,#A7CEE5 85%,#95B8CC 100%);
    background: -ms-linear-gradient(top,#B1DAF2 0%,#A7CEE5 85%,#95B8CC 100%);
    background: linear-gradient(top,#B1DAF2 0%,#A7CEE5 85%,#95B8CC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B1DAF2', EndColorStr='#A7CEE5');
    border-color:#A0C6DC;
    border-top-color:#86A6B7;
    border-right-color:#86A6B7;
}

#maincontent ul.wdn_tabs.triad > li.selected, #maincontent ul.wdn_tabs.triad > li.selected:hover {
    background:#FFFFFF;
}

#maincontent ul.wdn_tabs.triad > li:hover {
    background:#95B8CC;
    background: -moz-linear-gradient(top,#A0C6DC 0%,#95B8CC 85%,#86A6B7 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#A0C6DC),color-stop(85%,#95B8CC), color-stop(100%,#86A6B7));
    background: -webkit-linear-gradient(top,#A0C6DC 0%,#95B8CC 85%,#86A6B7 100%);
    background: -o-linear-gradient(top,#A0C6DC 0%,#95B8CC 85%,#86A6B7 100%);
    background: -ms-linear-gradient(top,#A0C6DC 0%,#95B8CC 85%,#86A6B7 100%);
    background: linear-gradient(top,#A0C6DC 0%,#95B8CC 85%,#86A6B7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#A0C6DC', EndColorStr='#95B8CC');
}