#pagetitle {
    margin: 17px 0 15px 0;
}
#pagetitle h2 {
    margin: 0 0 18px 0;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -0.038em;
    padding-bottom: 0.1em;
    word-spacing: -0.05em;
}
#pagetitle h2,
#pagetitle h2 a {
    color: #535353;
    text-decoration: none;
}