#titlegraphic {
	margin:24px 0 8px 0;
    padding:0 6px;
}
#titlegraphic h1 {
    font-family:arial;
    font-size:1.8em;
    color:#ba0000;
}
#titlegraphic h2 {
    font-family:arial;
    font-size:1.3em;
    line-height:1.2em;
    font-weight:normal;
    color:#6b6b6b;
}