#videoBlackout {
    width:100%;
    height:100%;
    background:#000;
    position:fixed;
    top:0;
    left:0;
    z-index:99998; 
}
.wdnVideo_controls {
    padding:10px;
    position:relative;
    z-index:9;
    bottom:57px;
    opacity:0.8;
}
.wdnVideo_controls .play_pause, .wdnVideo_controls .progress {
    display:inline-block;
    background:#ac0302;
    border:none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    float:left;
    position:absolute;
}
.wdnVideo_controls .play_pause {
	width:60px;
    height:40px;
	padding:10px 21px;
}
.wdnVideo_controls .play_pause span {
    background:url('images/videoplayer/controls.png') no-repeat;
    width:18px;
    height:20px;
    display:block;
    text-indent:-99999px; 
}
.wdnVideo_controls .play_pause.play span {
    background-position:0px -20px;	
}
.wdnVideo_controls .volume, .wdnVideo_controls .fullscreen, .wdnVideo_controls .time, .wdnVideo_controls .progressBar {display:inline-block;}
.wdnVideo_controls .volume, .wdnVideo_controls .fullscreen {float:right;}
.wdnVideo_controls .time, .wdnVideo_controls .progressBar {float:left;}
.wdnVideo_controls .progress { /*width set by JS based on video width */
    display:inline-block;
    padding:6px 10px;
    max-height:30px;
    min-width:300px;
    left:80px;
    margin-top:10px;
}
.wdnVideo_controls .progress .time {
    font-size:0.8em;
    font-weight: bold;
    color:#fff;
    margin-right:5px;
    margin-top:1px;
}
.wdnVideo_controls .progress .progressBar {
    height:10px;
    width:60%;
    border:1px solid #fff;
    margin-top:3px;	
    position:relative;
    padding-right:3px;
}
.wdnVideo_controls .progress .progressBar span {
	background:#d37676;
	width:0%;
	height:10px;
	display:block;
	opacity:0.8;
	border-right:4px solid #fff;
}
#maincontent .wdnVideo_controls .progress .volume  {
    padding:0;
    margin: 4px 5px 0 0;	
}
.wdnVideo_controls .progress .volume li {
    display:inline-block;
    border-left:4px solid #fff;
    width:2px;
    height:10px;
    opacity:0.4;
    margin:0;
    padding:0px;
}
.wdnVideo_controls .progress .volume li.on {
    opacity:0.9;	
}
.wdnVideo_controls .progress .fullscreen {
    width:12px;
    height:12px;
    margin-top:4px;
    background:url('images/videoplayer/controls.png') no-repeat;
    background-position:-3px -44px;
    border:none;
}