/*
Yellow: bright
Blue: cool
Green: soothing
Orange: energetic
Gray: neutral
Red: primary

*/

/*Set the background of the div*/
#maincontent div.zenboxsolid, #maincontent div.zenbox2, #maincontent div.zenboxfixed, #maincontent div.zenboxfeature, #maincontent div.zenbox,
#maincontent div.zenboxsolid.bright, #maincontent div.zenboxfixed.bright, #maincontent div.zenboxfeature.bright, #maincontent div.zenbox.bright {
	border:1px solid #ededed;
    border-radius:5px;
    padding:5px;
    margin-bottom:1em;
    background: #f7f7f7;
}

#maincontent div.col_half.zenbox {
    width:98px;
}

#maincontent div.col.zenbox {
    width:218px;
}

#maincontent div.two_col.zenbox {
    width:458px;
}

#maincontent div.three_col.zenbox {
    width:698px;
}

#maincontent div.three_col.zenbox {
    width:938px;
}
/*Set the header <h3> */
#maincontent div.zenboxsolid h3, #maincontent div.zenboxfixed h3, #maincontent div.zenboxfeature h3, #maincontent div.zenbox h3,
#maincontent div.zenboxsolid.bright h3, #maincontent div.zenboxfixed.bright h3, #maincontent div.zenboxfeature.bright h3, #maincontent div.zenbox.bright h3 {
	background:url('../images/headingBGBright.png') repeat-x bottom;
	padding:5px;
	margin:-6px;
	color:#3a3a3a;
	margin-bottom:5px;
	font-size:1.1em;
	font-weight: bold;
}
/*This is a test 
  border and shadow effects are only supported in FF3.5+, Chrome 3+ (frame 4+), Safari 3.0+, Opera (?)
  IE7/8 do not support these CSS3 effects; but fall back to the square arrowed boxes just fine
 */

/* As long as we're testing effects, why not add a drop shadow? */
#maincontent div.zenbox2 {
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

/* And do the same for framed images? */
#maincontent img.zenframe
{
    border:1px solid #ededed;
    border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    background: #f7f7f7;
	padding:4px;
    margin: 0 0 10px 0;
	white-space:normal;
	line-height:0.8em;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#maincontent div.zenbox2 h3 {
	background:url('../images/bottom_shadow_medium.png') repeat-x bottom #f5e62f;
	color:#fff;
	padding:7px 7px 5px 7px;
	margin:-6px;
	margin-bottom:8px;
	font-size:1.1em;
	font-weight: bold;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
}
#maincontent div.zenbox2.bright h3 {
	background:url('../images/bottom_shadow_light.png') repeat-x bottom #f5e62f;
	color:#3a3a3a;
}
#maincontent div.zenbox2.cool h3 {
	background-color:#557BB7;
}
#maincontent div.zenbox2.energetic h3 {
	background:url('../images/bottom_shadow_light.png') repeat-x bottom #FA6520;
}
#maincontent div.zenbox2.soothing h3 {
	background-color:#028a02;
}
#maincontent div.zenbox2.neutral h3 {
	background-color:#3c3c3c;
}
#maincontent div.zenbox2.primary h3 {
	background-color:#ac0302;
	
}
/* End Test */
#maincontent div.zenboxsolid h3 a:link, #maincontent div.zenboxfixed h3 a, #maincontent div.zenboxfeature h3 a, #maincontent div.zenbox h3 a,
#maincontent div.zenboxsolid.bright h3 a, #maincontent div.zenboxfixed.bright h3 a, #maincontent div.zenboxfeature.bright h3 a, #maincontent div.zenbox.bright h3 a {
	color:#3a3a3a;
}

#maincontent div.zenbox div.zenbox.cool h3, #maincontent div.zenboxsolid.cool h3, #maincontent div.zenboxfixed.cool h3, #maincontent div.zenboxfeature.cool h3, #maincontent div.zenbox.cool h3 {
	background:url('../images/headingBGCool.png') repeat-x bottom;
	color:#ffffff;
}
#maincontent div.zenbox div.zenbox.energetic h3, #maincontent div.zenboxsolid.energetic h3, #maincontent div.zenboxfixed.energetic h3, #maincontent div.zenboxfeature.energetic h3, #maincontent div.zenbox.energetic h3 {
	background:url('../images/headingBGEnergetic.png') repeat-x bottom;
	color:#ffffff;
}
#maincontent div.zenbox div.zenbox.soothing h3, #maincontent div.zenboxsolid.soothing h3, #maincontent div.zenboxfixed.soothing h3, #maincontent div.zenboxfeature.soothing h3, #maincontent div.zenbox.soothing h3 {
	background:url('../images/headingBGSoothing.png') repeat-x bottom;
	color:#ffffff;
}
#maincontent div.zenbox div.zenbox.neutral h3, #maincontent div.zenboxsolid.neutral h3, #maincontent div.zenboxfixed.neutral h3, #maincontent div.zenboxfeature.neutral h3, #maincontent div.zenbox.neutral h3 {
	background:url('../images/headingBGNuetral.gif') repeat-x bottom;
	color:#ffffff;
}
#maincontent div.zenbox div.zenbox.primary h3, #maincontent div.zenboxsolid.primary h3, #maincontent div.zenboxfixed.primary h3, #maincontent div.zenboxfeature.primary h3, #maincontent div.zenbox.primary h3 {
	background:url('../images/headingBGPrimary.png') repeat-x bottom;
	color:#ffffff;
}
/*deal with the h3 a links*/
#maincontent div.zenbox div.zenbox.cool h3 a:link, #maincontent div.zenboxsolid.cool h3 a:link, #maincontent div.zenboxfixed.cool h3 a:link, #maincontent div.zenboxfeature.cool h3 a:link, #maincontent div.zenbox.cool h3 a:link,
#maincontent div.zenbox div.zenbox.energetic h3 a:link, #maincontent div.zenboxsolid.energetic h3 a:link, #maincontent div.zenboxfixed.energetic h3 a:link, #maincontent div.zenboxfeature.energetic h3 a:link, #maincontent div.zenbox.energetic h3 a:link,  
#maincontent div.zenbox div.zenbox.soothing h3 a:link, #maincontent div.zenboxsolid.soothing h3 a:link, #maincontent div.zenboxfixed.soothing h3 a:link, #maincontent div.zenboxfeature.soothing h3 a:link, #maincontent div.zenbox.soothing h3 a:link, 
#maincontent div.zenbox div.zenbox.neutral h3 a:link, #maincontent div.zenboxsolid.neutral h3 a:link, #maincontent div.zenboxfixed.neutral h3 a:link, #maincontent div.zenboxfeature.neutral h3 a:link, #maincontent div.zenbox.neutral h3 a:link, 
#maincontent div.zenbox div.zenbox.primary h3 a:link, #maincontent div.zenboxsolid.primary h3 a:link, #maincontent div.zenboxfixed.primary h3 a:link, #maincontent div.zenboxfeature.primary h3 a:link, #maincontent div.zenbox.primary h3 a:link{
	color:#ffffff;
}
/*Put the carrot in after the h3*/
#maincontent div.zenboxsolid h3:after, #maincontent div.zenboxfixed h3:after, #maincontent div.zenboxfeature h3:after, #maincontent div.zenbox h3:after {
	content:'';
	width:20px;
	height:10px;
	display:block;
	background:url('../images/downIndicators.png') no-repeat -20px;
	margin-left:30px;
	margin-top:5px;
}
#maincontent div.zenbox div.zenbox.cool h3:after, #maincontent div.zenboxsolid.cool h3:after, #maincontent div.zenboxfixed.cool h3:after, #maincontent div.zenboxfeature.cool h3:after, #maincontent div.zenbox.cool h3:after {
	background-position: -40px;
}
#maincontent div.zenbox div.zenbox.energetic h3:after, #maincontent div.zenboxsolid.energetic h3:after, #maincontent div.zenboxfixed.energetic h3:after, #maincontent div.zenboxfeature.energetic h3:after, #maincontent div.zenbox.energetic h3:after {
	background-position: -60px;
}
#maincontent div.zenbox div.zenbox.soothing h3:after, #maincontent div.zenboxsolid.soothing h3:after, #maincontent div.zenboxfixed.soothing h3:after, #maincontent div.zenboxfeature.soothing h3:after, #maincontent div.zenbox.soothing h3:after {
	background-position: -80px;
}
#maincontent div.zenbox div.zenbox.neutral h3:after, #maincontent div.zenboxsolid.neutral h3:after, #maincontent div.zenboxfixed.neutral h3:after, #maincontent div.zenboxfeature.neutral h3:after, #maincontent div.zenbox.neutral h3:after {
	background-position: -100px;
}
#maincontent div.zenbox div.zenbox.primary h3:after, #maincontent div.zenboxsolid.primary h3:after, #maincontent div.zenboxfixed.primary h3:after, #maincontent div.zenboxfeature.primary h3:after, #maincontent div.zenbox.primary h3:after {
	background-position: 0px;
}
/*Style the list elements*/
#maincontent div.zenboxsolid ul, #maincontent div.zenbox2 ul, #maincontent div.zenboxfixed ul, #maincontent div.zenboxfeature ul, #maincontent div.zenbox ul,
#maincontent div.zenboxsolid.bright ul, #maincontent div.zenboxfixed.bright ul, #maincontent div.zenboxfeature.bright ul, #maincontent div.zenbox.bright ul {
	list-style:none;
	padding: 0 10px 1.1em 10px;
}
#maincontent div.zenboxsolid ul li, #maincontent div.zenbox2 ul li, #maincontent div.zenboxfixed ul li, #maincontent div.zenboxfeature ul li, #maincontent div.zenbox ul li,
#maincontent div.zenboxsolid.bright ul li, #maincontent div.zenboxfixed.bright ul li, #maincontent div.zenboxfeature.bright ul li, #maincontent div.zenbox.bright ul li {
	border-bottom:1px dashed #c9c9c9;
	margin-left:-5px;
	padding:5px 0 3px 3px;
}
/*

#maincontent div.zenboxsolid.cool ul li, #maincontent div.zenboxfixed.cool ul li, #maincontent div.zenboxfeature.cool ul li, #maincontent div.zenbox.cool ul li {
	border-bottom:1px dashed #3e83c9;
}

#maincontent div.zenboxsolid.energetic ul li, #maincontent div.zenboxfixed.energetic ul li, #maincontent div.zenboxfeature.energetic ul li, #maincontent div.zenbox.energetic ul li {
	border-bottom:1px dashed #fa6520;
}

#maincontent div.zenboxsolid.soothing ul li, #maincontent div.zenboxfixed.soothing ul li, #maincontent div.zenboxfeature.soothing ul li, #maincontent div.zenbox.soothing ul li {
	border-bottom:1px dashed #3ec93e;
}

#maincontent div.zenboxsolid.neutral ul li, #maincontent div.zenboxfixed.neutral ul li, #maincontent div.zenboxfeature.neutral ul li, #maincontent div.zenbox.neutral ul li {
	border-bottom:1px dashed #3d3d3d;
}

#maincontent div.zenboxsolid.primary ul li, #maincontent div.zenboxfixed.primary ul li, #maincontent div.zenboxfeature.primary ul li, #maincontent div.zenbox.primary ul li {
	border-bottom:1px dashed #3d3d3d;
}*/