* {
    .box-sizing(border-box);
}

html {
    font-size: @base-font-size-sm;
    line-height: @base-line-height-sm;
    color: @base-text;
    .base-font();
    background-color: @page-background;
    // See #651
    //text-rendering: optimizeLegibility;

    @media @bp2 {
        font-size: @base-font-size-lg;
        line-height: @base-line-height-lg;
    }
}

body {
    background-image: data-uri('../images/bg.jpg');
}

q {
    quotes: '“' '”' '‘' '’';
    font-style: italic;
    
    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}

a {
    color: @brand;
    text-decoration: none;
    .transition(color 0.3s);

    .wdn-main p &, .wdn-main li > & {
        border-bottom-style: dotted;
        border-bottom-width: 1px;

        &.imagelink {
            border-bottom: none;
        }
    }

    &:hover, &:visited {
        color: darken(@brand, 10%);
    }
}
