// Accessible text hide
.wdn-text-hidden {
    font-size: 0;
    width: 1px;
    height: 1px; // allow VoiceOver to see the text
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
	clip: rect(1px, 1px, 1px, 1px); 
}

// Ability to center columns
.centered {
    float: none !important;
    margin: 0 auto !important;
}

// Float: left & right
.wdn-pull-left {
	float:left !important;  //applied to override grid float left
}

.wdn-pull-right {
	float:right !important; //applied to override grid float left
}

.clear {
    clear: both;
}

// Reset margin-top on elements
.clear-top {
    margin-top: 0 !important;
}

//Display visibility
.hidden {
    display: none !important;
}

.wdn-fouc-fix {
	visibility: hidden;
}

