// Modular Scale for vertical rythm: http://modularscale.com/scale/?px1=16&px2=54&ra1=1.333&ra2=0

// HEADERS

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: @heading-text;
    .heading-font;
    line-height: 1em;
    margin: 1em 0 1rem 0;
}

h1 { .rem(41,51); }
h2 { .rem(38,41); }
h3 { .rem(30,38); }
h4 { .rem(28,30); }
h5 { .rem(23,28); }
h6 { .rem(21,23); }

// Calculate margins above headers based on header size
p, span, div, ul, li, section, img {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: @base-line-height-sm * 1em;        

        @media @bp2 {
            margin-top: @base-line-height-lg * 1em;        
        }
    }
}

// All caps, Gotham header

.wdn-alt-header, .wdn-subhead {
    .sans-serif-font;
    line-height: 1.333;
    text-transform: uppercase;
}

.wdn-alt-header {
    .rem(13,16);
}

// SUBHEADS

.wdn-subhead {
    display: block;
    margin: 0.75em 0;       
    color: fadeout(@base-text, 20%);
}

    // Font sizes in relation to headers

    h1, h2, h3 {
        > .wdn-subhead, + .wdn-subhead {
            .rem(13,16);
        }
    }

    h4, h5, h6 {
        > .wdn-subhead, + .wdn-subhead {
            .rem(10,12);
        }
    }

.wdn-subhead {
   + h1, + h2, + h3, + h4, + h5, + h6  {
        margin-top: 0;
    }
}

p, span, div, ul, li, section, img {
    + .wdn-subhead {
        margin-bottom: 0;
    }
}

// PARAGRAPHS

p {
    margin: 1rem 0;
}

.wdn-heading {
    .heading-font;
}

.wdn-impact {
    .heading-font;
}

.wdn-brand {
    .brand-font;
}

.wdn-sans-serif {
    .sans-serif-font;
}

.wdn-list-reset {
    .list-reset;
}

// Magazine-style, larger introduction paragraph
.wdn-intro-p {
    .rem(17,21);
}

// ICON FONT - see /wdn/templates_4.0/fonts/fontello/readme.md

 @font-face {
  font-family: 'wdn-icon';
  src: url('../fonts/fontello/wdn-icon.eot?64658978');
  src: url('../fonts/fontello/wdn-icon.eot?64658978#iefix') format('embedded-opentype'),
       url('../fonts/fontello/wdn-icon.woff?64658978') format('woff'),
       url('../fonts/fontello/wdn-icon.ttf?64658978') format('truetype'),
       url('../fonts/fontello/wdn-icon.svg?64658978#wdn-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wdn-icon-"]:before, [class*=" wdn-icon-"]:before {
    .fontello();
}

.wdn-icon-search:before { content: '\e802'; } /* '' */
.wdn-icon-location:before { content: '\e07a'; } /* '' */
.wdn-icon-plus:before { content: '\e80c'; } /* '' */
.wdn-icon-minus:before { content: '\e80d'; } /* '' */
.wdn-icon-attention:before { content: '\e806'; } /* '' */
.wdn-icon-rss-squared:before { content: '\e811'; } /* '' */
.wdn-icon-menu:before { content: '\f0c9'; } /* '' */
.wdn-icon-wrench:before { content: '🔧'; } /* '\1f527' */
.wdn-icon-calendar:before { content: '\e812'; } /* '' */
.wdn-icon-calendar-empty:before { content: '\e810'; } /* '' */
.wdn-icon-angle-double-left:before { content: '\e80a'; } /* '' */
.wdn-icon-angle-double-right:before { content: '\e808'; } /* '' */
.wdn-icon-gplus:before { content: '\e81b'; } /* '' */
.wdn-icon-linkedin-squared:before { content: '\e814'; } /* '' */
.wdn-icon-youtube-play:before { content: '\e813'; } /* '' */
.wdn-icon-link:before { content: '\e81f'; } /* '' */
.wdn-icon-print:before { content: '\e901'; } /* '' */
.wdn-icon-share:before { content: '\e81c'; } /* '' */
.wdn-icon-right-open-mini:before { content: '\f0c8'; } /* '' */
.wdn-icon-phone:before { content: '\e902'; } /* '' */
.wdn-icon-key:before { content: '\e80e'; } /* '' */
.wdn-icon-ok:before { content: '\e80b'; } /* '' */
.wdn-icon-flickr:before { content: '\e816'; } /* '' */
.wdn-icon-vimeo:before { content: '\e817'; } /* '' */
.wdn-icon-pinterest:before { content: '\e818'; } /* '' */
.wdn-icon-tumblr:before { content: '\e819'; } /* '' */
.wdn-icon-instagram:before { content: '\e815'; } /* '' */
.wdn-icon-home:before { content: '\e903'; } /* '' */
.wdn-icon-up-small:before { content: '\e80f'; } /* '' */
.wdn-icon-mail:before { content: '\2709'; } /* '✉' */
.wdn-icon-cancel:before { content: '\e805'; } /* '' */
.wdn-icon-info:before { content: '\e807'; } /* '' */
.wdn-icon-twitter:before { content: '\e81d'; } /* '' */
.wdn-icon-twitter-circled:before { content: '\f057'; } /* '' */
.wdn-icon-facebook:before { content: '\e81e'; } /* '' */
.wdn-icon-facebook-circled:before { content: '\f051'; } /* '' */
.wdn-icon-foursquare:before { content: '\e81a'; } /* '' */
.wdn-icon-star-circled:before { content: '\e809'; } /* '' */
.wdn-icon-user:before { content: '\e800'; } /* '' */
.wdn-icon-comment:before { content: '\e803'; } /* '' */
.wdn-icon-comment-alt:before { content: '\e804'; } /* '' */
.wdn-icon-rocket:before { content: '\e801'; } /* '' */
