// Modular Scale for vertical rythm: http://modularscale.com/scale/?px1=16&px2=54&ra1=1.333&ra2=0

// Enable OpenType features
.kern {
    -webkit-font-feature-settings+: "kern"; /* No variation */
       -moz-font-feature-settings+: "kern" 1; /* Firefox 15.0 onwards explicitly set feature values */
            font-feature-settings+: "kern"; /* No variation */
}

.ligatures {
    -webkit-font-feature-settings+: "liga"; /* No variation */
       -moz-font-feature-settings+: "liga" 1; /* Firefox 15.0 onwards explicitly set feature values */
            font-feature-settings+: "liga"; /* No variation */
}

// GENERAL

.wdn-brand {
    .brand-font;
}

.wdn-sans-serif {
    .sans-serif-font;
}

.wdn-list-reset {
    .list-reset;
}

// HEADERS

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: @heading-text;
    .heading-font;
    line-height: 1em;
    margin: 1em 0 1rem 0;
    .kern();
}

h1 { .rem(41,51); }
h2 { .rem(38,41); }
h3 { .rem(30,38); }
h4 { .rem(28,30); }
h5 { .rem(23,28); }
h6 { .rem(21,23); }

// Calculate margins above headers based on header size
p, span, div, ul, li, section, img {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: @base-line-height-sm * 1em;

        @media @bp2 {
            margin-top: @base-line-height-lg * 1em;
        }
    }
}

.wdn-heading, .wdn-impact {
    .heading-font;
}

.wdn-brand-caps {
    .heading-font;
    text-transform: uppercase;
}

// All caps, Gotham header
.wdn-sans-caps {
    .sans-serif-font;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.wdn-alt-header {
    .wdn-sans-caps;
    .rem(13,16);
}

.wdn-list-header {
    .wdn-alt-header;
    padding: 1em 0 0.254em;
    border-bottom: 1px solid #d0cec6;

    @media @bp2 {
        padding: 1.333em 0 0.254em;
    }
}

// SUBHEADS

.wdn-subhead {
    .wdn-sans-caps;
    display: block;
    margin: 0.75em 0;
    color: fadeout(@base-text, 10%);
}

    // Font sizes in relation to headers

    h1, h2, h3 {
        > .wdn-subhead, + .wdn-subhead {
            .rem(13,16);
        }
    }

    h4, h5, h6 {
        > .wdn-subhead, + .wdn-subhead {
            .rem(10,12);
        }
    }

.wdn-subhead {
   + h1, + h2, + h3, + h4, + h5, + h6  {
        margin-top: 0;
    }
}

p, span, div, ul, li, section, img {
    + .wdn-subhead {
        margin-bottom: 0;
    }
}

// PARAGRAPHS

p {
    margin: 1rem 0;
}

// Magazine-style, larger introduction paragraph
.wdn-intro-p {
  .rem(17,21);
}

p.small {
  .rem(12,13);
}

// ICON FONT - see /wdn/templates_4.0/fonts/fontello/readme.md

@font-face {
  font-family: 'wdn-icon';
  src: url('../fonts/fontello/wdn-icon.eot?53294480');
  src: url('../fonts/fontello/wdn-icon.eot?53294480#iefix') format('embedded-opentype'),
       url('../fonts/fontello/wdn-icon.woff?53294480') format('woff'),
       url('../fonts/fontello/wdn-icon.ttf?53294480') format('truetype'),
       url('../fonts/fontello/wdn-icon.svg?53294480#wdn-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wdn-icon-"]:before, [class*=" wdn-icon-"]:before {
    .fontello();
}

.wdn-icon-gplus:before { content: '\e800'; } /* '' */
.wdn-icon-linkedin-squared:before { content: '\e801'; } /* '' */
.wdn-icon-youtube-play:before { content: '\e802'; } /* '' */
.wdn-icon-pinterest:before { content: '\e803'; } /* '' */
.wdn-icon-tumblr:before { content: '\e804'; } /* '' */
.wdn-icon-instagram:before { content: '\e805'; } /* '' */
.wdn-icon-flickr:before { content: '\e806'; } /* '' */
.wdn-icon-vimeo:before { content: '\e807'; } /* '' */
.wdn-icon-twitter:before { content: '\e808'; } /* '' */
.wdn-icon-twitter-circled:before { content: '\e809'; } /* '' */
.wdn-icon-facebook:before { content: '\e80a'; } /* '' */
.wdn-icon-facebook-circled:before { content: '\e80b'; } /* '' */
.wdn-icon-menu:before { content: '\e80c'; } /* '' */
.wdn-icon-search:before { content: '\e80d'; } /* '' */
.wdn-icon-user:before { content: '\e80e'; } /* '' */
.wdn-icon-share:before { content: '\e80f'; } /* '' */
.wdn-icon-location:before { content: '\e810'; } /* '' */
.wdn-icon-phone:before { content: '\e811'; } /* '' */
.wdn-icon-star-circled:before { content: '\e812'; } /* '' */
.wdn-icon-link:before { content: '\e813'; } /* '' */
.wdn-icon-comment:before { content: '\e814'; } /* '' */
.wdn-icon-cancel:before { content: '\e815'; } /* '' */
.wdn-icon-play-circled:before { content: '\e816'; } /* '' */
.wdn-icon-foursquare:before { content: '\e817'; } /* '' */
.wdn-icon-minus:before { content: '\e818'; } /* '' */
.wdn-icon-plus:before { content: '\e819'; } /* '' */
.wdn-icon-wrench:before { content: '\e81a'; } /* '' */
.wdn-icon-rocket:before { content: '\e81b'; } /* '' */
.wdn-icon-ok:before { content: '\e81c'; } /* '' */
.wdn-icon-up-small:before { content: '\e81d'; } /* '' */
.wdn-icon-angle-double-left:before { content: '\e81e'; } /* '' */
.wdn-icon-angle-double-right:before { content: '\e81f'; } /* '' */
.wdn-icon-mail:before { content: '\e820'; } /* '' */
.wdn-icon-attention:before { content: '\e821'; } /* '' */
.wdn-icon-calendar:before { content: '\e822'; } /* '' */
.wdn-icon-calendar-empty:before { content: '\e823'; } /* '' */
.wdn-icon-rss-squared:before { content: '\e824'; } /* '' */
.wdn-icon-key:before { content: '\e825'; } /* '' */
.wdn-icon-print:before { content: '\e826'; } /* '' */
.wdn-icon-home:before { content: '\e827'; } /* '' */
.wdn-icon-comment-alt:before { content: '\e828'; } /* '' */
.wdn-icon-info:before { content: '\e829'; } /* '' */
.wdn-icon-pause:before { content: '\e82a'; } /* '' */
