////////////////////////////////
// THEME / COMPONENTS / HEADINGS
////////////////////////////////


.unl .dcf-subhead {
  font-weight: 400;
  @include ls-2;
  @include lh-3;
}


.unl-heading-ornament::after {
  background-color: currentColor;
  content: '';
  display: block;
  height: 2px;
  margin-left: .03em;
  margin-top: 1rem;
  @include w-6;
}
