//////////////////////////////
// THEME / COMPONENTS / MODALS
//////////////////////////////


// Modal
.unl .dcf-modal[aria-hidden="true"] {
  transition: opacity $transition-duration-fade-out $transition-timing-fn-fade-out;
}


.unl .dcf-modal[aria-hidden="false"] {
  transition: opacity $transition-duration-fade-in $transition-timing-fn-fade-in;
}


// Modal Wrapper
.unl .dcf-modal-wrapper {
  max-height: 75vh;
  width: calc(100% - (2 * #{ms(12)}vw)); // Match width of .dcf-wrapper
}


// Modal Content
.unl .dcf-modal-content > *:last-child {
  margin-bottom: 0;
}
