//////////////////////////////
// THEME / COMPONENTS / HEROES
//////////////////////////////


// Hero Sizes
.unl .dcf-hero-sm {
  height: #{ms(22)}vh;
  max-height: #{ms(18)}em;
  min-height: #{ms(16)}em;
}


.unl .dcf-hero-md {
  height: #{ms(26)}vh;
  max-height: #{ms(22)}em;
  min-height: #{ms(20)}em;
}


.unl .dcf-hero-lg {
  height: #{ms(28)}vh;
  max-height: #{ms(24)}em;
  min-height: #{ms(22)}em;
}


// Page Title
.unl .dcf-page-title h1 {
  margin-top: 0;
}


.unl .dcf-page-title h1,
.unl .dcf-page-title h1 + .dcf-subhead {
  margin-bottom: 0; // Margin-bottom creates an unwanted vertical gap that shows the hero background-color.
}


.unl .dcf-page-title h1 + .dcf-subhead {
  margin-top: 1rem;
}


// Photo Credit
.unl .dcf-hero-photo-credit {
  margin: 0;
  right: $length-em-1;
  text-shadow: 1px 1px $length-em-4 fade-out($darkest-gray, .5);
  top: $length-em-6;
}
