*.espressostorage
/sandbox
*_old.css
.externalToolBuilders
.settings
.project
.buildpath
sharedcode/affiliate/less/buros.less
/wdn/templates_3.*
/UNL_WDNTemplates.sublime-*
/build/node_modules
/wdn/templates_*/css
/wdn/templates_*/scripts/compressed
.DS_Store
/vagrant/develop/.vagrant
/build/vendor
