@extends('theme.determinator')

@section('page_title')
    {{ $department->name }}
@endsection

@section('content')
<div class="dcf-wrapper">
    <div class="dcf-d-grid dcf-grid-cols-1 dcf-grid-cols-2@md">
        <div>
            <dl>
                <dt>Address</dt>
                <dd>
                    @include('department.partials.address', ['department' => $department, 'building_pool' => $building_pool])
                </dd>
                @if (isset($department->phone) && !empty($department->phone))
                    <dt>Phone</dt>
                    <dd>{{ $department->phone }}</dd>
                @endif
                @if (isset($department->email) && !empty($department->email))
                    <dt>Email</dt>
                    <dd>{{ $department->email }}</dd>
                @endif
                @if (isset($department->fax) && !empty($department->fax))
                    <dt>Fax</dt>
                    <dd>{{ $department->fax }}</dd>
                @endif
                @if (isset($department->website) && !empty($department->website))
                    <dt>Website</dt>
                    <dd>{{ $department->website }}</dd>
                @endif
                @if (isset($department->org_unit) && !empty($department->org_unit))
                    <dt>Org Unit</dt>
                    <dd>{{ $department->org_unit }}</dd>
                @endif
                @if (isset($department_parent) && !empty($department_parent))
                    <dt>Parent Department</dt>
                    <dd><a href="{{ route('department', ['dept_id' => $department_parent->org_unit]) }}">{{ $department_parent->name }}</a></dd>
                @endif
                @if (count($department_children) > 0)
                    <dt>Children Departments</dt>
                    <dd>
                        <ul>
                            @foreach ($department_children as $child)
                                <li><a href="{{ route('department', ['dept_id' => $child->org_unit]) }}">{{ $child->name }}</a></li>
                            @endforeach
                        </ul>
                    </dd>
                @endif
                @if ($department->aliases()->count() > 0)
                    <dt>Department Aliases</dt>
                    <dd>
                        <ul>
                            @foreach ($department->aliases()->get() as $alias)
                                <li>{{ $alias->name }}</li>
                            @endforeach
                        </ul>
                    </dd>
                @endif
                @if ($department->users()->count() > 0)
                    <dt>Department Editors</dt>
                    <dd>
                        <ul role="list">
                            @foreach ($department->users()->get() as $single_user)
                                <li class="dcf-d-flex dcf-flex-row dcf-ai-center dcf-gap-3">
                                    <img
                                        class="dcf-w-8 dcf-h-8 dcf-rounded"
                                        src="{{ route('avatar', ['net_id' => $single_user->username]) }}"
                                    >
                                    <a href="{{ route('person', ['net_id' => $single_user->username]) }}" target="_blank">
                                        {{ $single_user->username }}
                                    </a>
                                </li>
                            @endforeach
                        </ul>
                    </dd>
                @endif
            </dl>

            @if (Auth::check() && Auth::user()->hasAccessToDepartment($department->id))
                <p><a href="{{ route('myinfo.departments.edit', ['dept_id' => $department->org_unit]) }}">Want to edit this department's info?</a></p>
            @endif
        </div>
        <div>
            @include('partials.person_list', ['person_list' => $department_employees, 'person_list_title' => 'Employees', 'department_pool' => $department_pool])
        </div>
    </div>
</div>
@endsection
