///////////////////////////////////
// !THEME / UTILITIES / BACKGROUNDS
///////////////////////////////////


// !Scarlet
.unl-bg-scarlet { @include bg-scarlet(!important); }


// !Cream
.unl-bg-cream { @include bg-cream(!important); }


// !Light
.unl-bg-light-gray { @include bg-light(!important); }
.unl-bg-lighter-gray { @include bg-lighter(!important); }
.unl-bg-lightest-gray { @include bg-lightest(!important); }


// !Dark
.unl-bg-dark-gray { @include bg-dark(!important); }
.unl-bg-darker-gray { @include bg-darker(!important); }
.unl-bg-darkest-gray { @include bg-darkest(!important); }


// !Grit
.unl-bg-grit { @include bg-grit(!important); }
.webp .unl-bg-grit { @include bg-grit-webp(!important); }


// !Diagonal Stripes: Scarlet
.unl-bg-stripes-scarlet { @include bg-stripes-scarlet(!important); }


// !Diagonal Stripes: Dark
.unl-bg-stripes-dark { @include bg-stripes-dark(!important); }


// !Diagonal Stripes: Light
.unl-bg-stripes-light { @include bg-stripes-light(!important); }
