///////////////////////////////////
// !THEME / UTILITIES / BACKGROUNDS
///////////////////////////////////


// !Scarlet
.unl-u-bg-scarlet { @include bg-scarlet(!important); }


// !Cream
.unl-u-bg-cream { @include bg-cream(!important); }


// !Diagonal Pattern
.unl-u-bg-diagonal { @include bg-diagonal(!important); }
