/////////////////////////////
// !THEME / UTILITIES / FONTS
/////////////////////////////


// !Serif
.unl-u-font-serif {
  @include font-serif(!important);
}


// !Sans Serif
.unl-u-font-sans {
  @include font-sans(!important);
}


// !Display
.unl-u-font-display {
  @include font-display(!important);
}
