///////////////////////////////////////
// THEME / COMPONENTS / HEROES: DEFAULT
///////////////////////////////////////


.unl .dcf-hero-default {
  @include bg-lighter;
  @include mb-8;
  @include pt-5;
  @include pb-4;
}


.unl .dcf-hero-default .dcf-page-title {
  padding-left: $length-vw-2; // Add padding to equal the wrapper object's left padding
  padding-right: $length-vw-2; // Add padding to equal the wrapper object's right padding
  @include pt-6;
}
