////////////////////////////////
// !THEME / MIXINS / BACKGROUNDS
////////////////////////////////


// !Scarlet
@mixin bg-scarlet($imp:null) {
  background-color: $scarlet $imp;
}


// !Cream
@mixin bg-cream($imp:null) {
  background-color: $cream $imp;
}


// !Diagonal
@mixin bg-diagonal($imp:null) {
  background: repeating-linear-gradient($diagonal1, $scarlet, $scarlet 2px, transparent 2px, transparent 4px);
}
