.B1G {
  background: url(spriteSheet.png) -161px -61px no-repeat;
  display: block;
  width: 40px;
  height: 14px;
}

.bottomLeftCorner {
  background: url(spriteSheet.png) -198px -240px no-repeat;
  display: block;
  width: 5px;
  height: 5px;
}

.cic {
  background: url(spriteSheet.png) -161px -41px no-repeat;
  display: block;
  width: 46px;
  height: 18px;
}

.date1 {
  background: url(spriteSheet.png) -212px -202px no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.expand_toggle {
  background: url(spriteSheet.png) -110px -41px no-repeat;
  display: block;
  width: 28px;
  height: 60px;
}

.feed-icon-28x28 {
  background: url(spriteSheet.png) -64px -234px no-repeat;
  display: block;
  width: 28px;
  height: 28px;
}

.generic {
  background: url(spriteSheet.png) 0px 0px no-repeat;
  display: block;
  width: 108px;
  height: 108px;
}

.mime_cal {
  background: url(spriteSheet.png) -77px -110px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_clustan {
  background: url(spriteSheet.png) -105px -110px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_code {
  background: url(spriteSheet.png) -133px -110px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_document {
  background: url(spriteSheet.png) -161px -110px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_external {
  background: url(spriteSheet.png) -25px -153px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_film {
  background: url(spriteSheet.png) -53px -153px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_globe {
  background: url(spriteSheet.png) -81px -153px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_html {
  background: url(spriteSheet.png) -109px -153px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_image {
  background: url(spriteSheet.png) -137px -153px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_mail {
  background: url(spriteSheet.png) -165px -153px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_map {
  background: url(spriteSheet.png) -212px 0px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_music {
  background: url(spriteSheet.png) -212px -32px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_pdf {
  background: url(spriteSheet.png) -212px -64px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_presentation {
  background: url(spriteSheet.png) -212px -96px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_print {
  background: url(spriteSheet.png) -212px -128px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_rss {
  background: url(spriteSheet.png) -212px -160px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_spreadsheet {
  background: url(spriteSheet.png) 0px -202px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_vcard {
  background: url(spriteSheet.png) -28px -202px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.mime_zip {
  background: url(spriteSheet.png) -56px -202px no-repeat;
  display: block;
  width: 26px;
  height: 30px;
}

.newrecurevent {
  background: url(spriteSheet.png) -94px -234px no-repeat;
  display: block;
  width: 22px;
  height: 22px;
}

.ongoing {
  background: url(spriteSheet.png) -84px -202px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.pin_state {
  background: url(spriteSheet.png) -140px -41px no-repeat;
  display: block;
  width: 19px;
  height: 56px;
}

.right_arrow {
  background: url(spriteSheet.png) -136px -234px no-repeat;
  display: block;
  width: 15px;
  height: 16px;
}

.searchMagnifyGlass {
  background: url(spriteSheet.png) -189px -110px no-repeat;
  display: block;
  width: 18px;
  height: 19px;
}

.searchMagnifyGlass_mobile {
  background: url(spriteSheet.png) -193px -153px no-repeat;
  display: block;
  width: 15px;
  height: 16px;
}

.socialMedia {
  background: url(spriteSheet.png) 0px -110px no-repeat;
  display: block;
  width: 23px;
  height: 90px;
}

.tool_cal_bw {
  background: url(spriteSheet.png) -161px -77px no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.tool_cal_c {
  background: url(spriteSheet.png) -183px -77px no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.tool_cam_bw {
  background: url(spriteSheet.png) -116px -202px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_cam_c {
  background: url(spriteSheet.png) -148px -202px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_dir_bw {
  background: url(spriteSheet.png) -180px -202px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_dir_c {
  background: url(spriteSheet.png) -240px 0px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_map_bw {
  background: url(spriteSheet.png) -240px -32px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_map_c {
  background: url(spriteSheet.png) -240px -64px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_rss_bw {
  background: url(spriteSheet.png) -240px -96px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_rss_c {
  background: url(spriteSheet.png) -240px -128px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_siren_bw {
  background: url(spriteSheet.png) -240px -160px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_siren_c {
  background: url(spriteSheet.png) -240px -192px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_weat_bw {
  background: url(spriteSheet.png) 0px -234px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.tool_weat_c {
  background: url(spriteSheet.png) -32px -234px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}

.topRightCorner {
  background: url(spriteSheet.png) -169px -240px no-repeat;
  display: block;
  width: 5px;
  height: 5px;
}

.topSealb {
  background: url(spriteSheet.png) -25px -110px no-repeat;
  display: block;
  width: 50px;
  height: 41px;
}

.wdn_idmLogout {
  background: url(spriteSheet.png) -118px -234px no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.wordmark_white {
  background: url(spriteSheet.png) -110px 0px no-repeat;
  display: block;
  width: 100px;
  height: 39px;
}