/*
* FUNCTIONS
*/
.ie8-width () {
    min-width: 980px;
}

/*
* BASE
*/

.ie8 {
    position: relative;
    .ie8-width;
}

/*
* HEADER
*/
.ie8 {

    #logo {
        background: data-uri('../images/n_flag.png') no-repeat;
    }

    #header {
        background: data-uri('../images/stripes.png') repeat-x 0 -5px;
    }
}

/*
* FOOTER
*/
.ie8 {

    #footer .wdn-inner-wrapper {
        .ie8-width;
    }

    #wdn_footer_related ul {

        li {
            width: 22%;
            margin-left: 3%;
            float: left;
        }
    }

    #unl_wordmark {
        background-image: data-uri('../images/wordmark.png');
    }

    #cic_wordmark {
        background-image: data-uri('../images/cic.png');
    }

    #b1g_wordmark {
        background-image: data-uri('../images/b1g.png');
    }
}
