.ie8 {
	position: relative;
	min-width: 980px;
}

/*
* HEADER
*/
.ie8 {

    #logo {
        background: data-uri('../images/n_flag.png') no-repeat;
    }

    #header {
        background: data-uri('../images/stripes.png') repeat-x 0 -5px;
    }
}
