@charset "UTF-8";

@import "_mixins/all.less";

.hide() {
    display: none !important; 
}

.reset() {
	padding: 0;
	margin: 0;
}

html, body {
	background: none;
}

#maincontent a:after {
    content: " (" attr(href) ")" !important;
    display: inline !important;
    height: auto !important;
    width: auto !important;
    background: none !important;
}

.skipnav,
.wdn-icon-menu,
#wdn_social,
#wdn_app_wrapper,
#wdn_site_title span span,
#wdn_resources, 
#wdn_navigation_bar,
#footer { 
    .hide()
}

#header {
	.reset();
	padding-bottom: 60px;
	position: relative;
	background: none;
	border-bottom: #000 2px solid;
}

#logo, #wdn_institution_title, #wdn_site_title {
	.reset();
	position: absolute;
	background: none;
}

#logo {
	top: 0;
	left: 0;
	
	a {
		.hide();
	}
	
	&:before {
        content: url('../images/logo-print.png');
        height: 55px;
        width: 63px;
    }
}

#wdn_institution_title {
	top: 0;
	left: 72px;
}

#wdn_site_title {
	top: 21px;
	left: 72px;
}

#wdn_institution_title {
    .brand-font();
    .rem(17); 
}

#wdn_site_title {
	.rem(23);
	
	abbr[title]:before {
		.rem(17);
	}
}
