//////////////////////////////
// !THEME / VARIABLES / SIZING
//////////////////////////////


// Toggles for navigation, search, login and chat
$height-mobile-toolbar: #{ms(11)}em;

// Institution title, global nav links, identity management and search
$height-header-global-md: #{ms(7)}rem;

// Nebraska 'N' logo, site affiliation (optional) and site title
$height-logo-lockup-md: #{ms(13)}rem;

// Menu toggle and menu primary labels
$height-nav-menu-md: #{ms(9)}rem;

// Breadcrumbs
$height-breadcrumbs-md: #{ms(8)}rem;
