//////////////////////////////
// THEME / PRINT / BREADCRUMBS
//////////////////////////////


.unl .dcf-breadcrumbs ol {
  overflow-x: initial;
  overflow-y: initial;
  flex-wrap: wrap;
  padding-left: 0;
}
