////////////////////////
// THEME / PRINT / LINKS
////////////////////////


.unl .dcf-main a,
.unl .dcf-main a:visited {
  text-decoration: underline;
}


// Show the URL after each link
.unl .dcf-main a[href]::after {
  content: " (" attr(href) ")";
  font-size: 80%;
  word-wrap: break-word; // Break long URLs that don't fit the page width
}


// External links don't get this treatment
.unl .dcf-main a[href^="http://"]::after,
.unl .dcf-main a[href^="https://"]::after {
  content: " [" attr(href) "]";
}


// Don't show links that are fragment identifiers,
// or use the `javascript:` pseudo protocol
.unl .dcf-main a[href^="#"]:after,
.unl .dcf-main a[href^="javascript:"]:after {
  content: "";
}
