//////////////////////////////
// THEME / GENERIC / FONT FACE
//////////////////////////////


@font-face {
  font-family: 'LiberatorHeavyItalic';
  font-weight: 600;
  src: url('/wdn/templates_5.3/fonts/liberator/Liberator-HeavyItalic.woff2') format('woff2');
}
