/////////////////////////////
// THEME / VARIABLES / POPUPS
/////////////////////////////

@import '_variables.modular-scale';

// Duration
$popup-toggle-animation-duration: 125ms;

// Margin
$popup-toggle-margin: $length-em-4;

// Point size
$popup-toggle-point-size: $length-em-3;
