////////////////////////////
// THEME / VARIABLES / MARKS
////////////////////////////


@import '_variables.color-palette';
@import '_variables.modular-scale';
@import '_variables.sizing';


// Background color
$bg-color-mark-light-mode: $highlight;    // Background-color of <mark> (highlighted) text in light mode
$bg-color-mark-dark-mode: $highlight;     // Background-color of <mark> (highlighted) text in dark mode
$bg-color-mark: var(--bg-mark);


// Padding
$padding-bottom-mark: #{ms(-12)}em;       // Padding-bottom of <mark> (highlighted) text: .18em
$padding-left-mark: $length-em-1;         // Padding-left of <mark> (highlighted) text: .42em
$padding-right-mark: $length-em-1;        // Padding-right of <mark> (highlighted) text: .42em
$padding-top-mark: #{ms(-12)}em;          // Padding-top of <mark> (highlighted) text: .18em
