///////////////////////////////////
// THEME / VARIABLES / INPUT GROUPS
///////////////////////////////////


@import '_variables.color-palette';
@import '_variables.forms';
@import '_variables.modular-scale';


// Background color
$bg-color-input-group-addon-light-mode: $lightest-gray;                       // Input group add-on background-color in light mode
$bg-color-input-group-addon-dark-mode: $darker-gray-s1;                       // Input group add-on background-color in dark mode
$bg-color-input-group-addon: var(--bg-input-group-addon);


// Border color
$border-color-input-group-addon: var(--b-input);                              // Input group add-on border-color


// Border style
$border-style-input-group-addon: $border-style-input;                         // Input group add-on border-style


// Border width
$border-width-input-group-addon: $border-width-input;                         // Input group add-on border-width


// Color
$color-input-group-addon-light-mode: $dark-gray;                              // Input group add-on color in light mode
$color-input-group-addon-dark-mode: $gray-s1;                                 // Input group add-on color in dark mode
$color-input-group-addon: var(--input-group-addon);


// Font size
$font-size-input-group-addon: #{ms(-1)}em;                                    // Input group add-on font-size: .84em;


// Padding
$padding-bottom-input-group-addon: $padding-bottom-input;                     // Input group add-on padding-bottom
$padding-left-input-group-addon: $padding-left-input;                         // Input group add-on padding-left
$padding-right-input-group-addon: $padding-right-input;                       // Input group add-on padding-right
$padding-top-input-group-addon: $padding-top-input;                           // Input group add-on padding-top
