//////////////////////////////
// THEME / VARIABLES / NOTICES
//////////////////////////////


@import '_variables.body';


// Background color
$bg-color-notice-info: $info;           // Info notice background-color
$bg-color-notice-success: $success;     // Success notice background-color
$bg-color-notice-warning: $warning;     // Warning notice background-color
$bg-color-notice-danger: $danger;       // Danger notice background-color


// Color
$color-notice-info: $light-blue;        // Info notice color
$color-notice-success: $light-green;    // Success notice color
$color-notice-warning: $cream;          // Warning notice color
$color-notice-danger: $scarlet-tint;    // Danger notice color


// Position
$left-notices-overlay: $length-vw-2;    // Left position of overlay notice
$right-notices-overlay: $length-vw-2;   // Right position of overlay notice
$top-notices-overlay: $length-em-8;     // Top position of overlay notice
