//////////////////////////////
// THEME / VARIABLES / ANCHORS
//////////////////////////////


@import '_variables.color-palette';
@import '_variables.body';


// Color
$color-link-light-mode: $scarlet;                                 // Link color in light mode
$color-link-dark-mode: $light-cerulean;                           // Link color in dark mode
$color-link: var(--link);

$color-visited-light-mode: darken($color-link-light-mode, 10%);   // Visited color in light mode
$color-visited-dark-mode: $lighter-cerulean;                      // Visited color in dark mode
$color-visited: var(--visited);

$color-hover-light-mode: darken($color-link-light-mode, 10%);     // Hover color in light mode
$color-hover-dark-mode: $lighter-cerulean;                        // Hover color in dark mode
$color-hover: var(--hover);

$color-active-light-mode: darken($color-link-light-mode, 10%);    // Active color in light mode
$color-active-dark-mode: $lighter-cerulean;                       // Active color in dark mode
$color-active: var(--active);

$color-inverse-link-light-mode: $bg-color-body-light-mode;        // Inverse link color in light mode
$color-inverse-link-dark-mode: $bg-color-body-dark-mode;          // Inverse link color in dark mode
$color-inverse-link: var(--inverse-link);

$color-inverse-visited-light-mode: $bg-color-body-light-mode;     // Inverse visited color in light mode
$color-inverse-visited-dark-mode: $bg-color-body-dark-mode;       // Inverse visited color in dark mode
$color-inverse-visited: var(--inverse-visited);

$color-inverse-hover-light-mode: $bg-color-body-light-mode;       // Inverse hover color in light mode
$color-inverse-hover-dark-mode: $bg-color-body-dark-mode;         // Inverse hover color in dark mode
$color-inverse-hover: var(--inverse-hover);

$color-inverse-active-light-mode: $bg-color-body-light-mode;      // Inverse active color in light mode
$color-inverse-active-dark-mode: $bg-color-body-dark-mode;        // Inverse active color in dark mode
$color-inverse-active: var(--inverse-active);
