//////////////////////////////////
// THEME / VARIABLES / BACKGROUNDS
//////////////////////////////////


@import '_variables.color-palette';


// Background color
$bg-color-brand-alpha-light-mode: $color-brand-alpha;             // Alpha brand color (scarlet) in light mode
$bg-color-brand-alpha-dark-mode: $color-brand-alpha;              // Alpha brand color (scarlet) in dark mode

$bg-color-brand-zeta-light-mode: $green;                          // Zeta brand color (green) in light mode
$bg-color-brand-zeta-dark-mode: $light-green;                     // Zeta brand color (green) in dark mode

$bg-color-brand-eta-light-mode: $blue;                            // Eta brand color (blue) in light mode
$bg-color-brand-eta-dark-mode: $light-blue;                       // Eta brand color (blue) in dark mode

$bg-color-brand-theta-light-mode: $purple;                        // Theta brand color (purple) in light mode
$bg-color-brand-theta-dark-mode: $light-purple;                   // Theta brand color (purple) in dark mode

$bg-color-white-light-mode: $white;
$bg-color-white-dark-mode: $darker-gray-s1;

$bg-color-gray-light-light-mode: $light-gray;
$bg-color-gray-light-dark-mode: $darker-gray-s2;

$bg-color-gray-lighter-light-mode: $lighter-gray;
$bg-color-gray-lighter-dark-mode: $darker-gray-s3;

$bg-color-gray-lightest-light-mode: $lightest-gray;
$bg-color-gray-lightest-dark-mode: $darker-gray-s4;

$bg-color-overlay-dark-light-mode: fade-out($darkest-gray,.06);   // Dark overlay background-color for modals in light mode
$bg-color-overlay-dark-dark-mode: fade-out($black,.06);           // Dark overlay background-color for modals in dark mode

$bg-color-overlay-light-light-mode: fade-out($cream,.06);         // Light overlay background-color for modals in light mode
$bg-color-overlay-light-dark-mode: fade-out($black,.06);          // Light overlay background-color for modals in dark mode

$bg-color-dialog-light-mode: $white;                              // Dialog background-color in light mode
$bg-color-dialog-dark-mode: $darker-gray-s1;                      // Dialog background-color in dark mode
