/////////////////////////////
// THEME / VARIABLES / POPUPS
/////////////////////////////

@import '_variables.modular-scale';

// Duration
$animation-duration-popup: 125ms;

// Margin
$point-margin-popup: $length-em-4;

// Point size
$point-size-popup: $length-em-3;
