////////////////////////////////////
// THEME / VARIABLES / MODULAR SCALE
////////////////////////////////////


// Modular Scale - https://github.com/modularscale/modularscale-sass
@import '../functions/_functions.modular-scale';


// WDN Theme Settings
$modularscale: (
  base: 1 1.5,    // Define primary and secondary strands
  ratio: $fourth, // Define ratio
);
