///////////////////////////
// THEME / VARIABLES / BODY
///////////////////////////


@import '_variables.color-palette';


// Background color
$bg-color-body-light-mode: $cream;                      // Body background-color in light mode -- usually white, off-white, or very light gray
$bg-color-body-dark-mode: $darkest-gray;                // Body background-color in dark mode -- usually black or very dark gray


// Color
$color-body-light-mode: $darker-gray;                   // Body text color in light mode -- strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-body-dark-mode: $gray;                           // Body text color in dark mode -- strive for WCAG AAA (minimum contrast ratio of 7.0) for body text

$color-light-text-light-mode: $dark-gray;               // Light text color in light mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-light-text-dark-mode: $light-gray;               // Light text color in dark mode -- must meet WCAG AA (minimum contrast ratio of 4.5)

$color-inverse-light-mode: $bg-color-body-light-mode;   // Inverse text color in light mode
$color-inverse-dark-mode: $bg-color-body-dark-mode;     // Inverse text color in dark mode
