/////////////////////////////////
// THEME / VARIABLES / COLLAPSIBLE-FIELDSETS
/////////////////////////////////

$animation-duration-fieldset: 100ms;
$animation-duration-fieldset-contents: 250ms;
$animation-timing-fieldset: ease-in-out;
