///////////////////////////////////////////
// THEME / VARIABLES / HR (HORIZONTAL RULE)
///////////////////////////////////////////


@import '_variables.sizing';


// Border color
$border-color-hr: var(--b-light-gray);


// Border style
$border-style-hr: solid;


// Border width
$border-bottom-width-hr: 1px;
$border-top-width-hr: 0;


// Margin
$margin-bottom-hr: $length-em-4;
$margin-top-hr: $length-em-4;
