@import url('breadcrumbs.css');

#wdn_navigation_bar {
    width: 100%;
    clear: both;
}

#wdn_navigation_bar .expand_toggle {
    position: absolute;
    top: -20px;
    right: 3px;
    z-index: 101;
    height: 30px;
    width: 28px;
}

#wdn_navigation_bar .expand_toggle a {
    display: block;
    height: 100%;
    background-image: url(images/expand_toggle.png);
    background-repeat: no-repeat;
    text-indent: -9999em;
}

.nav_expanded #wdn_navigation_bar .expand_toggle a {
    background-position: 0 -30px;
}

.nav_pinned #wdn_navigation_bar .expand_toggle,
#wdn_navigation_bar .empty-secondary .expand_toggle,
#wdn_navigation_bar .empty-secondary .pin_state,
#wdn_navigation_bar .nav-loading .expand_toggle,
#wdn_navigation_bar .nav-loading .pin_state {
    display: none;
}

#wdn_navigation_bar .pin_state {
    position: absolute;
    bottom: -2px;
    right: -5px;
    z-index: 101;
    height: 28px;
    width: 19px;
}
#wdn_navigation_bar .pin_state a {
    display: block;
    height: 100%;
    background-image: url(images/pin_state.png);
    background-repeat: no-repeat;
    text-indent: -9999em;
}

.nav_pinned #wdn_navigation_bar .pin_state a {
    background-position: 0 -28px;
}

#wdn_navigation_wrapper {
    margin: 5px 0 17px;
    position: relative;
}

/* Unpinned/floating state */
.nav_unpinned #wdn_navigation_wrapper {
    position: absolute;
    z-index: 100;
}
.nav_unpinned #wdn_content_wrapper {
    margin-top: 56px; /* Default for single bar nav */
}

/* Resets */
#wdn_navigation_wrapper:after {
    content: " ";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    font-size: 0; 
    clear: both;
}

#wdn_navigation_wrapper nav {
    font-family: sans-serif;
    clear: both;
    position: relative;
    z-index: 100;
}
#wdn_navigation_wrapper nav > ul {
    float: left; 
    position: relative;
    width: 960px;
}
#wdn_navigation_wrapper nav a {
    color: #555555;
    text-decoration: none;
}

/* Primary Elements */
#wdn_navigation_wrapper nav > ul > li {
    width: 160px;
    float: left;
    text-align: center;
    position: relative;
}

/* Clear the first element of a row of 6 */
/* (duplicated in ie.css with .start class) */
#wdn_navigation_wrapper nav > ul > li:nth-child(6n+1) {
    clear: left;
}

/* Primary Links */
#wdn_navigation_wrapper nav > ul > li > a {
	color: rgb(255, 255, 255); /* Old browsers (must be separate for ie7) */
}
#wdn_navigation_wrapper nav > ul > li > a {
    display: block;
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 1px 1px 1px #424242;
    font-weight: 500;
    font-size: 0.875em;
    margin: auto 0;
    padding: 0.47em 2px;
    border-right: 1px solid #870d0c;
    border-left: 1px solid #c83a3a;
    
    background: #b70302; /* Old browsers */
    background: -moz-linear-gradient(top, #b70302 0%, #9d0201 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b70302), color-stop(100%,#9d0201)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b70302 0%,#9d0201 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b70302 0%,#9d0201 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b70302 0%,#9d0201 100%); /* IE10+ */
    background: linear-gradient(top, #b70302 0%,#9d0201 100%); /* W3C */
    /* Note: Removed IE gradient support for IE9 border radius preference */
}

/* Clear the first element of a row of 6 */
/* (duplicated in ie.css with .start class) */
#wdn_navigation_wrapper nav > ul > li:nth-child(6n+1) > a {
    border-left: none;
}

/* Clear the last element of a row of 6 */
/* (duplicated in ie.css with .end class) */
#wdn_navigation_wrapper nav > ul > li:nth-child(6n+6) > a {
    border-right: none;
}

/* Add a separator between rows */
/* (duplicated in ie.css with .mid-bar class) */
#wdn_navigation_wrapper nav > ul > li:nth-child(n+7) > a {
    border-top: 1px solid #c83a3a;
    box-shadow: 0px -1px 0px #870d0c;
}

/* Combine empty primary elements */
#wdn_navigation_wrapper nav > ul > li ~ li.empty > a {
    border-right-color: transparent;
    /* width: 159px; /* accommodate the missing border */
}
#wdn_navigation_wrapper nav > ul > li ~ li.empty ~ li.empty > a {
    border-left-color: transparent;
    /* width: 160px; /* accommodate the missing border */   
}

/* Round the corners of the top row */
#wdn_navigation_wrapper nav > ul > li:first-child > a {
    border-radius: 5px 0px 0 0; 
    -webkit-border-radius: 5px 0px 0 0; 
    -moz-border-radius: 5px 0px 0 0;
}
#wdn_navigation_wrapper nav > ul > li:nth-child(6) > a {
    border-radius: 0 5px 0 0; 
    -webkit-border-radius: 0 5px 0 0; 
    -moz-border-radius: 0 5px 0 0;
}

/* Hover states of primary elements */
#wdn_navigation_wrapper nav > ul > li:hover > a {
    background: #c12726; /* Old browsers */
    background: -moz-linear-gradient(top, #c12726 0%, #ac2625 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c12726), color-stop(100%,#ac2625)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c12726 0%,#ac2625 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c12726 0%,#ac2625 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c12726 0%,#ac2625 100%); /* IE10+ */
    background: linear-gradient(top, #c12726 0%,#ac2625 100%); /* W3C */
}
#wdn_navigation_wrapper nav > ul > li.empty:hover > a {
    background: #b70302; /* Old browsers */
    background: -moz-linear-gradient(top, #b70302 0%, #9d0201 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b70302), color-stop(100%,#9d0201)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b70302 0%,#9d0201 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b70302 0%,#9d0201 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #b70302 0%,#9d0201 100%); /* IE10+ */
    background: linear-gradient(top, #b70302 0%,#9d0201 100%); /* W3C */ 
    /* Note: Removed IE gradient support for IE9 border radius preference */
}
#wdn_navigation_wrapper nav > ul > li > a:hover {
	color: rgb(255, 255, 255) !important;
    color: rgba(255, 255, 255, 0.99) !important;
}

/* Secondaries */
#wdn_navigation_wrapper nav > ul > li > ul {
    position: relative;
    top: 0;
    width: 148px;
    padding: 3px 5px 3px 5px;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #c9c9c9;
    background: rgb(233,233,233);
    background: -moz-linear-gradient(top, rgba(251,251,251,0.95) 0%, rgba(215,215,215,0.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,0.95)), color-stop(100%,rgba(215,215,215,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* IE10+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2fbfbfb', endColorstr='#f2d7d7d7',GradientType=0 ); /* IE6-9 */
    filter: alpha(opacity = 95);
    background: linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* W3C */
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

/* Disable transitions class for instant calculations between states */
#wdn_navigation_wrapper nav.disableTransition > ul > li ul {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

/* Add strong border around first-in-row secondaries */
/* (duplicated in ie.css with .start class) */
#wdn_navigation_wrapper nav > ul > li:nth-child(6n+1) ul {
    border-left-color: #c9c9c9;
    margin-left: 0;
}

/* Add strong border around last-in-row secondaries */
/* (duplicated in ie.css with .end class) */
#wdn_navigation_wrapper nav > ul > li:nth-child(6n+6) > ul {
    border-right: 1px solid #c9c9c9 !important;
    margin-right: 0;
}

/* Round the corners of the bottom row */
#wdn_navigation_wrapper nav > ul > li:nth-last-child(6) > ul,
.empty-secondary #wdn_navigation_wrapper nav > ul > li:nth-last-child(6) > a,
#wdn_navigation_wrapper nav > ul > li.row-empty:nth-last-child(6) > a {
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;   
}
#wdn_navigation_wrapper nav > ul > li:last-child > ul,
.empty-secondary #wdn_navigation_wrapper nav > ul > li:last-child > a,
#wdn_navigation_wrapper nav > ul > li.row-empty:last-child > a {
	border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

.empty-secondary #wdn_navigation_wrapper nav > ul > li > ul,
#wdn_navigation_wrapper nav > ul > li.row-empty > ul {
	display: none;
}

/* Don't display the the secondary ul's for the top rows */
/* (duplicated in ie.css with .top-bars class) */
.nav_collapsed #wdn_navigation_wrapper nav > ul > li:nth-last-child(n+7) ul {
    padding-bottom: 0;
    padding-top: 0;
}

/* Force the last row height to 0 */
.nav_collapsed #wdn_navigation_wrapper nav > ul > li ul {
    height: 0 !important;
}

/* Collapse borders on empty secondaries */
#wdn_navigation_wrapper nav > ul > li ~ li.empty ul {
    border-right: none;
    width: 149px;
}
#wdn_navigation_wrapper nav > ul > li ~ li.empty ~ li.empty ul {
    border-left: none;
    width: 150px;
}
/* (duplicated in ie.css with .end class) */
#wdn_navigation_wrapper nav > ul > li ~ li.empty ~ li.empty:nth-child(6n+6) ul {
    width: 149px;
}
#wdn_navigation_wrapper nav > ul > li ~ li.empty:nth-child(6n+6) ul {
    width: 148px;
}

/* Hover states for secondaries */
#wdn_navigation_wrapper nav > ul > li:hover ul {
    /* http: //www.colorzilla.com/gradient-editor/#fbfbfb+0,f0f0f0+100;Custom */
    background: rgb(251,251,251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(251,251,251,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
}
#wdn_navigation_wrapper nav > ul > li.empty:hover ul {
    background: rgb(233,233,233);
    background: -moz-linear-gradient(top, rgba(251,251,251,0.95) 0%, rgba(215,215,215,0.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,0.95)), color-stop(100%,rgba(215,215,215,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* IE10+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2fbfbfb', endColorstr='#f2d7d7d7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(251,251,251,0.95) 0%,rgba(215,215,215,0.95) 100%); /* W3C */
}

/* Secondary elements */
#wdn_navigation_wrapper nav > ul > li ul li {
    clear: both;
    padding: 0 5px;
    margin: 0;
    text-align: left;
}

/* Hide the secondary elements during transition */
.nav_collapsed #wdn_navigation_wrapper nav > ul > li ul li,
.nav_changing #wdn_navigation_wrapper nav > ul > li ul li,
.nav_collapsed .pin_state,
.nav_changing .pin_state {
    display: none;
}

/* Secondary links */
#wdn_navigation_wrapper nav > ul > li ul li a {
    font-size: 0.71em;
    padding: 3px 0px 3px 0px;
    font-weight: normal;
    display: block;
    border-bottom: 1px dotted #bababa;
    line-height: 1.14em;
}
#wdn_navigation_wrapper nav > ul > li:hover ul a {
    color: #242424;
}
#wdn_navigation_wrapper nav > ul > li ul li a:hover {
    color: #BA0000;
}
#wdn_navigation_wrapper nav > ul > li ul li img {
    display: none !important;
}

/* Format the last secondary link */
/* (duplicated in ie.css with .last class) */
#wdn_navigation_wrapper nav > ul > li ul li:last-child > a {
    border-bottom: none;
}
#wdn_navigation_wrapper nav > ul > li ul li > ul {
	border-bottom: none;
}
#wdn_navigation_wrapper nav > ul > li ul li:last-child >ul {
    border-top:1px dotted #bababa;	
}
#wdn_navigation_wrapper nav > ul > li ul li:last-child > ul li:last-child > a {
    border-bottom:none;
}
#wdn_navigation_wrapper nav > ul > li ul li > ul li:last-child > a {
    border-bottom:1px dotted #bababa;
}
#local_search{
    display:none;
}
