//////////////////////////////
// THEME / COMPONENTS / GLOBAL
//////////////////////////////


.unl-institution-title-ls {
  letter-spacing: #{ms(-8)}em; // custom letter-spacing for space after italicized 'of' in institution title
}


.unl .dcf-main-content > :last-child:not(.dcf-bleed) {
  // Provide adequate default vertical spacing between main content and footer.
  // Use the .dcf-mb-0 utility class as needed to remove this margin and place
  // content adjacent to the footer.
  @include mb-8;
}


.unl-frame-quad {
  clip-path: polygon(0 0,0 100%,2px 100%,2px 2px,calc(100% - 2px) 2px,calc(100% - 2px) calc(100% - 2px),2px calc(100% - 2px),2px calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),calc(100% - 5px) 5px,5px 5px,5px calc(100% - 5px),2px calc(100% - 5px),2px 100%,100% 100%,100% 0);
}


// TODO: replace with clip-path method?
.unl-frame-circle {
  position: relative;
}

.unl-frame-circle::after {
  border: 3px solid $bg-color-body; // Match body background-color
  border-radius: $circle;
  content: '';
  height: calc(100% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: calc(100% - 4px);
}

.unl-frame-circle > img {
  display: block;
}
