//////////////////////////////
// THEME / COMPONENTS / HEADER
//////////////////////////////


.unl .dcf-header a.dcf-institution-title:link,
.unl .dcf-header a.dcf-institution-title:visited,
.unl .dcf-header-global button {
  color: $color-brand-alpha; // Force visited links in the global header and logo to remain scarlet (light mode) and lightest gray (dark mode).
}


.unl .dcf-site-group {
  min-height: #{ms(8)}em; // Vertically center site group (affiliation and title) by providing a minimum height equal to the adjacent Nebraska N logo.
}


.unl .dcf-site-affiliation a {
  display: inline-block;
  padding-bottom: #{ms(-6)}em;
}


.unl .dcf-site-group a,
.unl .dcf-site-group a:visited {
  color: $color-heading;
}


.unl .dcf-header a.dcf-institution-title:hover,
.unl .dcf-header-global button:hover,
.unl .dcf-site-group a:hover {
  color: $color-hover;
}


@include mq(md, max, width) {

  .unl .dcf-header .dcf-institution-title {
    display: none;
  }


  .unl .dcf-logo-lockup {
    @include pb-4;
    @include pt-5;
  }

}


@include mq(md, min, width) {

  .unl .dcf-header-global {
    border-bottom: 1px solid $border-color-gray-light;
    padding-top: #{ms(-12)}em;
  }


  .unl .dcf-nav-global {
    flex-grow: 3;
  }


  .unl .dcf-header-global-item {
    margin-left: $length-vw-1;
  }


  .unl .dcf-logo-lockup {
    padding-bottom: #{ms(1)}em;
    @include pt-5;
  }

}
