///////////////////////////////////////
// THEME / COMPONENTS / FORMS - SELECTS
///////////////////////////////////////


.unl .dcf-input-select, // TODO: deprecate?
.unl .dcf-form select {
  transition: border-color $transition-duration-hover-off $transition-timing-fn-hover-off, box-shadow $transition-duration-hover-off $transition-timing-fn-hover-off;
}


.unl .dcf-input-select:hover, // TODO: deprecate?
.unl .dcf-form select:hover {
  transition: border-color $transition-duration-hover-on $transition-timing-fn-hover-on;
}


.unl .dcf-input-select:focus, // TODO: deprecate?
.unl .dcf-form select:focus {
  box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px var(--b-input-focus);
  transition: box-shadow $transition-duration-hover-on $transition-timing-fn-hover-on;
}


// Override dark mode select arrow color until dark mode is launched
// TODO: remove after dark mode launch
@media (prefers-color-scheme: dark) {

  .unl .dcf-form select,
  .unl .dcf-input-select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodecolor($color-select-arrow-light-mode)}' d='M23.9 2.3c-.1-.2-.2-.3-.4-.3H.5c-.2 0-.3.1-.4.3-.1.1-.1.3 0 .5l11.5 19c.1.1.3.2.4.2s.3-.1.4-.2l11.5-19c.1-.2.1-.4 0-.5z'/%3E%3C/svg%3E"), linear-gradient(var(--bg-select-1), var(--bg-select-2));
  }

}
