body.unl\@dark {
  --bg-badge: #e3e3e2;
  --bg-body: #171716;
  --bg-btn-inverse-primary: #e3e3e2;
  --bg-btn-inverse-secondary: transparent;
  --bg-btn-inverse-tertiary: transparent;
  --bg-btn-primary: #e3e3e2;
  --bg-btn-primary-hover: #fff;
  --bg-btn-secondary: transparent;
  --bg-btn-secondary-tertiary-hover: hsla(0,0%,100%,0.07);
  --bg-btn-tertiary: transparent;
  --bg-card: #242423;
  --bg-code: hsla(0,0%,100%,0.1);
  --bg-input: #000;
  --bg-input-group-addon: #242423;
  --bg-kbd: #000;
  --bg-light-gray: #1c1c1d;
  --bg-lighter-gray: #141415;
  --bg-lightest-gray: #09090a;
  --bg-mark: #ff0;
  --bg-modal-header: #171716;
  --bg-modal-wrapper: #171716;
  --bg-overlay-dark: rgba(0,0,0,0.94);
  --bg-overlay-light: rgba(0,0,0,0.94);
  --bg-pre: rgba(0,0,0,0.05);
  --bg-radio: #f6f6f5;
  --bg-scarlet: #d00000;
  --bg-select-1: #424240;
  --bg-select-2: #242423;
  --bg-table-stripe: #242423;
  --bg-tab-selected: #242423;
  --bg-tabs-panel: #242423;
  --bg-white: #000;
  --b: #424240;
  --b-breadcrumb-arrow: #c7c8ca;
  --b-btn-primary: #e3e3e2;
  --b-btn-primary-hover: #fff;
  --b-btn-secondary: currentColor;
  --b-btn-tertiary: transparent;
  --b-btn-inverse-primary: #e3e3e2;
  --b-btn-inverse-secondary: currentColor;
  --b-btn-inverse-tertiary: transparent;
  --b-checkmark: #f6f6f5;
  --b-fieldset: #424240;
  --b-input: #6b6b68;
  --b-input-checked: #f6f6f5;
  --b-input-focus: #fefdfa;
  --b-input-group-addon: #6b6b68;
  --b-input-hover: #c7c8ca;
  --b-table: #424240;
  --b-tab: #424240;
  --b-tabs-panel: #424240;
  --active: #fff;
  --badge: #242423;
  --body: #f6f6f5;
  --brand-alpha: #f6f6f5;
  --btn-inverse-primary: #d00000;
  --btn-inverse-secondary: #e3e3e2;
  --btn-inverse-tertiary: #e3e3e2;
  --btn-primary: #d00000;
  --btn-secondary: #e3e3e2;
  --btn-secondary-tertiary-hover: #fff;
  --btn-tertiary: #e3e3e2;
  --caption: #fefdfa;
  --code: #fff;
  --dark-gray: #e3e3e2;
  --darker-gray: #ebebea;
  --darkest-gray: #f6f6f5;
  --figcaption: #e3e3e2;
  --form-help: #e3e3e2;
  --heading: #fefdfa;
  --hover: #fff;
  --input-group-addon: #e3e3e2;
  --inverse: #171716;
  --inverse-active: #171716;
  --inverse-hover: #171716;
  --inverse-link: #171716;
  --inverse-visited: #171716;
  --kbd: #0f0;
  --link: #f6f6f5;
  --select: #f6f6f5;
  --tab-selected: #c7c8ca;
  --visited: #f6f6f5;
}
