////////////////////////////
// THEME / DEPRECATED / TABS
////////////////////////////


.wdn_tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.wdn_tabs > li {
//   background-color: mix($cream, $gray, 98%);
  background-color: adjust-color($cream, $saturation: -1);
  border-radius: $roundrect;
  @include mr-3;

//   @media (prefers-color-scheme: dark) {
//     background-color: adjust-color($bg-color-body-dark-mode, $saturation: -1);
//   }
}

.wdn_tabs > li.selected {
  background-color: var(--bg-tab-selected);
  border-radius: $roundrect $roundrect 0 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  position: relative;
}

.wdn_tabs > li.selected::after {
  background-color: var(--bg-tab-selected);
  bottom: -3px;
  content: '';
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.wdn_tabs > li a {
  border: 0;
  display: block;
  padding: #{ms(-2)}em #{ms(0)}em;
}

.wdn_tabs > li.selected a {
  @include pb-2;
}

// old sub-tabs may still exist in markup
.wdn_tabs > li ul {
  padding: 0 0 0 .4rem;
}

.wdn_tabs_content {
  background-color: var(--bg-tabs-panel);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: #{ms(6)}em #{ms(4)}em;
}
