.wdn-infographic {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.wdn-infographic .stat,
.wdn-infographic .stat-helper {
  display: block;
  line-height: 1;
}

.wdn-infographic .stat {
  @include txt-h3;
  font-weight: 700;
  letter-spacing: -.03em;
  margin-bottom: #{ms(-12)}em;
  margin-left: -.03em;
}

.wdn-infographic .stat-helper {
  @include txt-xs;
  @include lh-3;
}

.wdn-infographic .wdn-info-icon {
  background-position: center bottom;
  background-repeat: no-repeat;
  @include mb-1;
  min-height: 142px;
  min-width: 180px;
}


[class*="wdn-infographic-rate"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/rate.svg');
}

[class*="wdn-infographic-globe"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/globe.svg');
}

[class*="wdn-infographic-world"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/world.svg');
}

[class*="wdn-infographic-people"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/people.svg');
}

[class*="wdn-infographic-star"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/star.svg');
}

[class*="wdn-infographic-internships"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/internships.svg');
}

[class*="wdn-infographic-ratio"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/ratio.svg');
}

[class*="wdn-infographic-countries"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/countries.svg');
}

[class*="wdn-infographic-international"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/international.svg');
}

[class*="wdn-infographic-dollar"] .wdn-info-icon {
  background-image: url('../images/deprecated/infographics/dollar.svg');
}
