/////////////////////////////
// THEME / DEPRECATED / FORMS
/////////////////////////////


// Form
form ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul.wdn-std { // restore browser defaults, assumes LTR
  list-style-type: disc;
	margin: 1em 0;
	padding-left: 40px;
}

form ul.wdn-std li { // restore browser defaults, assumes LTR
  margin: 0;
}

form input[type="email"],
form input[type="password"],
form input[type="search"],
form input[type="text"],
form input[type="url"],
form input[type="number"],
form input[type="tel"],
form textarea {
  appearance: none;
  background-color: var(--bg-input);
  border: 1px solid var(--b-input);
  border-radius: $roundrect;
  color: inherit;
  font-family: inherit;
  padding: $padding-top-input $padding-right-input $padding-bottom-input $padding-left-input;
  transition: border-color $transition-duration-hover-off $transition-timing-fn-hover-off, box-shadow $transition-duration-hover-off $transition-timing-fn-hover-off;
  width: 100%;

  &:hover {
    border-color: var(--b-input-hover);
    transition: border-color $transition-duration-hover-on $transition-timing-fn-hover-on;
  }

  &:focus {
    border-color: var(--b-input-focus);
    box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px var(--b-input-focus);
    outline: none;
    transition: box-shadow $transition-duration-hover-on $transition-timing-fn-hover-on;
  }

}


@keyframes wdn-error {

  from {
    border: 1px solid $scarlet;
    box-shadow: 0 0 6px fadeout($scarlet, 20%);
  }

  to {
    border: 1px solid fadeout($scarlet, 80%);
    box-shadow: 0 0 6px fadeout($scarlet, 90%);
  }

}

form input.wdn-error,
form textarea.wdn-error,
form select.wdn-error {
  animation: wdn-error 1.2s infinite alternate;
  border: 1px solid $scarlet;
}

form span.required {
  color: $scarlet;
  @include txt-xs;
  font-style: italic;
}

form span.helper {
  color: $color-light-text-light-mode;
  @include txt-xs;
}


// Input Group
.wdn-input-group {
  display: flex;
  width: 100%;
}

.wdn-input-group input[type='text'] {
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
  width: 1%;
}

.wdn-input-group-btn {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-left: -1px;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}


// Button
main button,
main input[type='button'],
main input[type='submit'],
.wdn-button,
.wdn-input-group-btn button,
.wdn-input-group-btn input {
  appearance: none;
  border-radius: $roundrect;
  border-style: $border-style-button;
  border-width: $border-width-button;
  cursor: pointer;
  @include txt-sm;
  font-weight: bold;
  line-height: $line-height-button;
  padding: $padding-top-button $padding-right-button $padding-bottom-button $padding-left-button;
  text-align: center;
}

main button:focus,
main input[type='button']:focus,
main input[type='submit']:focus,
.wdn-button:focus,
.wdn-input-group-btn button:focus,
.wdn-input-group-btn input:focus {
  outline: none;
}

main input[type='submit'],
.wdn-button {
  display: inline-block;
  text-decoration: none;
}

.wdn-input-group-btn button,
.wdn-input-group-btn input {
  align-self: stretch;
  display: flex;
}


// Primary Button
main button,
main input[type='button']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary),
main input[type='submit']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary),
.wdn-button,
.wdn-button-brand,
.wdn-input-group-btn button,
.wdn-input-group-btn input,
a.wdn-button:link,
a.wdn-button-brand:link,
a.wdn-button:visited,
a.wdn-button-brand:visited {
  background-color: var(--bg-btn-primary);
  border-color: var(--b-btn-primary);
  color: var(--btn-primary);
  transition: background-color $transition-duration-hover-off $transition-timing-fn-hover-off, border-color $transition-duration-hover-off $transition-timing-fn-hover-off, box-shadow $transition-duration-hover-off $transition-timing-fn-hover-off, color $transition-duration-hover-off $transition-timing-fn-hover-off;
}

main button:hover,
main input[type='button']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):hover,
main input[type='submit']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):hover,
.wdn-button:hover,
.wdn-button-brand:hover,
.wdn-input-group-btn button:hover,
.wdn-input-group-btn input:hover {
  transition: background-color $transition-duration-hover-on $transition-timing-fn-hover-on, border-color $transition-duration-hover-on $transition-timing-fn-hover-on, color $transition-duration-hover-on $transition-timing-fn-hover-on;
}

main button:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):not(:disabled):hover,
main input[type='button']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):not(:disabled):hover,
main input[type='submit']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):not(:disabled):hover,
.wdn-button:not(:disabled):hover,
.wdn-button-brand:not(:disabled):hover,
.wdn-input-group-btn button:not(:disabled):hover,
.wdn-input-group-btn input:not(:disabled):hover,
main button:not(:disabled):active,
main input[type='button']:not(:disabled):active,
main input[type='submit']:not(:disabled):active,
.wdn-button:not(:disabled):active,
.wdn-button-brand:not(:disabled):active,
.wdn-input-group-btn button:not(:disabled):active,
.wdn-input-group-btn input:not(:disabled):active {
  background-color: var(--bg-btn-primary-hover);
  border-color: var(--b-btn-primary-hover);
}

main button:focus,
main input[type='button']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):focus,
main input[type='submit']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):focus,
.wdn-button:focus,
.wdn-button-brand:focus,
.wdn-input-group-btn button:focus,
.wdn-input-group-btn input:focus {
  box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px var(--b-btn-primary);
  transition: box-shadow $transition-duration-hover-on $transition-timing-fn-hover-on;
}

main button:focus:hover,
main input[type='button']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):focus:hover,
main input[type='submit']:not(.dcf-btn-secondary):not(.dcf-btn-tertiary):not(.dcf-btn-inverse-primary):not(.dcf-btn-inverse-secondary):not(.dcf-btn-inverse-tertiary):focus:hover,
.wdn-button:focus:hover,
.wdn-button-brand:focus:hover,
.wdn-input-group-btn button:focus:hover,
.wdn-input-group-btn input:focus:hover,
main button:active,
main input[type='button']:active,
main input[type='submit']:active,
.wdn-button:active,
.wdn-button-brand:active,
.wdn-input-group-btn button:active,
.wdn-input-group-btn input:active {
  box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px var(--b-btn-primary-hover);
}


// Secondary Button
.wdn-button-complement,
.wdn-button-energetic,
.wdn-button-triad,
main button.wdn-button-complement,
main button.wdn-button-energetic,
main button.wdn-button-triad,
main input[type='button'].wdn-button-complement,
main input[type='button'].wdn-button-energetic,
main input[type='button'].wdn-button-triad,
main input[type='submit'].wdn-button-complement,
main input[type='submit'].wdn-button-energetic,
main input[type='submit'].wdn-button-triad,
a.wdn-button-complement:link,
a.wdn-button-energetic:link,
a.wdn-button-triad:link,
a.wdn-button-complement:visited,
a.wdn-button-energetic:visited,
a.wdn-button-triad:visited {
  background-color: var(--bg-btn-secondary);
  border-color: var(--b-btn-secondary);
  color: var(--btn-secondary);
}

.wdn-button-complement:not(:disabled):hover,
.wdn-button-energetic:not(:disabled):hover,
.wdn-button-triad:not(:disabled):hover,
main button.wdn-button-complement:not(:disabled):hover,
main button.wdn-button-energetic:not(:disabled):hover,
main button.wdn-button-triad:not(:disabled):hover,
main input[type='button'].wdn-button-complement:not(:disabled):hover,
main input[type='button'].wdn-button-energetic:not(:disabled):hover,
main input[type='button'].wdn-button-triad:not(:disabled):hover,
main input[type='submit'].wdn-button-complement:not(:disabled):hover,
main input[type='submit'].wdn-button-energetic:not(:disabled):hover,
main input[type='submit'].wdn-button-triad:not(:disabled):hover,
.wdn-button-complement:not(:disabled):active,
.wdn-button-energetic:not(:disabled):active,
.wdn-button-triad:not(:disabled):active,
main button.wdn-button-complement:not(:disabled):active,
main button.wdn-button-energetic:not(:disabled):active,
main button.wdn-button-triad:not(:disabled):active,
main input[type='button'].wdn-button-complement:not(:disabled):active,
main input[type='button'].wdn-button-energetic:not(:disabled):active,
main input[type='button'].wdn-button-triad:not(:disabled):active,
main input[type='submit'].wdn-button-complement:not(:disabled):active,
main input[type='submit'].wdn-button-energetic:not(:disabled):active,
main input[type='submit'].wdn-button-triad:not(:disabled):active {
  background-color: var(--bg-btn-secondary-tertiary-hover);
  color: var(--btn-secondary-tertiary-hover);
}

.wdn-button-complement:focus,
.wdn-button-energetic:focus,
.wdn-button-triad:focus,
.wdn-button-complement:focus:hover,
.wdn-button-energetic:focus:hover,
.wdn-button-triad:focus:hover,
.wdn-button-complement:active,
.wdn-button-energetic:active,
.wdn-button-triad:active {
  box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px currentColor;
}


// Outline Button
.wdn-button-outline,
.wdn-button-outline:active,
main input[type='button'].wdn-button-outline,
main input[type='submit'].wdn-button-outline,
a.wdn-button-outline:link,
a.wdn-button-outline:visited,
a.wdn-button-outline:active {
  background-color: var(--bg-btn-inverse-secondary);
  border-color: var(--b-btn-inverse-secondary);
  color: var(--btn-inverse-secondary);
}

.wdn-button-outline:not(:disabled):hover,
main input[type='button'].wdn-button-outline:not(:disabled):hover,
main input[type='submit'].wdn-button-outline:not(:disabled):hover,
.wdn-button-outline:not(:disabled):active
main input[type='button'].wdn-button-outline:not(:disabled):active,
main input[type='submit'].wdn-button-outline:not(:disabled):active {
  background-color: $bg-color-button-inverse-secondary-tertiary-hover;
  border-color: var(--b-btn-inverse-secondary);
  color: $color-button-inverse-secondary-tertiary-hover;
}

.wdn-button-outline:focus,
.wdn-button-outline:focus:hover,
.wdn-button-outline:active {
  border-color: var(--b-btn-inverse-secondary);
  box-shadow: 0 0 0 3px $color-link-light-mode, 0 0 0 5px currentColor;
}


// Webform opt-out
.wdn-webform-opt-out ol,
.wdn-webform-opt-out ul {
  padding-left: 1em;
}

.wdn-webform-opt-out ol {
  list-style-type: decimal;
}

.wdn-webform-opt-out ul {
  list-style-type: disc;
}

.wdn-webform-opt-out li {
  margin: 0;
}

.wdn-webform-opt-out li li {
  margin: 0;
}
