/////////////////////////
// THEME / PRINT / HEADER
/////////////////////////


.unl .dcf-header-global,
.unl .dcf-logo-lockup {
  border-bottom: 1px solid #ccc !important;
}


.unl .dcf-header-global {
  border-top: none !important;
}


.unl .dcf-logo-lockup {
  padding-bottom: 1.13em !important;
  padding-top: 1.33em !important;
}
