///////////////////////////////
// THEME / DEPRECATED / COLUMNS
///////////////////////////////


.wdn-two-flow-columns {
  column-count: 2;
  column-gap: 3.16vw;
}

.wdn-three-flow-columns {
  column-count: 3;
  column-gap: 3.16vw;
}
