//////////////////////////////
// THEME / DEPRECATED / TABLES
//////////////////////////////


@use "../mixins/" as mixins;


table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) {
  @include mixins.bg-transparent;
  border-bottom: 1px solid var(--b-table);
  max-width: 100%;
  width: 100%;
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) thead,
table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody {
  @include mixins.txt-sm;
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) td,
table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) th {
  border: 1px solid var(--b-table);
  @include mixins.pl-4;
  @include mixins.pr-4;
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) thead th,
table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) thead td {
  @include mixins.pb-3;
  @include mixins.pt-5;
  vertical-align: bottom;
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody th,
table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody td {
  @include mixins.pb-3;
  @include mixins.pt-3;
  vertical-align: top;
}

table:not(.dcf-table):not(.ui-datepicker-calendar):not(.dcf-datepicker-dialog-calendar) tbody tr:nth-of-type(even) {
  background-color: var(--bg-table-stripe);
}

.wdn_responsive_table thead th abbr {
  border-bottom: none;
}


@media only screen and (max-width:47.99em) {

  .wdn_responsive_table th,
  .wdn_responsive_table td {
    display: block;
  }

  .wdn_responsive_table thead tr {
    display: none;
  }

  .wdn_responsive_table tbody tr:first-child th {
    border-top-width: 0;
  }

  .wdn_responsive_table tbody tr:nth-of-type(even) {
    background-color: transparent;
  }

  .wdn_responsive_table tbody td {
  	text-align: left;
  }

  .wdn_responsive_table tbody td::before {
    content: attr(data-header);
    display: block;
    font-weight: bold;
  }

  .wdn_responsive_table tbody:empty {
  	display: none;
  }

  .wdn_responsive_table tbody:nth-of-type(even) {
  	background-color: var(--bg-table-stripe);
  }

}


@media only screen and (min-width:48em) {

  .wdn_responsive_table thead th:not(:first-child) {
  	text-align: center;
  }

  .wdn_responsive_table tbody td {
  	text-align: center;
  }

  .wdn_responsive_table.flush-left thead th,
  .wdn_responsive_table.flush-left td {
  	text-align: left;
  }

}
