/////////////////////////
// THEME / PRINT / HEADER
/////////////////////////


.unl .dcf-header-global {
  border-bottom: 1px solid #ccc !important;
  border-top: none !important;
  margin-bottom: 1em;
}
