////////////////////////////////////////
// THEME / UTILITIES / BACKGROUND COLORS
////////////////////////////////////////


// Scarlet
.unl-bg-scarlet { @include bg-scarlet(!important); }


// Cream
.unl-bg-cream { @include bg-cream(!important); }
.unl-bg-cream\@dark { background-color: $cream !important; }  // Force cream background-color in dark mode


// Gray
.unl-bg-lightest-gray { @include bg-lightest(!important); }
.unl-bg-lightest-gray\@dark { background-color: $lightest-gray !important; }  // Force lightest gray background-color in dark mode

.unl-bg-lighter-gray { @include bg-lighter(!important); }
.unl-bg-lighter-gray\@dark { background-color: $lighter-gray !important; }  // Force lighter gray background-color in dark mode

.unl-bg-light-gray { @include bg-light(!important); }
.unl-bg-light-gray\@dark { background-color: $light-gray !important; }  // Force light gray background-color in dark mode

.unl-bg-dark-gray { @include bg-dark(!important); }
.unl-bg-darker-gray { @include bg-darker(!important); }
.unl-bg-darkest-gray { @include bg-darkest(!important); }


// Cerulean
.unl-bg-cerulean { @include bg-cerulean(!important); }


// Green
.unl-bg-green { @include bg-green(!important); }
.unl-bg-light-green { @include bg-light-green(!important); }


// Blue
.unl-bg-blue { @include bg-blue(!important); }
.unl-bg-light-blue { @include bg-light-blue(!important); }


// Purple
.unl-bg-purple { @include bg-purple(!important); }
.unl-bg-light-purple { @include bg-light-purple(!important); }


// Yellow
.unl-bg-yellow { @include bg-yellow(!important); }
