//////////////////////////
// !THEME / OBJECTS / GRID
//////////////////////////


@supports (display:grid) {

  .unl-offset-grid {
    display: grid;
    grid-column-gap: $length-em-4;
    grid-template-columns: $length-em-8 1fr;
  }

}
