////////////////////
// THEME / UTILITIES
////////////////////


@use "sass:meta";


@layer utilities {
  @include meta.load-css("@dcf/scss/utilities/");
  @include meta.load-css("./animations");
  @include meta.load-css("./backdrop-filters");
  @include meta.load-css("./background-blend-modes");
  @include meta.load-css("./background-colors");
  @include meta.load-css("./background-images");
  @include meta.load-css("./blend-modes");
  @include meta.load-css("./border-color");
  @include meta.load-css("./box-shadow");
  @include meta.load-css("./colors");
  @include meta.load-css("./filters");
  @include meta.load-css("./fonts");
  @include meta.load-css("./typography");
};
