///////////////////////
// THEME / PRINT / BASE
///////////////////////


*,
*::before,
*::after {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}


.unl abbr[title]:after {
  content: " (" attr(title) ")";
}


.unl img {
  max-width: 100% !important;
}


.unl h2,
.unl h3,
.unl p {
  orphans: 3;
  widows: 3;
}


.unl h2,
.unl h3 {
  page-break-after: avoid;
}


.unl input[type="submit"] {
  display: none;
}


.unl pre,
.unl blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
