.wdn-smallcaps {
    font-family: "Mercury SSm Small Caps A", "Mercury SSm Small Caps B", Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
}
