// Variables and functions for basic, UNL specific

@base-url: "/wdn/templates_3.1/css";

//micro-clearfix
.clear-fix() {
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}