// Border Radius Functions
.border-radius(@radius: 10px)
{
	.border-radius2(@radius, @radius);
}

.border-radius2(@radius_top, @radius_bottom)
{
	.border-radius4(@radius_top, @radius_top, @radius_bottom, @radius_bottom);
}

.border-radius4(@radius_top_left, @radius_top_right, @radius_bottom_right, @radius_bottom_left)
{
	-webkit-border-radius: @arguments;
	-moz-border-radius: @arguments;
	border-radius: @arguments;
}
.border-radius-top-left(@radius)
{
    -webkit-border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    border-top-left-radius: @radius;
}
.border-radius-top-right(@radius)
{
    -webkit-border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    border-top-right-radius: @radius;
}
.border-radius-bottom-left(@radius)
{
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
}
.border-radius-bottom-right(@radius)
{
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

// Shadows
.box-shadow(@none)
{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.box-shadow(@shadow_x, @shadow_y, @shadow_rad, @shadow_color)
{
	box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
}
.box-shadow(@shadow_x, @shadow_y, @shadow_rad, @shadow_color, @shadow_x2, @shadow_y2, @shadow_rad2, @shadow_color2)
{
	box-shadow: @shadow_x @shadow_y @shadow_rad @shadow_color, @shadow_x2 @shadow_y2 @shadow_rad2 @shadow_color2;
	-webkit-box-shadow: @shadow_x @shadow_y @shadow_rad @shadow_color, @shadow_x2 @shadow_y2 @shadow_rad2 @shadow_color2;
	-moz-box-shadow: @shadow_x @shadow_y @shadow_rad @shadow_color, @shadow_x2 @shadow_y2 @shadow_rad2 @shadow_color2;
}
.box-shadow(@inset, @shadow_x, @shadow_y, @shadow_rad, @shadow_blur, @shadow_color)
{
	box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
}

//opacity
.opacity(@op:100)
{
	filter: alpha(opacity= @op);
	opacity: @op/100;
}

// Gradients
.linear-gradient(@from, @to)
{
	.linear-gradient(@from, @to, @from);
}
.linear-gradient(@from, @to, @failover)
{
	.linear-gradient-no-filter(@from, @to, @failover);
	.linear-gradient-filter(@from, @to);
}
.linear-gradient-no-filter(@from, @to)
{
    .linear-gradient-no-filter(@from, @to, @from);
}
.linear-gradient-no-filter(@from, @to, @failover)
{
	.linear-gradient-2-stop(@from, 0%, @to, 100%, @failover);
}
.linear-gradient-filter(@from, @to)
{
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{from}', endColorstr='@{to}', GradientType=0)"; // IE6-9
}
.linear-gradient-failover(@failover)
{
    background: @failover; // Old browsers
}
.linear-gradient-2-stop(@from, @from_stop, @to, @to_stop)
{
    .linear-gradient-2-stop(@from, @from_stop, @to, @to_stop, @from);
}
.linear-gradient-2-stop(@from, @from_stop, @to, @to_stop, @failover)
{
    .linear-gradient-failover(@failover);
    background: -moz-linear-gradient(top,  @from @from_stop, @to @to_stop); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@from_stop,@from), color-stop(@to_stop,@to)); // Chrome, Safari4+
    background: -webkit-linear-gradient(top,  @from @from_stop,@to @to_stop); // Chrome10+, Safari5.1+
    background: -o-linear-gradient(top,  @from @from_stop,@to @to_stop); // Opera 11.10+
    background: -ms-linear-gradient(top,  @from @from_stop,@to @to_stop); // IE10+
    background: linear-gradient(top,  @from @from_stop,@to @to_stop); // W3C
}

// Box Flex
.box-flex-display()
{
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.box-flex(@flex:1)
{
    -webkit-box-flex: @flex;
    -moz-box-flex: @flex;
    box-flex: @flex;
}

// Box-Sizing
.box-sizing(@display)
{
    -webkit-box-sizing: @display;
    -moz-box-sizing: @display;
    box-sizing: @display;
}

.background-clip(@r)
{
    -moz-background-clip: @r;
    -webkit-background-clip: @r;
    background-clip: @r;
}

//transitions
.transition(@none)
{
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.transition(@range, @time, @ease)
{
	-moz-transition: @arguments;
	-webkit-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

// Transformations
.skew(@angle_x:35deg, @angle_y:0deg)
{
	-webkit-transform: skew(@angle_x, @angle_y);
	-moz-transform: skew(@angle_x, @angle_y);
	-o-transform: skew(@angle_x, @angle_y);
	-ms-transform: skew(@angle_x, @angle_y);
	transform: skew(@angle_x, @angle_y);
}

.scale(@scale_x: 1)
{
	-webkit-transform: scale(@scale_x);
	-moz-transform: scale(@scale_x);
	-o-transform: scale(@scale_x);
	-ms-transform: scale(@scale_x);
	transform: scale(@scale_x);
}

.rotate(@angle:35deg)
{
	-webkit-transform: rotate(@angle);
	-moz-transform: rotate(@angle);
	-o-transform: rotate(@angle);
	-ms-transform: rotate(@angle);
	transform: rotate(@angle);
}

.translate(@move_x: 10px, @move_y: 10px)
{
	-webkit-transform: translate(@move_x, @move_y);
	-moz-transform: translate(@move_x, @move_y);
	-o-transform: translate(@move_x, @move_y);
	-ms-transform:translate(@move_x, @move_y);
	transform: translate(@move_x, @move_y);
}
