// px values needed to support IE 7 & 8
.font-size(@sizeValue: 16){
    @pxValue: @sizeValue;
    @remValue: (@sizeValue * 0.0625);
    font-size: ~"@{pxValue}px"; 
    font-size: ~"@{remValue}rem";
}

//http://my.opera.com/area42/blog/css-font-matching-windows-mac-and-linux
//Standard font
@baseFont: "Lucida Grande", Verdana, Arial, sans-serif;

//Used for headings, Impact 
@impactFont: 'Oswald', Helvetica, Arial, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;

//For those small amounts of text where 'Oswald' is too tight
@smallImpactFont: Helvetica, Arial, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;

//UNL brand font
@brandFont: 'Oswald', Helvetica, Arial, sans-serif;

//Serif, formal font
@serifFont: Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", Times, serif;

.text-hidden() 
{
    text-indent: -9999em;
    line-height: 0;
}