// legacy "Zen" color
@zenNeutral: #3c3c3c;

.zen-bright()
{
    color: darken(@colorManilla, 60%);
    .linear-gradient-2-stop(@colorManilla, 80%, desaturate(@colorManilla, 30%), 100%);
    text-shadow: 1px 1px 1px lighten(@colorManilla, 20%);
}

.zen-cool()
{
    color: darken(@colorTriad, 60%);
    .linear-gradient-2-stop(@colorTriad, 80%, desaturate(@colorTriad, 50%), 100%);
    text-shadow: 1px 1px 1px lighten(@colorTriad, 20%);
}

.zen-soothing() 
{
    color: darken(@colorComplementary, 50%);
    .linear-gradient-2-stop(@colorComplementary, 80%, desaturate(@colorComplementary, 30%), 100%);
    text-shadow: 1px 1px 1px lighten(@colorComplementary, 20%);
}

.zen-energetic() 
{
    .zen-bright();
}

.zen-neutral() 
{
    color: #fff;
    .linear-gradient-2-stop(@zenNeutral, 80%, darken(@zenNeutral, 10%), 100%);
    text-shadow: 1px 1px 1px darken(@zenNeutral, 20%);
}

.zen-primary() 
{
    color: #fff;
    .linear-gradient-2-stop(@colorPrimary, 80%, desaturate(@colorPrimary, 50%), 100%);
    text-shadow: 1px 1px 1px darken(@colorPrimary, 20%);
}
