.wdn-band {
    .wdn-flipbook {
       
    }
    .wdn-scroll-watch {
	    &.locked {
	       position:absolute;
	       z-index:0;
	       left:0;
	       top:0;
	       bottom:auto;
	
	       &.fixed { 
	          position: fixed;
	       }

	       &.bottom {
	        top: auto;
	        bottom: 0;
	       }
	    }
    }
    .wdn-scroll  {
         z-index:0;
         position:relative;
     }

}
