// Default presentation of a button
.colorize-button(@color) {
    background-color: @color;
    .box-shadow(0 2px 0px @color);
    text-shadow: 1px 1px 1px darken(@color, 25%);

    &:hover {
        background-color: lighten(@color, 5%);
        text-shadow: 1px 1px 1px darken(@color, 35%);
    }

    &[disabled] {
        background-color: mix(@color, #666666, 30%);
        color: darken(#FFFFFF, 10%);
        .box-shadow(0 2px 0px mix(@color, #666666, 30%));
    }
}

.wdn-button {
    .heading-font;
    border: none;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    opacity: 0.95;
    .rem(14);
    color: #ffffff;
    line-height: 1;
    padding: 0.65em 1.25em;
    margin: 1em 0;
    display: inline-block;
    .transition(background-color 0.2s);
    .colorize-button(@neutral);
    
    a& {
    	// needed to make the selector more specific
    	color: #ffffff;
    	border: none;
    }
}

.wdn-button-triad {
    .colorize-button(@triad);
}

.wdn-button-complement {
    .colorize-button(@complement);
}

.wdn-button-brand {
    .colorize-button(@brand);
}

.wdn-button-energetic {
    .colorize-button(@energetic);
}