.wdn-caption-animate {
    position: relative;
    overflow: hidden;
    border: 3px solid @faded-neutral;

    img {
        width: 100%; // Image needs to fill the frame to allow aligned caption presentation.
        max-width: 100%;
        display: block;
        .transition(transform 0.4s);
    }

    figcaption {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 0;
        opacity: 0.5;
        padding: 0.5em;
        background-color: @light-neutral;
        color: darken(@light-neutral, 75%);

        // animation support
        .transform(translateY(90%));
        -webkit-transition: -webkit-transform 0.4s, opacity 0.3s 0.1s;
        -moz-transition: -moz-transform 0.4s, opacity 0.3s 0.1s;
        transition: transform 0.4s, opacity 0.3s 0.1s;
    }
}