@import "../_mixins/all.less";

/*
Markup for these:
<div class="wdn_pagination">
<ul>
    <li class="arrow"><a href="#" title="Go to the previous page">&larr; prev</a></li>
    <li><a href="#" title="Go to page 1">1</a></li>
    <li class="selected">2</li>
    <li><a href="#" title="Go to page 3">3</a></li>
    <li><a href="#" title="Go to page 4">4</a></li>
    <li><a href="#" title="Go to page 5">5</a></li>
    <li><a href="#" title="Go to page 6">6</a></li>
    <li class="ellipsis">...</li>
    <li><a href="#" title="Go to page 17">17</a></li>
    <li><a href="#" title="Go to page 18">18</a></li>
    <li><a href="#" title="Go to page 19">19</a></li>
    <li class="arrow"><a href="#" title="Go to the next page">next &rarr;</a></li>
</ul>
</div>
*/

.wdn_pagination {
    .clear-fix;
    
    li {
        display:block;
        float: left;
        font-size:12px;
        margin:2px 4px;
        vertical-align:middle;
        a {
            display:block;
            padding:2px 4px;
            border:1px solid #dadada;
            &:hover, &:active {
                color: #fff;
                background: #6e6e6e;
                border: 1px solid #5e5e5e;
            }
        }
        &.ellipsis {
        
        }
        &.selected {
            color:#3e3e3e;
            font-weight:bold;
            font-size: 22px;
            padding:2px;
            line-height: 1;
        }
    }
}
