.wdn-promo-band {
	position: relative;
	background: @ui10;
	
	img, video {
		display: block;
	}
}

.wdn-promo-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	.background-image(linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,0.3) 100%)); 

	.wdn-promo-content {
		position: absolute;
		bottom: 5%;
		width: 100%;
		text-transform: uppercase;
    	color: #fff;
    	text-align: center;
    	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    	.wdn-promo-text {
    		.heading-font;
    		font-size: 41px;
    		font-size: 3.154rem;
    		display: block;

    		@media @bp1 {
	            font-size: 54px;
	            font-size: 4.153rem;
	        }

	        @media @bp2 {
	            font-size: 72px;
	            font-size: 4.499rem;
	        }

	        @media @bp3 {
	            font-size: 89px;
	            font-size: 5.61rem;
	        }
    	}

	    a {
	        text-shadow: none;
	    }

		@media @bp1 {
       		bottom: 7%;
	    }

	    @media @bp2 {
	       bottom: 10%;
	    }
	}

	&.wdn-inverse {
		.background-image(linear-gradient(top, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0.3) 100%));

		.wdn-text-over-image {
			color: @base-text;
			text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		}
	}
}

