@import "../_mixins/all.less";

.wdn-rss-widget {

    .rssContainer {
        padding: 0.1em;
  }

    .rssBody {
        margin: 0em;
        padding: 0em;
    }
    
    .rssRow.odd {
        background-color: @page-background;
        margin: 1em; 
        padding: 2em; 
        list-style: none; 
    }

    .rssRow.even { 
        background-color: darken(@page-background, 30%); 
        margin: 1em; 
        padding: 2em; 
        list-style: none; 
        color: #4c4b48;  //make text darker to pass WCAG2.0 contrast ratios
    }

    .rssLink {
        margin: 0em 1em 0em .5em;
        padding-left: .5em;
        padding-top: 1em;
    }

    .rssContent {
        margin: 0em 1em 0em .5em;
        padding-left: .5em;
        padding-bottom: 1em;
    }
  
    .rssDate {
        margin: 0em 1em 0em 1em;
        padding-left: .5em;
        font-size: 7pt;
    }
}
