table.primary {
    /* Primary Table */
    tr th {
        color: #fff;
        background: fadeout(@brand, 20%);

        a {
            color: #fff;
        }
    }

    tbody td {
        border-color: darken(@brand,5%);
    }
    
    @media @under-bp2 {
	    &.wdn_responsive_table tbody td:first-child {
            color: #fff;
            background: fadeout(@brand, 20%);
    	}
    }
}

table.cool {
    /* Cool Table */
    tr th {
        color: #fff;
        background: fadeout(@triad, 20%);

        a {
            color: #fff;
        }
    }

    tbody td {
            border-color: darken(@light-triad, 6%);
    }
    
    @media @under-bp2 {
        &.wdn_responsive_table tbody td:first-child {
            color: darken(@light-triad, 70%);
            background: fadeout(@light-triad, 20%);
        }
    }
}

table.soothing {
    /* Soothing Table */
    tr th {
        color: #fff;
        background: fadeout(@complement, 20%);
        
        a {
            color: #fff;
        }
    }

    tbody td {
        border-color:@dark-complement;
    }
    
    @media @under-bp2 {
		&.wdn_responsive_table tbody td:first-child {
            color: #fff;
            background: fadeout(@dark-complement, 20%);
        }
    }
}

table.neutral {
    /* Neutral Table */
    tr th {
        color: #fff;
        background: fadeout(@neutral,20%);

        a {
            color: #fff;
        }
    }

    tbody td {
        border-color: @light-neutral;
    }
    
    @media @under-bp2 {
		&.wdn_responsive_table tbody td:first-child {
            color: @dark-neutral;
            background: fadeout(@neutral,20%);
        }
    }
}

table.energetic {
    /* Energetic Table */
    tr th {
        color: #fff;
        background: fadeout(@energetic, 20%);

        a {
            color: #fff;
        }
    }

    tbody td {
        border-color: darken(@energetic, 10%);
    }
    
    @media @under-bp2 {
		&.wdn_responsive_table tbody td:first-child {
            color: #000;
            background: fadeout(@dark-energetic, 20%);
        }
    }
}
