///////////////////////////
// !THEME / MIXINS / COLORS
///////////////////////////


// !Scarlet
@mixin scarlet($imp:null) { color: $scarlet $imp; }

// TODO: determine visited state styles
@mixin scarlet-visited($imp:null) { color: $scarlet $imp; }
// TODO: determine hover state styles
@mixin scarlet-hover($imp:null) { color: $scarlet $imp; }
// TODO: determine active state styles
@mixin scarlet-active($imp:null) { color: $scarlet $imp; }


// !Cream
@mixin cream($imp:null) { color: $cream $imp; }

// TODO: determine visited state styles
@mixin cream-visited($imp:null) { color: $cream $imp; }
// TODO: determine hover state styles
@mixin cream-hover($imp:null) { color: $cream $imp; }
// TODO: determine active state styles
@mixin cream-active($imp:null) { color: $cream $imp; }


// !Gray
@mixin gray($imp:null) { color: $gray $imp; }


// !Light Gray
@mixin light-gray($imp:null) { color: $light-gray $imp; }
@mixin lighter-gray($imp:null) { color: $lighter-gray $imp; }
@mixin lightest-gray($imp:null) { color: $lightest-gray $imp; }


// !Dark Gray
@mixin dark-gray($imp:null) { color: $dark-gray $imp; }
@mixin darker-gray($imp:null) { color: $darker-gray $imp; }
@mixin darkest-gray($imp:null) { color: $darkest-gray $imp; }
