@import '../../scss/pre.tmp.scss';


ul.validation-advice {
  color: var(--brand);
  @include txt-sm;
  font-weight: bold;
  list-style: none;
  margin: 0 0 1em;
}


ul.validation-advice li::before {
  content: '\2191';
  display: inline-block;
  margin-right: .2em;
  text-align: center;
  width: 1em;
}


@keyframes wdn-error {

  from {
    border: 1px solid $scarlet;
    box-shadow: 0 0 6px fadeout($scarlet, 20%);
  }

  to {
    border: 1px solid fadeout($scarlet, 80%);
    box-shadow: 0 0 6px fadeout($scarlet, 90%);
  }

}


form input[type=text].validation-failed,
form input[type=file].validation-failed,
form input[type=password].validation-failed,
form input[type=email].validation-failed,
form input[type=url].validation-failed,
form input[type=number].validation-failed,
form textarea.validation-failed,
form select.validation-failed {
  animation: wdn-error 1.2s infinite alternate;
  border: 1px solid $scarlet;
}
