@import '../../scss/pre.tmp.scss';


.wp-calendar th,
.wp-calendar td {
  @include lh-1;
  width: calc(100% / 7);
}

.wp-calendar td > div {
  position: relative;
}

.wp-calendar td > div > a:hover {
  box-shadow: 0 0 $length-em-3 fade-out($border-color-gray-light-light-mode,.25);
}

.wp-calendar td span,
.wp-calendar td a {
  display: block;
  padding: $length-em-4 0;
}

.wp-calendar td.prev a,
.wp-calendar td.next a {
  padding: #{ms(3)}em 0;
}

.wp-calendar td.today > div > a {
  outline: 2px solid $scarlet;
}

.wp-calendar .monthvalue a:hover,
.wp-calendar .yearvalue a:hover,
.wp-calendar td .eventContainer a:hover {
  text-decoration: underline;
}
