////////////////////////////////////
// THEME / VARIABLES / COLORS (TEXT)
////////////////////////////////////


@use "./body" as body;
@use "./color-palette" as color_palette;

@forward '@dcf/scss/variables/colors-text' with (

  $color-dark-gray-light-mode: color_palette.$dark-gray !default,
  $color-dark-gray-dark-mode: color_palette.$light-gray !default,
  $color-dark-gray: var(--dark-gray) !default,

  $color-darker-gray-light-mode: color_palette.$darker-gray !default,
  $color-darker-gray-dark-mode: color_palette.$lighter-gray !default,
  $color-darker-gray: var(--darker-gray) !default,

  $color-darkest-gray-light-mode: color_palette.$darkest-gray !default,
  $color-darkest-gray-dark-mode: color_palette.$lightest-gray !default,
  $color-darkest-gray: var(--darkest-gray) !default

);

@use '@dcf/scss/variables/colors-text' as *;

// Colors
$color-brand-alpha-light-mode: color_palette.$scarlet !default;                 // Alpha brand text color (scarlet) in light mode
$color-brand-alpha-dark-mode: color_palette.$lightest-gray !default;            // Alpha brand text color (scarlet) in dark mode
$color-brand-alpha: var(--brand-alpha) !default;

$color-brand-zeta-light-mode: color_palette.$green !default;                    // Zeta brand text color (green) in light mode
$color-brand-zeta-dark-mode: color_palette.$light-green !default;               // Zeta brand text color (green) in dark mode
$color-brand-zeta: var(--brand-zeta) !default;

$color-brand-eta-light-mode: color_palette.$blue !default;                      // Eta brand text color (blue) in light mode
$color-brand-eta-dark-mode: color_palette.$light-blue !default;                 // Eta brand text color (blue) in dark mode
$color-brand-eta: var(--brand-eta) !default;

$color-brand-theta-light-mode: color_palette.$purple !default;                  // Theta brand text color (purple) in light mode
$color-brand-theta-dark-mode: color_palette.$light-purple !default;             // Theta brand text color (purple) in dark mode
$color-brand-theta: var(--brand-theta) !default;

$color-brand-light-zeta-light-mode:color_palette.$lighter-green !default;       // Light zeta brand text color (green) in light mode
$color-brand-light-zeta-dark-mode: color_palette.$light-green !default;         // Light zeta brand text color (green) in dark mode
$color-brand-light-zeta: var(--brand-light-zeta) !default;

$color-brand-light-eta-light-mode: color_palette.$lighter-blue !default;        // Light eta brand text color (blue) in light mode
$color-brand-light-eta-dark-mode: color_palette.$light-blue !default;           // Light eta brand text color (blue) in dark mode
$color-brand-light-eta: var(--brand-light-eta) !default;

$color-brand-light-theta-light-mode: color_palette.$lighter-purple !default;    // Light theta brand text color (purple) in light mode
$color-brand-light-theta-dark-mode: color_palette.$light-purple !default;       // Light theta brand text color (purple) in dark mode
$color-brand-light-theta: var(--brand-light-theta) !default;

$color-light-text-light-mode: color_palette.$dark-gray !default;                // Light text color in light mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-light-text-dark-mode: color_palette.$gray-s1 !default;                   // Light text color in dark mode -- must meet WCAG AA (minimum contrast ratio of 4.5)
$color-light-text: var(--dark-gray) !default;
