/////////////////////////////////
// THEME / VARIABLES / NAVIGATION
/////////////////////////////////


@use './borders' as b;
@use './dialogs' as d;
@use './sizing' as s;

@forward "@dcf/scss/variables/navigation";
// Use `@forward .. with ..` to override variables


// Define before height, used in height calculations
// Inset (mobile toolbar toggles for navigation, search, login and chat)
$inset-bottom-mobile-toolbar: s.$length-em-2 !default;
$inset-inline-mobile-toolbar: s.$length-em-3 !default;


// Height (mobile toolbar toggles for navigation, search, login and chat)
$height-mobile-toolbar-closed: s.$length-em-9 !default;
$height-mobile-toolbar-open: calc(#{s.$length-em-9} + #{$inset-bottom-mobile-toolbar} + #{b.$roundrect}) !default;


// Transition duration
$transition-duration-transform-nav-toggle-region: 150ms;
$transition-duration-opacity-nav-menu-content: 150ms;
$transition-duration-transform-nav-menu-content: 150ms;


// Transition timing function (Easing)
$transition-timing-fn-transform-nav-toggle-region: cubic-bezier(.25, .46, .45, .94);


// Transition delay
$transition-delay-transform-nav-toggle-region: d.$transition-duration-opacity-dialog;
$transition-delay-opacity-nav-menu-content: calc(d.$transition-duration-opacity-dialog + $transition-duration-transform-nav-toggle-region);
$transition-delay-transform-nav-menu-content: calc(d.$transition-duration-opacity-dialog + $transition-duration-transform-nav-toggle-region);
