@bp1: ~"min-width: 480px";
@bp2: ~"min-width: 768px";
@bp3: ~"min-width: 960px";
@bp4: ~"min-width: 1044px";

@bp-nav-hidden: ~"max-width: 699px";
@bp-nav-full: ~"min-width: 700px";
@bp-nav-max: @bp3;