// GO B1G RED

	// Scarlet
	@scarlet: #c00;
	@brand: @scarlet;

	// Cream
	@cream: #f8f5ec;
	@page-background: @cream; // A color to represent the page background, used for WDN colors

// UI

	// Light (<50%)
	@ui01: mix(#000, @cream, 2%);  // #f3f0e7
	@ui02: mix(#000, @cream, 4%);  // #eeebe3
	@ui03: mix(#000, @cream, 8%);  // #e4e1d9
	@ui04: mix(#000, @cream, 16%); // #d0cec6
	@ui05: mix(#000, @cream, 24%); // #bcbab3
	@ui06: mix(#000, @cream, 32%); // #a9a7a0
	@ui07: mix(#000, @cream, 48%); // #817f7b

	// Dark (>50%)
	@ui08: mix(#000, @cream, 64%); // #595855
	@ui09: mix(#000, @cream, 72%); // #454542
	@ui10: mix(#000, @cream, 80%); // #32312f
	@ui11: mix(#000, @cream, 82%); // #2d2c2a
	@ui12: mix(#000, @cream, 84%); // #282726
	@ui13: mix(#000, @cream, 88%); // #1e1d1c
	@ui14: mix(#000, @cream, 92%); // #141413

// A few neutral shades, light tan and dark brown
@neutral: #4a3b13;
@light-neutral: lighten(desaturate(@neutral, 15%), 5%);
@dark-neutral: darken(mix(@neutral, #666, 60%), 5%);
@faded-neutral: #EDEAE0; // To be used for subtle color variations. Works OK on most banded colors

// Base spinner
@base-spinner: #137cbd;

// Color triads, in the blue family
@triad: @base-spinner;
@light-triad: lighten(@triad, 10%);
@dark-triad: mix(@triad, #666, 45%);

// Color complementary, in the green family
@complement: #00892c;
@light-complement: lighten(@complement, 10%);
@dark-complement: mix(@complement, #666, 45%);

// Color complementary, in the orange family
@energetic: #d4440b;
@light-energetic: lighten(@energetic, 10%);
@dark-energetic: mix(@energetic, #666, 70%);

// Assign base colors

    // Base text and heading text colors    
    @heading-text: @ui09;
    @base-text: @ui08;

    // Warnings. Since red is our brand color, we're using a brighter orange
    @warning: #ffa500;
