// These functions set the WDN colors as found at:
// http://wdn.unl.edu/documentation/colors.shtml

//PRIMARY
@brand: #ac0302;
@darkCompliment: #352e01;
@bright: rgb(209, 84, 165); //#D154A5
@lightCompliment: rgb(221, 199, 240); //#DDC7F0
@neutral: #f6f5ea;

@base-text: @darkCompliment;

// Warnings
@warning: #FFA500;

//Secondary colors
@colorManilla: #FFF2D4; //#E5DCA7;  //manilla
@colorNeutral: #ded19f; //#F2EDDE; //neutral manilla
@colorDarkneutral: #5b523e; //#F2EDDE; //neutral manilla
@colorBright: #FBF4E2; 
@colorTriad: #bddeff; //#88CBDF; //#A7CEE5; //triad blue 
@colorDarktriad: #2c7ac8; // dark triad
@colorComplementary: #008a15; //#9DC8BA; //#6FBF4D; //complementary green
@colorEnergetic: #F4740C;//#F9A25E;  //complemntary orage


// Highlights and shadow colors

//primary
@highlightPrimary: lighten(@brand, 2.5%);
//@shadowPrimary: darken(@colorPrimary, 5%);

//manilla
@highlightManilla: lighten(saturate(@colorManilla, 15%), 5%);
//@shadowManilla: darken(desaturate(@colorManilla, 20%), 9%);

//neutral manilla
@highlightNeutral: lighten(saturate(@colorNeutral, 50%), 5%);
//@shadowNeutral: darken(desaturate(@colorNeutral, 25%), 9%);

//triad blue
@highlightTriad: lighten(saturate(@colorTriad, 20%), 5%);
//@shadowTriad: darken(desaturate(@colorTriad, 20%), 9%);

//complementary green
@highlightComplementary: lighten(saturate(@colorComplementary, 5%), 5%);
//@shadowComplementary: darken(@colorComplementary, 8%);

//complementary orange
@highlightEnergetic: lighten(saturate(@colorEnergetic, 5%), 5%);
//@shadowComplementary: darken(@colorComplementary, 8%);


//Text Colors
//@baseText: #535353;

//.baseText(@color:@baseText) {
  //  color: @color;
//}
