.base-font() {
    font-family: Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: 400;
}

.brand-font() {
    font-family: Oswald, Helvetica, "Trebuchet MS", sans-serif;
    font-weight: 400;   
}

.light-brand-font() {
    font-family: Oswald, Helvetica, "Trebuchet MS", sans-serif;
    font-weight: 300;   
}

.impact-font() {
    font-family: Oswald, Helvetica, "Trebuchet MS", sans-serif;
    font-weight: 700;
}

.sans-serif-font() {
    font-family: Helvetica, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400;
}
