.base-font() {
    font-family: "Mercury SSm A", "Mercury SSm B", Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
}

.display-font() {
    font-family: "Mercury Display A", "Mercury Display B", Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
}

.brand-font() {
    font-family: "Tungsten A", "Tungsten B", Helvetica, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heading-font() {
    font-family: "Tungsten A", "Tungsten B", Helvetica, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.sans-serif-font() {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontello() {
	font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
