//micro-clearfix
.clear-fix() {
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//http://css-tricks.com/remux-an-experimental-approach-to-responsive-web-design/
@rem-fallback: false; // switch to include px fallback

.rem(@px-value) {
    @rem-value: ((round((@px-value / unit(@base-font-size)) * 10000000)) / 10000000);
    
    .result(@px-value, @rem-fallback) when (@rem-fallback = true) {
        font-size: ~"@{px-value}px";
        font-size: ~"@{rem-value}rem";
    }
    .result(@px-value, @rem-fallback) when (@rem-fallback = false) {
        font-size: ~"@{rem-value}rem";
    }
    
    .result(unit(@px-value), @rem-fallback);
}

.list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}