/////////////////////////////////
// THEME / VARIABLES / FIGCAPTION-TOGGLES
/////////////////////////////////


@import '_variables.modular-scale';
@import '_variables.sizing';


// Padding
$padding-bottom-caption: $length-em-4;    // Padding-bottom of slide caption: 1em
$padding-left-caption: #{$ms1}em;         // Padding-left of slide caption: 1.13em
$padding-right-caption: #{$ms1}em;        // Padding-right of slide caption: 1.13em
$padding-top-caption: $length-em-4;       // Padding-top of slide caption: 1em


// Size
$size-btn-x: 2.5rem;                            // Size of button along x-axis
$size-btn-y: 2.5rem;                            // Size of button along y-axis
$size-clip-path: 3px;                           // Size of clip-path around buttons

// Duration
$figcaption-toggle-animation-duration: 500ms;
$figcaption-toggle-icon-animation-duration: 250ms;
