//////////////////////////////
// THEME / VARIABLES / GALLERY
//////////////////////////////


@import '_variables.anchors';
@import '_variables.borders';
@import '_variables.modular-scale';
@import '_variables.sizing';


// Border color
$border-color-gallery-selected-image: var(--bg-brand-alpha);
$border-color-figure: var(--b);


// Border style
$border-style-gallery-selected-image: solid;
$border-style-figure: solid;


// Border width
$border-width-gallery-selected-image: 2px;
$border-width-figure: 1px;


// Column gap
$column-gap-gallery-thumbnails-list: $length-em-3;


// Height and width
$width-gallery-figcaption: 100%;


// Margin
$margin-left-gallery-thumbnails-list-li-first-child-div: $length-em-6;
$margin-right-gallery-thumbnails-list-li-last-child-div: $length-em-6;


// Padding
$padding-bottom-gallery-modal-header: $length-em-1;
$padding-left-gallery-modal-header: $length-em-1;
$padding-right-gallery-modal-header: $length-em-1;
$padding-top-gallery-modal-header: $length-em-1;
$padding-left-gallery-prev: $length-em-4;
$padding-right-gallery-prev: $length-em-4;
$padding-left-gallery-next: $length-em-4;
$padding-right-gallery-next: $length-em-4;
$padding-top-gallery-thumbnails: $length-em-4;
$padding-bottom-gallery-thumbnails: $length-em-5;
$padding-bottom-gallery-figure: $length-em-4;
$padding-top-gallery-figcaption: $length-em-5;

