////////////////////////////
// THEME / VARIABLES / FOCUS
////////////////////////////


@import '_variables.color-palette';


// Outline color
$color-focus-outline-light-mode: $blue;     // :focus outline color in light mode
$color-focus-outline-dark-mode: $cerulean;  // :focus outline color in dark mode
$color-focus-outline: var(--focus-outline);
