///////////////////////////////
// THEME / VARIABLES / PROGRESS
///////////////////////////////


@import '_variables.modular-scale';


// Border color
$border-color-spinner: currentColor;            // Spinner border color
$border-right-color-spinner: transparent;       // Spinner border right color


// Border style
$border-style-spinner: solid;                   // Spinner border style


// Border width
$border-width-spinner: .2em;                    // Spinner border width


// Duration
$animation-duration-spinner: #{$ms02}s;         // Spinner animation duration: 1.33s


// Height
$height-spinner: $length-em-4;                  // Height of spinner: 1em


// Iteration count
$animation-iteration-count-spinner: infinite;   // Spinner iteration count


// Timing Function
$animation-timing-spinner: linear;              // Spinner animation timing function


// Width
$width-spinner: $length-em-4;                   // Width of spinner: 1em
