////////////////////////////
// THEME / VARIABLES / PRINT
////////////////////////////


// Filter
$filter-grayscale-images-print: false;    // Print images in grayscale? True/false


// Font size
$font-size-print: 12px;


// Margin
$margin-bottom-print-page: .5in;
$margin-left-print-page: .75in;
$margin-right-print-page: .75in;
$margin-top-print-page: .5in;
