/////////////////////////////////////
// THEME / COMPONENTS / DATATABLES WDN
/////////////////////////////////////

@use "./datatables";
@use "../variables/" as var;
@use "../mixins/" as mixins;
@use "../functions/" as func;

@layer components {
    :root {
        --dt-row-selected: 208, 0, 0 !important;
    }

    .unl div.dt-container .dt-length {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }

    .unl table.dataTable th.dt-type-numeric,
    .unl table.dataTable td.dt-type-numeric {
        text-align: start !important;
    }

    .unl table.dataTable thead > tr > th div.dt-column-header,
    .unl table.dataTable thead > tr > th div.dt-column-footer,
    .unl table.dataTable thead > tr > td div.dt-column-header,
    .unl table.dataTable thead > tr > td div.dt-column-footer,
    .unl table.dataTable tfoot > tr > th div.dt-column-header,
    .unl table.dataTable tfoot > tr > th div.dt-column-footer,
    .unl table.dataTable tfoot > tr > td div.dt-column-header,
    .unl table.dataTable tfoot > tr > td div.dt-column-footer {
        display: flex;
        justify-content: space-between;
        align-items: end !important;
        gap: 0.5rem !important;
        flex-direction: row !important;
    }

    .unl .dt-info {
        color: var(--form-help);
        display: inline-block;
        font-size: .7500000002em;
        line-height: 1.333333333;
        margin-top: .4218750003em
    }

    .unl div.dt-container .dt-paging button.dt-paging-button {
        border-radius: 3px !important;
        border-style: solid !important;
        border-width: 2px !important;
        display: inline-block !important;
        font-size: .75em !important;
        font-weight: 700 !important;
        line-height: 1.5 !important;
        padding: .5em 1em !important;
        text-align: center !important;
        background: var(--bg-btn-secondary) !important;
        background-color: var(--bg-btn-secondary) !important;
        border-color: currentColor !important;
        color: var(--btn-secondary) !important;

        text-decoration: none !important;
        -webkit-transition: background-color .4s ease-out, border-color .4s ease-out, color .4s ease-out, -webkit-box-shadow .4s ease-out;
        transition: background-color .4s ease-out, border-color .4s ease-out, color .4s ease-out, -webkit-box-shadow .4s ease-out;
        transition: background-color .4s ease-out, border-color .4s ease-out, box-shadow .4s ease-out, color .4s ease-out;
        transition: background-color .4s ease-out, border-color .4s ease-out, box-shadow .4s ease-out, color .4s ease-out, -webkit-box-shadow .4s ease-out;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:not(:last-child){
        margin-right: .56em;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:hover {
        -webkit-transition: background-color .2s ease-out, border-color .2s ease-out, color .2s ease-out;
        transition: background-color .2s ease-out, border-color .2s ease-out, color .2s ease-out
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:focus {
        -webkit-transition: -webkit-box-shadow .2s ease-out;
        transition: -webkit-box-shadow .2s ease-out;
        transition: box-shadow .2s ease-out;
        transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;

        -webkit-box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px var(--b-input-focus) !important;
        box-shadow: 0 0 0 3px var(--bg-body), 0 0 0 5px var(--b-input-focus) !important;

        outline: 3px solid transparent !important;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button.disabled {
        color: var(--btn-secondary) !important;
        cursor: not-allowed !important;
        opacity: .75 !important;
    }

    .unl div.dt-container .dt-paging .ellipsis {
        padding: 0 0.5em;
    }
    // Label
    @if (func.to-number(var.$font-size-label) != func.to-number(#{var.$ms00}em)) {
        .unl .dt-search label,
        .unl .dt-length label {
            font-size: var.$font-size-label;
        }
    }

    .unl .dt-search .dt-input {
        @include mixins.txt-sm;
        @include mixins.d-inline;
        transition: border-color var.$transition-duration-hover-off var.$transition-timing-fn-hover-off, box-shadow var.$transition-duration-hover-off var.$transition-timing-fn-hover-off;
        background-color: var.$bg-color-input;
        border: var.$border-width-input var.$border-style-input var.$border-color-input;
        font-size: var.$font-size-input;
        line-height: var.$line-height-input;
        @if (var.$border-radius-input-roundrect) {
            border-radius: var.$roundrect;
        } @else {
            border-radius: 0;
        }
        padding: var.$padding-top-input var.$padding-right-input var.$padding-bottom-input var.$padding-left-input;
        appearance: none;
        color: inherit;
        display: block;
    }


    .unl .dt-search .dt-input:disabled {
        background-color: var.$bg-color-input-disabled;
    }

    .unl .dt-search .dt-input:hover {
        transition: border-color var.$transition-duration-hover-on var.$transition-timing-fn-hover-on;
    }

    .unl .dt-search .dt-input:enabled:hover {
        border-color: var.$border-color-input-hover;
    }

    .unl .dt-search .dt-input:focus-visible {
        box-shadow: 0 0 0 3px var.$bg-color-body, 0 0 0 5px var.$border-color-input-focus;
        transition: box-shadow var.$transition-duration-hover-on var.$transition-timing-fn-hover-on;
        border-color: var.$border-color-input-focus;
        outline: none;
    }

    .unl .dt-length select.dt-input {
        @include mixins.txt-sm;
        @include mixins.w-10;
        @include mixins.d-inline-block;
    }

    .unl .dt-length select.dt-input {
        transition: border-color var.$transition-duration-hover-off var.$transition-timing-fn-hover-off, box-shadow var.$transition-duration-hover-off var.$transition-timing-fn-hover-off;
        appearance: none;
        background-color: var.$bg-color-select-2; // This is necessary for select options dropdown/popover in dark mode
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{func.encodecolor(var.$color-select-arrow-light-mode)}' d='M23.9 2.3c-.1-.2-.2-.3-.4-.3H.5c-.2 0-.3.1-.4.3-.1.1-.1.3 0 .5l11.5 19c.1.1.3.2.4.2s.3-.1.4-.2l11.5-19c.1-.2.1-.4 0-.5z'/%3E%3C/svg%3E"), linear-gradient(var.$bg-color-select-1, var.$bg-color-select-2);
        background-position: right var.$bg-position-arrow top 50%, 0 0;
        background-repeat: no-repeat, repeat;
        background-size: var.$bg-size-arrow-select var.$bg-size-arrow-select, 100%;
        border: var.$border-width-input solid var.$border-color-input;
        @if (var.$border-radius-input-roundrect) {
            border-radius: var.$roundrect;
        } @else {
            border-radius: 0;
        }
        box-sizing: border-box;
        color: var.$color-select;
        cursor: pointer;
        display: block;
        font-family: inherit;
        font-size: var.$font-size-select; // Font size must be ≥16px to prevent iOS page zoom on focus
        line-height: var.$line-height-select;
        max-width: 100%;
        padding: var.$padding-top-input var.$padding-right-select var.$padding-bottom-input var.$padding-left-input;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        .unl .dt-length select.dt-input {
            // Change select arrow color for dark mode
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='#{func.encodecolor(var.$color-select-arrow-dark-mode)}' d='M23.9 2.3c-.1-.2-.2-.3-.4-.3H.5c-.2 0-.3.1-.4.3-.1.1-.1.3 0 .5l11.5 19c.1.1.3.2.4.2s.3-.1.4-.2l11.5-19c.1-.2.1-.4 0-.5z'/%3E%3C/svg%3E"), linear-gradient(var.$bg-color-select-1, var.$bg-color-select-2);
        }
    }


    .unl .dt-length select.dt-input:hover {
        transition: border-color var.$transition-duration-hover-on var.$transition-timing-fn-hover-on;
        border-color: var.$border-color-input-hover;
    }


    .unl .dt-length select.dt-input:focus-visible {
        box-shadow: 0 0 0 3px var.$bg-color-body, 0 0 0 5px var.$border-color-input-focus;
        transition: box-shadow var.$transition-duration-hover-on var.$transition-timing-fn-hover-on;
        border-color: var.$border-color-input-focus;
        outline: none;
    }


    .unl .dt-length select.dt-input::-ms-expand {
        display: none;
    }
}
