/////////////////////////////////////
// THEME / COMPONENTS / DATATABLES WDN
/////////////////////////////////////

@use "sass:meta";
@use "../vendor/datatables";
@use "../variables/" as var;
@use "../mixins/" as mixins;

@layer components {
    // For .dcf-form-help, .dcf-label, .dcf-input-text, and .dcf-input-select
    @include meta.load-css("@dcf/scss/components/forms");
    @include meta.load-css("../components/forms");

    // For .dcf-btn and .dcf-btn-secondary
    @include meta.load-css("@dcf/scss/components/buttons");
    @include meta.load-css("../components/buttons");

    :root {
        --dt-row-selected: 208, 0, 0 !important;
    }

    .unl div.dt-container .dt-length {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }

    .unl table.dataTable th.dt-type-numeric,
    .unl table.dataTable td.dt-type-numeric {
        text-align: start !important;
    }

    .unl table.dataTable thead > tr > th div.dt-column-header,
    .unl table.dataTable thead > tr > th div.dt-column-footer,
    .unl table.dataTable thead > tr > td div.dt-column-header,
    .unl table.dataTable thead > tr > td div.dt-column-footer,
    .unl table.dataTable tfoot > tr > th div.dt-column-header,
    .unl table.dataTable tfoot > tr > th div.dt-column-footer,
    .unl table.dataTable tfoot > tr > td div.dt-column-header,
    .unl table.dataTable tfoot > tr > td div.dt-column-footer {
        display: flex;
        justify-content: space-between;
        align-items: end !important;
        gap: 0.5rem !important;
        flex-direction: row !important;
    }

    .unl .dt-info {
        @extend .dcf-form-help;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button {
        @include mixins.txt-xs;
        @extend .dcf-btn;
        @extend .dcf-btn-secondary;

        background: transparent !important;
        background-color: var.$bg-color-button-secondary !important;
        color: var.$color-button-secondary !important;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:not(.current) {
        border-color: var.$border-color-button-secondary !important;
        border-width: 2px !important;
        border-style: solid !important;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:not(:last-child){
        margin-right: .56em;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:not(.current):not(:disabled):hover,
    .unl div.dt-container .dt-paging button.dt-paging-button:not(.current):not(:disabled):active {
        background-color: var.$bg-color-button-secondary-tertiary-hover !important;
        color: var.$color-button-secondary-tertiary-hover !important;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:focus-visible {
        box-shadow: 0 0 0 3px var.$bg-color-body, 0 0 0 5px var.$border-color-input-focus !important;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button:active{
        box-shadow: 0 0 0 3px var.$bg-color-body, 0 0 0 5px currentColor !important;
    }

    .unl div.dt-container .disabled {
        cursor: not-allowed !important;
        opacity: .75 !important;
    }

    .unl div.dt-container .current {
        border-color: transparent !important;
        border-style: none !important;
        border-width: 0px !important;
        opacity: .75 !important;
        pointer-events: none;
    }

    .unl div.dt-container .dt-paging .ellipsis {
        padding: 0 0.5em;
    }

    .unl .dt-search label,
    .unl .dt-length label {
        @extend .dcf-label;
    }

    .unl .dt-search .dt-input {
        @include mixins.txt-sm;
        @include mixins.d-inline;
        @extend .dcf-input-text;
    }

    .unl .dt-length select.dt-input {
        @include mixins.txt-sm;
        @include mixins.w-10;
        @include mixins.d-inline-block;
        @extend .dcf-input-select;
    }
}
