/////////////////////////////////////
// THEME / COMPONENTS / DATATABLES WDN
/////////////////////////////////////

@use "../vendor/datatables";
@use "../variables/" as var;
@use "../mixins/" as mixins;
@use "../functions/" as func;

// For .dcf-form-help, .dcf-label, .dcf-input-text, and .dcf-input-select
@use "@dcf/scss/components/forms" as dcf_forms;
@use "../components/forms" as unl_forms;

// For .dcf-btn and .dcf-btn-secondary
@use "@dcf/scss/components/buttons" as dcf_buttons;
@use "../components/buttons" as unl_buttons;

@layer components {
    :root {
        --dt-row-selected: 208, 0, 0 !important;
    }

    .unl div.dt-container .dt-length {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }

    .unl table.dataTable th.dt-type-numeric,
    .unl table.dataTable td.dt-type-numeric {
        text-align: start !important;
    }

    .unl table.dataTable thead > tr > th div.dt-column-header,
    .unl table.dataTable thead > tr > th div.dt-column-footer,
    .unl table.dataTable thead > tr > td div.dt-column-header,
    .unl table.dataTable thead > tr > td div.dt-column-footer,
    .unl table.dataTable tfoot > tr > th div.dt-column-header,
    .unl table.dataTable tfoot > tr > th div.dt-column-footer,
    .unl table.dataTable tfoot > tr > td div.dt-column-header,
    .unl table.dataTable tfoot > tr > td div.dt-column-footer {
        display: flex;
        justify-content: space-between;
        align-items: end !important;
        gap: 0.5rem !important;
        flex-direction: row !important;
    }

    .unl .dt-info {
        @extend .dcf-form-help;
    }

    .unl div.dt-container .dt-paging button.dt-paging-button {
        @extend .dcf-btn;
        @extend .dcf-btn-secondary;
    }

    .unl div.dt-container .dt-paging .ellipsis {
        padding: 0 0.5em;
    }

    .unl .dt-search label,
    .unl .dt-length label {
        @extend .dcf-label;
    }

    .unl .dt-search .dt-input {
        @include mixins.txt-sm;
        @include mixins.d-inline;
        @extend .dcf-input-text;
    }

    .unl .dt-length select.dt-input {
        @include mixins.txt-sm;
        @include mixins.w-10;
        @include mixins.d-inline-block;
        @extend .dcf-input-select;
    }
}
