//////////////////////////////////
// THEME / UTILITIES / FONT: SERIF
//////////////////////////////////


@layer components {

  @font-face {
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-display: swap;
    src: url('@fonts/source-serif-4/SourceSerif4-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-display: swap;
    src: url('@fonts/source-serif-4/SourceSerif4-Italic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Source Serif 4';
    font-weight: 700;
    font-display: swap;
    src: url('@fonts/source-serif-4/SourceSerif4-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('@fonts/source-serif-4/SourceSerif4-BoldItalic.woff2') format('woff2');
  }


  .unl-font-serif {
    font-family: 'Source Serif 4', 'Serif Fallback', serif !important;
  }

}
