#maincontent, .container {
    width: 960px;
    margin: 0 auto 0 0;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11 {
    float: left;
    margin-left: 24px;
    display:inline;
}
.grid1 {
    width: 58px;
}
.grid2 {
    width: 140px;
}
.grid3 {
    width: 222px;
}
.grid4 {
    width: 304px;
}
.grid5 {
    width: 386px;
}
.grid6 {
    width: 468px;
}
.grid7 {
    width: 550px;
}
.grid8 {
    width: 632px;
}
.grid9 {
    width: 714px;
}
.grid10 {
    width: 796px;
}
.grid11 {
    width: 878px;
}
#wdn_content_wrapper .first {
    margin-left: 0;
    clear: left;
}
/*

Since we're not changing HTML class names and ids, we're going to extend the above grid system onto our legacy elements.

*/