#wdn_navigation_wrapper {
	margin-right:24px;
}

#wdn_wrapper  {
	overflow:hidden;
	border-top:12px solid #e0e0e0;
	border-left:10px;
	border-right:10px;
	padding:12px 10px 12px 10px;
}
#header {
	margin-top:-12px;
}

#wdn_content_wrapper {
	padding-bottom:22px;
}

#tooltabs a{
	margin-top:20px;
}

#footer .footer_col h3,
#toolbarcontent .toolbar_plugin h3 {
	background-color:#ac0302;
	margin-bottom:20px;
}

#maincontent div.zenboxsolid h3, #maincontent div.zenboxfixed h3, #maincontent div.zenboxfeature h3, #maincontent div.zenbox h3,
#maincontent div.zenboxsolid.bright h3, #maincontent div.zenboxfixed.bright h3, #maincontent div.zenboxfeature.bright h3, #maincontent div.zenbox.bright h3 {
    background-color:#E8E81C;
}

#maincontent div.zenboxsolid.cool h3, #maincontent div.zenboxfixed.cool h3, #maincontent div.zenboxfeature.cool h3, #maincontent div.zenbox.cool h3 {
    background-color:#3E83C9;
}
#maincontent div.zenboxsolid.energetic h3, #maincontent div.zenboxfixed.energetic h3, #maincontent div.zenboxfeature.energetic h3, #maincontent div.zenbox.energetic h3 {
    background-color:#FA6520;
}
#maincontent div.zenboxsolid.soothing h3, #maincontent div.zenboxfixed.soothing h3, #maincontent div.zenboxfeature.soothing h3, #maincontent div.zenbox.soothing h3 {
    background-color:#3EC93E;
}
#maincontent div.zenboxsolid.neutral h3, #maincontent div.zenboxfixed.neutral h3, #maincontent div.zenboxfeature.neutral h3, #maincontent div.zenbox.neutral h3 {
    background-color:#3D3D3D;
}
#maincontent div.zenboxsolid.primary h3, #maincontent div.zenboxfixed.primary h3, #maincontent div.zenboxfeature.primary h3, #maincontent div.zenbox.primary h3 {
    background-color:#AC0302;
}

ul#wdn_tool_links li {
	float:left;
	width:20px;
}
#wdn_tool_links a {
	display:block;
}

#breadcrumbs {
	width:958px;
}	

#breadcrumbs ul li.selected {
	position:relative;
	margin-left:0px;
}

#breadcrumbs ul li.selected a,
#breadcrumbs ul li.selected a:link,
#breadcrumbs ul li.selected a:visited 
{
	padding-right:38px;
	background:url('navigation/images/tabBGLeft_IE7.png') 0 0 no-repeat;
}

#wdn_navigation_bar,
.nav_collapsed #wdn_navigation_bar {
     top:auto;
}

.nav_expanded #navigation {
	padding-bottom:44px;
}
#wdn_search .search {
	color:transparent;	
}
#wdn_search_form input.search {
    color: transparent;
    text-transform: capitalize;
}
#footer {
	padding-top:13px;
}
#footer_floater {
	width:960px;
	margin-top:-50px;
}
#footer ul.socialmedia li  {
	padding-bottom:1px;
}
#wdn_copyright {
	padding-top:6px;
}
#wdn_unl_wordmark {
	margin: -52px 12px 0 0;
}