* {margin: 0;padding: 0;}
p {margin: 0 0 1.1em 0;}
img {border: none;margin:10px 0;}
a {text-decoration:underline;background:none;}
body {text-align: left;font: 71%/150% "Lucida Grande",Verdana,Arial;}
#maincontent h1, #maincontent h2, #maincontent h3{line-height:1.2;font-weight: normal;padding-top: .2em;padding-bottom: .3em;}
#maincontent h4, #maincontent h5, #maincontent h6{line-height:1.2;font-weight: normal;padding-top: .1em;padding-bottom: .2em;}
#maincontent h1{font-size: 1.7em;}
#maincontent h2{font-size: 1.5em;}
#maincontent h3{font-size: 1.4em;}
#maincontent h4{font-size: 1.3em;}
#maincontent h5{font-size: 1.2em;}
#maincontent h6{font-size: 0.9em;}
#maincontent ul, #footer ul{list-style: square;padding: 0 0 1.1em 30px;}
#maincontent ol{padding: 0 0 1.1em 36px;}
#maincontent dd {padding: 0 0 0 30px;}
#header #logo {width:50px!important;height:50px!important;position:absolute;}
body, #header {width: auto !important;margin: 0 !important;padding: 0 !important}
#header h1{font-size:2.0em !important;padding:35px 0 0 0;line-height:1px;position:relative;left:60px;}
#titlegraphic h1{color:#990000;font-size:2.0em;line-height:normal;}
#pagetitle h2{font-size:1.7em;color:#666;}
#titlegraphic h1, #pagetitle h2{font-family:Arial, Helvetica, sans-serif;font-weight:normal;}
#maincontent{border-top:1px solid #999;}


.skipnav, #wdn_search, #wdn_tool_links, #wdn_navigation_bar, #footer .footer_col{display:none;}
#wdn_wrapper {border:none;}
#wdn_content_wrapper{margin:0;}
#header, #footer {background:none;}
#header {margin:auto;height:auto;}
#maincontent * {color:#000 !important;}
#titlegraphic {margin-top:2.5em;}
.noprint {display:none;}
.yesprint {display:block;}
ul.wdn_tabs {display:none;}
#maincontent div.wdn_tabs_content div {display:block !important;}
