@CHARSET "UTF-8";
#navigation {
	height:40px;
}
#wdn_navigation_bar {
	position:absolute;
	margin:0;
	width:auto;
	left:12px;
}
#titlegraphic {
	margin-top:100px;
}
#navigation ul ul li {
	display:none;
}