@CHARSET "UTF-8";
#navigation {
	z-index:0;
}
#wdn_navigation_bar {
	position:absolute;
	margin:0;
	width:auto;
	left:12px;
}
#titlegraphic {
	margin-top:120px;
}

#navigation ul ul li {
	display:none;
}
#navigation ul {
	z-index:0;
   	height:50px;
	width:100%;
	overflow:hidden;
}
/*
// THIS IS A FAILED ATTEMPT AT THE FADE OVER
	
#wdn_navigation_wrapper ul:after {
	content:'';
	display:block;
	height:20px;
	width:98%;
	margin:0 5px;
	position:absolute;
	margin-top:32px;
	z-index:99999;
	background:url('navigation/images/lowerFade.png') repeat-x;
}
#wdn_navigation_wrapper ul ul:after {
    content:none;
    display:none;
}
*/