html{
    font-size: 100%;
}

.skipnav {display: none;}

body {
	background:url(images/bg.jpg) top center no-repeat;
	font-size:1em;
	line-height: 1;
}

.hidden {
	display:none;	
}

#wdn_wrapper {
	background:#FFF;
    border:12px solid #eee;
    border-top:35px solid #eee;
    padding:12px;
    margin:0px auto 15px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    width:960px;
    position:relative;
    height:auto;
}

#wdn_wrapper_footer {
	clear:both;
}