@CHARSET "UTF-8";

#wdn_wrapper {
    border:12px solid #e0e0e0;
    border-top:37px solid #e0e0e0;
    padding:12px;
    margin:0 12px 12px;
    border-radius:18px;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    min-width:960px;
}