@media @bp-nav-hidden {
    .wdn-resource-login-trigger {
		.nav-scrolling & {
			position: fixed;
			top: 0;
			z-index: (@nav-z-index + 1);
//             -webkit-font-smoothing: subpixel-antialiased;
			transition:right @nav-transition-duration ease; // lesshat
		}

		.nav-scrolling #wdn_menu_toggle:checked ~ .wdn-content-slide & {
			right: -@nav-width;
		}
    }
}

.loggedin {

    &.wdn-resource-login-trigger {

		@media @bp-nav-hidden {
 		   margin-right: 0;
        }
	}

	#wdn_idm_username {
        white-space: nowrap;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('http://planetred.unl.edu/pg/icon/unl_rdee2/small/'); // TEST

        &:before {
            content: '';
        }

		@media @bp-nav-hidden {
            padding-right: 50px;

			&:hover {

				~ #wdn_idm_logout {
					display: block;
				}
			}
		}

		@media @bp-nav-full {
            padding-right: 40px;
		}

		@media @bp768 {
            padding-right: 50px;
		}
	}

	#wdn_idm_logout {

		@media @bp-nav-hidden {

		    &:hover {
		    	display: block;
		    }
		}

		@media @bp960 {
	    	display: inline-block;
            margin-left: 10px;

            .flexbox & {
                display: flex;
            }
		}
	}

    #wdn_idm_username {
    	background-position: right center;
    	background-size: contain;

	    &:before {
	    	content: "";
		}
	}
}
