.wdn-caption-animate {

    &:hover {

        img {
            transform: translateY(-50px); // lesshat
        }

        figcaption {
            opacity: 1;
            transform: translateY(0px); // lesshat
        }
    }
}
