@import "../_mixins/all.less";

#wdn_search {

    @media @bp-nav-hidden {
        .nav-scrolling & {
            position: fixed;
            z-index: (@nav-z-index + 1);
            top: 0;
            bottom: auto;
        }

        .nav-scrolling #wdn_menu_toggle:checked ~ #header & {
            left: 100%;
        }

        .wdn-dropdown-widget-button[aria-pressed="true"] ~ #wdn_search_form {
            .is-visible();
            transform: scale(1);
            transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
        }
    }
}
