/* We're not in the future, but someday we will. Hold on until then.
.grid-col-width-cal(@width) {
    width: -webkit-calc(@width ~"-" @gutter-size);
    width: -moz-calc(@width ~"-" @gutter-size);
    width: calc(@width ~"-" @gutter-size);
}
*/
[class*="wdn-grid-set"] {
  margin-left: -23px;
}
[class*="wdn-grid-set"] [class*="wdn-col"] [class*="wdn-grid-set"] {
  margin-left: -23px;
}
[class*="wdn-col"] {
  padding-left: 23px;
}
[class*="wdn-col"].col-padding {
  padding: 11.5px 0 11.5px 23px;
}
.visual-island {
  padding: 11.5px;
}
.wdn-col-full,
.wdn-col-set-full .wdn-col {
  width: 100%;
}
.wdn-col-one-half,
.wdn-col-two-fourths,
.wdn-col-three-sixths,
.wdn-grid-set-halves .wdn-col {
  width: 50%;
}
.wdn-col-one-third,
.wdn-col-two-sixths,
.wdn-grid-set-thirds .wdn-col {
  width: 33.33333333333333%;
}
.wdn-col-two-thirds,
.wdn-col-four-sixths {
  width: 66.66666666666666%;
}
.wdn-col-one-fourth,
.wdn-grid-set-fourths .wdn-col {
  width: 25%;
}
.wdn-col-three-fourths {
  width: 75%;
}
.wdn-col-one-fifth,
.wdn-grid-set-fifths .wdn-col {
  width: 20%;
}
.wdn-col-two-fifths {
  width: 40%;
}
.wdn-col-three-fifths {
  width: 60%;
}
.wdn-col-four-fifths {
  width: 80%;
}
.wdn-col-one-sixth,
.wdn-grid-set-sixths .wdn-col {
  width: 16.666666666666664%;
}
.wdn-col-five-sixths {
  width: 83.33333333333334%;
}
.wdn-col-one-seventh,
.wdn-grid-set-sevenths .wdn-col {
  width: 14.285714285714285%;
}
.wdn-col-two-sevenths {
  width: 28.57142857142857%;
}
.wdn-col-three-sevenths {
  width: 42.857142857142854%;
}
.wdn-col-four-sevenths {
  width: 57.14285714285714%;
}
.wdn-col-five-sevenths {
  width: 71.42857142857143%;
}
.wdn-col-six-sevenths {
  width: 85.71428571428571%;
}
.bp1-wdn-col-full,
.bp1-wdn-col-set-full .wdn-col {
  width: 100%;
}
.bp1-wdn-col-one-half,
.bp1-wdn-col-two-fourths,
.bp1-wdn-col-three-sixths,
.bp1-wdn-grid-set-halves .wdn-col {
  width: 50%;
}
.bp1-wdn-col-one-third,
.bp1-wdn-col-two-sixths,
.bp1-wdn-grid-set-thirds .wdn-col {
  width: 33.33333333333333%;
}
.bp1-wdn-col-two-thirds,
.bp1-wdn-col-four-sixths {
  width: 66.66666666666666%;
}
.bp1-wdn-col-one-fourth,
.bp1-wdn-grid-set-fourths .wdn-col {
  width: 25%;
}
.bp1-wdn-col-three-fourths {
  width: 75%;
}
.bp1-wdn-col-one-fifth,
.bp1-wdn-grid-set-fifths .wdn-col {
  width: 20%;
}
.bp1-wdn-col-two-fifths {
  width: 40%;
}
.bp1-wdn-col-three-fifths {
  width: 60%;
}
.bp1-wdn-col-four-fifths {
  width: 80%;
}
.bp1-wdn-col-one-sixth,
.bp1-wdn-grid-set-sixths .wdn-col {
  width: 16.666666666666664%;
}
.bp1-wdn-col-five-sixths {
  width: 83.33333333333334%;
}
.bp1-wdn-col-one-seventh,
.bp1-wdn-grid-set-sevenths .wdn-col {
  width: 14.285714285714285%;
}
.bp1-wdn-col-two-sevenths {
  width: 28.57142857142857%;
}
.bp1-wdn-col-three-sevenths {
  width: 42.857142857142854%;
}
.bp1-wdn-col-four-sevenths {
  width: 57.14285714285714%;
}
.bp1-wdn-col-five-sevenths {
  width: 71.42857142857143%;
}
.bp1-wdn-col-six-sevenths {
  width: 85.71428571428571%;
}
.bp2-wdn-col-full,
.bp2-wdn-col-set-full .wdn-col {
  width: 100%;
}
.bp2-wdn-col-one-half,
.bp2-wdn-col-two-fourths,
.bp2-wdn-col-three-sixths,
.bp2-wdn-grid-set-halves .wdn-col {
  width: 50%;
}
.bp2-wdn-col-one-third,
.bp2-wdn-col-two-sixths,
.bp2-wdn-grid-set-thirds .wdn-col {
  width: 33.33333333333333%;
}
.bp2-wdn-col-two-thirds,
.bp2-wdn-col-four-sixths {
  width: 66.66666666666666%;
}
.bp2-wdn-col-one-fourth,
.bp2-wdn-grid-set-fourths .wdn-col {
  width: 25%;
}
.bp2-wdn-col-three-fourths {
  width: 75%;
}
.bp2-wdn-col-one-fifth,
.bp2-wdn-grid-set-fifths .wdn-col {
  width: 20%;
}
.bp2-wdn-col-two-fifths {
  width: 40%;
}
.bp2-wdn-col-three-fifths {
  width: 60%;
}
.bp2-wdn-col-four-fifths {
  width: 80%;
}
.bp2-wdn-col-one-sixth,
.bp2-wdn-grid-set-sixths .wdn-col {
  width: 16.666666666666664%;
}
.bp2-wdn-col-five-sixths {
  width: 83.33333333333334%;
}
.bp2-wdn-col-one-seventh,
.bp2-wdn-grid-set-sevenths .wdn-col {
  width: 14.285714285714285%;
}
.bp2-wdn-col-two-sevenths {
  width: 28.57142857142857%;
}
.bp2-wdn-col-three-sevenths {
  width: 42.857142857142854%;
}
.bp2-wdn-col-four-sevenths {
  width: 57.14285714285714%;
}
.bp2-wdn-col-five-sevenths {
  width: 71.42857142857143%;
}
.bp2-wdn-col-six-sevenths {
  width: 85.71428571428571%;
}
.bp3-wdn-col-full,
.bp3-wdn-col-set-full .wdn-col {
  width: 100%;
}
.bp3-wdn-col-one-half,
.bp3-wdn-col-two-fourths,
.bp3-wdn-col-three-sixths,
.bp3-wdn-grid-set-halves .wdn-col {
  width: 50%;
}
.bp3-wdn-col-one-third,
.bp3-wdn-col-two-sixths,
.bp3-wdn-grid-set-thirds .wdn-col {
  width: 33.33333333333333%;
}
.bp3-wdn-col-two-thirds,
.bp3-wdn-col-four-sixths {
  width: 66.66666666666666%;
}
.bp3-wdn-col-one-fourth,
.bp3-wdn-grid-set-fourths .wdn-col {
  width: 25%;
}
.bp3-wdn-col-three-fourths {
  width: 75%;
}
.bp3-wdn-col-one-fifth,
.bp3-wdn-grid-set-fifths .wdn-col {
  width: 20%;
}
.bp3-wdn-col-two-fifths {
  width: 40%;
}
.bp3-wdn-col-three-fifths {
  width: 60%;
}
.bp3-wdn-col-four-fifths {
  width: 80%;
}
.bp3-wdn-col-one-sixth,
.bp3-wdn-grid-set-sixths .wdn-col {
  width: 16.666666666666664%;
}
.bp3-wdn-col-five-sixths {
  width: 83.33333333333334%;
}
.bp3-wdn-col-one-seventh,
.bp3-wdn-grid-set-sevenths .wdn-col {
  width: 14.285714285714285%;
}
.bp3-wdn-col-two-sevenths {
  width: 28.57142857142857%;
}
.bp3-wdn-col-three-sevenths {
  width: 42.857142857142854%;
}
.bp3-wdn-col-four-sevenths {
  width: 57.14285714285714%;
}
.bp3-wdn-col-five-sevenths {
  width: 71.42857142857143%;
}
.bp3-wdn-col-six-sevenths {
  width: 85.71428571428571%;
}
.bp4-wdn-col-full,
.bp4-wdn-col-set-full .wdn-col {
  width: 100%;
}
.bp4-wdn-col-one-half,
.bp4-wdn-col-two-fourths,
.bp4-wdn-col-three-sixths,
.bp4-wdn-grid-set-halves .wdn-col {
  width: 50%;
}
.bp4-wdn-col-one-third,
.bp4-wdn-col-two-sixths,
.bp4-wdn-grid-set-thirds .wdn-col {
  width: 33.33333333333333%;
}
.bp4-wdn-col-two-thirds,
.bp4-wdn-col-four-sixths {
  width: 66.66666666666666%;
}
.bp4-wdn-col-one-fourth,
.bp4-wdn-grid-set-fourths .wdn-col {
  width: 25%;
}
.bp4-wdn-col-three-fourths {
  width: 75%;
}
.bp4-wdn-col-one-fifth,
.bp4-wdn-grid-set-fifths .wdn-col {
  width: 20%;
}
.bp4-wdn-col-two-fifths {
  width: 40%;
}
.bp4-wdn-col-three-fifths {
  width: 60%;
}
.bp4-wdn-col-four-fifths {
  width: 80%;
}
.bp4-wdn-col-one-sixth,
.bp4-wdn-grid-set-sixths .wdn-col {
  width: 16.666666666666664%;
}
.bp4-wdn-col-five-sixths {
  width: 83.33333333333334%;
}
.bp4-wdn-col-one-seventh,
.bp4-wdn-grid-set-sevenths .wdn-col {
  width: 14.285714285714285%;
}
.bp4-wdn-col-two-sevenths {
  width: 28.57142857142857%;
}
.bp4-wdn-col-three-sevenths {
  width: 42.857142857142854%;
}
.bp4-wdn-col-four-sevenths {
  width: 57.14285714285714%;
}
.bp4-wdn-col-five-sevenths {
  width: 71.42857142857143%;
}
.bp4-wdn-col-six-sevenths {
  width: 85.71428571428571%;
}
