/////////////////////////////
// THEME / UTILITIES / COLORS
/////////////////////////////


// Scarlet
.unl-scarlet,
a.unl-scarlet,
a.unl-scarlet:link {
  @include scarlet(!important);
}

a.unl-scarlet:visited { @include scarlet-visited(!important); }
a.unl-scarlet:hover { @include scarlet-hover(!important); }
a.unl-scarlet:active { @include scarlet-active(!important); }


// Cream
.unl-cream,
a.unl-cream,
a.unl-cream:link {
  @include cream(!important);
}

a.unl-cream:visited { @include cream-visited(!important); }
a.unl-cream:hover { @include cream-hover(!important); }
a.unl-cream:active { @include cream-active(!important); }


// Gray
.unl-lightest-gray { @include lightest-gray(!important); }
.unl-lighter-gray { @include lighter-gray(!important); }
.unl-light-gray { @include light-gray(!important); }
.unl-gray { @include gray(!important); }
.unl-dark-gray { @include dark-gray(!important); }
.unl-dark-gray\@dark { @include dark-gray-at-dark(!important); }
.unl-darker-gray { @include darker-gray(!important); }
.unl-darker-gray\@dark { @include darker-gray-at-dark(!important); }
.unl-darkest-gray { @include darkest-gray(!important); }
.unl-darkest-gray\@dark { @include darkest-gray-at-dark(!important); }


// Cerulean
.unl-cerulean { @include cerulean(!important); }


// Green
.unl-green { @include green(!important); }
.unl-green\@dark { @include green-at-dark(!important); }
.unl-light-green { @include light-green(!important); }


// Blue
.unl-blue { @include blue(!important); }
.unl-blue\@dark { @include blue-at-dark(!important); }
.unl-light-blue { @include light-blue(!important); }


// Purple
.unl-purple { @include purple(!important); }
.unl-purple\@dark { @include purple-at-dark(!important); }
.unl-light-purple { @include light-purple(!important); }


// Yellow
.unl-yellow { @include yellow(!important); }
