//////////////////////////
// THEME / MIXINS / COLORS
//////////////////////////


@use "../variables/" as var;


// Scarlet
@mixin scarlet($imp:null) { color: var.$color-brand-alpha $imp; }
@mixin scarlet-at-dark($imp:null) { color: var.$scarlet $imp; }


// Cream
@mixin cream($imp:null) { color: var.$cream $imp; }
// TODO: determine state styles
@mixin cream-visited($imp:null) { color: var.$cream $imp; }
@mixin cream-hover($imp:null) { color: var.$cream $imp; }
@mixin cream-active($imp:null) { color: var.$cream $imp; }


// Gray
@mixin lightest-gray($imp:null) { color: var.$lightest-gray $imp; }
@mixin lighter-gray($imp:null) { color: var.$lighter-gray $imp; }
@mixin light-gray($imp:null) { color: var.$light-gray $imp; }
@mixin gray($imp:null) { color: var.$gray $imp; }
@mixin dark-gray($imp:null) { color: var.$color-dark-gray $imp; }
@mixin dark-gray-at-dark($imp:null) { color: var.$dark-gray $imp; }
@mixin darker-gray($imp:null) { color: var.$color-darker-gray $imp; }
@mixin darker-gray-at-dark($imp:null) { color: var.$darker-gray $imp; }
@mixin darkest-gray($imp:null) { color: var.$color-darkest-gray $imp; }
@mixin darkest-gray-at-dark($imp:null) { color: var.$darkest-gray $imp; }


// Cerulean
@mixin cerulean($imp:null) { color: var.$cerulean $imp; }


// Green
@mixin green($imp:null) { color: var.$color-brand-zeta $imp; }
@mixin green-at-dark($imp:null) { color: var.$green $imp; }
@mixin light-green($imp:null) { color: var.$color-brand-light-zeta $imp; }


// Blue
@mixin blue($imp:null) { color: var.$color-brand-eta $imp; }
@mixin blue-at-dark($imp:null) { color: var.$blue $imp; }
@mixin light-blue($imp:null) { color: var.$color-brand-light-eta $imp; }


// Purple
@mixin purple($imp:null) { color: var.$color-brand-theta $imp; }
@mixin purple-at-dark($imp:null) { color: var.$purple $imp; }
@mixin light-purple($imp:null) { color: var.$color-brand-light-theta $imp; }


// Yellow
@mixin yellow($imp:null) { color: var.$yellow $imp; }


// Orange
@mixin orange($imp:null) { color: var.$orange $imp; }
