///////////////////////////////
// !THEME / COMPONENTS / HEROES
///////////////////////////////


// Text hero
.unl .dcf-hero-default {
  align-items: flex-end;
  @include bg-lighter;
  display: flex;
  height: #{ms(26)}vh;
  @include mb-8;
  max-height: #{ms(20)}em;
  min-height: #{ms(18)}em;
}


.unl .dcf-hero-default .dcf-hero-group-1 {
  min-width: 0;
  width: 100%;
}


.unl .dcf-hero-default .dcf-breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  @include h-9; // Set height of breadcrumbs in order to hide horizontal scroll bar
  min-width: 0;
  position: relative; // for absolutely-positioned pseudo content
}


.unl .dcf-hero-default .dcf-breadcrumbs::before,
.unl .dcf-hero-default .dcf-breadcrumbs::after {
  content: '';
}


.unl .dcf-hero-default .dcf-breadcrumbs::before {
  background-image: linear-gradient(to right, fade-out($cream,1), $cream);
  height: 100%;
//   margin-left: -$length-vw-2;
  order: 2;
  position: absolute;
//   position: relative;
  right: 0;
  top: 5px;
//   width: #{ms(14)}em;
  transform: translateX(-100%);
  width: $length-vw-2;
  z-index: 1;
}


// .unl .dcf-hero-default .dcf-breadcrumbs::before {
// //   background: linear-gradient($cream 2px, transparent 2px) 0 0 / 3px 100% no-repeat,
// //               linear-gradient(to top, transparent 3px, $cream 3px) 3px 0 / 2px 100% no-repeat;
//   order: 2;
//   width: 5px;
// }


.unl .dcf-hero-default .dcf-breadcrumbs::after {
  background: linear-gradient($cream 2px, transparent 2px) 0 0 / 3px 100% no-repeat,
              linear-gradient(to top, transparent 3px, $cream 3px) 3px 0 / 2px 100% no-repeat,
              linear-gradient(to top, transparent 3px, $cream 3px, $cream 5px, transparent 5px) 3px 0 / 100% 100% no-repeat;
  flex-grow: 1;
  min-width: $length-vw-2;
  order: 3;
}


.unl .dcf-hero-default .dcf-breadcrumbs ol {
  background-image: linear-gradient($cream 2px, transparent 2px, transparent 5px, $cream 5px);
  margin-bottom: 0;
  min-width: 0;
  padding-top: calc(#{$length-em-7} + 5px);
  position: relative;
}


// .unl .dcf-hero-default .dcf-breadcrumbs ol::before {
//   background-image: linear-gradient(to right, fade-out($cream,1), $cream);
//   content: '';
//   height: 100%;
//   position: fixed;
//   right: 0;
//   top: 0;
//   width: #{ms(14)}em;
// }


.unl .dcf-hero-default .dcf-page-title {
  @include bg-cream;
  padding-left: $length-vw-2; // Add padding to equal the wrapper object's left padding
  padding-right: $length-vw-2; // Add padding to equal the wrapper object's right padding
  @include pt-4;
}


.unl .dcf-hero-default .dcf-page-title h1 {
  margin-bottom: 0;
}


@include mq(md, max, width) {

  .unl .dcf-hero-default .dcf-breadcrumbs {
    @include h-9; // Set height of breadcrumbs in order to hide horizontal scroll bar
  }


  .unl .dcf-breadcrumbs ol {
    @include pb-9; // Set padding-bottom to push the horizontal scroll bar out of the breadcrumbs' height
  }

}






h1[class*="dev-page-title-"],
.dev-pub-date,
.dev-hero-buttons,
.dev-photo-credit {
  display: none;
}

[class*="dev-subhead-"] {
  display: none;
}

// .dev-photo-credit {
//   writing-mode: vertical-lr;
// }

.unl .dcf-subhead {
  color: $dark-gray;
  @include font-sans;
}

.unl .dcf-hero {
  position: relative;
}


// .unl .dcf-hero::before {
//   background-image: linear-gradient(fade-out($scarlet-shade, .5) $length-em-7, fade-out($scarlet-shade, 1));
//   content: '';
//   height: 100%;
//   position: absolute;
//   top: 0;
//   width: 100%;
// }


h1[class*="dev-page-title-"] {
  margin-top: 0 !important;
}




// Legacy hero
.unl .dev-hero-legacy {
  background-color: $darker-gray;
  display: flex;
}

.unl .dev-hero-legacy .dcf-breadcrumbs {
  display: none;
}

.unl .dev-hero-legacy .dcf-hero-group-1 {
  padding: $length-em-6 $length-vw-2;
}

.unl .dev-hero-legacy .dev-page-title-home,
.unl .dev-hero-legacy .dev-subhead-home,
.unl .dev-hero-legacy .dev-hero-buttons-legacy {
  display: block;
}

.unl .dev-hero-legacy .dev-page-title-home,
.unl .dev-hero-legacy .dev-subhead-home {
  color: $cream;
}


@include mq(sm, max, width) {

  .unl .dev-hero-legacy {
    flex-direction: column-reverse;
  }

}

@include mq(sm, min, width) {

  .unl .dev-hero-legacy {
    align-items: flex-end;
    height: #{ms(28)}vh;
    max-height: #{ms(24)}em;
  }

  .unl .dev-hero-legacy .dcf-hero-group-1 {
    position: relative;
    z-index: 1;
  }

  .unl .dev-hero-legacy .dcf-hero-group-2 {
    display: flex;
    height: #{ms(28)}vh;
    left: 0;
    max-height: #{ms(24)}em;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

}



// Current home hero
.unl .dev-hero-home-current {
  display: flex;
}

.unl .dev-hero-home-current .dcf-breadcrumbs {
  display: none;
}

.unl .dev-hero-home-current .dcf-hero-group-1 {
  @include pb-6;
  @include pt-6;
}

.unl .dev-hero-home-current .dev-page-title-home,
.unl .dev-hero-home-current .dev-subhead-home,
.unl .dev-hero-home-current .dev-hero-buttons-legacy {
  display: block;
}

.unl .dev-hero-home-current .dev-page-title-home,
.unl .dev-hero-home-current .dev-subhead-home {
  color: $cream;
}


@include mq(sm, max, width) {

  .unl .dev-hero-home-current {
    flex-direction: column-reverse;
  }

  .unl .dev-hero-home-current .dcf-hero-group-1 {
    background-color: $scarlet;
    padding-left: $length-vw-2;
    padding-right: $length-vw-2;
  }

}

@include mq(sm, min, width) {

  .unl .dev-hero-home-current {
    align-items: flex-end;
    height: #{ms(28)}vh;
    max-height: #{ms(24)}em;
  }

  .unl .dev-hero-home-current .dcf-hero-group-1 {
    background-color: rgba(208,0,0,.9);
    margin-left: $length-vw-2;
    @include pl-7;
    @include pr-7;
    position: relative;
    transform: translateY(1em);
    z-index: 1;
  }

  .unl .dev-hero-home-current .dcf-hero-group-2 {
    display: flex;
    height: #{ms(28)}vh;
    left: 0;
    max-height: #{ms(24)}em;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

}






// Current news hero
.unl .dev-hero-news-current {
  background-color: $darker-gray;
  display: flex;
}

.unl .dev-hero-news-current .dcf-breadcrumbs {
  display: none;
}

.unl .dev-hero-news-current .dcf-hero-group-1 {
  padding-left: $length-vw-2;
  padding-right: $length-vw-2;
}

.unl .dev-hero-news-current .dev-page-title-news,
.unl .dev-hero-news-current .dev-pub-date {
  color: $cream;
  display: block;
  margin-bottom: #{ms(-3)}rem;
}

.unl .dev-hero-news-current .dev-pub-date {
  @include font-sans;
  @include txt-2xs;
}

@include mq(sm, max, width) {

  .unl .dev-hero-news-current {
    flex-direction: column-reverse;
  }

  .unl .dev-hero-news-current .dcf-hero-group-1 {
    @include pb-6;
    @include pt-6;
  }

  .unl .dev-hero-news-current .dev-pub-date {
    margin-bottom: 0;
  }

}

@include mq(sm, min, width) {

  .unl .dev-hero-news-current {
    align-items: flex-end;
    height: #{ms(28)}vh;
    max-height: #{ms(24)}em;
  }

  .unl .dev-hero-news-current .dcf-hero-group-1 {
    position: relative;
    z-index: 1;
  }

  .unl .dev-hero-news-current .dev-page-title-news,
  .unl .dev-hero-news-current .dev-subhead-news {
    text-shadow: 1px 1px 30px $darker-gray;
  }

  .unl .dev-hero-news-current .dcf-hero-group-2 {
    display: flex;
    height: #{ms(28)}vh;
    left: 0;
    max-height: #{ms(24)}em;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .unl .dev-hero-news-current .dcf-hero-group-2::before {
    background-image: linear-gradient(rgba(0,0,0,0) 43%, rgba(0,0,0,.63) 75%);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }

}





// Splash hero

.unl .dev-hero-splash {
  display: flex;
  align-items: flex-end;
  height: #{ms(28)}vh;
  max-height: #{ms(24)}em;
}


.unl .dev-hero-splash .dcf-breadcrumbs {
  display: none;
}


.unl .dev-hero-splash .dcf-hero-group-1 {
  background-color: $cream;
//   background-color: $scarlet;
//   clip-path: polygon(0 0,0 100%,2px 100%,2px 2px,calc(100% - 2px) 2px,calc(100% - 2px) calc(100% - 2px),2px calc(100% - 2px),2px calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),calc(100% - 5px) 5px,5px 5px,5px calc(100% - 5px),2px calc(100% - 5px),2px 100%,100% 100%,100% 0);
  padding-left: $length-vw-2;
  padding-right: $length-vw-2;
  padding-top: $length-em-7;
}


.unl .dev-hero-splash .dev-page-title-splash,
.unl .dev-hero-splash .dev-subhead-splash {
  display: block;
//   color: $cream;
}

.unl .dev-hero-splash .dcf-hero-group-2 {
  display: flex;
}












// News hero
.unl .dev-hero-news {
  display: flex;
  align-items: flex-end;
  height: #{ms(28)}vh;
  max-height: #{ms(24)}em;
//   @include pt-5;
//   @include pb-6;
}

.unl .dev-hero-news .dev-page-title-news,
.unl .dev-hero-news .dev-subhead-news {
  display: block;
}

.unl .dev-hero-news .dcf-hero-group-2 {
  display: flex;
}

.unl .dev-hero-news .dcf-breadcrumbs,
.unl .dev-hero-news .dev-hero-buttons {
  display: none;
}

.unl .dev-hero-news .dcf-page-title {
  padding-left: $length-vw-2; // Add padding to equal the wrapper object's left padding
  padding-right: $length-vw-2; // Add padding to equal the wrapper object's right padding
}

.unl .dev-hero-news .dcf-hero-group-1 {
  background-color: $cream;
//   clip-path: polygon(0 0,0 100%,2px 100%,2px 2px,calc(100% - 2px) 2px,calc(100% - 2px) calc(100% - 2px),2px calc(100% - 2px),2px calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),calc(100% - 5px) 5px,5px 5px,5px calc(100% - 5px),2px calc(100% - 5px),2px 100%,100% 100%,100% 0);
//   padding-left: $length-vw-2;
  padding-right: $length-vw-2;
  padding-top: $length-em-7;
}




// Text hero
.unl .dev-hero-text {
  @include bg-lightest;
  @include pt-5;
  @include pb-5;
}


.unl .dev-hero-text .dcf-breadcrumbs,
.unl .dev-hero-text .dev-page-title-text {
  display: block;
}

// .unl .dev-hero-text .dcf-breadcrumbs a,
// .unl .dev-hero-text .dcf-breadcrumbs span,
// .unl .dev-hero-text .dev-page-title-text {
//   color: $cream;
// }

.unl .dev-hero-text .dev-page-title-text {
  margin-bottom: 0;
  padding-left: $length-vw-2; // Add padding to equal the wrapper object's left padding
  padding-right: $length-vw-2; // Add padding to equal the wrapper object's right padding
  padding-top: 1em;
}


.unl .dev-hero-text .dcf-hero-group-2,
.unl .dev-hero-text .dev-hero-buttons {
  display: none;
}


// .unl .dev-hero-text-scarlet .dcf-breadcrumbs a,
// .unl .dev-hero-text-scarlet .dcf-breadcrumbs span,
// .unl .dev-hero-text-scarlet .dev-page-title-text {
//   color: unset !important;
// }
//
// .unl .dcf-hero.dev-hero-text-scarlet {
//   background-color: $cream;
// }
//
// .unl .dcf-hero.dev-hero-text-cream::before {
//   content: none;
// }


//
//
// .unl .dcf-.dcf-breadcrumbs {
//   grid-area: 'bc';
// }
//
//
// .unl .dcf-page-title {
//   grid-area: 'pt';
// }
//
// .unl .dcf-hero-img {
//   grid-area: 'img';
// }





@include mq(md, min, width) {

//   .unl .dcf-hero {
//     grid-auto-columns: repeat(1fr);
//     grid-auto-rows: repeat(1fr);
//   }

//   .unl .dcf-breadcrumbs {
//     grid-area: 1/1/2/-1;
//   }
//
//
//   .unl .dcf-page-title {
//     grid-area: 2/1/3/-1;
//   }
//
//
//   .unl .dcf-hero-img {
//     grid-area: 1/1/3/-1;
//   }

}
