/////////////////////////////////
// !THEME / COMPONENTS / HEADINGS
/////////////////////////////////


.unl h1,
.unl h2,
.unl h3,
.unl h4,
.unl h5,
.unl h6 {
  @include font-sans;
  font-weight: 700;
  letter-spacing: -.03em;
  margin-left: -.03em;
}


.unl h1 a,
.unl h2 a,
.unl h3 a,
.unl h4 a,
.unl h5 a,
.unl h6 a {
  text-decoration: none;
}


.unl .dcf-subhead {
  font-weight: 400;
  font-size: #{ms(-2)}rem;
  @include ls-2;
  @include lh-3;
  @include mb-3;
  text-transform: uppercase;
}
