///////////////////////////////
// !THEME / COMPONENTS / SEARCH
///////////////////////////////


// .unl .dcf-search-results-wrapper {
//   height: 100% !important;
// }

@include mq(md, max, width) {

//   .unl .dcf-search-results-wrapper::before {
//     content: '';
//     height: #{ms(6)}em;
//     left: 0;
//     position: absolute;
//     width: 100%;
//     z-index: 999;
//   }
//
//   .unl .dcf-search-results-wrapper::before {
//     background-image: linear-gradient(to top, fade-out($lighter-cream, 1), $lighter-cream);
//     top: 0;
//   }
//
//   .unl .dcf-search-results {
//     @include pb-6; // !core update
//   }

  .unl .dcf-mobile-toolbar-toggle-search {
    @include b-0;
    justify-content: center;
  }

//   .unl .dcf-search-toggle-icon {
//     @include h-5;
//     @include mb-1;
//     @include w-5;
//   }

}

@include mq(md, min, width) {

  .unl .dcf-mobile-toolbar-search {
    width: 100%;
  }

  .unl .dcf-mobile-toolbar-toggle-search {
    background-image: linear-gradient(to left, $cream #{ms(5)}em, transparent #{ms(5)}em);
    @include b-1;
    border-color: $cream;
    justify-content: space-between;
  }

  .unl .dcf-mobile-toolbar-label-search {
    @include inverse;
    @include font-serif;
    @include txt-xs;
    padding-bottom: #{ms(-6)}em;
    @include pl-3;
    @include pr-8;
    padding-top: #{ms(-6)}em;
  }

  .unl .dcf-mobile-toolbar-icon-search {
    @include h-3;
    margin-right: #{ms(-4)}em;
    @include w-3;
  }

//   .unl .dcf-search-results {
//     @include pb-10; // !core update
//   }

}



.unl-search-bg {
  background: $color-body url('../images/unl-search-bg.jpg') 50% 50% / cover no-repeat;
}


.unl-google-results {
  @include mb-8;
}

.unl-directory-result:not(:last-child) {
  @include mb-6;
}

.unl-directory-result:last-child {
  margin-bottom: 0;
}

// @include mq(md, min, width) {
//
//   .unl .dcf-search-toggle {
//     margin-left: 2.4vw;
//   }
//
// //   .unl .dcf-search-form {
// //     @include txt-sm;
// //   }
//
// }




// !Temp fixes for old search
#wdn_search_frame {
  border: 0;
  height: 100%;
  @include mt-7;
  width: 100%;
}





// !UNL Google Search Results Overrides
.unl .gsc-control-cse {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  @include bg-transparent;
}

.unl .cse .gsc-control-cse {
  border: 0;
  padding: 0;
  @include bg-transparent;
}

.unl .gsc-control-cse .gsc-table-result {
  font-family: inherit;
  font-size: inherit;
}

.unl .gsc-above-wrapper-area {
  border: 0;
  padding: 0;
  @include mb-7;
}

.unl .gsc-result-info {
  color: $color-body;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.unl .gcsc-branding {
  display: none;
}

.unl .gsc-webResult .gsc-result {
  border: 0;
  @include pb-6;
  padding-top: 0;
}

.unl .gsc-thumbnail-inside {
  display: none;
}

.unl .gsc-thumbnail-left {
  display: block;
  @include mb-1;
}

.unl .gs-snippet {
  @include mb-1;
  @include mt-1;
}

.unl .gsc-result .gs-title {
  height: initial;
}

.unl .gs-result .gs-title,
.unl .gs-result .gs-title * {
  color: $scarlet;
  text-decoration: none;
}

.unl .gsc-control-cse .gs-spelling,
.unl .gsc-control-cse .gs-result .gs-title,
.unl .gsc-control-cse .gs-result .gs-title * {
  @include lh-3;
}

.unl .gsc-control-cse .gs-result .gsc-table-cell-snippet-close > .gs-title {
  @include txt-h5;
}

.unl .gsc-control-cse .gs-result .gsc-table-cell-snippet-close > .gs-title * {
  @include txt-base;
}

.unl .gsc-url-top {
  display: none;
}

.unl .gsc-control-cse .gs-snippet {
  color: inherit;
}

.unl .gsc-thumbnail {
  @include pr-5;
  @include pt-1;
}

.unl .gs-web-image-box,
.unl .gs-promotion-image-box {
  padding: 0;
}

.unl .gs-promotion-image-box img.gs-promotion-image,
.unl .gs-web-image-box img.gs-image {
  max-height: none;
  max-width: 100%;
}

.unl .gs-image-box.gs-web-image-box.gs-web-image-box-landscape,
.unl .gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
  width: #{ms(10)}rem;
}

.unl .gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
  height: auto;
}

.unl .gs-result img.gs-image,
.unl .gs-result img.gs-promotion-image {
  border-color: $color-border;
}

.unl .gsc-result.gsc-webResult:hover {
  border: 0;
}

.unl .gsc-url-bottom {
  display: block;
  @include txt-xs;
}

.unl .gsc-snippet-metadata,
.unl .gsc-role,
.unl .gsc-tel,
.unl .gsc-org,
.unl .gsc-location,
.unl .gsc-reviewer,
.unl .gsc-author,
.unl .gs-result .gs-visibleUrl,
.unl .gs-result a.gs-visibleUrl {
  color: $color-light-text;
}

.unl .gsc-results .gsc-cursor-box {
  border-color: $color-border;
  @include bt;
  margin: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  @include pt-4;
}

.unl .gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: $scarlet;
  display: inline-block;
  @include p-1;
  text-align: center;
}

.unl .gsc-results .gsc-cursor-box .gsc-cursor-page:not(:last-child) {
  @include mr-4;
}

.unl .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: $color-body;
  font-weight: 400;
  text-decoration: none;
}
