/////////////////////////////////
// !THEME / COMPONENTS / HEADINGS
/////////////////////////////////


.unl h1:not(.unl-font-display),
.unl h2:not(.unl-font-display),
.unl h3:not(.unl-font-display),
.unl h4:not(.unl-font-display),
.unl h5:not(.unl-font-display),
.unl h6:not(.unl-font-display) {
  @include font-sans;
  font-weight: 700;
  letter-spacing: -.03em;
  margin-left: -.03em;
}


.unl .dcf-subhead {
//   color: $light-text;
  font-weight: 400;
  @include ls-2;
}
