////////////////////////////////////
// !THEME / COMPONENTS / BREADCRUMBS
////////////////////////////////////


.unl .dcf-breadcrumbs {
  border-top: 1px solid $ui-100;
  flex: 0 1 auto;
  font-size: #{ms(-3)}em;
  @include pb-8;
  @include pt-6;
  position: relative;

  @include mq(md) {
    @include pt-5;
  }

}


.unl .dcf-nav-bar .dcf-breadcrumbs {
//   display: none;
  opacity: 0;
//   transform: translateY(25%);
//   transition: opacity 200ms ease-out, transform 200ms ease-out;
  transition: opacity 200ms ease-out;
}


.unl .dcf-nav-bar.dcf-modal-open .dcf-breadcrumbs {
//   display: block;
  opacity: 1;
//   transform: translateY(0);
  transition: opacity 200ms ease-out;
}


.unl .dcf-breadcrumbs li {
//   margin-bottom: 0;
  display: inline-block; //core
}


.unl .dcf-breadcrumbs li:not(:last-child) {
  @include mr-2;
}


.unl .dcf-breadcrumbs li:not(:last-child)::after {
  color: $color-lightest-text;
  content: '\2192';
  @include ml-2;
}
