////////////////////////////
// !THEME / COMPONENTS / APP
////////////////////////////



.unl-app-bg {
  background: $ui-800 url("../images/unl-app-bg.jpg") 50% 50%/cover no-repeat;
}


@include mq(md, max, width) {

  .unl.app .dcf-app-local-wrapper {
    bottom: $height-mobile-toolbar;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: $length-vw-2;
    padding-right: $length-vw-2;
//     pointer-events: none;
    position: fixed;
    z-index: 998;
  }

  .unl.app .dcf-app-controls {
    @include pb-4;
    @include pt-4;
  }

}


@include mq(md, min, width) {

  .unl.app .dcf-mobile-toolbar-menu {
    display: none;
  }

  .unl.app .dcf-app-controls {
    display: flex;
  }

  .unl.app .dcf-app-controls li:not(:last-child) {
    margin-right: $length-vw-1;
  }

}
