////////////////////////////////////
// !THEME / COMPONENTS / NAV: GLOBAL
////////////////////////////////////


.unl .dcf-nav-global li:not(:last-child) {
  margin-right: 0; // remove after updated in DCF core
}


.unl .dcf-nav-global a {
  padding-left: #{ms(-2)}vw;
  padding-right: #{ms(-2)}vw;
}


@include mq(md, max, width) {

  .unl .dcf-nav-global {
    display: none; // TODO: remove and determine placement for viewport widths under 'md' breakpoint
  }

}


@include mq(md, min, width) {

  .unl .dcf-nav-global {
    display: flex;
  }


  .unl .dcf-nav-global a {
    @include inverse-link;
  }

}
