/////////////////////////////////////
// !THEME / COMPONENTS / INPUT GROUPS
/////////////////////////////////////


// !Input Group Button
.unl .dcf-c-input-group .dcf-c-btn {
  margin-left: -1px;
  padding-bottom: 0;
  padding-top: 0;
}


// !Input Group Add-on
.unl .dcf-c-input-group-addon {
  background-color: lighten($color-border,15%); // convert to variable
  border-color: $color-border;
  border-style: solid;
  color: $color-light-text;
  @include font-sans;
  @include pb2;
  @include pl3;
  @include pr3;
  @include pt2;
}


.unl .dcf-c-input-group-addon:not(:last-child) {
  border-width: 1px 0 1px 1px;
}


.unl .dcf-c-input-group-addon:last-child {
  border-width: 1px 1px 1px 0;
}
