//////////////////////////////////////////////////
// !THEME / COMPONENTS / IDM (IDENTITY MANAGEMENT)
//////////////////////////////////////////////////


// !Notification Center / Dashboard

@include mq(md, max, width) {

  .unl .dcf-idm-results {
    @include pb-8; // update in core
  }

  .unl .dcf-idm-options {
    top: -3px;
    transform: translateY(-100%);
  }

  .unl .dcf-idm-toggle {
    display: none;
  }

}


@include mq(md, min, width) {

  .unl .dcf-idm-toggle {
    display: flex;
  }

  .unl .dcf-mobile-toolbar-toggle-idm {
    z-index: 1;
  }

  // TODO: add hover and focus states
  .unl .dcf-mobile-toolbar-toggle-idm .dcf-mobile-toolbar-label-idm {
    @include cream;
  }

  .unl .dcf-idm-img {
    bottom: -#{ms(-2)}em;
    fill: mix($cream, #000, 90%);
  }

  .unl .dcf-idm-results {
    @include pb-10; // update in core
  }

  .unl .dcf-idm-options {
    margin-top: 3px;
    right: 0;
    top: 100%;

    ul {
      position: relative;
      z-index: 1;
    }
  }

  .unl .dcf-idm-options li:last-child {
    margin-bottom: 0;
  }


}


@supports (display: grid) {

  .unl .dcf-dashboard-person-details {
    grid-area: person-details;
  }

  .unl .dcf-dashboard-person-avatar {
    grid-area: person-avatar;
  }

  .unl .dcf-dashboard-person {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'person-avatar person-details';
  }

}
