///////////////////////////////
// !THEME / COMPONENTS / GLOBAL
///////////////////////////////


.unl-institution-title-ls {
  letter-spacing: #{ms(-8)}em; // custom letter-spacing for space after italicized 'of' in institution title
}


.unl .dcf-site-afiliation a {
  display: inline-block;
  padding-bottom: #{ms(-10)}em;
}


.unl .dcf-site-title {
  letter-spacing: .032em;
}


@media print, screen and (min-width: 22.5em) {

  .unl .dcf-institution-title::before {
    content: 'The ';
    text-transform: uppercase;
  }

}


@include mq(md, max, width) {

  .unl .dcf-site-title {
    @include txt-h5;
  }

}


@include mq(md, min, width) {

  .unl .dcf-site-title {
    @include txt-h4;
  }

}
