///////////////////////////////
// !THEME / COMPONENTS / SEARCH
///////////////////////////////


.unl-google-results {
  @include mb8;
}

.unl-c-directory-result:not(:last-child) {
  @include mb6;
}

.unl-c-directory-result:last-child {
  @include mb0;
}

@include mq(md, min, width) {

  .unl .dcf-c-search-form {
    @include sm2;
  }

}


// !UNL Google Search Results Overrides
.unl .cse .gsc-control-cse,
.unl .gsc-control-cse {
  @include p0;
  @include b0;
  @include bg-transparent;
}

.unl .gsc-control-cse,
.unl .gsc-control-cse .gsc-table-result {
  font-family: inherit;
  font-size: inherit;
}

.unl .gsc-above-wrapper-area {
  @include mb7;
  @include p0;
  @include b0;
}

.unl .gsc-result-info {
  @include m0;
  @include p0;
  font-size: inherit;
  color: $color-body;
}

.unl .gcsc-branding {
  @include none;
}

.unl .gsc-webResult .gsc-result {
  @include pt0;
  @include pb6;
  @include b0;
}

.unl .gsc-thumbnail-inside {
  @include none;
}

.unl .gsc-thumbnail-left {
  @include mb1;
}

.unl .gs-snippet {
  @include mt1;
  @include mb1;
}

.gsc-control-cse .gs-result .gsc-table-cell-snippet-close > .gs-title {
  @include h5;
}

.gsc-control-cse .gs-result .gsc-table-cell-snippet-close > .gs-title * {
  font-size: 1em;
}

.unl .gsc-url-top {
  @include none;
}

.unl .gsc-control-cse .gs-snippet {
  color: inherit;
}

.unl .gsc-thumbnail {
  @include pt1;
  @include pr5;
}

.unl .gs-web-image-box,
.unl .gs-promotion-image-box {
  @include p0;
}

.unl .gs-promotion-image-box img.gs-promotion-image,
.unl .gs-web-image-box img.gs-image {
  max-width: 100%;
  max-height: none;
}

.unl .gs-image-box.gs-web-image-box.gs-web-image-box-landscape,
.unl .gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
  width: #{ms(10)}rem;
}

.unl .gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
  height: auto;
}

.unl .gs-result img.gs-image,
.unl .gs-result img.gs-promotion-image {
  border-color: $color-border;
}

.unl .gsc-thumbnail-left {
  @include block;
}

.unl .gsc-result .gs-title {
  height: initial;
}

.unl .gsc-control-cse .gs-spelling,
.unl .gsc-control-cse .gs-result .gs-title,
.unl .gsc-control-cse .gs-result .gs-title * {
  @include lh2;
}

.unl .gsc-result.gsc-webResult:hover {
  @include b0;
}

.unl .gs-result .gs-title,
.unl .gs-result .gs-title * {
  color: $scarlet;
  @include txt-decor-none;
}

.unl .gsc-url-bottom {
  @include block;
  @include sm2;
}

.unl .gsc-snippet-metadata,
.unl .gsc-role,
.unl .gsc-tel,
.unl .gsc-org,
.unl .gsc-location,
.unl .gsc-reviewer,
.unl .gsc-author,
.unl .gs-result .gs-visibleUrl,
.unl .gs-result a.gs-visibleUrl {
  color: $color-light-text;
}

.unl .gsc-results .gsc-cursor-box {
  @include m0;
  @include pt4;
  @include pr0;
  @include pb0;
  @include pl0;
  @include bt;
  border-color: $color-border;
}

.unl .gsc-results .gsc-cursor-box .gsc-cursor-page {
  @include inlineblock;
  @include p1;
  @include txt-center;
  color: $scarlet;
}

.unl .gsc-results .gsc-cursor-box .gsc-cursor-page:not(:last-child) {
  @include mr4;
}

.unl .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  font-weight: 400;
  @include txt-decor-none;
  color: $color-body;
}
