///////////////////////////////
// !THEME / COMPONENTS / FOOTER
///////////////////////////////


// !Common Footer Styles

.unl .dcf-c-footer dd:last-child,
.unl .dcf-c-footer li:last-child {
  @include mb0;
}

.unl .dcf-c-footer a {
  color: $color-footer-link;
}

.unl .dcf-c-footer a:link {
  color: $color-footer-link;
}

.unl .dcf-c-footer a:visited {
  color: $color-footer-link-visited;
}

.unl .dcf-c-footer a:hover {
  color: $color-footer-link-hover;
}

.unl .dcf-c-footer a:active {
  color: $color-footer-link-active;
}


// !Local Footer
.unl .dcf-c-footer__local {
  @include font-sans;
  color: $color-footer-local;
  background-color: $color-footer-local-bg;
}


// !Global Footer
.unl .dcf-c-footer__global {
  color: $color-footer-global;
  background-color: $color-footer-global-bg;
}


@include mq(md, max, width) {

  .unl .dcf-c-footer__global {
    padding-bottom: #{ms(14)}em; // 7.48em
  }

}


@include mq(md, min, width) {

  .unl .dcf-c-footer__global {
    @include pb8;
  }

}

@supports (display: grid) {

  .unl .dcf-c-footer__local {
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));
  }

  .unl .dcf-c-footer__global {
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));
  }

  @include mq(sm, min, width) {

    .unl .dcf-c-footer__global {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "social campus"
        "policies logos"
        "copyright copyright";
    }

    .unl-c-footer-social {
      grid-area: social;
    }

    .unl-c-footer-campus {
      grid-area: campus;
    }

    .unl-c-footer-policies {
      grid-area: policies;
    }

    .unl-c-footer-logos {
      grid-area: logos;
    }

    .unl-c-footer-copyright {
      grid-area: copyright;
    }

  }

  @include mq(sm, min, width) {

    .unl .dcf-c-footer__global {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "social campus policies"
        "logos copyright copyright";
    }

  }

  @include mq(md, min, width) {

    .unl .dcf-c-footer__global {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "social campus policies logos"
        "copyright copyright copyright copyright";
    }

  }

}
