.unl .dcf-o-dialog__close {
  color: $scarlet;
}

// dialog element resets
dialog {
  border: none !important;
  transform-origin: center;
  //force padding 0 otherwise click close will not work accurately
  padding: 0;
  background-color: transparent;
  // restrict width when browser doesn't support fit-content
  width: 80vw;

  &::backdrop {
    background-color: rgba(0,0,0,.8);

    @supports (backdrop-filter: blur(6px)) {
      background-color: rgba(0,0,0,.7);
      backdrop-filter: blur(6px) grayscale(10%);
    }
  }

  // should there be a default animation?
  &[open] {
    animation: appear 300ms forwards ease-out;
  }
}

.dcf-o-dialog {
  background-color: #fff;
  //prevent margin collapse
  border: 1px solid transparent;
  @include ml2;
  @include mr2;

  .dcf-o-dialog__header {
    @include font-sans;
  }

  .dcf-o-dialog__body {
  }

  .dcf-o-dialog__footer {
  }

  .dcf-o-dialog__close {
    border: 0;
    position: absolute;
    top: 0;
    right: $length2;
    padding: 0 0.7em;

    &:before {
      content: '\00D7';
      @include lg4;
    }
  }
}

// Dialog polyfill styles
.dcf-js-dialog .backdrop {
  background-color: rgba(0,0,0,.8);

  @supports (backdrop-filter: blur(6px)) {
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(6px) grayscale(10%);
  }
}


@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}