///////////////////////////////
// !THEME / COMPONENTS / GLOBAL
///////////////////////////////


.unl-institution-title-ls {
  letter-spacing: #{ms(-8)}em; // custom letter-spacing for space after italicized 'of' in institution title
}


.unl-n150 {
  height: #{ms(9)}em;
  width: #{ms(12)}em;
}


@media print, screen and (min-width: 22.5em) {

  .unl .dcf-institution-title::before {
    content: 'The ';
    text-transform: uppercase;
  }

}
