//////////////////////////////////////////////////
// !THEME / COMPONENTS / IDM (IDENTITY MANAGEMENT)
//////////////////////////////////////////////////


// !Notification Center / Dashboard

@include mq(md, max, width) {

  .dcf-idm-results {
    @include pb-8; // update in core
  }

}


@include mq(md, min, width) {

  .unl .dcf-mobile-toolbar-toggle-idm {
    @include inverse;
    height: 100%;
    position: relative;
  }

  .unl .dcf-mobile-toolbar-label-idm {
    @include font-serif;
    @include pr-10;
  }

  .unl .dcf-mobile-toolbar-icon-idm {
    @include bg-cream;
    border: 3px solid $cream;
    bottom: -#{ms(0)}em;
    fill: mix($cream, #000, 90%);
    @include h-9;
    position: absolute;
    right: 0;
    @include w-9;
  }

  .dcf-idm-results {
    @include pb-10; // update in core
  }

}


@supports (display: grid) {

  .dcf-dashboard-person-details {
    grid-area: person-details;
  }

  .dcf-dashboard-person-avatar {
    grid-area: person-avatar;
  }

  .dcf-dashboard-person {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'person-avatar person-details';
  }

}
