////////////////////////////////////
// !THEME / COMPONENTS / NAV: TOGGLE
////////////////////////////////////


.unl .dcf-nav-toggle-label {
  font-size: #{ms(-4)}em;
}


.unl .dcf-nav-toggle-btn {
  appearance: none;
}


@include mq(md, max, width) {

  .unl .dcf-nav-toggle {
    display: flex;
    border-top: 3px solid $scarlet;
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 9999;
  }


  .unl .dcf-nav-toggle-btn {
    width: 25%;
  }


  .unl .dcf-nav-toggle-btn-menu {
    left: 0;
  }


  .unl .dcf-nav-toggle-btn-search {
    left: 25%;
  }


  .unl .dcf-nav-toggle-btn-idm {
    left: 50%;
  }


  .unl .dcf-nav-toggle-btn-chat {
    left: 75%;
  }


  .headroom {
  	will-change: transform;
  	-webkit-transition: -webkit-transform 250ms ease-out, opacity 250ms ease-out !important;
  	transition: transform 250ms ease-out, opacity 250ms ease-out !important;
  }


//   .headroom--fixed {
//   	position: -webkit-fixed;
//   	position: fixed;
//   	z-index: 10;
//   	right: 0;
//   	left: 0;
//   	bottom: 0vh;
//   }


  .headroom--pinned {
    opacity: 1;
  	-webkit-transform: translateY(0%);
  	-ms-transform: translateY(0%);
  	transform: translateY(0%);
  }


  .headroom--unpinned {
    opacity: 0;
  	-webkit-transform: translateY(100%);
  	-ms-transform: translateY(100%);
  	transform: translateY(100%);
  }

}


@include mq(md, min, width) {

  .unl .dcf-nav-toggle {
    display: none;
  }


  .unl .dcf-menu-toggle {
    border-top: 1px solid $ui-100;
    z-index: 998;
  }


  .unl .dcf-menu-toggle-icon {
    margin-bottom: #{ms(-4)}em;
  }

}
