///////////////////////////////
// !THEME / COMPONENTS / FOOTER
///////////////////////////////


// !TEMPORARY
.unl .dcf-o-list-inline-item::before {
  content: none;
}




// !Common Footer Styles

.unl .dcf-c-footer dd:last-child,
.unl .dcf-c-footer li:last-child {
  @include mb0;
}

.unl .dcf-c-footer a {
  color: $color-footer-link;
}

.unl .dcf-c-footer a:link {
  color: $color-footer-link;
}

.unl .dcf-c-footer a:visited {
  color: $color-footer-link-visited;
}

.unl .dcf-c-footer a:hover {
  color: $color-footer-link-hover;
}

.unl .dcf-c-footer a:active {
  color: $color-footer-link-active;
}


// !Local Footer
.unl .dcf-c-footer__local {
  @include font-sans;
  color: $color-footer-local;
  background-color: $color-footer-local-bg;
}


// !Global Footer
.unl .dcf-c-footer__global {
  color: $color-footer-global;
  background: $color-footer-global-bg url('../images/seal.svg') 50% 50% no-repeat;
}


@include mq(md, max, width) {

  .unl .dcf-c-footer__global {
    padding-bottom: #{ms(14)}em; // 7.48em
  }

}


@include mq(md, min, width) {

  .unl .dcf-c-footer__global {
    @include pb8;
  }

}

@supports (display: grid) {

  .unl .dcf-c-footer__local {
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));
  }

  .unl .dcf-c-footer__global {
    grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));
  }

  @include mq(sm, min, width) {

    .unl-c-footer-local-heading {
      grid-area: heading;
    }

    .unl-c-footer-local1 {
      grid-area: lf1;
    }

    .unl-c-footer-local2 {
      grid-area: lf2;
    }

    .unl-c-footer-local3 {
      grid-area: lf3;
    }

    .unl-c-footer-local4 {
      grid-area: lf4;
    }


    .unl .dcf-c-footer__global {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "social campus" "policies logos" "address address" "wdn wdn" "copyright copyright";
    }

    .unl-c-footer-social {
      grid-area: social;
    }

    .unl-c-footer-campus {
      grid-area: campus;
    }

    .unl-c-footer-policies {
      grid-area: policies;
    }

    .unl-c-footer-logos {
      grid-area: logos;
    }

    .unl-c-footer-wdn {
      grid-area: wdn;
    }

    .unl-c-footer-address {
      grid-area: address;
    }

    .unl-c-footer-institution {
      grid-area: institution;
    }

    .unl-c-footer-copyright {
      grid-area: copyright;
    }

  }

  @include mq(sm, min, width) {

    .unl .dcf-c-footer__local {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "heading heading heading" "lf1 lf2 lf3";
    }

    .unl .dcf-c-footer__global {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "campus policies social" "logos logos logos" "wdn wdn copyright";
    }

  }

  @include mq(md, min, width) {

    .unl .dcf-c-footer__local {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "heading heading heading heading" "lf1 lf2 lf3 lf4";
    }

    .unl .dcf-c-footer__global {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "logos campus policies social" "wdn wdn wdn copyright";
    }

  }

}
