//////////////////////////////
// !THEME / COMPONENTS / FORMS
//////////////////////////////


// !Legend
.unl .dcf-legend {
  @include font-sans;
  @include mb-1;
  @include mt-1;
}


// !Form Group
.unl .dcf-form-group {
  @include mb-4;
}


// !Label
.unl .dcf-label {
  @include font-sans;
  @include txt-sm;
}


// !Required
.unl .dcf-required {
  color: $scarlet;
  @include txt-xs;
  font-style: italic;
  @include pl-2;
}


// !Inputs
.unl .dcf-input-text,
.unl .dcf-input-file,
.unl .dcf-input-select {
  color: $color-body;
  @include font-sans;
}


// !Input: Text
.unl .dcf-input-text {
  border: 1px solid $color-border-input;
  border-radius: 0;
  padding: $length-em-2 $length-em-3;

  &:hover,
  &:focus {
    box-shadow: 0 0 $length-em-3 fade-out($color-border-input-hover,.25);
  }

  &:focus {
    outline: none;
  }

}


// !Input: Control
.unl .dcf-input-control {
  @include mr-1;
}


// !Input: File
.unl .dcf-input-file {
  @include mb-2;
  @include mt-2;
}


// !Form Help
.unl .dcf-form-help {
  color: $color-light-text;
  @include txt-xs;
  @include mt-1;
}
