::-moz-selection {
    background: #fbea75;
    text-shadow: none;
    color: @base-text !important;
}
::selection {
    background: #fbea75;
    text-shadow: none;
    color: @base-text !important;
}
