.skipnav {

    a:focus, a:active {
        left: 0;
        padding: 0.5em;
        line-height: 1;
        .nav-bar;
    }
}

#navigation {
    a {
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

@media @bp-nav-hidden {
    .nav-scrolling .wdn-menu-trigger {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: @nav-z-index;
        border: none;
        .box-shadow(0 2px 5px fadeout(@dark-neutral, 25%))
    }
    
    #wdn_menu_toggle:checked { // Change states when toggle is checked

        ~ .wdn-content-slide, ~ noscript .wdn-content-slide {
            left: 200px;
        }

        ~ #wdn_navigation_bar {
            left: 0;
        }
    }
}

@media @bp-nav-full {
    #wdn_menu_toggle:checked { // Change states when toggle is checked

        ~ #wdn_navigation_bar {

            #navigation > ul {

                > li {

                    > a {
                        .background-image(~"linear-gradient(bottom, rgba(0,0,0,.10) 0%, rgba(255,255,255,0) 40%)");
                    }
                }
            }


            #navigation li ul {
                height: auto;
                margin-bottom: 5px;
            }

            .wdn-icon-menu:after {
                .rotate(180deg);
                top: -14px;
            }
        }
    }
    
    .js {
        #wdn_navigation_bar {
            visibility: hidden;
        }
        
        .nav_ready #wdn_navigation_bar {
            visibility: visible;
        }
        
        #navigation {
            position: absolute;
            
            li ul {
                height: auto;
            }
        }
        
        .nav-scrolling #navigation {
            position: fixed;
            top: 0;
        }
    }
    
    #navigation li ul {
        .nav_ready & {
            .transition(height linear 0.3s, margin 0.3s linear);
        }
        
        .nav_collapsed & {
            height: 0 !important;
        }
        
        .nav_expanded & {
            
        }
    }

    #navigation > ul {

        > li:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        li {
            display: block;

            a {
                background-image: none;
            }
        }
    }
}
