.skipnav {

    a:focus {
        text-indent: 0;
        line-height: 1;
    }
}

#navigation {
    a {
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

@media (@bp-nav-hidden) {
    #wdn_menu_toggle:checked { // Change states when toggle is checked

        ~ .wdn-content-slide {
            left: 200px;
        }

        ~ #wdn_navigation_bar {
            left: 0;
        }
    }
}

@media (@bp-nav-full) {
    #wdn_menu_toggle:checked { // Change states when toggle is checked

        ~ #wdn_navigation_bar {

            #navigation li ul {
                height: 100%;
            }

            .wdn-icon-menu:after {
                .rotate(180deg);
                top: -14px;
            }
        }
    }

    #navigation { // Change states when nav is hovered

        &:hover {

            ul {
                height: 100%;
            }

            li {

                a {
                    @media (@bp-nav-full) {
                        .background-image(~"linear-gradient(bottom, rgba(0,0,0,.10) 0%, rgba(255,255,255,0) 40%)");
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                li {
                    display: block;

                    a {
                        background-image: none;
                    }
                }
            }
        }
    }
}