.wdn-share-options {

    &:before {
        content: '';
        position: absolute;
        left: 1.899em;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #444340;
        border-bottom: 12px solid fadeout(#444340, 3%);
    }

	li {
		a {
		    &:hover {
		        color: @cream;
		    }
		}
	}

}

