// Layout of share icon & options
.nav-scrolling .wdn-share-this-page {
    position: fixed;
    z-index: (@nav-z-index + 1);
}

.nav-scrolling .wdn-icon-share {
    top: 0;
    width: 1.425em;
}

.nav-scrolling .wdn-share-options {

    @media @bp-nav-hidden {
        top: 23px;
    }

    @media @bp-nav-full {
        top: 38px;
    }
}

@media @bp-nav-hidden {
    .wdn-share-this-page {
        .nav-scrolling & {
            top: 0;
            .transition(left @nav-transition-duration ease);
        }
        
        .nav-scrolling #wdn_menu_toggle:checked ~ .wdn-content-slide & {
            left: (15% + @nav-width);
        }
    }
}

@media @bp1 {
    .wdn-share-this-page {
        .nav-scrolling #wdn_menu_toggle:checked ~ .wdn-content-slide & {
            left: (12% + @nav-width);
        }
    }
}

// Change states when toggle is checked or hovered
#wdn_share_toggle:checked ~ .wdn-share-options,
.wdn-icon-share:hover ~ .wdn-share-options,
.wdn-share-options:hover { 
    display: block;
    height: auto;
    padding: 1.069em 2.369em;

    &:before {
        content: '';
        position: absolute;
        left: 1.899em;
        top: -6px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #444340;
        border-bottom: 12px solid fadeout(#444340, 3%);

        @media @bp-nav-full {
            left: auto;
            right: 4px;
        }
    }
}

#wdn_share_toggle {
    display: none;
}
