//////////////////////////////
// THEME / LEGACY / NAV: LOCAL
//////////////////////////////



.unl .dcf-nav-local > ul {
  display: flex;
}


.unl .dcf-nav-local > ul > li {
  flex-basis: 50%;
}


@include mq(md, max, width) {

  .unl .dcf-nav-local > ul {
    flex-flow: row wrap;
  }

}


@include mq(sm, min, width) {

  .unl .dcf-nav-local > ul > li {
    flex-basis: calc(100% / 3);
  }

}


@include mq(md, min, width) {

  .unl .dcf-nav-local > ul > li {
    flex-basis: calc(100% / 6);
  }

}
