<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'wdn/templates_6.0/includes/global/head-1.html' %}
    <!--
      Membership and regular participation in the University of Nebraska-Lincoln (UNL) Web Developer Network (WDN) is required to use the UNLedu Web Framework. Visit the WDN site at https://wdn.unl.edu/. Register for our mailing list and add your site or server to UNL Web Audit.
      All framework code is the property of the UNL Web Developer Network. The code seen in a source code view is not, and may not be used as, a template. You may not use this code, a reverse-engineered version of this code, or its associated visual presentation in whole or in part to create a derivative work.
      This message may not be removed from any pages based on the UNLedu Web Framework.

      $Id$
    -->
    <!-- TemplateBeginEditable name="doctitle" -->
    {% block doctitle %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/head-2-local.html' %}
    <!-- TemplateBeginEditable name="head" -->
    {% block head %}{% endblock %}
    <!-- TemplateEndEditable -->
</head>
<body class="unl app" data-version="5.3">
{% include 'wdn/templates_6.0/includes/global/skip-nav.html' %}
<header class="dcf-header" id="dcf-header" role="banner">
    {% include 'wdn/templates_6.0/includes/global/header-global-1.html' %}
    {% include 'wdn/templates_6.0/includes/global/idm.html' %}
    {% include 'wdn/templates_6.0/includes/global/search.html' %}
    {% include 'wdn/templates_6.0/includes/global/header-global-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/logo-lockup-1.html' %}
    {% include 'wdn/templates_6.0/includes/global/site-affiliation-1.html' %}
    <!-- TemplateBeginEditable name="affiliation" -->
    {% block affiliation %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/site-affiliation-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/site-title-1.html' %}
    <!-- TemplateBeginEditable name="titlegraphic" -->
    {% block titlegraphic %}<a class="dcf-txt-h5" href="#">Web Application</a>{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/site-title-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/logo-lockup-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-container-1.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-toggle-group.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-menu-1.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-local-1.html' %}
    <!-- TemplateBeginEditable name="appcontrols" -->
    {% block appcontrols %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/nav-local-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-menu-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-dialog-1.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-local-copy-dialog.html' %}
    {% include 'wdn/templates_6.0/includes/global/cta-1.html' %}
    {% include 'wdn/templates_6.0/includes/global/visit-1.html' %}
    <!-- TemplateBeginEditable name="navvisit" -->
    {% block navvisit %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/visit-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/apply-1.html' %}
    <!-- TemplateBeginEditable name="navapply" -->
    {% block navapply %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/apply-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/give-1.html' %}
    <!-- TemplateBeginEditable name="navgive" -->
    {% block navgive %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/give-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/cta-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-dialog-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/nav-container-2-local.html' %}
    {% include 'wdn/templates_6.0/includes/global/app-search-1.html' %}
    <!-- TemplateBeginEditable name="appsearch" -->
    {% block appsearch %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/app-search-2.html' %}
</header>
<main class="dcf-wrapper" id="dcf-main" role="main" tabindex="-1">
    <!-- TemplateBeginEditable name="highlighted" -->
    {% block highlighted %}{% endblock %}
    <!-- TemplateEndEditable -->
    <!-- TemplateBeginEditable name="maincontentarea" -->
    {% block content %}{% endblock %}
    <!-- TemplateEndEditable -->
</main>
<footer class="dcf-footer" id="dcf-footer" role="contentinfo">
    <!-- TemplateBeginEditable name="optionalfooter" -->
    {% block optionalfooter %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/footer-global-1.html' %}
    <!-- TemplateBeginEditable name="contactinfo" -->
    {% block contactinfo %}{% endblock %}
    <!-- TemplateEndEditable -->
    {% include 'wdn/templates_6.0/includes/global/footer-global-2.html' %}
    {% include 'wdn/templates_6.0/includes/global/footer-global-3-std.html' %}
    {% include 'wdn/templates_6.0/includes/global/noscript.html' %}
</footer>
{% include 'wdn/templates_6.0/includes/global/js-body-local.html' %}
<!-- TemplateBeginEditable name="jsbody" -->
{% block jsbody %}{% endblock %}
<!-- TemplateEndEditable -->
</body>
</html>
