.base-font() {
    font-family: 'Source Serif 4', 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;
}

.brand-font() {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heading-font() {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.sans-serif-font() {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontello() {
	font-family: 'wdn-icon';
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;

    // Uncomment for 3D effect
    // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
