//micro-clearfix
.clear-fix() {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-hidden() {
    text-indent: -9999em;
    line-height: 0;
    float: left;
    clip: rect(0,0,0,0);
}

.brand-gradient() {
    background-color: @brand;
    background-image: linear-gradient(bottom, rgba(0,0,0,.15) 0%, rgba(255,255,255,0) 20%);
}

.is-hidden() {
    visibility: hidden;
    pointer-events: none;
	opacity: 0;
}

.is-visible() {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

// Improve performance on mobile/tablet devices
.hardware-accel() {
	-webkit-transform: translateZ(0);
}

// Improve aliasing on mobile/tablet devices
.improve-antialias() {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

// Transforms need to be block-level to work
.force-block-level() {
	display: inline-block;
	vertical-align: middle;
}

// Combines the above CSS3 transform functions into a single function for easy use
.css3-transform() {
    .hardware-accel();
    .improve-antialias();
    .force-block-level();
}

// Function for creating color bands
.wdn-band(@color) {
    background-color: @color;
}

.wdn-band-seperator(@color) {
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: @color;
}
