///////////////////////////////
// THEME / DEPRECATED / HELPERS
///////////////////////////////


.centered {
	float: none !important;
	margin: 0 auto !important;
}

.clear {
	clear: both;
}

.clear-top {
  margin-top: 0 !important;
}

.hidden {
  display: none;
}

.wdn-fouc-fix {
	visibility: hidden;
}

.wdn-pull-left {
  float: left;
}

.wdn-pull-right {
  float: right;
}

.wdn-text-hidden {
  @include sr-only;
}

.wdn-responsive-embed {
  @include ratio;
}

.wdn-aspect16x9 {
  @include ratio-16x9;
}

.wdn-aspect3x4 {
  @include ratio-4x3;
}

.wdn-responsive-embed embed,
.wdn-responsive-embed iframe,
.wdn-responsive-embed object,
.wdn-responsive-embed video,
.wdn-responsive-embed .wdn-responsive-item {
  @include ratio-child;
  border: 0;
  height: 100%;
  width: 100%;
}
