/////////////////////////////////////
// THEME / MIXINS / BACKGROUND COLORS
/////////////////////////////////////


// Scarlet
@mixin bg-scarlet($imp:null) { background-color: $bg-color-brand-alpha $imp; }


// Cream
@mixin bg-cream($imp:null) { background-color: $bg-color-body $imp; }
@mixin bg-cream-at-dark($imp:null) { background-color: $cream $imp; }


// Gray
@mixin bg-lightest($imp:null) { background-color: $bg-color-gray-lightest $imp; }
@mixin bg-lightest-at-dark($imp:null) { background-color: $lightest-gray $imp; }
@mixin bg-lighter($imp:null) { background-color: $bg-color-gray-lighter $imp; }
@mixin bg-lighter-at-dark($imp:null) { background-color: $lighter-gray $imp; }
@mixin bg-light($imp:null) { background-color: $bg-color-gray-light $imp; }
@mixin bg-light-at-dark($imp:null) { background-color: $light-gray $imp; }
@mixin bg-dark($imp:null) { background-color: $dark-gray $imp; }
@mixin bg-darker($imp:null) { background-color: $darker-gray $imp; }
@mixin bg-darkest($imp:null) { background-color: $darkest-gray $imp; }


// Cerulean
@mixin bg-cerulean($imp:null) { background-color: $cerulean $imp; }


// Green
@mixin bg-green($imp:null) { background-color: $green $imp; }
@mixin bg-light-green($imp:null) { background-color: $bg-color-brand-light-zeta $imp; }
@mixin bg-light-green-at-dark($imp:null) { background-color: $light-green $imp; }


// Blue
@mixin bg-blue($imp:null) { background-color: $blue $imp; }
@mixin bg-light-blue($imp:null) { background-color: $bg-color-brand-light-eta $imp; }
@mixin bg-light-blue-at-dark($imp:null) { background-color: $light-blue $imp; }


// Purple
@mixin bg-purple($imp:null) { background-color: $purple $imp; }
@mixin bg-light-purple($imp:null) { background-color: $bg-color-brand-light-theta $imp; }
@mixin bg-light-purple-at-dark($imp:null) { background-color: $light-purple $imp; }


// Yellow
@mixin bg-yellow($imp:null) { background-color: $yellow $imp; }
