/////////////////////////
// THEME / MIXINS / FONTS
/////////////////////////


// Serif
@mixin font-serif-ltd-caps($imp:null) {
  font-family: 'Source Serif 4', Georgia, serif $imp;
  font-weight: 500 $imp;
}


@mixin font-serif-ltd-italic($imp:null) {
  font-family: 'Source Serif 4', Georgia, serif $imp;
  font-weight: 500 $imp;
}


// Sans Serif
@mixin font-sans($imp:null) {
  font-family: 'Work Sans', Verdana, sans-serif $imp;
}


// Monospace
@mixin font-mono($imp:null) {
  font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace $imp;
}
