////////////////////////////
// THEME / VARIABLES / FORMS
////////////////////////////


@import '_variables.body';
@import '_variables.borders';
@import '_variables.colors';
@import '_variables.modular-scale';
@import '_variables.sizing';


// Border color
$border-color-fieldset: $light-gray;                    // Fieldset border-color
$border-color-input: $gray;                             // Input field border-color
$border-color-input-hover: $gray;                       // Input field border-color when hovered
$border-color-input-focus: $color-brand-alpha;          // Input field border-color when focused


// Border radius
$border-radius-input-roundrect: false;                  // Input field border-radius roundrect? True/false
$border-radius-fieldset-roundrect: false;               // Fieldset border-radius roundrect? True/false


// Border style
$border-style-input: solid;                             // Input field border-style


// Border width
$border-width-input: 1px;                               // Input field border-width


// Color
$color-form-help: $color-light-text;                    // Form help text color
$color-required-label: $color-required;                 // Required label text color


// Font size
$font-size-label: #{ms(-1)}em;                          // Label font-size: .84em
$font-size-legend: #{ms(-1)}em;                         // Legend font-size: .84em
$font-size-form-help: #{ms(-2)}em;                      // Form help font-size: .75em
$font-size-required: #{ms(-2)}em;                       // Required label font-size: .75em


// Font style
$font-style-required-italic: true;                      // Italic font-style for required label? True/false


// Line height
$line-height-form-help: #{ms(2)};                       // Form help line-height


// Margin
$margin-bottom-fieldset: $length-em-4;                  // Fieldset margin-bottom: 1em
$margin-bottom-form-group: $length-em-4;                // Form group margin-bottom: 1em
$margin-top-form-help: $length-em-1;                    // Form help margin-top: .42em
$margin-right-form-controls-inline-label: $length-em-4; // Form controls inline label margin-right: 1em


// Opacity
$opacity-disabled: .75;                                 // Opacity for disabled elements


// Padding
$padding-bottom-fieldset: $length-em-4;                 // Padding-bottom of fieldset: 1em
$padding-left-fieldset: $length-vw-1;                   // Padding-left of fieldset: 3.16vw
$padding-right-fieldset: $length-vw-1;                  // Padding-right of fieldset: 3.16vw
$padding-top-fieldset: $length-em-4;                    // Padding-top of fieldset: 1em

$padding-bottom-input: $length-em-2;                    // Padding-bottom of input field: .56em
$padding-left-input: $length-em-3;                      // Padding-left of input field: .75em
$padding-right-input: $length-em-3;                     // Padding-right of input field: .75em
$padding-top-input: $length-em-2;                       // Padding-top of input field: .56em

$padding-legend: $length-em-2;                          // Padding around legend

$padding-left-required: $length-em-1;                   // Padding-left of required label: .42em
