//////////////////////////////////
// THEME / VARIABLES / BREAKPOINTS
//////////////////////////////////


// Ems
$mq-ems: true;
$mq-em-base: 16px !default;


// Breakpoints
$mq-breakpoints: (
  'sm': 673.44px,   // 42.09em
  'md': 897.92px,   // 56.12em
  'lg': 1197.28px,  // 74.83em
  'xl': 1596.32px,  // 99.77em
) !default;

$mq-media: "only screen" !default;
