/////////////////////////////
// THEME / VARIABLES / COLORS
/////////////////////////////


// PRIMARY BRAND
$color-brand-alpha: #d00000;    // Scarlet
$color-brand-beta: #fefdfa;     // Cream

$scarlet: $color-brand-alpha;
$cream: $color-brand-beta;

$scarlet-shade: scale-color($scarlet, $hue: 1deg, $saturation: 10%, $lightness: -24%);
$scarlet-tint: #fae6e3;


// SECONDARY BRAND
$color-brand-gamma: #c7c8ca;    // Gray
$color-brand-delta: #3fa6c5;    // Accent Blue

$gray: $color-brand-gamma;
$accent-blue: $color-brand-delta;


// TERTIARY / SCREEN
$color-brand-epsilon: #ffd74e;  // Yellow
$color-brand-zeta: #00784e;     // Green
$color-brand-eta: #007197;      // Blue
$color-brand-theta: #b32d9c;    // Purple

$yellow: $color-brand-epsilon;
$green: $color-brand-zeta;
$blue: $color-brand-eta;
$purple: $color-brand-theta;

$green-tint: #e7f1ea;
$blue-tint: #e7f0f0;
$purple-tint: #f7eaf1;


// NEUTRALS
$white: #fff;
$black: #000;

// Mix cream and gray brand colors for base color
$mix-cream-gray: mix($cream, $gray);            // #e3e3e2

$light-gray: $mix-cream-gray;                   // #e3e3e2
$lighter-gray: lighten($mix-cream-gray, 3.2%);  // #ebebea
$lightest-gray: lighten($mix-cream-gray, 7.5%); // #f6f6f5;

$dark-gray: darken($mix-cream-gray, 47.5%);     // #6b6b68
$darker-gray: darken($mix-cream-gray, 63.3%);   // #424240
$darkest-gray: darken($mix-cream-gray, 75%);    // #242423


// CONTEXTUAL COLORS
$color-info: $blue;
$color-success: $green;
$color-warning: $yellow;
$color-danger: #b60000; // TODO: update for notices

$color-highlight: #ff0;
$color-required: $scarlet;
$color-kbd: #0f0;


// SOCIAL MEDIA COLORS
$color-facebook: #3b5998;   // Facebook
$color-instagram: #c13584;  // Instagram
$color-linkedin: #0077b5;   // LinkedIn
$color-pinterest: #bd081c;  // Pinterest
$color-snapchat: #fffc00;   // SnapChat
$color-twitter: #1da1f2;    // Twitter
$color-youtube: #cd201f;    // YouTube







// Assign colors to elements

// Background colors
$color-body-bg: $cream; // Body background color (usually white, off-white, or very light gray)
$color-overlay-light: $cream; // Light overlay background color for modals
$color-overlay-dark: $darkest-gray; // Dark overlay background color for modals


// Text colors
$color-body: $darker-gray; // Strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-heading: $darkest-gray; // Strive for WCAG AAA (minimum contrast ratio of 7.0) for heading text
$color-light-text: $dark-gray; // Must meet WCAG AA (minimum contrast ratio of 4.5)


// Links
$color-link: $scarlet;
$color-link-visited: $scarlet-shade;
$color-link-hover: $scarlet-shade;
$color-link-active: $scarlet-shade;
// $color-link-underline: $scarlet-shade;


// Inverse
// TODO: finalize state colors
$color-inverse: $color-body-bg;
$color-inverse-link: $color-body-bg;
$color-inverse-link-visited: $color-body-bg;
$color-inverse-link-hover: $color-body-bg;
$color-inverse-link-active: $color-body-bg;


// Buttons
$color-button: $color-link;
$color-button-visited: $color-link-visited;
$color-button-hover: $color-link-hover;
$color-button-active: $color-link-active;


// Breadcrumbs
$color-breadcrumb: $gray;


// Badges
$color-badge: $dark-gray; // TODO: finalize badge background-color


// Footer
$color-footer: $cream;
$color-footer-bg: $scarlet;
$color-footer-link: $cream;
$color-footer-link-visited: $cream; // TODO: determine visited state styles
$color-footer-link-hover: $cream; // TODO: determine hover state styles
$color-footer-link-active: $cream; // TODO: determine active state styles
