////////////////////////////////////
// THEME / VARIABLES / BUTTON GROUPS
////////////////////////////////////


@import '_variables.buttons';


// Spacing
$spacing-button-group: $border-width-button;  // Spacing in between button group buttons: 1px
