///////////////////////////////////
// THEME / VARIABLES / INPUT GROUPS
///////////////////////////////////


@import '_variables.colors';
@import '_variables.forms';


// Background color
$bg-color-input-group-addon: $lightest-gray;              // Input group add-on background-color


// Border color
$border-color-input-group-addon: $border-color-input;     // Input group add-on border-color


// Border style
$border-style-input-group-addon: $border-style-input;     // Input group add-on border-style


// Border width
$border-width-input-group-addon: $border-width-input;     // Input group add-on border-width


// Color
$color-input-group-addon: $dark-gray;                     // Input group add-on color


// Padding
$padding-bottom-input-group-addon: $padding-bottom-input; // Input group add-on padding-bottom
$padding-left-input-group-addon: $padding-left-input;     // Input group add-on padding-left
$padding-right-input-group-addon: $padding-right-input;   // Input group add-on padding-right
$padding-top-input-group-addon: $padding-top-input;       // Input group add-on padding-top
