//////////////////////////////////
// THEME / VARIABLES / BACKGROUNDS
//////////////////////////////////


@import '_variables.colors';


// Background color
$bg-color-overlay-dark: fade-out($gray-darkest,.05);  // Dark overlay background color for modals
$bg-color-overlay-light: fade-out($white,.05);        // Light overlay background color for modals
