//////////////////////////////////
// THEME / VARIABLES / BREADCRUMBS
//////////////////////////////////


@import '_variables.colors';
@import '_variables.modular-scale';
@import '_variables.sizing';


// Breadcrumb arrow
$breadcrumb-arrow-color: $gray-dark;  // Color of breadcrumb arrows
$breadcrumb-arrow-size: #{ms(-8)}em;  // Size of breadcrumbs arrows: .32em


// Spacing
$breadcrumb-spacing: $length-em-3;    // Spacing between breadcrumbs: .75em
