////////////////////////////////////
// THEME / VARIABLES / ABBREVIATIONS
////////////////////////////////////


// Border color
$border-bottom-color-abbr-title: currentColor;


// Border style
$border-bottom-style-abbr-title: dotted;


// Border width
$border-bottom-width-abbr-title: 1px;


// Letter spacing
$letter-spacing-abbr: .05em;


// Opacity
$opacity-abbr-title: .5;
