/*
	The following fixes png-transparency for IE6.  
	*********
	** It is also necessary for png-transparency to cooperate with the fade transition in IE7 & IE8
	*********
	
	Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.  
	Colorbox preloads navigation hover classes to account for this.
*/
#cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderTopLeft.png, sizingMethod='scale');}
#cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderTopCenter.png, sizingMethod='scale');}
#cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderTopRight.png, sizingMethod='scale');}
#cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderBottomLeft.png, sizingMethod='scale');}
#cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderBottomCenter.png, sizingMethod='scale');}
#cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderBottomRight.png, sizingMethod='scale');}
#cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderMiddleLeft.png, sizingMethod='scale');}
#cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/borderMiddleRight.png, sizingMethod='scale');}

#cboxClose{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/close.png, sizingMethod='scale'); height:33px;}
#cboxClose.hover{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/wdn/templates_3.0/css/header/images/colorbox/closeHover.png, sizingMethod='scale'); height:33px;}