@import url('toolbar.css');
@import url('idm.css');

#header {
    margin: -49px -12px 0 -12px;
    position: relative;
}
#header > a {
    background: #fff;
    border-radius: 5px;
    float: left;
    display: inline-block;
    margin-top: 12px;
    padding: 12px 12px 0 12px;
}
#header h1 {
    color: #3e3e3e; /* old browsers (must be separate for ie7) */
}
#header h1 {
    height: 0; /* Safari */
    margin: 13px 0 0 0;
    padding: 12px 10px;
    float: left;
    background: url('images/bottomLeftCorner.png') bottom left no-repeat;
    color: rgba(62, 62, 62, 0.99);
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 0;
    font-weight: normal;
    text-shadow: 0 0 3px #fff;
}
#titlegraphic h1 {
    padding: 4px 15px;
    position: absolute;
    top: 10px;
    left: 84px;
    font-size: 40px;
    letter-spacing: -1px;
    text-shadow: 0 0 3px #fff;
    font-weight: normal;
}
#titlegraphic h1,
#titlegraphic h1 a {
    text-decoration: none;
    color: #555;
}
#titlegraphic h2 {
    display: none;
}
#wdn_search {
    float: right;
    max-height: 37px;
    background: #b70302; /* old browsers */
    background-image: -moz-linear-gradient(top, #b70302 0%, #9d0201 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b70302), color-stop(100%,#9d0201));
    padding: 8px 10px 8px 10px;
    margin: -9px 12px 0 0;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
#wdn_search form label {
    display: none;
    position: absolute;
    margin: 4px;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #a1a1a1;
}
#wdn_search form #q {
    border: 1px solid #e18887;
    font-size: 10px;
    padding: 3px 22px 3px 4px;
    line-height: 1.4em;
    width: 263px;
}
#wdn_search .search {
    background: url('images/searchMagnifyGlass.png') no-repeat;
    text-indent: -9999em;
    border: none;
    width: 18px;
    height: 19px;
    display: block;
    position: absolute;
    right: 26px;
    top: 1px;
}
#wdn_search .search:hover {
    cursor: pointer;
}