#wdn_identity_management {
	position:absolute;
	top:4px;
	left:120px;
	background-position: 0px 0px;
	font-size:1em;
	font-weight:bold;
	color:#727272;
	font-family:sans-serif;
	vertical-align:top;
	overflow:visible;
}
#wdn_identity_management:hover {

}
#wdn_identity_management img {
	
	border:1px solid #b8b8b8;
	vertical-align: bottom;
}
#wdn_identity_management a,
#wdn_identity_management a:link,
#wdn_identity_management a:visited {
	color:#BA0000;
	text-decoration:none;
	font-size:0.7em;
	font-weight:normal;
	margin-right:5px;
}
#wdn_identity_management .username {
	margin-right:5px;
	}

#wdn_identity_management a:focus,
#wdn_identity_management a:hover {
	color:#CC0000 !important;
    border-bottom:1px dotted #CC0000;
}
#wdn_identity_management a:first-of-type:hover {
border-bottom:none;	
	}
#wdn_identity_management a.logout {
	margin-left:5px;
}
img.profile_pic {
	padding:3px 3px 6px 3px;
}
img.profile_pic.small {
	background:url('images/wdn_idmProfileSmall.png') no-repeat top left;
}
img.profile_pic.medium {
	background:url('images/wdn_idmProfileMedium.png') no-repeat top left;
}