/* General styles pertaining to the content area of the Tool modal boxes
****************************/
.toolbar_plugin {
    margin: 8px 0 0 0;
/*    width: 940px; */
}
#toolbarcontent {
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
}
#toolbarcontent h3 {
    margin-bottom: 5px;
    font-size: 2.2em;
    text-transform: uppercase;
    color: #444;
    border-bottom: 1px solid #888;
    text-align: center;
    margin-bottom: 0.8em;
    font-family: 'URWGroteskCon-Lig', Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-box-shadow: 0px 1px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0px 1px 0px #ffffff;
}
#toolbarcontent h3 a {
    color: #444;
    padding-left: 4px;
    text-decoration: none;
}
#toolbarcontent h3 a:hover {
    text-decoration: underline;
}
/* RSS Icon in an h3
**************/
#toolbarcontent h3 span {
    float: left;
    height: 20px;
}
#toolbarcontent h3 span.rssicon {
    height: 20px;
    width: 20px;
    background: url(images/applianceIcons.png) top right no-repeat;
    float: right;
    position: relative;
    top: -6px;
}

/* Feeds
***********/
#toolbar_feeds h3 span{
    max-width: 190px;
}
#toolbar_feeds .col.col1 {
    float: left;
    padding: 0 10px 0 0;
    width: 300px;
}
#toolbar_feeds .col.col2 {
    float: left;
    padding: 0 10px 0 10px;
    width: 300px;
}
#toolbar_feeds .col.col3 {
    float: left;
    padding: 0 0 0 10px;
    width: 300px;
}
#toolbar_feeds .col.col4 {
    float: left;
    padding: 0 0 0 10px;
    width: 220px;
}
#whatisrss {
    float: left;
}
#whatisrss div.two_col.left {
    float: left;
    width: 460px;
    padding: 0 10px 0 0;
}
#whatisrss div.two_col.right {
    float: right;
    width: 460px;
    padding: 14px 0 0 10px;
}
#whatisrss span {
    font-size: 1.7em;
    display: block;
    padding-bottom: 10px;
}
#whatisrss span img {
    position: relative;
    top: 6px;
}
#wdn_rss_story {
    display: none;
    float: left;
    padding: 0 0 0 10px;
    width: 700px;
}
#toolbar_feeds #wdn_rss_story #wdn_rss_story_content {
    display: inline !important;
}
#toolbar_feeds ul li a:hover {
    color: #ac0302;
}
#toolbar_feeds ul li a {
    text-decoration: none;
    padding: 1px 8px;
    display:inline-block;
}
#toolbar_feeds ul li {
    padding: 0 3px 3px 0;
    margin: 2px 0;
    border-bottom: 1px dotted #c0c0c0;
}

/* Webcams & Alert
***********/
#toolbar_webcams .col.left, #toolbar_alert .col.left {
    float: left;
    width: 300px;
    padding: 0 10px 0 0;
}
#toolbar_webcams .col.middle {
    float: left;
    width: 300px;
    padding: 0 10px 0 10px;
}
#toolbar_webcams .col.right, #toolbar_alert .two_col.right {
    float: left;
    width: 300px;
    padding: 0 0 0 10px;
}
#toolbar_webcams .col img {
    width: 290px;
}
#toolbar_alert .two_col.right {
    width: 600px;
}

/* Weather
*************/
#toolbar_weather br {
    display: none;
}
#weatherforecast{
    margin: 0 0 0 5px;
}
#weatherforecast strong{
    font-size: 1.2em;
    display: block;
    padding-top: 10px;
}
#weatherforecast span.warn{
    font-size: 1.1em;
    color: #ac0302;
}
#toolbar_weather a {
    color: #ac0302;
}
#toolbar_weather .col{
    float: left;
    width: 190px;
    padding: 0 10px 0 0;
}
#toolbar_weather .col.middle{
    padding: 0 10px 0 10px;
    width: 290px;
}
#colorbox #toolbar_weather .two_col {
    float: right;
    width: 390px;
    padding: 0 0 0 0px;
}
#showradar{
    border: 1px solid #DDD;
    border-radius: 3px;
    background: #f7f7f7;
    padding: 9px 5px 7px 5px !important;
    margin: 0 0 10px 0;
    position: relative;
    text-align: center;    
}
#showradar img {
    background: url('images/colorbox/loading.gif') center no-repeat;
    height: 300px;
    width: 378px;
}
#toolbar_weather .weathertempf{
    font-size: 35px;
}
#toolbar_weather div#currentcond>div {
    margin-bottom: 5px;
}
#currentcond{
    margin: 10px 0 0 5px;
}
#unltemp{
    padding-top: 15px;
    font-size: 1.2em;
    margin-bottom: 15px !important;
}
#unlcurrent{
    font-size: 1.2em;
    margin-bottom: 15px !important;
}

/* Events
****************/
#toolbar_events .col.left {
    float: left;
    padding: 0 10px 0 0;
    width: 940px;
}
#toolbar_events .col.right {
    float: left;
    padding: 0 0 0 10px;
    width: 460px;
}
#toolbar_events .noentry {
    clear: both;
}

/* Events styles from events.unl.edu
**************/
#toolbar_events{
    color: #434343;
    }
#toolbar_events h4.sec_main {
    background: url(images/date1.gif) no-repeat;
    float: left;
    font-size: 1.5em;
    font-style: normal;
    padding: 4px 0 7px 30px !important;
    font-weight: normal;
    line-height: 1.2;
    }
#toolbar_events h4.upcoming-header {
    background: url(images/newrecurevent.png) no-repeat;
    font-size: 1.5em;
    padding: 4px 0 7px 34px;
    font-weight: normal;
    line-height: 1.2;
    }
#toolbar_events h4.ongoing {
    background: url(images/ongoing.gif) no-repeat;
    clear: both;
    font-size: 1.5em;
    margin-top: 15px;
    padding: 6px 0 7px 34px;
    font-weight: normal;
    line-height: 1.2;
    }
#toolbar_events .day_cal .permalink {
    font-size: 0.6em;
    position: relative;
    }
#toolbar_events abbr:after {
    content: '';
    }
#toolbar_events table {
    border-collapse: collapse;
    clear: both;
    width: 100%;
    }
#toolbar_events table thead th {
    background: #3E83C9 none repeat scroll 0 0;
    border-bottom: 3px solid #BFD6F5;
    color: #FFFFFF;
    padding: 2px 7px;
    }
#toolbar_events table thead th.title {
    font-style: normal;
}
#toolbar_events table td {
    border-top: 1px solid #D7E6EE;
    padding: 0 4px;
}
#toolbar_events table td.date {
    width: 110px;
    font-size: 0.9em;
    vertical-align: top;
}
#toolbar_events table tr.alt {
    background: #ECF4F8;
}
#toolbar_events span.location {
    color: #3A8103;
    font-size: 0.75em;
    text-transform: uppercase;
    display: block;
    padding: 1px 0 3px 20px;
}
#toolbar_events span.location a {
    color: #3A8103;
    text-transform: uppercase;
}
#toolbar_events table.ongoing {
    margin: 5px 0 0 0;
}
#toolbar_events .dtstart, #toolbar_events .dtend, #toolbar_events .dtstamp {
    border: medium none;
    font-size: 100%;
}
#toolbar_events .dtstart {
    padding-right: 2px;
}
#toolbar_events .dtend {
    margin-top: -7px;
    padding-left: 2px;
}
#toolbar_events abbr, #toolbar_events acronym {
    border-bottom: medium none;
    text-decoration: none;
}

#toolbar_events #feeds,
#toolbar_events .description,
#toolbar_events .day_cal #day_nav{
    display: none;
}
