@import url('toolbarcontent.css');
@import url('tooltabs.css');

#wdn_tool_links {
	position:absolute;
    right:13px;
    top:71px;
}
ul#wdn_tool_links li {
	display:inline;
	list-style:none;
    border:2px solid #e0e0e0;
    border-radius:5px;
    display:inline-block;
    padding:4px 5px;
    margin:0 2px;
    background-color:#fff;
}
#wdn_tool_links a {
	display:inline-block;
	width:20px;
	height:20px;
	text-indent:-9000px;
}

#wdn_tool_links a.feeds {
    background:url('images/applianceIcons.png') no-repeat 0 -100px;
}
#wdn_tool_links a.feeds:hover {
    background:url('images/applianceIcons.png') no-repeat 0 0;
}
#wdn_tool_links a.weather {
    background:url('images/applianceIcons.png') no-repeat 0 -120px;
}
#wdn_tool_links a.weather:hover {
    background:url('images/applianceIcons.png') no-repeat 0 -20px;
}
#wdn_tool_links a.events {
    background:url('images/applianceIcons.png') no-repeat 0 -140px;
}
#wdn_tool_links a.events:hover {
    background:url('images/applianceIcons.png') no-repeat 0 -40px;
}
#wdn_tool_links a.peoplefinder {
    background:url('images/applianceIcons.png') no-repeat 0 -160px;
}
#wdn_tool_links a.peoplefinder:hover {
    background:url('images/applianceIcons.png') no-repeat 0 -60px;
}
#wdn_tool_links a.webcams {
    background:url('images/applianceIcons.png') no-repeat 0 -180px;
}
#wdn_tool_links a.webcams:hover {
    background:url('images/applianceIcons.png') no-repeat 0 -80px;
}
