#colorbox.withTabs {
	padding-top: 11px;
}
#colorbox.withTabs #cboxWrapper {
	padding-bottom: 11px
}
#colorbox.withTabs #cboxContent {
	margin-top: 29px;
}

#tooltabs {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 900px;
    font-size: 1.4em;
}
#tooltabs ul {
    margin: 0 0 0 35px;
    list-style: none;
    position: relative;
    width: 100%;
}
#tooltabs ul li {
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%); /* IE10+ */
    background: linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
    border-width:1px;
    text-shadow:-1px -1px 1px #fff;
    
    display: inline-block !important; /*this was changed from block to inline-block to better support multiple rows of tabs*/
    float: left;
    border-color:#DDD;
    border-top-color:#C9C9C9;
    border-right-color:#C9C9C9;
    border-style:solid;
    border-bottom: 1px solid #C9C9C9;
    border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    margin-left:0.2em;
    margin-bottom:-1px;
    -webkit-box-shadow: 1px -1px 0px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 1px -1px 0px 0px rgba(255,255,255,0.5);
    box-shadow: 1px -1px 0px 0px rgba(255,255,255,0.5);
    line-height:100%;
}
#tooltabs ul li.current {
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    
    border-bottom-color:#FFF;
}
#tooltabs ul li a {
    display: block;
    padding: 7px 10px 5px 32px;
    text-decoration: none;
    color: #333;
    font-size: 1.0em;
    position:relative;
    height: 16px;
    background: url('images/applianceIcons.png') no-repeat -20px 0;
}
#tooltabs ul li a.feeds {
    background-position: 8px -192px;
}
#tooltabs ul li a.weather {
    background-position: 8px -220px;
}
#tooltabs ul li a.events {
    background-position: 8px -248px;
}
#tooltabs ul li a.peoplefinder {
    background-position: 8px -276px;
}
#tooltabs ul li a.webcams {
    background-position: 8px -304px;
}
#tooltabs ul li a.tourmaps {
    background-position: 8px -332px;
}
/* #tooltabs ul li a.alert {
    background-position: 8px -360px;
} */
#tooltabs ul li.current a.feeds {
    background-position:  8px 6px;
}
#tooltabs ul li.current a.weather {
    background-position: 8px -22px;
}
#tooltabs ul li.current a.events {
     background-position: 8px -50px;
}
#tooltabs ul li.current a.peoplefinder {
    background-position: 8px -78px;
}
#tooltabs ul li.current a.webcams {
    background-position:  8px -106px;
}
#tooltabs ul li.current a.tourmaps {
    background-position:  8px -134px;
}

