@import url('toolbarcontent.css');
@import url('tooltabs.css');
@import url('colorbox.css');

#wdn_tool_links {
    float: right;
    position: absolute;
    right: 0;
    top: 37px;
    padding: 12px;
    background: url('images/topRightCorner.png') top right no-repeat;
}
#wdn_tool_links li {
    display: inline;
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    background-color: #fff;
}
#wdn_tool_links li:last-child {
    margin-right: 0;
}
#wdn_tool_links li.focus {
    border-color: #cba166;
    background: #f1e887;
}
#wdn_tool_links a {
    display: block;
    padding: 4px 5px;
    width: 20px;
    height: 20px;
    text-indent: -9000px;
    background: url('images/applianceIcons.png') no-repeat -20px 0;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
}

#wdn_tool_links a.feeds {
    background-position: 5px -192px;
}
#wdn_tool_links a.feeds:hover {
    background-position: 5px 4px;
}
#wdn_tool_links a.weather {
    background-position: 5px -220px;
}
#wdn_tool_links a.weather:hover {
    background-position: 5px -24px;
}
#wdn_tool_links a.events {
    background-position: 5px -248px;
}
#wdn_tool_links a.events:hover {
    background-position: 5px -52px;
}
#wdn_tool_links a.peoplefinder {
    background-position: 5px -276px;
}
#wdn_tool_links a.peoplefinder:hover {
    background-position: 5px -80px;
}
#wdn_tool_links a.webcams {
    background-position: 5px -304px;
}
#wdn_tool_links a.webcams:hover {
    background-position: 5px -108px;
}
#wdn_tool_links a.tourmaps {
    background-position: 5px -332px;
}
#wdn_tool_links a.tourmaps:hover {
    background-position: 5px -136px;
}
#wdn_tool_links a.alert {
    background-position: 5px -360px;
}
#wdn_tool_links a.alert:hover {
    background-position: 5px -164px;
}