//////////////////////////////
// THEME / VARIABLES / BORDERS
//////////////////////////////


@import '_variables.color-palette';
@import '_variables.sizing';


// Border color
$border-color-light-mode: $light-gray;  // Border-color in light mode
$border-color-dark-mode: $darker-gray;  // Border-color in dark mode


// Border radius
$circle: 50%;
$pill: $length-em-3; // 1em
$roundrect: 2px;
$sharp: 0;
