/////////////////////////////////////
// !THEME / COMPONENTS / INPUT GROUPS
/////////////////////////////////////


// !Input Group Button
.unl .dcf-input-group .dcf-btn {
  margin-left: -1px;
  padding-bottom: 0;
  padding-top: 0;
}


// !Input Group Add-on
.unl .dcf-input-group-addon {
  @include bg-lightest;
  border-color: $color-border-input;
  border-style: solid;
  @include dark-gray;
  @include font-sans;
  padding: $length-em-2 $length-em-3;
}


.unl .dcf-input-group-addon:not(:last-child) {
  border-width: 1px 0 1px 1px;
}


.unl .dcf-input-group-addon:last-child {
  border-width: 1px 1px 1px 0;
}
