///////////////////////////////////////
// THEME / COMPONENTS / FORMS - SELECTS
///////////////////////////////////////


.unl .dcf-input-select:focus, // TODO: deprecate?
.unl .dcf-form select:focus,
.unl .dcf-input-select:hover, // TODO: deprecate?
.unl .dcf-form select:hover {
  box-shadow: 0 0 $length-em-3 fade-out($border-color-input-hover,.25);
}
