/////////////////////////////
// THEME / COMPONENTS / FORMS
/////////////////////////////


// Legend, Label, Inputs
.unl .dcf-form,
.unl .dcf-input-text,
.unl .dcf-form input:not([type="submit"]),
.unl .dcf-form textarea {
  @include font-sans;
}


.unl .dcf-required,
.unl .dcf-form-help {
  @include font-serif;
}


.unl .dcf-input-text:hover, // TODO: deprecate?
.unl .dcf-form input:not([type="submit"]):hover,
.unl .dcf-form textarea:hover,
.unl .dcf-input-text:focus, // TODO: deprecate?
.unl .dcf-form input:not([type="submit"]):focus,
.unl .dcf-form textarea:focus {
  box-shadow: 0 0 $length-em-3 fade-out($color-border-input-hover,.25);
}


.unl .dcf-input-text:focus, // TODO: deprecate?
.unl .dcf-form input:not([type="submit"]):focus,
.unl .dcf-form textarea:focus {
  outline: none;
}


// Input: Control
.unl .dcf-input-control { // TODO: deprecate?
  @include mr-1;
}


// Input: File
.unl .dcf-input-file { // TODO: deprecate?
  @include mb-2;
  @include mt-2;
}
