///////////////////////////////////////
// THEME / ELEMENTS / DETAILS & SUMMARY
///////////////////////////////////////


.unl details {
  border-top: 1px solid $light-gray;
  @include pb-3;
  @include pt-3;
}


.unl details:last-of-type {
  border-bottom: 1px solid $light-gray;
}


.unl details[open] {
  @include pb-4;
}


.unl summary {
  cursor: pointer;
  @include font-sans;
  @include txt-h6;
  letter-spacing: -.03em;
  @include lh-3;
}


.unl summary + * {
  @include mt-4;
}
