#wdn_feedback_comments fieldset {
    background: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}
#wdn_feedback_comments legend {
    position: absolute;
    font-weight: bold;
}
#wdn_feedback_comments ol {
    margin-top: 20px;
}
#wdn_feedback_comments label{
    display: none;
}
#wdn_feedback_comments textarea {
    border: 1px solid #DEDEDE;
    background-color: #FDFDFD;
    width: 210px;
    height: 50px;
    padding: 0;
}
#wdn_feedback_comments input {
    background: -moz-linear-gradient(top, #efece9 0%, #f2f1ed 50%, #e7e4e3 51%, #e4e0dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efece9), color-stop(50%,#f2f1ed), color-stop(51%,#e7e4e3), color-stop(100%,#e4e0dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efece9 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efece9 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #efece9 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#EFECE9', endColorstr='#E4E0DD',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #efece9 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* W3C */
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 100px;
    display: none;
}

#wdn_feedback_comments input:hover {
    background: -moz-linear-gradient(top, #e5e2df 0%, #f2f1ed 50%, #e7e4e3 51%, #e4e0dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e2df), color-stop(50%,#f2f1ed), color-stop(51%,#e7e4e3), color-stop(100%,#e4e0dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e2df 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e2df 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e5e2df 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E5E2DF', endColorstr='#E4E0DD',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e5e2df 0%,#f2f1ed 50%,#e7e4e3 51%,#e4e0dd 100%); /* W3C */
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

#wdn_feedback_comments input:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 3px 2px #ccc, 0 1px 0 0 #eee;
}
#wdn_feedback_comments textarea: focus {
    background-color: #FFFFE0;
    border: 1px solid #DEDEDE;
}