#wdn_feedback_comments label{
	display:none;
}
#wdn_feedback_comments textarea {
    border:1px solid #DEDEDE;
    background-color:#FDFDFD;
    width:100%;
}
#wdn_feedback_comments input {
	display:none;
}
#wdn_feedback_comments textarea:focus {
	background-color:#FFFFE0;
	border:1px solid #DEDEDE;
}