/* Color Reset */
:root {
  --bg-body: #fff !important;
  --bg-brand-alpha: #D90792 !important;
  --brand-alpha: #D90792 !important;
  --link: #D90792 !important;
  --hover: #972062 !important;
  --active: #972062 !important;
  --visited: #972062 !important;
  --b-btn-primary: #D90792 !important;
  --bg-btn-primary: #D90792 !important;
  --btn-primary: #fff !important;
  --b-btn-primary-hover: #972062 !important;
  --bg-btn-primary-hover: #972062 !important;
  --btn-secondary: #D90792 !important;
  --b-btn-secondary: #D90792 !important;
  --bg-btn-secondary-tertiary-hover: rgba(185,39,119,0.15) !important;
  --btn-secondary-tertiary-hover: #D90792 !important;
  --b-btn-secondary-tertiary-hover: #972062 !important;
  --btn-tertiary: #D90792 !important;
  --bg-btn-inverse-primary: #fff !important;
  --btn-inverse-primary: #D90792 !important;
  --b-btn-inverse-primary-hover: rgba(255,255,255,0.8) !important;
  --bg-btn-inverse-primary-hover: rgba(255,255,255,0.8) !important;
  --b-input-focus: #D90792 !important;
  --focus-outline: #D90792 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #242423 !important;
    --brand-alpha: #fff !important;
    --link: #F9A9DE !important;
    --hover: #FAC6EA !important;
    --active: #FAC6EA !important;
    --visited: #FAC6EA !important;
    --b-btn-primary: #fff !important;
    --bg-btn-primary: #fff !important;
    --btn-primary: #D90792 !important;
    --b-btn-primary-hover: rgba(255,255,255,0.8) !important;
    --bg-btn-primary-hover: rgba(255,255,255,0.8) !important;
    --b-btn-secondary: #fff !important;
    --btn-secondary: #fff !important;
    --b-btn-secondary-tertiary-hover: rgba(255,255,255,0.15) !important;
    --bg-btn-secondary-tertiary-hover: rgba(255,255,255,0.15) !important;
    --btn-secondary-tertiary-hover: #fff !important;
    --btn-tertiary: #fff !important;
  }
}


/* Font Resets */
body.unl.affiliate {
	font-family: 'Libre Franklin', sans-serif;
}

.unl.affiliate h1,
.unl.affiliate h2,
.unl.affiliate h3,
.unl.affiliate h4,
.unl.affiliate h5,
.unl.affiliate h6 {
	letter-spacing: 0 !important;
	margin-left: 0 !important;
}

.dcf-institution-title .unl-font-serif-ltd-caps,
.dcf-institution-title .unl-font-serif-ltd-italic,
#visitorChat {
	font-family: 'Libre Franklin', sans-serif !important;
}
