#maincontent .wdn_calendarDisplay .upcoming-header {background:url('./images/bg_icon_events.png') no-repeat; font-family: Helvetica,Arial,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif; font-size:1.4em; font-weight: bold; line-height:38px; color: #535353; padding-left: 40px; margin-bottom:10px;}

#maincontent .wdn_calendarDisplay .event {
    display: inline-block; width: 100%;
}

#maincontent .wdn_calendarDisplay .event .date {
    text-align:center;color:#444;text-transform:uppercase;margin:3px 10px 3px 0;padding-right:5px;vertical-align:top;width: 60px;float:left;border-right:#777 solid 1px;
}

#maincontent .wdn_calendarDisplay .event .month,
#maincontent .wdn_calendarDisplay .event .day,
#maincontent .wdn_calendarDisplay .event .time {
    display: block;
}

#maincontent .wdn_calendarDisplay .event .day {
    font-size:1.7em;
}

#maincontent .wdn_calendarDisplay .event .time {
    font-size:.8em;
}

#maincontent .wdn_calendarDisplay .event .info {
    padding-left:5px;font-size:.9em; line-height:130%;
}

#maincontent .wdn_calendarDisplay .event .title,
#maincontent .wdn_calendarDisplay .event .location {
    display: block;
}

#maincontent .wdn_calendarDisplay .event .location,
#maincontent .wdn_calendarDisplay .event .location a {
    font-size:75%; display:block; color:green;text-transform:uppercase;
}

#maincontent .wdn_calendarDisplay .feeds {
    padding: 7px 0;
}

#maincontent .wdn_calendarDisplay .feeds a {
    margin-right: 10px; padding: 0;
}

#maincontent .wdn_calendarDisplay span.see-all-events {display:block;text-align:right;font-size:0.75em;margin:-15px 5px 0 0;}

#maincontent .wdn_calendarDisplay .feeds a{display:inline-block;text-indent:-9999px;height:20px;}

#maincontent .wdn_calendarDisplay .feeds a.ics {background:url('./images/ics.gif') no-repeat;width:35px;}
#maincontent .wdn_calendarDisplay .feeds a.rss {background:url('./images/rss.gif') no-repeat;margin-left:5px;width:20px;}
