#maincontent ul.validation-advice {
    padding: 4px 0 0;
    list-style: none;
    color: #ee3409;
    font-weight: bold;
}
#maincontent ul.validation-advice li {
    font-size:10px !important;
    padding: 0 0 0 15px !important;
    background: url('images/formvalidator/validation_advice_bg.gif') no-repeat 0 0;
}
