//////////////////////////////
// THEME / GENERIC / FONT FACE
//////////////////////////////


@font-face {
  font-family: 'Liberator Heavy Italic';
  font-weight: 600;
  font-display: swap;
  src: url('@fonts/liberator/Liberator-HeavyItalic.woff2?no-inline') format('woff2');
}
