//////////////////////////////////
// THEME / DEPRECATED / PAGINATION
//////////////////////////////////


@use "../mixins/" as mixins;


.wdn_pagination {
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

.wdn_pagination li {
  display: inline-block;
}

.wdn_pagination li:not(:last-child) {
  @include mixins.mr-2;
}

.wdn_pagination li.ellipsis {
  color: var(--dark-gray);
}

// .wdn_pagination li.selected {}
