body.document #wdn_wrapper {
	max-width:960px;
	margin:0 auto;
}

body.document #header {
	width:985px;
}

body.document #breadcrumbs {
	width: 954px;
}

body.document #navigation,
body.document #wdn_search,
body.document #wdn_tool_links {
    display:none;
}

body.document #titlegraphic {
    margin-top:50px;
}

body.document #breadcrumbs ul li.selected {
    background:none;
}

body.document #breadcrumbs ul li.selected a,
body.document #breadcrumbs ul li.selected a:link,
body.document #breadcrumbs ul li.selected a:visited 
{
    background:none;
}
body.document #breadcrumbs ul li.selected a:after {
    background-image:none;
}

body.document #footer .footer_col {
    display:none;
}

body.document #footer #wdn_copyright {
    border:none;
}