body.fixed #wdn_wrapper {
	max-width:960px;
	margin:0 auto;
}

body.fixed #breadcrumbs {
	width: 954px;
}

body.fixed #wdn_navigation_wrapper {
	width: 946px;
}

body.fixed #breadcrumbs {
	width: 954px;
}

body.fixed #wdn_navigation_wrapper {
	width: 946px;
}

body.fixed #footer {
	width:960px;
}