body.liquid #wdn_wrapper {
    max-width: none;
    width: auto;
    min-width: 960px;
}

body.liquid #wdn_navigation_wrapper {
    width: 100%;
    padding-right: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body.liquid #wdn_navigation_bar .expand_toggle {
	right: 27px;
}

body.liquid .nav_unpinned #wdn_navigation_bar .pin_state {
	right: 19px;
}

body.liquid #navigation > ul {
    width: 100%;
}

body.liquid #navigation > ul > li {
    width: 16.66%;
}
body.liquid #navigation > ul > li ~ li.empty ~ li.empty {
    width: 16.66%;
}

body.liquid #navigation > ul > li ul {
    width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body.liquid #navigation > ul > li:nth-child(6n+6) ul {
    margin-right: 0;
} 
body.liquid #navigation > ul > li.end ul {
    margin-right: 0;
} 


body.liquid #navigation > ul > li ~ li.empty ~ li.empty ul {
    width: auto;
}

body.liquid #wdn_content_wrapper {
    width: 100%;
}

body.liquid #maincontent, body.liquid .container {
    width: auto;
}

body.liquid #footer_floater {
    width: 100%;
}
