body.secure #wdn_search {
    right: 22px;
}

body.secure #wdn_tool_links {
    display: none;
}

body.secure #footer .footer_col {
    display: none;
}

body.secure #footer #wdn_copyright {
    border: none;
}