body.secure #wdn_search {
}

body.secure #wdn_tool_links {
    display:none;
}

body.secure #header {
    width:985px;
}

body.secure #footer .footer_col {
    display:none;
}

body.secure #footer #wdn_copyright {
    border:none;
}
body.secure #wdn_identity_management {
	right:27px;
}