/** css to hide navigation and titlegraphic **/

#wdn_navigation_bar {
    display:none;
}

#titlegraphic ,
.footer_col {
    display:none;
}
#wdn_copyright {
    border-top:none;
}


/** css for main story rotator **/
#splash {
    height:392px;
    width:940px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:1px 0;
    margin:0 0 15px 0;
}
#headlines {
    height:392px;
    width: 320px;
    float:right;
    z-index:10;
}
#headlines>div {
    cursor:pointer;
    padding-left:20px;
    position:relative;
}
#headlines>div.active {
    background:url('images/splash_selector.png') no-repeat 0 30%;
    z-index:100;
}
#headlines>div.active div.splash_headline,
#headlines div.splash_headline:hover {
    background:#b80302;
    color:#fff;
    border-top:1px solid #660000;
}

#headlines div.splash_headline {
    background:#f5f5f5;
    height:106px;
    border-top:1px solid #ccc;
    color:#666;
    padding:12px 16px;
}

#headline1 div.splash_headline {
    border:0 !important;
}

#headlines {
    font-size:0.9em;
    line-height:1.2em;
}
#headlines h4 {
    font-size:1.4em;
}
#headlines>div.active h4, #headlines>div:hover h4{
    color:#fff;
}
#headlines .hidden {
    visibility:visible;
    display:block !important;
}

#posters {
    position:relative;
}
#posters h2, #posters h3 {
    color:#ddd;
}
#posters>div {
    width:640px;
    height:392px;
    position:absolute;
    overflow: hidden;
}
.poster {
    background-color:#fff;
}
#poster1 {
    background:url('http://ucommxsrv1.unl.edu/graphics/09_splashtest_statemuseum.jpg') no-repeat;
}
#poster2 {
    color:#fff;
    background:url('http://ucommxsrv1.unl.edu/graphics/09_splashtest_sheldon.jpg') no-repeat;
}
.active.poster {
    visibility:visible;
    display:block !important;
}

/**audience navigation**/
#audience-nav, #audience-nav-ns { clear: both; height: 32px; margin: 0; width: 940px; padding-left: 0px; background: url(images/audience_nav_fullbg.jpg) no-repeat; }
.audience-nav-static { margin-bottom: 10px !important; }
#audience-nav li, #audience-nav-ns li { float: left;list-style:none; }
#audience-nav ul {}
#audience-nav a, #audience-nav-ns a { background-image: url(images/audience_nav_bg.png); color: #fff; display: inline-block; height: 32px; line-height: 32px; font-size:1em; margin:0px; position: relative; text-align: center; text-decoration: none; width: 150px; }
#audience-nav a span, #audience-nav-ns a span { background-repeat: no-repeat; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1; cursor: pointer; }
#audience-nav a:hover,#audience-nav-ns a:hover { background-image: url(images/audience_nav_bg.png); background-position: 0 -32px; color: #fff; }
#audience-nav a#a-nav01, #audience-nav-ns a#a-nav01-ns { width: 140px; }
#audience-nav a#a-nav02, #audience-nav-ns a#a-nav02-ns { width: 160px; }
#audience-nav a#a-nav03, #audience-nav-ns a#a-nav03-ns { width: 155px; }
#audience-nav a#a-nav04, #audience-nav-ns a#a-nav04-ns { width: 150px; }
#audience-nav a#a-nav05, #audience-nav-ns a#a-nav05-ns { width: 275px; }


p#feeds, p.feeds{margin:10px 0 0 0;padding:0;}
p#feeds a, p.feeds a{display:inline-block;text-indent:-9999px;height:20px;}
p#feeds a#icsformat {background:url(http://events.unl.edu/templates/default/images/ics.gif) no-repeat;width:35px;}
p#feeds a#rssformat, p.feeds a.rssformat, p.feeds a twitteformat {background:url(http://events.unl.edu/templates/default/images/rss.gif) no-repeat;margin-left:5px;width:20px;}
    
/*Splash Calendar Events */
#maincontent div#splash_calendar h4.upcoming-header, #maincontent div#splash_calendar thead, .vevent .description {display:none;}
/*Splash News headlines */
#maincontent table#splash_headlines tr td div, #maincontent table.upcoming tr td.date {text-align:center;color:#6b6b6b;text-transform:uppercase;}
#maincontent table#splash_headlines tr td div span.month {text-transform:uppercase;}
#maincontent table#splash_headlines tr td div span.day {font-size:1.7em;}
#maincontent table#splash_headlines tr td a, #maincontent table.upcoming tr td a, #maincontent table.upcoming tr td span.location {border-left:#e5e5e5 solid 2px;padding-left:5px;display:block;font-size:.9em; line-height:130%;}
#maincontent table.upcoming tr td span.location {font-size:75%; display:block; color:green;}

/*table CSS */
#maincontent tbody.vcalendar tr td {padding:7px 0px 7px 0px;}