body.unl\@dark {
  --bg-badge: #e3e3e2;
  --bg-body: #242423;
  --bg-btn-inverse-primary: #ebebea;
  --bg-btn-inverse-secondary: transparent;
  --bg-btn-inverse-tertiary: transparent;
  --bg-btn-primary: #ebebea;
  --bg-btn-primary-hover: #fff;
  --bg-btn-secondary: transparent;
  --bg-btn-secondary-tertiary-hover: hsla(0,0%,100%,0.07);
  --bg-btn-tertiary: transparent;
  --bg-card: #393937;
  --bg-code: hsla(0,0%,100%,0.1);
  --bg-input: #1f1f1e;
  --bg-input-disabled: #242423;
  --bg-input-group-addon: #393937;
  --bg-inverse: #c7c8ca;
  --bg-kbd: #000;
  --bg-light-gray: #333332;
  --bg-lighter-gray: #2e2e2d;
  --bg-lightest-gray: #292928;
  --bg-mark: #ff0;
  --bg-modal-header: #242423;
  --bg-modal-wrapper: #242423;
  --bg-overlay-dark: rgba(0,0,0,0.94);
  --bg-overlay-light: rgba(0,0,0,0.94);
  --bg-pre: rgba(0,0,0,0.05);
  --bg-radio: #c7c8ca;
  --bg-scarlet: #d00000;
  --bg-select-1: #1f1f1e;
  --bg-select-2: #1f1f1e;
  --bg-table-stripe: #242423;
  --bg-tab-selected: #393937;
  --bg-tabs-panel: #393937;
  --bg-white: #000;
  --b: #424240;
  --b-breadcrumb-arrow: #c7c8ca;
  --b-btn-primary: #ebebea;
  --b-btn-primary-hover: #fff;
  --b-btn-secondary: currentColor;
  --b-btn-tertiary: transparent;
  --b-btn-inverse-primary: #ebebea;
  --b-btn-inverse-secondary: currentColor;
  --b-btn-inverse-tertiary: transparent;
  --b-checkmark: #c7c8ca;
  --b-fieldset: #424240;
  --b-input: #6b6b68;
  --b-input-checked: #c7c8ca;
  --b-input-focus: #42a7c6;
  --b-input-group-addon: #6b6b68;
  --b-input-hover: #c7c8ca;
  --b-table: #424240;
  --b-tab: #424240;
  --b-tabs-panel: #424240;
  --active: #fff;
  --badge: #242423;
  --body: #c7c8ca;
  --brand-alpha: #f6f6f5;
  --btn-inverse-primary: #d00000;
  --btn-inverse-secondary: #ebebea;
  --btn-inverse-tertiary: #ebebea;
  --btn-primary: #d00000;
  --btn-secondary: #ebebea;
  --btn-secondary-tertiary-hover: #fff;
  --btn-tertiary: #ebebea;
  --caption: #fefdfa;
  --code: #e1e2e3;
  --dark-gray: #e3e3e2;
  --darker-gray: #ebebea;
  --darkest-gray: #f6f6f5;
  --figcaption: #a4a4a1;
  --focus-outline: #42a7c6;
  --form-help: #a4a4a1;
  --form-required: #d00000;
  --heading: #fefdfa;
  --hover: #fefdfa;
  --input-group-addon: #a4a4a1;
  --inverse: #242423;
  --inverse-active: #242423;
  --inverse-hover: #242423;
  --inverse-link: #242423;
  --inverse-visited: #242423;
  --kbd: #0f0;
  --link: #71bdd3;
  --select: #c7c8ca;
  --tab-selected: #c7c8ca;
  --visited: #e3e3e2;
}
