///////////////////////////////////////
// THEME / ELEMENTS / DETAILS & SUMMARY
///////////////////////////////////////


.unl details {
  border-top: 1px solid $border-color-details;
  @if ($text-wrap-pretty-details == true) {
    text-wrap: pretty;
  }
}


.unl details:last-of-type {
  border-bottom: 1px solid $border-color-details;
}


.unl summary {
  color: $color-summary;
  @include ls-h;
  @include lh-3;
}
