///////////////////////////////////////
// THEME / ELEMENTS / DETAILS & SUMMARY
///////////////////////////////////////


.unl details {
  border-top: 1px solid $border-color-details;
}


.unl details:last-of-type {
  border-bottom: 1px solid $border-color-details;
}


.unl summary {
  color: $color-summary;
  @include ls-h;
  @include lh-3;
}
