//////////////////////////////
// THEME / DEPRECATED / IMAGES
//////////////////////////////


.frame,
.wdn-frame {
  border: 1px solid var(--b);
  @include mb-4;
  padding: #{ms(-10)}em;
}

.frame img,
.wdn-frame img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.frame figcaption,
.wdn-frame figcaption {
  background-color: var(--bg-body);
  height: auto;
  @include p-3;
}

.frame figcaption *,
.wdn-frame figcaption * {
  margin: auto;
}
