////////////////////////////
// THEME / DEPRECATED / GRID
////////////////////////////


[class*=wdn-grid-set] {
//   box-sizing: border-box;
  clear: left;
  margin: 0 -1.58vw;
}

[class*=wdn-grid-set]:after {
  clear: both;
  content: '';
  display: table;
}

[class*=wdn-grid-set] > [class*=wdn-grid-set] {
  margin-left: 0;
  margin-right: 0;
}

[class*=wdn-col] {
//   box-sizing: border-box;
  float: left;
  padding: 0 1.58vw;
  width: 100%;
}

[class*=wdn-col].col-padding {
  background-clip: content-box;
  padding: 1.58vw 0 1.58vw 3.16vw;
}

.wdn-grid-clear[class*=wdn-grid-set-halves] .wdn-col:nth-child(2n+1),
.wdn-grid-clear[class*=wdn-grid-set-thirds] .wdn-col:nth-child(3n+1),
.wdn-grid-clear[class*=wdn-grid-set-fourths] .wdn-col:nth-child(4n+1),
.wdn-grid-clear[class*=wdn-grid-set-fifths] .wdn-col:nth-child(5n+1),
.wdn-grid-clear[class*=wdn-grid-set-sixths] .wdn-col:nth-child(6n+1),
.wdn-grid-clear[class*=wdn-grid-set-sevenths] .wdn-col:nth-child(7n+1),
.wdn-grid-clear[class*=wdn-grid-set-eighths] .wdn-col:nth-child(8n+1),
.wdn-grid-clear[class*=wdn-grid-set-ninths] .wdn-col:nth-child(9n+1),
.wdn-grid-clear[class*=wdn-grid-set-tenths] .wdn-col:nth-child(10n+1) {
  clear: left;
}

[class*=wdn-col] .visual-island {
  padding: 0 1.58vw;
}

#dcf-main ol[class*=wdn-grid-set],
#dcf-main ul[class*=wdn-grid-set] {
  list-style: none;
  padding: 0;
}

li.wdn-col {
  margin-bottom: 0;
  margin-left: 0;
}

.wdn-col-full,
.wdn-grid-set-full .wdn-col {
  width: 100%;
}

.wdn-col-five-tenths,
.wdn-col-four-eighths,
.wdn-col-one-half,
.wdn-col-three-sixths,
.wdn-col-two-fourths,
.wdn-grid-set-halves .wdn-col {
  width: 50%;
}

.wdn-col-one-third,
.wdn-col-three-ninths,
.wdn-col-two-sixths,
.wdn-grid-set-thirds .wdn-col {
  width: 33.33333333%;
}

.wdn-col-four-sixths,
.wdn-col-six-ninths,
.wdn-col-two-thirds {
  width: 66.66666667%;
}

.wdn-col-one-fourth,
.wdn-col-two-eighths,
.wdn-grid-set-fourths .wdn-col {
  width: 25%;
}

.wdn-col-six-eighths,
.wdn-col-three-fourths {
  width: 75%;
}

.wdn-col-one-fifth,
.wdn-col-two-tenths,
.wdn-grid-set-fifths .wdn-col {
  width: 20%;
}

.wdn-col-four-tenths,
.wdn-col-two-fifths {
  width: 40%;
}

.wdn-col-six-tenths,
.wdn-col-three-fifths {
  width: 60%;
}

.wdn-col-eight-tenths,
.wdn-col-four-fifths {
  width: 80%;
}

.wdn-col-one-sixth,
.wdn-grid-set-sixths .wdn-col {
  width: 16.66666667%;
}

.wdn-col-five-sixths {
  width: 83.33333333%;
}

.wdn-col-one-seventh,
.wdn-grid-set-sevenths .wdn-col {
  width: 14.28571429%;
}

.wdn-col-two-sevenths {
  width: 28.57142857%;
}

.wdn-col-three-sevenths {
  width: 42.85714286%;
}

.wdn-col-four-sevenths {
  width: 57.14285714%;
}

.wdn-col-five-sevenths {
  width: 71.42857143%;
}

.wdn-col-six-sevenths {
  width: 85.71428571%;
}

.wdn-col-one-eighth,
.wdn-grid-set-eighths .wdn-col {
  width: 12.5%;
}

.wdn-col-three-eighths {
  width: 37.5%;
}

.wdn-col-five-eighths {
  width: 62.5%;
}

.wdn-col-seven-eighths {
  width: 87.5%;
}

.wdn-col-one-ninth,
.wdn-grid-set-ninths .wdn-col {
  width: 11.11111111%;
}

.wdn-col-two-ninths {
  width: 22.22222222%;
}

.wdn-col-four-ninths {
  width: 44.44444444%;
}

.wdn-col-five-ninths {
	width: 55.55555556%;
}

.wdn-col-seven-ninths {
  width: 77.77777778%;
}

.wdn-col-eight-ninths {
  width: 88.88888889%;
}

.wdn-col-one-tenth,
.wdn-grid-set-tenths .wdn-col {
  width: 10%;
}

.wdn-col-three-tenths {
  width: 30%;
}

.wdn-col-seven-tenths {
  width: 70%;
}

.wdn-col-nine-tenths {
  width: 90%;
}


// bp480 / bp1
@media only screen and (min-width:30em) {

  .bp480-wdn-col-full,
  .bp480-wdn-grid-set-full .wdn-col,
  .bp1-wdn-col-full,
  .bp1-wdn-grid-set-full .wdn-col {
    width: 100%;
  }

  .bp480-wdn-col-five-tenths,
  .bp480-wdn-col-four-eighths,
  .bp480-wdn-col-one-half,
  .bp480-wdn-col-three-sixths,
  .bp480-wdn-col-two-fourths,
  .bp480-wdn-grid-set-halves .wdn-col,
  .bp1-wdn-col-five-tenths,
  .bp1-wdn-col-four-eighths,
  .bp1-wdn-col-one-half,
  .bp1-wdn-col-three-sixths,
  .bp1-wdn-col-two-fourths,
  .bp1-wdn-grid-set-halves .wdn-col {
    width: 50%;
  }

  .bp480-wdn-col-one-third,
  .bp480-wdn-col-three-ninths,
  .bp480-wdn-col-two-sixths,
  .bp480-wdn-grid-set-thirds .wdn-col,
  .bp1-wdn-col-one-third,
  .bp1-wdn-col-three-ninths,
  .bp1-wdn-col-two-sixths,
  .bp1-wdn-grid-set-thirds .wdn-col {
    width: 33.33333333%;
  }

  .bp480-wdn-col-four-sixths,
  .bp480-wdn-col-six-ninths,
  .bp480-wdn-col-two-thirds,
  .bp1-wdn-col-four-sixths,
  .bp1-wdn-col-six-ninths,
  .bp1-wdn-col-two-thirds {
    width: 66.66666667%;
  }

  .bp480-wdn-col-one-fourth,
  .bp480-wdn-col-two-eighths,
  .bp480-wdn-grid-set-fourths .wdn-col,
  .bp1-wdn-col-one-fourth,
  .bp1-wdn-col-two-eighths,
  .bp1-wdn-grid-set-fourths .wdn-col {
    width: 25%;
  }

  .bp480-wdn-col-six-eighths,
  .bp480-wdn-col-three-fourths,
  .bp1-wdn-col-six-eighths,
  .bp1-wdn-col-three-fourths {
    width: 75%;
  }

  .bp480-wdn-col-one-fifth,
  .bp480-wdn-col-two-tenths,
  .bp480-wdn-grid-set-fifths .wdn-col,
  .bp1-wdn-col-one-fifth,
  .bp1-wdn-col-two-tenths,
  .bp1-wdn-grid-set-fifths .wdn-col {
    width: 20%;
  }

  .bp480-wdn-col-four-tenths,
  .bp480-wdn-col-two-fifths,
  .bp1-wdn-col-four-tenths,
  .bp1-wdn-col-two-fifths {
    width: 40%;
  }

  .bp480-wdn-col-six-tenths,
  .bp480-wdn-col-three-fifths,
  .bp1-wdn-col-six-tenths,
  .bp1-wdn-col-three-fifths {
    width: 60%;
  }

  .bp480-wdn-col-eight-tenths,
  .bp480-wdn-col-four-fifths,
  .bp1-wdn-col-eight-tenths,
  .bp1-wdn-col-four-fifths {
    width: 80%;
  }

  .bp480-wdn-col-one-sixth,
  .bp480-wdn-grid-set-sixths .wdn-col,
  .bp1-wdn-col-one-sixth,
  .bp1-wdn-grid-set-sixths .wdn-col {
    width: 16.66666667%;
  }

  .bp480-wdn-col-five-sixths,
  .bp1-wdn-col-five-sixths {
    width: 83.33333333%;
  }

  .bp480-wdn-col-one-seventh,
  .bp480-wdn-grid-set-sevenths .wdn-col,
  .bp1-wdn-col-one-seventh,
  .bp1-wdn-grid-set-sevenths .wdn-col {
    width: 14.28571429%;
  }

  .bp480-wdn-col-two-sevenths,
  .bp1-wdn-col-two-sevenths {
    width: 28.57142857%;
  }

  .bp480-wdn-col-three-sevenths,
  .bp1-wdn-col-three-sevenths {
    width: 42.85714286%;
  }

  .bp480-wdn-col-four-sevenths,
  .bp1-wdn-col-four-sevenths {
    width: 57.14285714%;
  }

  .bp480-wdn-col-five-sevenths,
  .bp1-wdn-col-five-sevenths {
    width: 71.42857143%;
  }

  .bp480-wdn-col-six-sevenths,
  .bp1-wdn-col-six-sevenths {
    width: 85.71428571%;
  }

  .bp480-wdn-col-one-eighth,
  .bp480-wdn-grid-set-eighths .wdn-col,
  .bp1-wdn-col-one-eighth,
  .bp1-wdn-grid-set-eighths .wdn-col {
    width: 12.5%;
  }

  .bp480-wdn-col-three-eighths,
  .bp1-wdn-col-three-eighths {
    width: 37.5%;
  }

  .bp480-wdn-col-five-eighths,
  .bp1-wdn-col-five-eighths {
    width: 62.5%;
  }

  .bp480-wdn-col-seven-eighths,
  .bp1-wdn-col-seven-eighths {
    width: 87.5%;
  }

  .bp480-wdn-col-one-ninth,
  .bp480-wdn-grid-set-ninths .wdn-col,
  .bp1-wdn-col-one-ninth,
  .bp1-wdn-grid-set-ninths .wdn-col {
    width: 11.11111111%;
  }

  .bp480-wdn-col-two-ninths,
  .bp1-wdn-col-two-ninths {
    width: 22.22222222%;
  }

  .bp480-wdn-col-four-ninths,
  .bp1-wdn-col-four-ninths {
    width: 44.44444444%;
  }

  .bp480-wdn-col-five-ninths,
  .bp1-wdn-col-five-ninths {
    width: 55.55555556%;
  }

  .bp480-wdn-col-seven-ninths,
  .bp1-wdn-col-seven-ninths {
    width: 77.77777778%;
  }

  .bp480-wdn-col-eight-ninths,
  .bp1-wdn-col-eight-ninths {
    width: 88.88888889%;
  }

  .bp480-wdn-col-one-tenth,
  .bp480-wdn-grid-set-tenths .wdn-col,
  .bp1-wdn-col-one-tenth,
  .bp1-wdn-grid-set-tenths .wdn-col {
    width: 10%;
  }

  .bp480-wdn-col-three-tenths,
  .bp1-wdn-col-three-tenths {
    width: 30%;
  }

  .bp480-wdn-col-seven-tenths,
  .bp1-wdn-col-seven-tenths {
    width: 70%;
  }

  .bp480-wdn-col-nine-tenths,
  .bp1-wdn-col-nine-tenths {
    width: 90%;
  }

}


// bp640
@media only screen and (min-width:40em) {

  .bp640-wdn-col-full,
  .bp640-wdn-grid-set-full .wdn-col {
    width: 100%;
  }

  .bp640-wdn-col-five-tenths,
  .bp640-wdn-col-four-eighths,
  .bp640-wdn-col-one-half,
  .bp640-wdn-col-three-sixths,
  .bp640-wdn-col-two-fourths,
  .bp640-wdn-grid-set-halves .wdn-col {
    width: 50%;
  }

  .bp640-wdn-col-one-third,
  .bp640-wdn-col-three-ninths,
  .bp640-wdn-col-two-sixths,
  .bp640-wdn-grid-set-thirds .wdn-col {
    width: 33.33333333%;
  }

  .bp640-wdn-col-four-sixths,
  .bp640-wdn-col-six-ninths,
  .bp640-wdn-col-two-thirds {
    width: 66.66666667%;
  }

  .bp640-wdn-col-one-fourth,
  .bp640-wdn-col-two-eighths,
  .bp640-wdn-grid-set-fourths .wdn-col {
    width: 25%;
  }

  .bp640-wdn-col-six-eighths,
  .bp640-wdn-col-three-fourths {
    width: 75%;
  }

  .bp640-wdn-col-one-fifth,
  .bp640-wdn-col-two-tenths,
  .bp640-wdn-grid-set-fifths .wdn-col {
    width: 20%;
  }

  .bp640-wdn-col-four-tenths,
  .bp640-wdn-col-two-fifths {
    width: 40%;
  }

  .bp640-wdn-col-six-tenths,
  .bp640-wdn-col-three-fifths {
    width: 60%;
  }

  .bp640-wdn-col-eight-tenths,
  .bp640-wdn-col-four-fifths {
    width: 80%;
  }

  .bp640-wdn-col-one-sixth,
  .bp640-wdn-grid-set-sixths .wdn-col {
    width: 16.66666667%;
  }

  .bp640-wdn-col-five-sixths {
    width: 83.33333333%;
  }

  .bp640-wdn-col-one-seventh,
  .bp640-wdn-grid-set-sevenths .wdn-col {
    width: 14.28571429%;
  }

  .bp640-wdn-col-two-sevenths {
    width: 28.57142857%;
  }

  .bp640-wdn-col-three-sevenths {
    width: 42.85714286%;
  }

  .bp640-wdn-col-four-sevenths {
    width: 57.14285714%;
  }

  .bp640-wdn-col-five-sevenths {
    width: 71.42857143%;
  }

  .bp640-wdn-col-six-sevenths {
    width: 85.71428571%;
  }

  .bp640-wdn-col-one-eighth,
  .bp640-wdn-grid-set-eighths .wdn-col {
    width: 12.5%;
  }

  .bp640-wdn-col-three-eighths {
    width: 37.5%;
  }

  .bp640-wdn-col-five-eighths {
    width: 62.5%;
  }

  .bp640-wdn-col-seven-eighths {
    width: 87.5%;
  }

  .bp640-wdn-col-one-ninth,
  .bp640-wdn-grid-set-ninths .wdn-col {
    width: 11.11111111%;
  }

  .bp640-wdn-col-two-ninths {
    width: 22.22222222%;
  }

  .bp640-wdn-col-four-ninths {
    width: 44.44444444%;
  }

  .bp640-wdn-col-five-ninths {
    width: 55.55555556%;
  }

  .bp640-wdn-col-seven-ninths {
    width: 77.77777778%;
  }

  .bp640-wdn-col-eight-ninths {
    width: 88.88888889%;
  }

  .bp640-wdn-col-one-tenth,
  .bp640-wdn-grid-set-tenths .wdn-col {
    width: 10%;
  }

  .bp640-wdn-col-three-tenths {
    width: 30%;
  }

  .bp640-wdn-col-seven-tenths {
    width: 70%;
  }

  .bp640-wdn-col-nine-tenths {
    width: 90%;
  }

}


// bp768 / bp2
@media only screen and (min-width:48em) {

  .bp768-wdn-col-full,
  .bp768-wdn-grid-set-full .wdn-col,
  .bp2-wdn-col-full,
  .bp2-wdn-grid-set-full .wdn-col {
    width: 100%;
  }

  .bp768-wdn-col-five-tenths,
  .bp768-wdn-col-four-eighths,
  .bp768-wdn-col-one-half,
  .bp768-wdn-col-three-sixths,
  .bp768-wdn-col-two-fourths,
  .bp768-wdn-grid-set-halves .wdn-col,
  .bp2-wdn-col-five-tenths,
  .bp2-wdn-col-four-eighths,
  .bp2-wdn-col-one-half,
  .bp2-wdn-col-three-sixths,
  .bp2-wdn-col-two-fourths,
  .bp2-wdn-grid-set-halves .wdn-col {
    width: 50%;
  }

  .bp768-wdn-col-one-third,
  .bp768-wdn-col-three-ninths,
  .bp768-wdn-col-two-sixths,
  .bp768-wdn-grid-set-thirds .wdn-col,
  .bp2-wdn-col-one-third,
  .bp2-wdn-col-three-ninths,
  .bp2-wdn-col-two-sixths,
  .bp2-wdn-grid-set-thirds .wdn-col {
    width: 33.33333333%;
  }

  .bp768-wdn-col-four-sixths,
  .bp768-wdn-col-six-ninths,
  .bp768-wdn-col-two-thirds,
  .bp2-wdn-col-four-sixths,
  .bp2-wdn-col-six-ninths,
  .bp2-wdn-col-two-thirds {
    width: 66.66666667%;
  }

  .bp768-wdn-col-one-fourth,
  .bp768-wdn-col-two-eighths,
  .bp768-wdn-grid-set-fourths .wdn-col,
  .bp2-wdn-col-one-fourth,
  .bp2-wdn-col-two-eighths,
  .bp2-wdn-grid-set-fourths .wdn-col {
    width: 25%;
  }

  .bp768-wdn-col-six-eighths,
  .bp768-wdn-col-three-fourths,
  .bp2-wdn-col-six-eighths,
  .bp2-wdn-col-three-fourths {
    width: 75%;
  }

  .bp768-wdn-col-one-fifth,
  .bp768-wdn-col-two-tenths,
  .bp768-wdn-grid-set-fifths .wdn-col,
  .bp2-wdn-col-one-fifth,
  .bp2-wdn-col-two-tenths,
  .bp2-wdn-grid-set-fifths .wdn-col {
    width: 20%;
  }

  .bp768-wdn-col-four-tenths,
  .bp768-wdn-col-two-fifths,
  .bp2-wdn-col-four-tenths,
  .bp2-wdn-col-two-fifths {
    width: 40%;
  }

  .bp768-wdn-col-six-tenths,
  .bp768-wdn-col-three-fifths,
  .bp2-wdn-col-six-tenths,
  .bp2-wdn-col-three-fifths {
    width: 60%;
  }

  .bp768-wdn-col-eight-tenths,
  .bp768-wdn-col-four-fifths,
  .bp2-wdn-col-eight-tenths,
  .bp2-wdn-col-four-fifths {
    width: 80%;
  }

  .bp768-wdn-col-one-sixth,
  .bp768-wdn-grid-set-sixths .wdn-col,
  .bp2-wdn-col-one-sixth,
  .bp2-wdn-grid-set-sixths .wdn-col {
    width: 16.66666667%;
  }

  .bp768-wdn-col-five-sixths,
  .bp2-wdn-col-five-sixths {
    width: 83.33333333%;
  }

  .bp768-wdn-col-one-seventh,
  .bp768-wdn-grid-set-sevenths .wdn-col,
  .bp2-wdn-col-one-seventh,
  .bp2-wdn-grid-set-sevenths .wdn-col {
    width: 14.28571429%;
  }

  .bp640-wdn-col-two-sevenths,
  .bp768-wdn-col-two-sevenths,
  .bp2-wdn-col-two-sevenths {
    width: 28.57142857%;
  }

  .bp768-wdn-col-three-sevenths,
  .bp2-wdn-col-three-sevenths {
    width: 42.85714286%;
  }

  .bp768-wdn-col-four-sevenths,
  .bp2-wdn-col-four-sevenths {
    width: 57.14285714%;
  }

  .bp768-wdn-col-five-sevenths,
  .bp2-wdn-col-five-sevenths {
    width: 71.42857143%;
  }

  .bp768-wdn-col-six-sevenths,
  .bp2-wdn-col-six-sevenths {
    width: 85.71428571%;
  }

  .bp768-wdn-col-one-eighth,
  .bp768-wdn-grid-set-eighths .wdn-col,
  .bp2-wdn-col-one-eighth,
  .bp2-wdn-grid-set-eighths .wdn-col {
    width: 12.5%;
  }

  .bp768-wdn-col-three-eighths,
  .bp2-wdn-col-three-eighths {
    width: 37.5%;
  }

  .bp768-wdn-col-five-eighths,
  .bp2-wdn-col-five-eighths {
    width: 62.5%;
  }

  .bp768-wdn-col-seven-eighths,
  .bp2-wdn-col-seven-eighths {
    width: 87.5%;
  }

  .bp768-wdn-col-one-ninth,
  .bp768-wdn-grid-set-ninths .wdn-col,
  .bp2-wdn-col-one-ninth,
  .bp2-wdn-grid-set-ninths .wdn-col {
    width: 11.11111111%;
  }

  .bp768-wdn-col-two-ninths,
  .bp2-wdn-col-two-ninths {
    width: 22.22222222%;
  }

  .bp768-wdn-col-four-ninths,
  .bp2-wdn-col-four-ninths {
    width: 44.44444444%;
  }

  .bp768-wdn-col-five-ninths,
  .bp2-wdn-col-five-ninths {
    width: 55.55555556%;
  }

  .bp768-wdn-col-seven-ninths,
  .bp2-wdn-col-seven-ninths {
    width: 77.77777778%;
  }

  .bp768-wdn-col-eight-ninths,
  .bp2-wdn-col-eight-ninths {
    width: 88.88888889%;
  }

  .bp768-wdn-col-one-tenth,
  .bp768-wdn-grid-set-tenths .wdn-col,
  .bp2-wdn-col-one-tenth,
  .bp2-wdn-grid-set-tenths .wdn-col {
    width: 10%;
  }

  .bp768-wdn-col-three-tenths,
  .bp2-wdn-col-three-tenths {
    width: 30%;
  }

  .bp768-wdn-col-seven-tenths,
  .bp2-wdn-col-seven-tenths {
    width: 70%;
  }

  .bp768-wdn-col-nine-tenths,
  .bp2-wdn-col-nine-tenths {
    width: 90%;
  }

}


// bp960 / bp3
@media only screen and (min-width:60em) {

  .bp960-wdn-col-full,
  .bp960-wdn-grid-set-full .wdn-col,
  .bp3-wdn-col-full,
  .bp3-wdn-grid-set-full .wdn-col {
    width: 100%;
  }

  .bp960-wdn-col-five-tenths,
  .bp960-wdn-col-four-eighths,
  .bp960-wdn-col-one-half,
  .bp960-wdn-col-three-sixths,
  .bp960-wdn-col-two-fourths,
  .bp960-wdn-grid-set-halves .wdn-col,
  .bp3-wdn-col-five-tenths,
  .bp3-wdn-col-four-eighths,
  .bp3-wdn-col-one-half,
  .bp3-wdn-col-three-sixths,
  .bp3-wdn-col-two-fourths,
  .bp3-wdn-grid-set-halves .wdn-col {
    width: 50%;
  }

  .bp960-wdn-col-one-third,
  .bp960-wdn-col-three-ninths,
  .bp960-wdn-col-two-sixths,
  .bp960-wdn-grid-set-thirds .wdn-col,
  .bp3-wdn-col-one-third,
  .bp3-wdn-col-three-ninths,
  .bp3-wdn-col-two-sixths,
  .bp3-wdn-grid-set-thirds .wdn-col {
    width: 33.33333333%;
  }

  .bp960-wdn-col-four-sixths,
  .bp960-wdn-col-six-ninths,
  .bp960-wdn-col-two-thirds,
  .bp3-wdn-col-four-sixths,
  .bp3-wdn-col-six-ninths,
  .bp3-wdn-col-two-thirds {
    width: 66.66666667%;
  }

  .bp960-wdn-col-one-fourth,
  .bp960-wdn-col-two-eighths,
  .bp960-wdn-grid-set-fourths .wdn-col,
  .bp3-wdn-col-one-fourth,
  .bp3-wdn-col-two-eighths,
  .bp3-wdn-grid-set-fourths .wdn-col {
    width: 25%;
  }

  .bp960-wdn-col-six-eighths,
  .bp960-wdn-col-three-fourths,
  .bp3-wdn-col-six-eighths,
  .bp3-wdn-col-three-fourths {
    width: 75%;
  }

  .bp960-wdn-col-one-fifth,
  .bp960-wdn-col-two-tenths,
  .bp960-wdn-grid-set-fifths .wdn-col,
  .bp3-wdn-col-one-fifth,
  .bp3-wdn-col-two-tenths,
  .bp3-wdn-grid-set-fifths .wdn-col {
    width: 20%;
  }

  .bp960-wdn-col-four-tenths,
  .bp960-wdn-col-two-fifths,
  .bp3-wdn-col-four-tenths,
  .bp3-wdn-col-two-fifths {
    width: 40%;
  }

  .bp960-wdn-col-six-tenths,
  .bp960-wdn-col-three-fifths,
  .bp3-wdn-col-six-tenths,
  .bp3-wdn-col-three-fifths {
    width: 60%;
  }

  .bp960-wdn-col-eight-tenths,
  .bp960-wdn-col-four-fifths,
  .bp3-wdn-col-eight-tenths,
  .bp3-wdn-col-four-fifths {
    width: 80%;
  }

  .bp960-wdn-col-one-sixth,
  .bp960-wdn-grid-set-sixths .wdn-col,
  .bp3-wdn-col-one-sixth,
  .bp3-wdn-grid-set-sixths .wdn-col {
    width: 16.66666667%;
  }

  .bp960-wdn-col-five-sixths,
  .bp3-wdn-col-five-sixths {
    width: 83.33333333%;
  }

  .bp960-wdn-col-one-seventh,
  .bp960-wdn-grid-set-sevenths .wdn-col,
  .bp3-wdn-col-one-seventh,
  .bp3-wdn-grid-set-sevenths .wdn-col {
    width: 14.28571429%;
  }

  .bp960-wdn-col-two-sevenths,
  .bp3-wdn-col-two-sevenths {
    width: 28.57142857%;
  }

  .bp960-wdn-col-three-sevenths,
  .bp3-wdn-col-three-sevenths {
    width: 42.85714286%;
  }

  .bp960-wdn-col-four-sevenths,
  .bp3-wdn-col-four-sevenths {
    width: 57.14285714%;
  }

  .bp960-wdn-col-five-sevenths,
  .bp3-wdn-col-five-sevenths {
    width: 71.42857143%;
  }

  .bp960-wdn-col-six-sevenths,
  .bp3-wdn-col-six-sevenths {
    width: 85.71428571%;
  }

  .bp960-wdn-col-one-eighth,
  .bp960-wdn-grid-set-eighths .wdn-col,
  .bp3-wdn-col-one-eighth,
  .bp3-wdn-grid-set-eighths .wdn-col {
    width: 12.5%;
  }

  .bp960-wdn-col-three-eighths,
  .bp3-wdn-col-three-eighths {
    width: 37.5%;
  }

  .bp960-wdn-col-five-eighths,
  .bp3-wdn-col-five-eighths {
    width: 62.5%;
  }

  .bp960-wdn-col-seven-eighths,
  .bp3-wdn-col-seven-eighths {
    width: 87.5%;
  }

  .bp960-wdn-col-one-ninth,
  .bp960-wdn-grid-set-ninths .wdn-col,
  .bp3-wdn-col-one-ninth,
  .bp3-wdn-grid-set-ninths .wdn-col {
    width: 11.11111111%;
  }

  .bp960-wdn-col-two-ninths,
  .bp3-wdn-col-two-ninths {
    width: 22.22222222%;
  }

  .bp960-wdn-col-four-ninths,
  .bp3-wdn-col-four-ninths {
    width: 44.44444444%;
  }

  .bp960-wdn-col-five-ninths,
  .bp3-wdn-col-five-ninths {
    width: 55.55555556%;
  }

  .bp960-wdn-col-seven-ninths,
  .bp3-wdn-col-seven-ninths {
    width: 77.77777778%;
  }

  .bp960-wdn-col-eight-ninths,
  .bp3-wdn-col-eight-ninths {
    width: 88.88888889%;
  }

  .bp960-wdn-col-one-tenth,
  .bp960-wdn-grid-set-tenths .wdn-col,
  .bp3-wdn-col-one-tenth,
  .bp3-wdn-grid-set-tenths .wdn-col {
    width: 10%;
  }

  .bp960-wdn-col-three-tenths,
  .bp3-wdn-col-three-tenths {
    width: 30%;
  }

  .bp960-wdn-col-seven-tenths,
  .bp3-wdn-col-seven-tenths {
    width: 70%;
  }

  .bp960-wdn-col-nine-tenths,
  .bp3-wdn-col-nine-tenths {
    width: 90%;
  }

}


// bp1280 / bp4
@media only screen and (min-width:80em) {

  .bp1280-wdn-col-full,
  .bp1280-wdn-grid-set-full .wdn-col,
  .bp4-wdn-col-full,
  .bp4-wdn-grid-set-full .wdn-col {
    width: 100%;
  }

  .bp1280-wdn-col-five-tenths,
  .bp1280-wdn-col-four-eighths,
  .bp1280-wdn-col-one-half,
  .bp1280-wdn-col-three-sixths,
  .bp1280-wdn-col-two-fourths,
  .bp1280-wdn-grid-set-halves .wdn-col,
  .bp4-wdn-col-five-tenths,
  .bp4-wdn-col-four-eighths,
  .bp4-wdn-col-one-half,
  .bp4-wdn-col-three-sixths,
  .bp4-wdn-col-two-fourths,
  .bp4-wdn-grid-set-halves .wdn-col {
    width: 50%;
  }

  .bp1280-wdn-col-one-third,
  .bp1280-wdn-col-three-ninths,
  .bp1280-wdn-col-two-sixths,
  .bp1280-wdn-grid-set-thirds .wdn-col,
  .bp4-wdn-col-one-third,
  .bp4-wdn-col-three-ninths,
  .bp4-wdn-col-two-sixths,
  .bp4-wdn-grid-set-thirds .wdn-col {
    width: 33.33333333%;
  }

  .bp1280-wdn-col-four-sixths,
  .bp1280-wdn-col-six-ninths,
  .bp1280-wdn-col-two-thirds,
  .bp4-wdn-col-four-sixths,
  .bp4-wdn-col-six-ninths,
  .bp4-wdn-col-two-thirds {
	  width: 66.66666667%;
  }

  .bp1280-wdn-col-one-fourth,
  .bp1280-wdn-col-two-eighths,
  .bp1280-wdn-grid-set-fourths .wdn-col,
  .bp4-wdn-col-one-fourth,
  .bp4-wdn-col-two-eighths,
  .bp4-wdn-grid-set-fourths .wdn-col {
    width: 25%;
  }

  .bp1280-wdn-col-six-eighths,
  .bp1280-wdn-col-three-fourths,
  .bp4-wdn-col-six-eighths,
  .bp4-wdn-col-three-fourths {
    width: 75%;
  }

  .bp1280-wdn-col-one-fifth,
  .bp1280-wdn-col-two-tenths,
  .bp1280-wdn-grid-set-fifths .wdn-col,
  .bp4-wdn-col-one-fifth,
  .bp4-wdn-col-two-tenths,
  .bp4-wdn-grid-set-fifths .wdn-col {
    width: 20%;
  }

  .bp1280-wdn-col-four-tenths,
  .bp1280-wdn-col-two-fifths,
  .bp4-wdn-col-four-tenths,
  .bp4-wdn-col-two-fifths {
    width: 40%;
  }

  .bp1280-wdn-col-six-tenths,
  .bp1280-wdn-col-three-fifths,
  .bp4-wdn-col-six-tenths,
  .bp4-wdn-col-three-fifths {
    width: 60%;
  }

  .bp1280-wdn-col-eight-tenths,
  .bp1280-wdn-col-four-fifths,
  .bp4-wdn-col-eight-tenths,
  .bp4-wdn-col-four-fifths {
    width: 80%;
  }

  .bp1280-wdn-col-one-sixth,
  .bp1280-wdn-grid-set-sixths .wdn-col,
  .bp4-wdn-col-one-sixth,
  .bp4-wdn-grid-set-sixths .wdn-col {
    width: 16.66666667%;
  }

  .bp1280-wdn-col-five-sixths,
  .bp4-wdn-col-five-sixths {
    width: 83.33333333%;
  }

  .bp1280-wdn-col-one-seventh,
  .bp1280-wdn-grid-set-sevenths .wdn-col,
  .bp4-wdn-col-one-seventh,
  .bp4-wdn-grid-set-sevenths .wdn-col {
    width: 14.28571429%;
  }

  .bp1280-wdn-col-two-sevenths,
  .bp4-wdn-col-two-sevenths {
    width: 28.57142857%;
  }

  .bp1280-wdn-col-three-sevenths,
  .bp4-wdn-col-three-sevenths {
    width: 42.85714286%;
  }

  .bp1280-wdn-col-four-sevenths,
  .bp4-wdn-col-four-sevenths {
    width: 57.14285714%;
  }

  .bp1280-wdn-col-five-sevenths,
  .bp4-wdn-col-five-sevenths {
    width: 71.42857143%;
  }

  .bp1280-wdn-col-six-sevenths,
  .bp4-wdn-col-six-sevenths {
    width: 85.71428571%;
  }

  .bp1280-wdn-col-one-eighth,
  .bp1280-wdn-grid-set-eighths .wdn-col,
  .bp4-wdn-col-one-eighth,
  .bp4-wdn-grid-set-eighths .wdn-col {
    width: 12.5%;
  }

  .bp1280-wdn-col-three-eighths,
  .bp4-wdn-col-three-eighths {
    width: 37.5%;
  }

  .bp1280-wdn-col-five-eighths,
  .bp4-wdn-col-five-eighths {
    width: 62.5%;
  }

  .bp1280-wdn-col-seven-eighths,
  .bp4-wdn-col-seven-eighths {
    width: 87.5%;
  }

  .bp1280-wdn-col-one-ninth,
  .bp1280-wdn-grid-set-ninths .wdn-col,
  .bp4-wdn-col-one-ninth,
  .bp4-wdn-grid-set-ninths .wdn-col {
    width: 11.11111111%;
  }

  .bp1280-wdn-col-two-ninths,
  .bp4-wdn-col-two-ninths {
    width: 22.22222222%;
  }

  .bp1280-wdn-col-four-ninths,
  .bp4-wdn-col-four-ninths {
    width: 44.44444444%;
  }

  .bp1280-wdn-col-five-ninths,
  .bp4-wdn-col-five-ninths {
    width: 55.55555556%;
  }

  .bp1280-wdn-col-seven-ninths,
  .bp4-wdn-col-seven-ninths {
    width: 77.77777778%;
  }

  .bp1280-wdn-col-eight-ninths,
  .bp4-wdn-col-eight-ninths {
    width: 88.88888889%;
  }

  .bp1280-wdn-col-one-tenth,
  .bp1280-wdn-grid-set-tenths .wdn-col,
  .bp4-wdn-col-one-tenth,
  .bp4-wdn-grid-set-tenths .wdn-col {
    width: 10%;
  }

  .bp1280-wdn-col-three-tenths,
  .bp4-wdn-col-three-tenths {
    width: 30%;
  }

  .bp1280-wdn-col-seven-tenths,
  .bp4-wdn-col-seven-tenths {
    width: 70%;
  }

  .bp1280-wdn-col-nine-tenths,
  .bp4-wdn-col-nine-tenths {
    width: 90%;
  }

}


// bp1600
@media only screen and (min-width:100em) {

  .bp1600-wdn-col-full,
  .bp1600-wdn-grid-set-full .wdn-col {
    width: 100%;
  }

  .bp1600-wdn-col-five-tenths,
  .bp1600-wdn-col-four-eighths,
  .bp1600-wdn-col-one-half,
  .bp1600-wdn-col-three-sixths,
  .bp1600-wdn-col-two-fourths,
  .bp1600-wdn-grid-set-halves .wdn-col {
    width: 50%;
  }

  .bp1600-wdn-col-one-third,
  .bp1600-wdn-col-three-ninths,
  .bp1600-wdn-col-two-sixths,
  .bp1600-wdn-grid-set-thirds .wdn-col {
    width: 33.33333333%;
  }

  .bp1600-wdn-col-four-sixths,
  .bp1600-wdn-col-six-ninths,
  .bp1600-wdn-col-two-thirds {
    width: 66.66666667%;
  }

  .bp1600-wdn-col-one-fourth,
  .bp1600-wdn-col-two-eighths,
  .bp1600-wdn-grid-set-fourths .wdn-col {
    width: 25%;
  }

  .bp1600-wdn-col-six-eighths,
  .bp1600-wdn-col-three-fourths {
    width: 75%;
  }

  .bp1600-wdn-col-one-fifth,
  .bp1600-wdn-col-two-tenths,
  .bp1600-wdn-grid-set-fifths .wdn-col {
    width: 20%;
  }

  .bp1600-wdn-col-four-tenths,
  .bp1600-wdn-col-two-fifths {
    width: 40%;
  }

  .bp1600-wdn-col-six-tenths,
  .bp1600-wdn-col-three-fifths {
    width: 60%;
  }

  .bp1600-wdn-col-eight-tenths,
  .bp1600-wdn-col-four-fifths {
    width: 80%;
  }

  .bp1600-wdn-col-one-sixth,
  .bp1600-wdn-grid-set-sixths .wdn-col {
    width: 16.66666667%;
  }

  .bp1600-wdn-col-five-sixths {
    width: 83.33333333%;
  }

  .bp1600-wdn-col-one-seventh,
  .bp1600-wdn-grid-set-sevenths .wdn-col {
    width: 14.28571429%;
  }

  .bp1600-wdn-col-two-sevenths {
    width: 28.57142857%;
  }

  .bp1600-wdn-col-three-sevenths {
    width: 42.85714286%;
  }

  .bp1600-wdn-col-four-sevenths {
    width: 57.14285714%;
  }

  .bp1600-wdn-col-five-sevenths {
    width: 71.42857143%;
  }

  .bp1600-wdn-col-six-sevenths {
    width: 85.71428571%;
  }

  .bp1600-wdn-col-one-eighth,
  .bp1600-wdn-grid-set-eighths .wdn-col {
    width: 12.5%;
  }

  .bp1600-wdn-col-three-eighths {
    width: 37.5%;
  }

  .bp1600-wdn-col-five-eighths {
    width: 62.5%;
  }

  .bp1600-wdn-col-seven-eighths {
    width: 87.5%;
  }

  .bp1600-wdn-col-one-ninth,
  .bp1600-wdn-grid-set-ninths .wdn-col {
    width: 11.11111111%;
  }

  .bp1600-wdn-col-two-ninths {
    width: 22.22222222%;
  }

  .bp1600-wdn-col-four-ninths {
    width: 44.44444444%;
  }

  .bp1600-wdn-col-five-ninths {
    width: 55.55555556%;
  }

  .bp1600-wdn-col-seven-ninths {
    width: 77.77777778%;
  }

  .bp1600-wdn-col-eight-ninths {
    width: 88.88888889%;
  }

  .bp1600-wdn-col-one-tenth,
  .bp1600-wdn-grid-set-tenths .wdn-col {
    width: 10%;
  }

  .bp1600-wdn-col-three-tenths {
    width: 30%;
  }

  .bp1600-wdn-col-seven-tenths {
    width: 70%;
  }

  .bp1600-wdn-col-nine-tenths {
    width: 90%;
  }

}
