////////////////////////////////////
// THEME / VARIABLES / ABBREVIATIONS
////////////////////////////////////


@forward "@dcf/scss/variables/abbreviations";
// Use `@forward .. with ..` to override variables
