////////////////////////////////////////
// THEME / VARIABLES / DETAILS & SUMMARY
////////////////////////////////////////


@forward "@dcf/scss/variables/details-summary";
// Use `@forward .. with ..` to override variables
