///////////////////////////////////////////
// THEME / VARIABLES / HR (HORIZONTAL RULE)
///////////////////////////////////////////


@forward "@dcf/scss/variables/hr";
// Use `@forward .. with ..` to override variables
