///////////////////////////
// THEME / VARIABLES / BODY
///////////////////////////


@import '_variables.color-palette';


// Background color
$bg-color-body-light-mode: $cream;                      // Body background-color in light mode -- usually white, off-white, or very light gray
$bg-color-body-dark-mode: $darkest-gray;                // Body background-color in dark mode -- usually black or very dark gray
$bg-color-body: var(--bg-body);


// Color
$color-body-light-mode: $darker-gray;                   // Body text color in light mode -- strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-body-dark-mode: $gray;                           // Body text color in dark mode -- strive for WCAG AAA (minimum contrast ratio of 7.0) for body text
$color-body: var(--body);
