////////////////////////////////////
// THEME / VARIABLES / MODULAR SCALE
////////////////////////////////////


$ms-33: .008;
$ms-32: .01;
$ms-31: .011;
$ms-30: .013;
$ms-29: .015;
$ms-28: .018;
$ms-27: .02;
$ms-26: .024;
$ms-25: 0.027;
$ms-24: 0.032;
$ms-23: 0.036;
$ms-22: 0.042;
$ms-21: 0.048;
$ms-20: 0.056;
$ms-19: 0.063;
$ms-18: 0.075;
$ms-17: 0.084;
$ms-16: 0.1;
$ms-15: 0.113;
$ms-14: 0.133;
$ms-13: 0.15;
$ms-12: 0.178;
$ms-11: 0.2;
$ms-10: 0.237;
$ms-9: 0.27;
$ms-8: 0.32;
$ms-7: 0.36;
$ms-6: 0.42;
$ms-5: 0.47;
$ms-4: 0.56;
$ms-3: 0.63;
$ms-2: 0.75;
$ms-1: 0.84;
$ms00: 1;
$ms01: 1.13;
$ms02: 1.33;
$ms03: 1.5;
$ms04: 1.78;
$ms05: 2;
$ms06: 2.37;
$ms07: 2.67;
$ms08: 3.16;
$ms09: 3.56;
$ms10: 4.21;
$ms11: 4.74;
$ms12: 5.62;
$ms13: 6.32;
$ms14: 7.49;
$ms15: 8.43;
$ms16: 9.99;
$ms17: 11.24;
$ms18: 13.32;
$ms19: 14.98;
$ms20: 17.76;
$ms21: 19.98;
$ms22: 23.68;
$ms23: 26.64;
$ms24: 31.57;
$ms25: 35.52;
$ms26: 42.09;
$ms27: 47.35;
$ms28: 56.12;
$ms29: 63.14;
$ms30: 74.83;
$ms31: 84.18;
$ms32: 99.77;
$ms33: 112.25;
$ms34: 133.03;
$ms35: 149.66;
$ms36: 177.38;
$ms37: 199.55;
$ms38: 236.5;
$ms39: 266.07;
$ms40: 315.34;
$ms41: 354.75;
$ms42: 420.45;
$ms43: 473.01;
$ms44: 560.6;
$ms45: 630.67;
$ms46: 747.47;
$ms47: 840.9;
$ms48: 996.62;
$ms49: 1121.2;
$ms50: 1328.83;
$ms51: 1494.93;
$ms52: 1771.77;
$ms53: 1993.24;
$ms54: 2362.36;
$ms55: 2657.65;
$ms56: 3149.81;
$ms57: 3543.54;
$ms58: 4199.75;
$ms59: 4724.72;
$ms60: 5599.67;
$ms61: 6299.62;
$ms62: 7466.22;
$ms63: 8399.5;
$ms64: 9954.96;
$ms65: 11199.33;
$ms66: 13273.28;
$ms67: 14932.44;
$ms68: 17697.71;
$ms69: 19909.92;
$ms70: 23596.94;
$ms71: 26546.56;
$ms72: 31462.59;
$ms73: 35395.42;
$ms74: 41950.12;
$ms75: 47193.89;
$ms76: 55933.5;
$ms77: 62925.19;
$ms78: 74578;
$ms79: 83900.25;
$ms80: 99437.33;
$ms81: 111867;
$ms82: 132583.11;
$ms83: 149156;
$ms84: 176777.48;
$ms85: 198874.66;
$ms86: 235703.30;
$ms87: 265166.22;
$ms88: 314271.07;
$ms89: 353554.96;
$ms90: 419028.09;
$ms91: 471406.61;
$ms92: 558704.13;
$ms93: 628542.14;
$ms94: 744938.84;
$ms95: 838056.19;
$ms96: 993251.78;
$ms97: 1117408.25;
$ms98: 1324335.71;
$ms99: 1489877.67;
