//////////////////////////////
// THEME / VARIABLES / BORDERS
//////////////////////////////


@import '_variables.color-palette';
@import '_variables.sizing';


// Border color
$border-color-gray-light-light-mode: $light-gray;       // Light gray border-color in light mode
$border-color-gray-light-dark-mode: $darker-gray;       // Light gray border-color in dark mode
$border-color-gray-light: var(--b-light-gray);

$border-color-gray-lighter-light-mode: $lighter-gray;   // Lighter gray border-color in light mode
$border-color-gray-lighter-dark-mode: $darker-gray;     // Lighter gray border-color in dark mode
$border-color-gray-lighter: var(--b-lighter-gray);

$border-color-gray-lightest-light-mode: $lightest-gray; // Lightest gray border-color in light mode
$border-color-gray-lightest-dark-mode: $darker-gray;    // Lightest gray border-color in dark mode
$border-color-gray-lightest: var(--b-lightest-gray);

$border-color: var(--b-light-gray);                     // Legacy variable


// Border radius
$circle: 50%;
$pill: $length-em-4; // 1em
$roundrect: 3px;
$sharp: 0;
