//////////////////////////////////
// THEME / VARIABLES / BREADCRUMBS
//////////////////////////////////


@import '_variables.color-palette';
@import '_variables.modular-scale';
@import '_variables.sizing';


// Border color
$border-color-breadcrumb-arrow: $gray;          // Color of breadcrumb arrows


// Border width
$border-width-breadcrumb-arrow: #{ms(-8)}em;    // Border width of breadcrumbs arrows: .32em


// Margin
$margin-breadcrumbs: $length-em-3;              // Margin (spacing) between breadcrumbs: .75em
